html {
  font-size: 16px; 
}
@include media-breakpoint-down(xl){
  html {
    font-size: 15px;
  }
}
@include media-breakpoint-down(lg){
  html {
    font-size: 14px;
  }
}
@include media-breakpoint-down(md){
  html {
    font-size: 15px;
  }
}
@include media-breakpoint-down(sm){
  html {
    font-size: 13px;
  }
}

/*---------------------------------------------------------------------------------*/
/*  Typography
/*---------------------------------------------------------------------------------*/
a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.page-title {
  margin-bottom: 1.6rem;
}

/*---------------------------------------------------------------------------------*/
/*  Layout
/*---------------------------------------------------------------------------------*/
.section-content {
  padding: $spacer*5 0;

  @include media-breakpoint-down(md) {
    padding: $spacer*3 0;
  }
}

/*---------------------------------------------------------------------------------*/
/*  Components
/*---------------------------------------------------------------------------------*/
/* Button */
.btn {
  cursor: pointer;
}

.btn-outline-gray-100:hover,
.btn-outline-white:hover {
  color: $primary;
}

/* Card */
.card {
  box-shadow: $box-shadow-sm;
}

.card-recent-articles {
  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }
}

/*  Pagination */
.pagination {
  font-weight: bold;

  a,
  span {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray-600;
    font-size: 0.8rem;

    &:hover {
      color: $primary;
    }
  }

  .active {
    color: $primary;
  }

  .sep {
    margin: 0 10px;
  }
}

/* Alerts */
.alert {
  font-size: 0.9rem;
}

/* Modal */
.modal{
  .modal-header {
    .modal-title {
      font-size: 1.2rem;
    }

    .close {
      font-size: 1.6rem;
    }
  }

  .modal-body {
    padding: 10px;
    font-size: 0.8rem;
    line-height: 1.6;
  }
}

:focus{
  outline:none !important;
}

html {
  padding-bottom: 0 !important; // removes padding from 3rd party apps
  // font-size: 13px;

  // better font-rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*---------------------------------------------------------------------------------*/
/*  Utilities - Custom Extra Helper Classes
/*---------------------------------------------------------------------------------*/
[disabled] {
  cursor: default !important;
}

.img-fluid {
  width: 100%;
}

.table-borderless{
  th, td{
    border: 0 !important;
  }
}

.bg-img {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mt-gutter {
  margin-top: $grid-gutter-width;
}

.mb-gutter {
  margin-bottom: $grid-gutter-width;
}

.ml-gutter {
  margin-left: $grid-gutter-width;
}

.mr-gutter {
  margin-right: $grid-gutter-width;
}

.rte {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.filter-blur {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -ms-filter: blur(25px);
  -o-filter: blur(25px);
  filter: blur(25px);
}

/* styles for lazy load images */
img[data-sizes="auto"] {
  display: block;
  width: 100%;
}

.lazyload {
  -webkit-filter: blur(20px);
  filter: blur(20px);
  transition: $transition-base;

  &.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

.lazyloading {
  -webkit-filter: blur(20px);
  filter: blur(20px);
  transition: $transition-base;
}

.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
  transition: $transition-base;
}

.spin::before {
  transform-origin: 47% 50%;
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*---------------------------------------------------------------------------------*/
/*  Vue.js related
/*---------------------------------------------------------------------------------*/

/* helper directive hide during loading */
[v-cloak] {
  display: none !important;
}

/* Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: $transition-fade;
}

/* .fade-leave-active below version 2.1.8 */
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.collection-tween-enter-active,
.collection-tween-leave-active {
  transition: $transition-fade;

  .card-product {
    transition: all 0.3s ease-out;
  }
}

.collection-tween-enter,
.collection-tween-leave-to {
  opacity: 0;

  .card-product {
    transform: translate3d(0, 5px, 0);
  }
}

/*---------------------------------------------------------------------------------*/
/*  Layout related stuff & Elements
/*---------------------------------------------------------------------------------*/
#app.loading * {
  cursor: wait !important;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: $transition-fade;
  background: transparentize($gray-900, 0.4);

  &.site-overlay {
    position: fixed;
    z-index: $zindex-modal-backdrop;
    visibility: hidden;
    opacity: 0;
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

// helper class to be used inside a .row class
// removes the Bootstrap's default left right padding in the container
// it is useful for container-fluid to make it 100% real screen width

.row-full-width [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.no-gutters .carousel-cell {
  padding-right: 0;
  padding-left: 0;
}

.shopify-challenge__container {
  padding: $spacer*6 0;
}

.shopify-challenge__button {
  background: $primary;
  color: #ffffff;
}

/* Quantity - Numeric Stepper => Turn Off Number Input Spinners */
.quantity-wrapper {
  // min-width: 100px;

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  input.quantity:focus,
  input.quantity:hover {
    box-shadow: none !important;
  }
}

/* Swatches - Options */
.selector-wrapper {
  li.list-inline-item{
    margin-right: 0;
  }
}


/* input checkbox or radio as Color swatch */
.color-swatch {
  label {
    line-height: 0;
    border: $border-width solid $gray-300;
    border-radius: $border-radius;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    margin: 0;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    padding: 0.9rem;
    border-style: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    transition: $transition-base;
    opacity: 0;

    &:checked {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABrSURBVEhL7Y9hCsAgCEY7xeiOHXi30fmBwpCSrflvPghR+17UiuIxzNyJaGibi8pPqZz+iJOjdl1956dyCYwokCFfBjHbloNIEO1eMRPNZnp9Dy9MlRsQmRikyg0Ibz/IlRsiP3C0LQpPaxc2+CJ4/uaJEgAAAABJRU5ErkJggg==");
      opacity: 1;
      background-color: rgba(0,0,0,0.1);
    }
  }
}

// IE11 hack for the color swatches
_:-ms-fullscreen, :root .color-swatch input {
  width: 1.7rem;
  height: 1.7rem;
}

/* input checkbox or radio as Size swatch */
.size-swatch {
  label {
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    padding: 0.6rem;
    min-width: 35px;
    text-align: center;
    border: $border-width solid $gray-300;
    border-radius: $border-radius;
    transition: $transition-base;

    &::after {
      content: attr(value);
      font-size: 0.7rem;
      line-height: 0.7rem;
      letter-spacing: 1px;
    }

    &:hover {
      border: $border-width solid $gray-500;
    }

    &:checked {
      border: $border-width solid $primary;
      background-color: #ffffff;
    }
  }
}

/* Cart Dropdown */
.cart-dropdown .popover {
  min-width: 350px;
  max-width: 350px;
  margin-top: 0;

  .popover-header {
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  .popover-body {
    .inner {
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      max-height: 270px;
      margin: (-0.6em) (-$popover-body-padding-x) $popover-body-padding-y;
      padding: 0 $popover-body-padding-y;

      .cart-item {
        position: relative;
        display: block;
        padding: 0.8em 1.2em;
        border-bottom: 1px solid $gray-200;
        transition: $transition-fade;

        &.updating{
          opacity: 0.5;
        }
      }

      .badge {
        position: absolute;
        top: 2rem;
        left: 1.3rem;
      }
    }

    .item-price {
      font-size: 0.8rem;
    }

    .btn-remove {
      font-size: 1.4rem;
    }
  }
}

/* Cart Drawer */
.cart-drawer {
  position: fixed;
  z-index: $zindex-modal;
  top: 0;
  right: 0;
  left: auto;
  display: block;
  overflow: hidden;
  width: 440px;
  height: 100%;

  /* easeOutExpo */
  transition: all 650ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transform: translate3d(100%, 0, 0);
  background: #ffffff;

  &.opened {
    transform: translate3d(0, 0, 0);
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  .drawer-header {
    .btn-close {
      line-height: 0;
      font-size: 1.8rem;
    }
  }

  .drawer-body {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .icon i {
      color: $gray-200;
      font-size: 6rem;
    }
  }

  .cart-item {
    border-bottom: 1px solid $gray-100;
    transition: $transition-fade;

    &.updating{
      opacity: 0.5;
    }

    .badge {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    .item-image {
      width: 80px;
      min-width: 80px;
    }

    .item-price {
      font-size: 1rem;
    }

    .btn-remove {
      font-size: 1.4rem;
    }
  }
}

/* Product Mobile Toolbar (product form - options) */
[data-product-toolbar-mobile]{
  /* easeOutExpo */
  transition: all 650ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transform: translateY(100%);
  visibility: hidden;

  [data-product-form]{
    transition: $transition-base;
    opacity: 0;
  }

  .toolbar-mobile{
    min-height: 50px;
  }

  .btn-close {
    line-height: 0;
    font-size: 1.8rem;
  }

  &.semi-opened{
    visibility: visible;
    transform: translateY(62%);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  }

  &.fully-opened{
    visibility: visible;
    transform: translateY(0);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);

    [data-product-form]{
      opacity: 1;
    }
  }
}

/* Quick Shop */
[data-quickshop]{
  .modal-body{
    position: relative;
    opacity: 0;
    transform: translateY(3%);
    transition: all 650ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);

    &.opened{
      opacity: 1;
      transform: translateY(0);
    }

    .carousel{
      width: 100%;
      height: 450px;
      overflow: hidden;

      .carousel-cell{
        width: 100%;
        height: 100%;
      }

      .flickity-page-dots {
        bottom: 25px;
      }
    }
  }

  /* Swatches - Options */
  .selector-wrapper {
    li.list-inline-item{
      margin-right: 0.3rem;
    }
  }

}
