/*-----------------------------------------------------------------------------------

    Custom Theme Design

    When making your own theme it is important to consider modifying the variables.scss
    file in order to change fonts, sizes & colors. By doing that you will reduce the need
    of writing extra css styles.

    However sometimes you will need extra styles in order to further modify Bootstrap's
    elements and look & feel in general so as to match your theme design.

    You should place all these extra styles here.

-----------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------*/
/*  Responsive typography
/*---------------------------------------------------------------------------------*/
// Uncomment to enable, you can experiment with the font-sizes
html {
  background-color: $gray-100;
}

body{
  background-color: $white;
  letter-spacing: 0.035rem;
}
// homepage css ===============
.letter-spacing{
  letter-spacing: 0.1rem;
}
img {
  max-width: 100%;
}
.a-link{
  color: $primary !important;
  text-transform: uppercase;
}
a.link-item{
  &:hover{
    color: $primary !important;
  }
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font:  500 14px Barlow, sans-serif;
  line-height: normal;
  color: $black;
  font-weight: bold;
  letter-spacing: 0.04rem;
  opacity:1;
}
input::-moz-placeholder, textarea::-moz-placeholder{ /* Firefox 19+ */
   font:  500 14px Barlow, sans-serif;
  line-height: normal;
  font-weight: bold;
  letter-spacing: 0.04rem;
  opacity:1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
  font:  500 14px Barlow, sans-serif;
  line-height: normal;
  font-weight: bold;
  letter-spacing: 0.04rem;
  opacity:1;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
   font:  500 14px Barlow, sans-serif;
  line-height: normal;
  font-weight: bold;
  letter-spacing: 0.04rem;
  opacity:1;
}

.search-box input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 500;
  font-style: italic;
}
.search-box input::-moz-placeholder, textarea::-moz-placeholder{ /* Firefox 19+ */
 font-weight: 500;
  font-style: italic;
}
.search-box input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
   font-weight: 500;
  font-style: italic;
}
.search-box input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
    font-weight: 500;
  font-style: italic;
}

.newslatter input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $white;
  letter-spacing: 0.08rem;
  line-height: normal;  
  opacity:1;
}
.newslatter input::-moz-placeholder { /* Firefox 19+ */
  color: $white;
  letter-spacing: 0.08rem;
  line-height: normal;
  opacity:1;
}
.newslatter input:-ms-input-placeholder { /* IE 10+ */
  color: $white;
  letter-spacing: 0.08rem;
  line-height: normal;
  opacity:1;
}
.newslatter input:-moz-placeholder { /* Firefox 18- */
  color: $white;
  letter-spacing: 0.08rem;
  line-height: normal;
  opacity:1;
}
.comment-form{
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $light-gray;
    opacity:1;
  }
  input::-moz-placeholder, textarea::-moz-placeholder{ /* Firefox 19+ */
    color: $light-gray;
    opacity:1;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
    color: $light-gray;
    opacity:1;
  }
  input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
    color: $light-gray;
    opacity:1;
  }
}
.contact-form{
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $gray-600;
    opacity:1;
  }
  input::-moz-placeholder, textarea::-moz-placeholder{ /* Firefox 19+ */
    color: $gray-600;
    opacity:1;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
    color: $gray-600;
    opacity:1;
  }
  input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
    color: $gray-600;
    opacity:1;
  }
}
// input[type="text"], input[type="email"], textarea{
//   @include media-breakpoint-down(md){
//     font-size:16px !important;   
//    }
// }
.font-weight-normal{
  font-weight: $font-weight-normal;
}
.font-weight-bold{
  font-weight: $font-weight-bold;
}
.font-weight-light{
  font-weight: $font-weight-light;
}
.line-height-normal{
  line-height: normal;
}
.letter-spacing-minus{
  letter-spacing: -1px;
}
.font-size-lg{
  font-size: $font-size-lg;
  @include media-breakpoint-down(ex-lg){
    font-size: $display3-size !important;
   }
   @include media-breakpoint-down(lg){
    font-size: $display4-size !important;
   }
   @include media-breakpoint-down(md){
    font-size: 3.1rem !important;
   }
}
.font-size-sm{
  font-size: $font-size-sm;
}
.btn, input{
  &:focus{
    box-shadow: none;
    outline:none;
  }
}
textarea{
  resize: none;
  border-radius: 0 !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
   -ms-appearance: none;
    -o-appearance: none;
       appearance: none;
}
input{
  -webkit-appearance: none;
  -moz-appearance: none;
   -ms-appearance: none;
    -o-appearance: none;
       appearance: none;
}
select{
  border-radius: 0 !important;
}
.form-control{
  @include media-breakpoint-down(sm){
    padding: .844rem 1.2rem;
  }
}
@-moz-document url-prefix() {
  .contact-form textarea::-moz-placeholder{
    color: $gray-600;
  }
  .btn{
    padding: 0.9rem 1.983rem 0.844rem;
  }
  .newsletter_popup 
  {
    input[type="text"] {
      border-right: none !important;
    }
  }
  .newsletter_popup
  { 
    #subscribe {
      border: 1px solid #cecece !important;
      border-left: none !important;
    }
  }
}
.btn{
  text-transform: uppercase;
  font-size: $h4-font-size;
  letter-spacing: 0.1rem;  
  color:$white;
  line-height: normal;
  @include media-breakpoint-down(lg){
    padding: 0.5rem 2.0rem;    
   }
}
.btn-primary{
  &:hover{
    /*border-color: $primary;
    background-color: $primary;*/
     border-color: #7b7b7b !important;
     background-color: #7b7b7b !important;
   
  }
}
.fix-btn{
  min-width: 190px;
  padding-left: 0.8rem;
  padding-right:0.8rem;
  @include media-breakpoint-down(lg){
    min-width: 160px;
   }
}
.btn-ghost{
  border-color: $white !important;
  &:hover{
    background-color: $white;
    color: $black;
  }
}
.btn-orange{
  &:hover{
    background-color: transparent;
    color:$primary;
    border-color: $primary;
  }
}
.for-homepage{
  h2{
    @include media-breakpoint-down(ex-lg){
      font-size: 30px;
     }
     @include media-breakpoint-down(lg){
      font-size: 24px;
     }
     @include media-breakpoint-down(md){
      font-size: 20px;        
     }
  }
}
h2{
  @include media-breakpoint-down(md){
    font-size: 2.1rem !important;        
   }
}
p{
  font-family: $font-family-normal !important;
  font-weight: $font-weight-light !important;
}
.heading-text{
  font-size: $heading-text;
}
.clear{
  clear: both;
}
.flex-1{
  flex:1;
}
.btn-primary-ghost{
  &:hover{
    background-color: transparent;
    border: 2px solid $primary;
  }
}
.for-index{
  z-index: 1030;
}
.form-control:focus{
  border-color: $gray-400;
}
.cursor-pointer{
  cursor: pointer;    
}
.vertical-middle{
  vertical-align: middle;
}
.no-gutter{
  padding-left:0;
  padding-right:0;
}
.margin-left{
  margin-left: -1px;
}
.for-brands .col-lg-3{
  @include media-breakpoint-down(lg){
    padding-left: 2rem !important;
  }
}
.column-count-2{
  column-count: 2;
  -webkit-column-count: 2;
  @include media-breakpoint-down(md){
    column-count: 1;
    -webkit-column-count: 1;
   }
}
.img-wrapper{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.for-homepage .site-header, .for-productpage .site-header, .for-cartpage .site-header{
  border-bottom: 1px solid $gray-100 !important;
}
.mini-header{
  padding: 8px 0;
  ul{
    li{
      position: relative;
      // padding: 0 5px;
      padding: 0px;
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        right: -1px;
        display: block;
        height: 12px;
        width: 1px;
        background: $gray-800;
        transform: translateY(-50%);
      }
      &:last-child{
        &:after{
          display:none;
        }
      }
    }
  }
}
.down-menu {
  a.nav-link{
    &:after{
      content: '';
      display: inline-block;
      margin-left: 10px;
      width: 8px;
      vertical-align: middle;
      height: 5px;
      background: url(https://cdn.shopify.com/s/files/1/0858/7748/files/dropdown.svg?4553385993616563231) center no-repeat;
      @include media-breakpoint-down(xl){
        margin-left: 6px;
      }
      @include media-breakpoint-down(lg){
       display:none;
      }
    }
  }
  &:hover{
    a.nav-link{
      &:after{
        background: url(https://cdn.shopify.com/s/files/1/1055/0178/files/dropdown-hover.svg?14152974667501440514) center no-repeat;
      }
    }
  }
}

#main-header{
  .newslatter-form{
    max-width: 500px;
    input, button{
      height:40px;
    }
    button{
      background-color: $primary;
      width:40px;
      border: 1px solid $primary !important; 
    }
  }
  .main-logo {
    img{
       width:160px;
    }
  }
  .nav-item a:hover {
    color: #b9b9b9 !important;
  }
}
.product-slider{
  .items{
    padding-top: 4rem;
    padding-bottom: 4rem; 
    @include media-breakpoint-down(lg){
      padding-top: 3rem;
      padding-bottom: 3rem;    
     }
  }
  .slick-arrow{
    top:50%;
  }
}
#related-items{
  .product-slider{
    .items{
      padding-top: 1.5rem;
      padding-bottom: 2.5rem; 
      @include media-breakpoint-down(lg){
        padding-top: 1rem;
        padding-bottom: 2rem;    
       }
    }
  }
}
.featured-brand{
  /*&:before{
    content: '';
    display: block;
    width: 100%;
    height: 43px;
    background-color: #f6f6f6;
    position: absolute;
    bottom: 31%;
    @include media-breakpoint-down(lg){
      height: 35px;
      bottom: 21%;
     }
  }*/
}
.shadow-lg{
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1) !important;
}
.product-slider{
  .items{
    height:auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    display: flex;      
  }
}
.slick-brand, .collection-slider, .product-slider{
  .flickity-slider{
    // display: flex;
    .items{
      height:auto;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
      display: flex;      
    }
  }
  .slick-arrow{
    color: #0e0e0e;    
    &.slick-next{
      right: -40px; 
      @media (max-width: 1440px){
        right: 10px;
      }    
    }
    &.slick-prev{
      left: -40px;  
      @media (max-width: 1440px){
        left: 10px;  
      }   
    }
  }
}
.card {
  // @include media-breakpoint-up(ex-lg){
    // &:hover{
    //   .add-to-cart{
    //     z-index: 1;
    //     display: flex !important;
    //     transition: all 0.25s ease-in-out;
    //     .btn-primary{
    //       &.disabled{
    //         color: $white;
    //         background-color: #c9c9c9;
    //         opacity: 1;
    //       }
    //     }
    //   }
    // }
  // }
  .product-img{
    padding-top: 110%;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      height: 100%;
      min-width: 100%;
      max-width: none;
      object-fit: contain;
      -o-object-fit: contain;
    }
  }
  .add-to-cart{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    left:0;
    right:0;
    // opacity: 0;  
    // display: none;  
    transition: all 0.25s ease-in-out;
    display: none !important;
    select{
      height:45px;
      width:130px;
      -webkit-appearance: none;
      -moz-appearance: none;
       -ms-appearance: none;
        -o-appearance: none;
           appearance: none;
      background: url(https://cdn.shopify.com/s/files/1/0858/7748/files/down-arrow_77c5a70e-744b-4f92-96d9-0766450c3e8f.png?3844483005546482343) center no-repeat;
      background-position: right 20px center !important;
      border-color: #d0d0d0 !important;  
      border-top: 1px solid #d0d0d0 !important;
      border-bottom: 1px solid #d0d0d0 !important;
      border-radius: 0 !important;      
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      @include media-breakpoint-down(lg){
        width:100px;
      }
      &.for-arrow{
        background: url(https://cdn.shopify.com/s/files/1/0858/7748/files/select-arrow.png?252212352364476798) center no-repeat;
        transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
      }
    }    
    .btn{
      height:45px;
    }
  }
}
select::-ms-expand {
  display: none;
}
.review-label{
  div li{
    position: relative;
    &:after{
      content: '';
      display: block;
      width: 1px;
      height: 25px;
      background-color: $gray-100;
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      @include media-breakpoint-down(ex-lg){
        right: -12px;
      }
    }
    // &:last-child{
    //   &:after{
    //     display: none;
    //   }
    // }
  }
}
.color-picker{
  li:first-child{
    overflow: hidden;
    border-right:1px solid $gray-100;
  }
}
.form-check{
  line-height: normal;  
  span{
    width:18px;
    height:18px;
    // border: 1px solid #d5d5d5;
    border-radius: 50%;  
    &:before{
      content:'';
      display: none;
      border: 1px solid #787878;
      width:26px;
      height:26px;
      background-color: transparent;
      border-radius: 50%;
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50% , -50%);
    }
  }
  input[value="white"]{
    border: 1px solid #d5d5d5;
  }
  input:checked + label span{
    &:before{
      display: block;
    }
  }
}
.shop-brand{
  margin-top: -170px;
  @include media-breakpoint-down(ex-lg){
    margin-top: -100px;
  }
  @include media-breakpoint-down(lg){
    margin-top: -80px;
  }
    .row{
        -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1) !important;
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1) !important;
    }
  .brand-1{
    > img{
      left:-70px;
      max-width: none;
      min-width: 100%;
      object-fit: cover;
      @media (max-width: 1440px){
        left: 0px; 
      }     
    }
    .brand-1-content{
      top: 26%;
      left: 50%;
      @include media-breakpoint-down(lg){
        top: 22%;
        left: 30%;        
      }
    }
  }
  .middle-shadow{
    position: relative;
    height: 646px;
    overflow: hidden;
    @include media-breakpoint-down(ex-lg){
      height:550px;
    }
    @include media-breakpoint-down(lg){
      height:400px;
    }
    @include media-breakpoint-down(sm){
      height:300px;
    }
    &:after{
      content: '';
      width: 100%;
      height: 110%;
      background: #fff;
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
      display: block;
      position: absolute;
      right: -52%;
      top: 0%;
      -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1) !important;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1) !important;
    }
    &:before{
      content: '';
      width: 100%;
      height: 110%;
      background: #fff;
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
      display: block;
      position: absolute;
      left: -52%;
      top: -10%;
      /* -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1) !important; */
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1) !important;
    }
  }
  .brand-2{
    > img{
      top: auto;
      right: -30px;
      bottom: 0;
      max-width: none;
      min-width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      height: 106%;
      @media (max-width: 1440px){
        right:0;
        height: 100%;
      }
      @include media-breakpoint-down(lg){
        top:0px;
        height: 100%;
      }
    }
    .brand-2-content{
      top: 37%;
      right: 57%;
      @include media-breakpoint-down(lg){
        top: 45%;
        right: 33%;      
      }
    }
  }
  .brand{
    height:646px;
    @include media-breakpoint-down(ex-lg){
      height:550px;
    }
    @include media-breakpoint-down(lg){
      height:400px;
    }
    @include media-breakpoint-down(sm){
      height:550px;
    }
    @include media-breakpoint-down(xs){
      height:312px;
    }
    &:before{
      content:'';
      position:absolute;
      display:block;
      width:100%;
      height:646px;
      background-color:$white;
      @include media-breakpoint-down(ex-lg){
        height:550px;
      }
      @include media-breakpoint-down(ex-lg){
        height:400px;
      }
      @include media-breakpoint-down(sm){
        height:550px;
      }
      @include media-breakpoint-down(xs){
        height:312px;
      }
    }
    h1{
      @include media-breakpoint-down(lg){
        font-size: 2.6rem;        
      }
    }
    .brand-content{
      @include media-breakpoint-down(md){
        top:50%;
        left:50%;
        transform:translate(-50% , -50%);
        width:100%;
      }
    }
  }
  .btn{
    img{
      width: 24px;
      height: 10px;
    }
  }
}
.empty-cart{
  .btn{
    img{
      width: 24px;
      height: 10px;
    }
  }
}
.font-size-middle{
  font-size:35px;
  @include media-breakpoint-down(ex-lg){
    font-size: 32px !important;
    }
    @include media-breakpoint-down(lg){
    font-size: 24px !important;
    }
}
.collections{
  .collection-part{
    width:33.33%;   
    height:445px;
    background-size:101% !important;
     margin: 0 1rem !important;
    @include media-breakpoint-down(xl){
      height:350px;
    } 
    @include media-breakpoint-down(lg){
      height:250px;
    } 
    @include media-breakpoint-down(md){
      height:180px;
      width:100%;
    }
     &:first-child{
      margin: 0
    }
    &:last-child{
      margin: 0
    } 
  }
}
footer{
  .newslatter{
    @include media-breakpoint-down(md){
      max-width: 400px;
      margin: 0 auto;
    } 
  }
}
.newslatter{
  input,button{
    height:45px;
  }
  .heading-text{
    line-height: normal;
  }
  .social-share{
    h3{
      letter-spacing: 0.15rem;      
      @include media-breakpoint-down(lg){
        letter-spacing: normal;
      } 
    }
  }
}
.mini-footer{
  li{
    position: relative;
    &:after{
      content: '';
      display: block;
      width: 1px;
      height: 20px;
      background-color: #787878;
      position: absolute;
      right: -11px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}
.navbar-brand{
  font-size: 1.2rem;
}
.for-bg{
  width: 100%;
  /* height: 280px; */
  height: 100%;
  @include media-breakpoint-down(lg){
    background: none !important;
    height:auto;
   }
  @media only screen and (max-width: 1500px) and (min-width: 1200px){  
    background-size: 25% !important;
  }
   h4{
    @include media-breakpoint-down(lg){
      // font-size: $font-size-sm;
      font-weight: $font-weight-normal !important;
      font-size: 14px;
     }
   }
   a.mb-lg-3{
    margin-bottom: 0.7rem !important;    
   }
}
.for-extra-bg {
  h4{
    @include media-breakpoint-down(lg){
      font-size: 14px;
     }
  }
}
.brand-part{
  .brand-poster{
    width:100%;
    height:130px;
    background-size: cover !important; 
  }
  .brand-poster{
    @include media-breakpoint-down(lg){
      display:none !important;
     }
  }
}
.for-extra-bg{
  &:after{
    content:'';
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    width:30%;
    background-color: $gray-300;
    @include media-breakpoint-down(lg){
      display:none !important;
     }
  }
}
.search-icon{
   width: 18px; 
  @include media-breakpoint-down(lg){
   width: 17px;  
  }
  @include media-breakpoint-down(md){
    width: 18px; 
  }
  @media only screen and (min-width : 968px) and (max-width : 1024px) {
     width: 19px;
  }
  @include media-breakpoint-down(ex-lg) {
    width: 18px !important;
  }
}
.user-img{
  width:25px;
  @include media-breakpoint-down(lg){
    width: 17px; 
   }
}
.cart-img{
 width:28px;
  @include media-breakpoint-down(lg){
    width: 19px; 
   }
}
.brand-list{
  @include media-breakpoint-down(lg){
    background-color: $white !important; 
   }
}
.main-menu{
  li{
    &.pb-lg-3{
      padding-bottom: 1.2rem !important;      
      @include media-breakpoint-down(lg){
        padding-bottom:0 !important;
      }
    }
  }
}
.mail-submit{
  width:32px;
   height:25px;
  display: block;
}
// ========== product-page=========
#product-info{
  @include media-breakpoint-down(lg){
    background-color: $white !important;
  }
  &:before{
    content: '';
    display: block;
    width: 100%;
    height: 150px;
    background-color: $white;
    position: absolute;
    top:0;
    @include media-breakpoint-down(xl){
      height: 485px;
    }
  }
  iframe{
    max-width: 500px;
    max-height: 300px;
    @include media-breakpoint-down(lg){
      max-width: 400px;
      max-height: 250px;
    }
    @include media-breakpoint-down(sm){
      max-width: 290px;
      max-height: 200px;
    }
  }
  span.for-description-bg{
    display: block;
    width: 100%;
    // height: 510px;
    background-color: $white;
    position: absolute;
  }
 .slider-nav{
  .item{
    width:70px !important;
    height:70px !important;
    border:1px solid #dedede;
    &.slick-current{
      border:1px solid $gray-900;
      position:relative;
      &:after{
        content: '';
        display:block;
        position:absolute;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        border:1px solid $gray-900;
      }
    }
    &.my-2{
      margin-bottom: 0.3rem !important;      
    }
    &:last-child{
      margin-bottom: 0 !important;
    }
    &:first-child{
      margin-top: 0 !important;
    }
  }
  .color-picker li{
    &:after{
      right: -14px; 
    }   
  }
 }
  .slick-list{
    height: 620px !important;
  }
}
// #product-feature{
//   margin-top: -230px;  
//   @include media-breakpoint-down(lg){
//     margin-top: 0px;      
//    }
// }
#product-feature, #about-feature{
  .feature-img{
    img{
      width:55px;
      height:55px;
      @include media-breakpoint-down(lg){
        width:50px;
        height:50px;   
       }
       @include media-breakpoint-down(sm){
        width:45px;
        height:45px;   
       }
    }
  }
  .h3{
    line-height: 1.3;
    pointer-events: none;
    // &:hover{
    //   opacity:0.3;
    // }    
  }
}
.collection-slider{
  .items{
    padding-top: 1.8rem;
    padding-bottom: 5.5rem;
    @include media-breakpoint-down(lg){
      padding-top: 1.8rem;
      padding-bottom: 5.5rem;
     }
  }
}
.zindex-sticky{
  z-index: $zindex-sticky;
}
#collections-banner{
  .shop-banner{
    width:100%;
    height:370px;
    background-size: cover !important;
    @include media-breakpoint-down(lg){
      height:300px;   
    }
    @include media-breakpoint-down(md){
      height:200px;   
     }
    .banner-description{
      left:0;
      right:0;
      h1{
        font-size: 60px;
        @include media-breakpoint-down(sm){
          font-size: 30px;
          text-align: center;
          width: 100%;
        }
      }
    }
    &:after{
      content:'';
      display:block;
      position: absolute;
      width:100%;
      height:100%;
      background: rgba(0, 0, 0, 0.2);
    }
  }
  .collection-list-banner{
    .shop-banner{
      height:180px;
    }
  }
}
#collection-filter{
  .apparel{
    .short-by{
      height: 40px;
      width: auto;
      -webkit-appearance: none;
      -moz-appearance: none;
       -ms-appearance: none;
        -o-appearance: none;
           appearance: none;
      background: url(https://cdn.shopify.com/s/files/1/0858/7748/files/down-arrow.png?4553385993616563231) center no-repeat;
      background-position: right 15px center !important;  
      letter-spacing: 0.04rem;
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      &.for-arrow{
        transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        background: url(https://cdn.shopify.com/s/files/1/0858/7748/files/sort-arrow.png?5859005829723376153) center no-repeat;
      }
    }
  }
}
.for-column{
  li{
    @include media-breakpoint-down(md){
      width:100% !important;  
     }
     &#shop{
       width:100% !important;     
       @include media-breakpoint-down(lg){
        padding-bottom: 0;   
       }
     }
  }
}
// ============ other pages
.details{
  h3{
    margin-top: 2rem;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
  }
  p{
    font-weight: $font-weight-light;
    margin-bottom: 1.2rem;
  }
  span{
    display:block;
    font-weight: $font-weight-light;
    margin-bottom:0;
  }
}
#faqs{
  .panel-body{
    p{
      margin-bottom: 1.2rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .panel-group{
    .panel{
      &:first-child{
        border-top: 1px solid $gray-100 !important;
      }
    }
  }
}
.about-us{
  height:500px;
  background-size: cover !important;
  @include media-breakpoint-down(lg){
    height: 400px; 
  }
  @include media-breakpoint-down(md){
    height: 300px; 
  }
  &:before{
    content:'';
    display:block;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background: rgba(0,0,0,0.5);
  }
  p{
    font-size:18px;
    letter-spacing: 0.08rem;
    @include media-breakpoint-down(md){
      letter-spacing: normal;
    }
  }
  h1{
    font-size:60px;
    @include media-breakpoint-down(lg){
      font-size:45px;
    }
    @include media-breakpoint-down(md){
      font-size:35px;
    }
  }
}
#about{
  .for-about-img{
    .about-img{
      height: 630px;  
      margin-top: -120px;    
      @include media-breakpoint-down(ex-lg){
        height: 570px;  
      }
      @include media-breakpoint-down(lg){
        height: 520px;
        margin-top: -80px;
      }
      @include media-breakpoint-down(md){
        height: auto;  
        margin-top:0;
      }
    }
  }
}
.contact-wrapper{
  // height:665px;
  background-size:cover !important;
  &:before{
    content:'';
    display:block;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    background: rgba(0,0,0,0.7);
  }
  .contact-form{
      input{
        height:40px;
        color: $gray-900;
      }
      textarea{
        resize: none;
        height:150px;
      }
  }
}
.font-style-italic{
  font-style:italic;
}
.contact-details {
  p, .p{
    font-weight: $font-weight-light;
    margin-bottom: 10px;
    font-family: $font-family-normal;
    margin-bottom: 0;
    color: $white !important;
    text-transform: initial;
    a{
      color: $white !important;
    }
  }
  h4{
    margin-bottom: 0;
    letter-spacing: 0.06rem;
  }
  > div{
    margin-bottom: 1.2rem;
    &:last-child{
      margin-bottom: 0 !important;
    }
  }
}
.blogs{
    .slider-content{
      height: 485px;
      bottom:20px;
      left:20px;
       @include media-breakpoint-down(lg){
        height: 380px;      
       }
       @include media-breakpoint-down(md){
        height: 330px;           
       }
       @include media-breakpoint-down(sm){
        height: 250px;           
       }
       .content{
         bottom:25px;
         left:25px;
       }
       &:before{
        content:'';
        display:block;
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        top:0;
        background: rgba(0,0,0,0.5);
       }
       .btn{
        width: 155px;
        height: 45px;
        @include media-breakpoint-down(lg){
          height: 35px;           
         }
       }
    }
    .flickity-prev-next-button{
      top: 90%;
      &.previous{
        right: 60px;
        left: auto;
      }
      &.next{
        right: 20px;
      }
    }
}
.blog-post{
  .blog-img{
    padding-top:78%;
    @include media-breakpoint-down(md){
      padding-top: 60%;      
    }
    img{
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  h3{
    line-height: 1.2;
  }
}
.blog-pagination{
  .pagination{
    li{
      &.active{
        font-weight:$font-weight-bold;
        a{
          // color: $gray-900 !important;
          color: #ffffff !important;
        }
      }
    }
    a{
      font-size: $font-size-base !important;
    }
  }
  .post-arrow{
    &.newer-post, &.older-post{
      @include media-breakpoint-down(sm){
        font-size:0;          
      }
      &:before{
        content:'';
        display:block;
        position:absolute;
        top:50%;
        transform:translateY(-50%);
        width:32px;
        height:17px;
        background: url(https://cdn.shopify.com/s/files/1/0858/7748/files/slick-arrow.svg?4553385993616563231) center no-repeat;
        background-size: cover;
        @include media-breakpoint-down(lg){
          width: 20px;
          height: 10px;           
        }
      }
    }
    &.newer-post{
      padding-left: 50px; 
      @include media-breakpoint-down(lg){
        padding-left: 30px;           
      }     
      &:before{
        left:0;
        transform:translateY(-50%) rotate(-180deg);
      }
    }
    &.older-post{
      padding-right: 50px; 
      @include media-breakpoint-down(lg){
        padding-right: 30px;        
      }     
      &:before{
        right:0;
      }
    }
    &:hover{
      color: $gray-900;
    }
    &.disabled{
      opacity: 0.2;
      pointer-events: none;
    }
  }
}
.blog-sidebar{
  .newslatter-form{
    input{
      height: 45px;      
    }
    .search-icon{
      width: 24px;
    }
  }
  .blog-newslatter{
    .blog-bg{
      height: 260px;
      @include media-breakpoint-down(lg){
        height: 220px;           
      }
      @include media-breakpoint-down(md){
        max-width: 400px;
        margin: 0 auto;          
      }
    }
  }
  .search-box 
  {
    .btn-primary:hover {
      border-color: transparent !important;
      background-color: transparent !important;
    }
  }
}
.popular-blog-post{
  .blog-image{
    width: 105px;
    height:76px;
  }
  .blog-head{
    width: calc(100% - 105px);
    h4{
      line-height: 1.3;    
    }
  }
  &:last-child{
    margin-bottom:0 !important;
  }
}
.blog-tags{
  li{
    a{
      &:hover{
        color: $black !important;
        box-shadow: inset 0 0 0 1px $black;
        border: 1px solid $black !important;
      }
    }
  }
}
.blog-latest-post{
  img{
    width:100%;
  }
  .blog-fetured-img{
    padding-top: 2.5rem !important;
    width: 100%;
    max-height: 425px !important;
    height: auto !important;
    max-width: 800px !important;
    margin: 0 auto !important;

    @include media-breakpoint-down(lg){
      height: 300px;           
    }
    @include media-breakpoint-down(md){
      height: 220px;           
    }
    img{
        max-height: 425px !important;
        object-fit:cover;
    }
  }
  .blog-post-details{
    margin-top: 2.9rem !important;
    p{
      margin-bottom: 1.2rem;
      @include media-breakpoint-down(md){
        margin-bottom: 1rem;      
      }
    }
    img{
      margin-bottom: 2rem;
      @include media-breakpoint-down(md){
        margin-bottom: 1.2rem;      
      }
    }
    .social-icons 
    { 
      span.icon {
        font-size: 1.25rem !important;
      }
    } 
  }
}
.blog-post-arrow{
  .post-arrow{
    width:40%;
  }
  .latest-blog-post{
    .blog-image{
      width: 100px;
      height:75px;
      @include media-breakpoint-down(md){
        width: 50px;
        height:50px; 
      }
    }
    .blog-head{
      width: calc(100% - 100px);
      @include media-breakpoint-down(md){
        width: calc(100% - 50px); 
      }
      h5{
        line-height: 1.3;    
      }
    }
  }
}
.for-blog-bg{
  &:before{
    content:0;
    display:block;
    position: absolute;
    top:-100px;

  }
}
.blog-comments{
  h3{
    letter-spacing: 0.1rem;
  }
  p{
    &:last-child{
      margin-bottom:0;
    }
  }
}
.comment-form{
  input{
    height:45px;
    @include media-breakpoint-down(sm){
      height:40px; 
    }
  }
  textarea{
    height: 165px;
    resize: none;
    @include media-breakpoint-down(sm){
      height:150px; 
    }
  }
  .btn{
    min-width: 170px;    
    @include media-breakpoint-down(sm){
      min-width: 140px;    
    }
  }
}
.middle-line{
  background-color: $white;
  &:before{
    content:'';
    display: block;
    width:100%;
    height:1px;
    background-color: $gray-400;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
  }
  h4{
    width:50px;
  }
}
.cart-product{
  .cart-product-image{
    width: 100px;
    height:100px;
    @include media-breakpoint-down(md){
      width: 60px;
      height:60px; 
    }
  }
  .blog-head{
    width: calc(100% - 100px);
    @include media-breakpoint-down(md){
      width: calc(100% - 60px); 
    }
    h4{
      line-height: 1.3;    
    }
  }
}
.cart-qty{
  .qty{
    width:30px;
    height:45px;
    @include media-breakpoint-down(sm){
      width:25px;
      height:30px;
    }
  }
  input{
    width:40px;
    height:45px;
    border-radius:0 !important;
    @include media-breakpoint-down(sm){
      width:28px;
      height:30px; 
    }
  }
}

.product-qty{
  .qty{
    width:45px;
    height:50px;
    @include media-breakpoint-down(lg){
      width:40px;
      height:35px;
    }
    @include media-breakpoint-down(sm){
      width:30px;
    }
  }
  input{
    width:50px;
    height:50px;
    border-radius:0 !important;
    @include media-breakpoint-down(lg){
      width:45px;
      height:35px;
    }
    @include media-breakpoint-down(sm){
      width:35px;
    }
  }
}
.flickity-viewport {
  width: 100%;
  .flickity-slider{
    .col-12{
      @include media-breakpoint-down(ex-lg){
        padding-right: 8px;
        padding-left: 8px;
      }
      @include media-breakpoint-down(sm){
        padding-right: 15px;
        padding-left: 15px;
      }
      &.items{
        min-height: 100%;
        // height:100%;
      }
    }
  }
}
.brand-part{
  ul{
    li{
      &:last-child{
        a{
          color: $gray-900 !important;
          margin-bottom: 0 !important;
          margin-top: 1rem !important;
        } 
      }
    }
  }
}
// .form-check{
//   input[type="radio"], input[type="checkbox"]{
//     position: absolute;
//     display: block !important;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     margin: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 99;
//     opacity: 0 !important;
//     cursor: pointer;
//   }
// }
input[type="checkbox"]{
  display:none;
}
.navbar-main{
  padding: 0 !important;
  [name="cart"]{
    position: relative;
    .badge{
      position: absolute;
      right: -10px;
      top: 8px;
      margin: auto;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      line-height: normal;
      font-weight: bold;
      @include media-breakpoint-down(lg){
        right: -5px;
        top: 6px;
      }
      @include media-breakpoint-down(md){
        top: 6px;
        right: -10px;
      }
      @include media-breakpoint-down(sm){
        top: -1px;
      }
    }
  }
} 
.for-flex-inherit{
  flex-wrap: wrap;
}
.color-swatch{
  &.form-check{
    input{
      display: none !important;
      &:checked{
        background-image:none; 
        background-color: transparent; 
        + label{
          overflow: visible;
          span{
            &:before{
              opacity: 1;
            }
          }
        }
      }
    }
    label{
      border-radius: 50%;
      border: 0;
      span{
        width: 20px;
        height: 20px;
        border: 0;
        border-radius: 50%;
        &:before{
          width:30px;
          height:30px;
        }
      }
    }
  }
}
.size-swatch{
  input{
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid $gray-400; 
    @include media-breakpoint-down(sm){
      width: 36px;
      height: 36px;
    }  
    &:checked, &:hover{
      border: 1px solid $gray-400;      
      color: $black !important;
      -webkit-box-shadow: inset 0 0 0 1px $black;
      box-shadow: inset 0 0 0 1px $black;
      position: relative;
      z-index: 9;
      border-color: #000 !important;
    }
  }
}
.for-left-padding{  
@media only screen and (max-width: 1500px) and (min-width: 1200px){
    margin-left: 20.66667%;
 }
}
.for-left-padding .row .col:first-child{
  @include media-breakpoint-up(ex-lg){
    padding-left: 18px !important;
  }
}
.blog-newslatter{
  .mail-submit{
    width:38px;
  }
  .newslatter-form{
    margin-bottom: 0.8rem !important;
    @include media-breakpoint-down(lg){
      margin-bottom: 8px !important;
    }
  }
  h2{
    letter-spacing: normal;
    @include media-breakpoint-down(lg){
      font-size: 1.8rem !important;
    }
  }
}
.error-msg{
  color: red !important;
}
#subscribe{
  position: absolute;
  display: block;
  right: 0;
  top: 22px;
  transform: translateY(-50%);
  width: 55px !important;
}
.blog-post-details{
  h1, h2, h3, h4, h5, h6{
    letter-spacing: 0.1rem;
    a{
      color: $gray-900 !important;
    }
  }
}
.panel-heading{
  h3{
    letter-spacing: 0.1rem;
    @include media-breakpoint-down(sm){
      letter-spacing: normal;
    }
  }
}
.main-carousel{
  height:620px;
  @include media-breakpoint-down(lg){
    height:500px;
  }
  @include media-breakpoint-down(sm){
    height:400px;
  }
  img{ 
    margin: 0 auto;
    object-fit: contain;
    cursor: crosshair;
  }
}
.carousel-main{
  height:620px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-down(lg){
    height:500px;
  }
  @include media-breakpoint-down(sm){
    height:400px;
  }
  img{ 
    margin: 0 auto;
    object-fit: contain;
    cursor: crosshair;
    @include media-breakpoint-down(lg){
      height:500px;
    } 
    @include media-breakpoint-down(sm){
      height:400px;
    }
  }
}
.for-size {
  li{
    input{
      margin-left: -1px;
    }
  }
}
.for-faqs{
  .faq-quetions{
    &:last-child{
      margin-bottom: 0 !important;
    }
  }
}
.modal{
  @include media-breakpoint-down(md){
    padding-right: 0 !important;
  }
}
.size-modal{
  max-width: 750px;
  @include media-breakpoint-down(sm){
    margin-left: 0;
  }
  .size-close{
    top: -40px;
    right: 0px;
    pointer-events: auto;
    font-size: 20px;
    @include media-breakpoint-down(sm){
      top: -40px;
    }
  }
  .modal-content{
    border-radius: 0;
    max-height: 80vh;
    margin: 0 10px;
    .modal-body{
      padding: 30px;
      overflow-y: auto;
      @include media-breakpoint-down(sm){
        padding: 10px;
      }
      table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: $h4-font-size;
        @include media-breakpoint-down(sm){
          font-size: 12px !important;
        }
        td{
          text-align: left;
          padding: 15px;
          border: 1px solid #e5e5e5;
          @include media-breakpoint-down(sm){
            padding: 8px;
          }
        }
      }
    }
  }
}
body.modal-open{
  overflow: hidden !important;
}
a[data-amazon-payments-pay-button]{
  margin-bottom: 2rem !important;
  border-radius: 0 !important;
  width:100% !important;
  line-height: 45px !important;
}
.additional-checkout-button.additional-checkout-button--paypal{
  display: none;
}
.additional-checkout-button + .additional-checkout-button{
  margin-left: 0 !important;
}
.payment-sidebar{
  .checkout-btn{
    padding: 0.844rem 1.983rem !important;
  }
}
.yotpo .text-m {
  font-size: $font-size-sm !important;
  color: $gray-200 !important;
  margin-left: 5px;
}
.card-product{
  .color-picker{
    flex-wrap: nowrap;
    .nav-item{
      &:first-child{
        max-width:50%;
      }
    }
    span{
      @include media-breakpoint-down(lg){
        letter-spacing: 0.04rem;
      }
    }
  }
}
.read-more, .read-less{
  font-weight: 500;
  margin-top: 12px !important;
  display: block;
}
@include media-breakpoint-down(lg){
  .float-xl-none .btn {
    height: 35px;
  }
}
.product-details-wrapper {
  iframe{
    @include media-breakpoint-down(xl){
      max-width: 100% !important;
      max-height: 300px !important;
    }
    @include media-breakpoint-down(lg){
      max-width: 100% !important;
      max-height: 250px !important;
    }
  }
}
.for-underline{
  border: 1px solid $white !important;
}
.arrow-img{
    margin-bottom: 2px;
}
.for-checkbox, .for-radio{
  width: 14px !important;
  height: 14px !important;
  top: 4px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border: 1px solid $primary !important;
  left: 0;
  border-radius: 0 !important;
  @include media-breakpoint-down(sm){
    top: 2px;
  }
  &:after{
    content: "\F00C";
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    font-size: 9px;
    position: absolute;
    top: 2px;
    left: 2px;
    line-height: 1;
    opacity: 0;
    color: $primary;
  }
  &:before{
    display: none !important;
  }
}
input[type=checkbox]:checked+label .for-checkbox:after{
  opacity: 1;
}
input[type=checkbox]:checked+ .for-checkbox:after, input[type=radio]:checked+ .for-radio:after{
  opacity: 1;
}

.carousel-main .flickity-prev-next-button{
  display: none !important;
  @include media-breakpoint-down(md){
    display: block !important;
  }
}
.colorWhite + label span{
  border: 1px solid $gray-400 !important;
}
.snize-main-panel{
  display: none !important;
}
div.snize li.snize-no-products-found div.snize-no-products-found-text span a {
  color: $primary !important;
}
#search-results{
  .page-title{
    font-size: $h2-font-size;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
}
button{
  &:focus{
    outline:none !important;
  }
}
.content{
  .wrap{
    .field__input, .input-checkbox, .btn, .product-thumbnail__wrapper, textarea, select{
      border-radius: 0 !important;
    }
    .product-thumbnail__wrapper{
      &:after{
        border-radius: 0 !important;
      }
    }
    button{
      &:focus{
        outline:none !important;
      }
    }
  }
}
#cart{
  input, textarea{
    border-radius: 0 !important;
  }  
}
.drawer-footer {
  small{
    font-size: 85%;
  }
  .btn-group-sm{
    > .btn{
      padding: 0.5rem 0.5rem;
      font-size: 0.9rem;
    }
  }
}
body.menu-open{
  overflow: hidden;
  position: fixed;
  height: 100%;
}
.search-box{
  input{
    padding: 0.625rem 1.983rem;
    line-height: 1;
  }
}
_:-ms-fullscreen, :root .cart-img { 
  width:24px;
}
_:-ms-fullscreen, :root .user-img{
  width:19px;
}
.nicescroll-rails {
  display: none !important;
}
.nicescroll-cursors{
  height: 0 !important;
  background: transparent !important;
}
.compare-price{
  span{
    color:$red;
+ s{
  span{
    color:$gray-700;
    font-weight: $font-weight-light;
  }
}
  }
}
.colletions-varient{
  .items{
    height:auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    display: flex; 
  }
}
body.body-cart-open{
    position: fixed;
  }
  .filter-size {
    li{
      width:43px;
      height:43px;
      &.active, &:hover{
        color: #000000 !important;
        box-shadow: inset 0 0 0 1px #000000;
        position: relative;
        z-index: 9;
       border-color: #000 !important;
      }
    }
  }
  #accordion{
    div{
      &:last-child{
        border-bottom: 0 !important;
      }
    }
  }
  #colors{
    .color-swatch {
      label{
        border-radius: 50%;
      }
      input{
        padding: 0.719rem;
      }
    }
  }
  .margin-bottom {
    margin-bottom: -1px;
  }
  // .collection__sidebar{
  //   @include media-breakpoint-down(sm){
  //     position:relative !important;
  //     z-index: inherit;
  //   }
  // }
  .collection-filters{
    @include media-breakpoint-down(sm){
      display: block !important;
      position: fixed!important;
      width: 300px !important;
      left: -300px !important;
      background: #fff;
      z-index: 1090;
      // padding: 40px 0;
      top: 0;
      bottom: 0;
      transition: .25s ease-in-out;
    }
    &.side_toggle{
      left: 0 !important;
      overflow-y: scroll;
      height: 100%;
    }
  }
  @include media-breakpoint-down(sm){
    .back_arrow {
      width: 44px;
      &:after{
        content: "\F3CF";
        font-family: Ionicons;
        display: inline-block;
        font-size: 20px;
        line-height: 40px;
        color: #000;
      }
    }
    .filter-btn{
      max-width:150px;
    }
  }
  .body_overlay{
    position: fixed;
  }
  .body_overlay .overlay.site-overlay {
    visibility: visible;
    opacity: 1;
  }
  // -----------------------
  .filter-group{
    &.refine-header{
      display: none;
    }
    &.filter-group-not-shown{
      display: none
    }
    svg{
      position: absolute;
      right: 8px;
      top: 19px;
      @include media-breakpoint-down(lg){
        top: 17px;
        right: 0;
      }
      @include media-breakpoint-down(sm){
        right: 10px;
        top: 15px;
      }
    }
    .filter-clear{
      position: absolute;
      top: 18px;
      right: 36px;
      font-weight: 700;
      font-size: 14px;
      color: #191919;
      line-height: 18px;
      @include media-breakpoint-down(lg){
        top: 15px;
        right: 28px;
      }
      @include media-breakpoint-down(sm){
        top: 13px;
      }
      &:hover{
        color: $gray-200;
      }
    }
    .collection-count{
      display: none;
    }
    h4{
      &:hover{
        color: $gray-200;
        cursor: pointer;
        svg{
          fill: $gray-200;
        }
      }
    }
    ul{
      display: block;
      margin: 0;
      padding: 0;
      li{
        display: block;
        a{
          &:hover{
          color: $primary !important;
          }
        }
      }
    }
    .icon-minus{
      display: none;
      margin-top: 5px;
    }
    .filter-icons--active{
      .icon-minus{
        display: block;
      }
      .icon-plus{
        display: none;
      }
    }
    .sort-selector{
      margin: 0 10px;
    }
    .selected{
      font-weight: $font-weight-bold;
      i{
        &.check-icon{
          border: 1px solid $primary;
          &:after{
            content: "\F00C";
            font-family: Font Awesome\ 5 Free;
            font-weight: 900;
            font-size: 9px;
            position: absolute;
            top: 1px;
            left: 2px;
            color: $primary;
          }
        }
      }
    }
    i{
      &.check-icon{
        display: inline-block;
        height: 17px;
        width: 17px;
        vertical-align: middle;
        border: 1px solid $gray-100;
        border-radius: 0;
        margin-right: 14px;
      }
    }
    .scroll-content{
      .rte{
        margin-left: 32px !important;
      }
    }
  }
  .filter-group-size{
    i{
      &.check-icon{
        display: none;
      }
    }
    .selected{
      z-index: 100;
      position: relative;
      a{
        color: $white;
        // background-color: $gray-900;
        border-color: $black;
        color: $black !important;
        box-shadow: inset 0 0 0 1px $black;
      }
    }
    ul{
      li{
        display: inline-block;
        margin: 0 -1px -1px 0;
        a{
          font-size: 13px;
          display: block;
          width: 45px;
          height: 45px;
          line-height: 45px;
          justify-content: center;
          margin-bottom: 0 !important;
          text-align: center;
          border: 1px solid $gray-100;
        }
      }
    }
  }
  .filter-group-color{
    i{
      &.check-icon{
        display: none;
      }
    }
    .selected{
      position: relative;
      &:after{
        content: "\F00C";
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        font-size: 10px;
        position: absolute;
        top: 4px;
        left: 6px;
        color: $white;
      }
      &.filter-active-white{
        &:after{
          color: $black;
        }  
      }
    }
    ul{
      li{
        display: inline-block;
        margin: 0 13px 2px 0;
        a{
          display: block;
          width: 22px;
          height: 22px;
          border: 1px solid #f9f9f9;
          background-color: #f9f9f9;
          border-radius: 50%;
          text-indent: -100000px;
        }
      }
    }
    .scroll-content{
      margin-bottom: 0 !important;
    }
  }
.color-white a{
  border: 1px solid #999999 !important;
}
.vertical-align-middle{
  vertical-align: middle;
}
.more-height-hidden{
  max-height: 350px;
  overflow: hidden;
}
.more-height-hidden-brands{
  max-height: 350px;
  overflow: hidden;
}
.yotpo-shoppers-say .single-best-sentence .full-review-background{
  background-color: #fff3e6 !important;
}
.filter-group-color ul li .color-multi a {
  border: 1px solid #999 !important;
  background-image: url("//cdn.shopify.com/s/files/1/0858/7748/t/48/assets/multi-color.jpg?4316228171020695254");
  background-size: cover;
  background-position: center center;
}
_::-webkit-full-page-media, _:future, :root .safari_only {
  display: block;
} 
// .carousel-nav .flickity-prev-next-button:disabled{
//   display: none;
// }
.reviewStart img{
  width: 85px;
}
.card{
  .badge{
    font-weight: 500;
    padding: 0.5em 0.6em;
  }
  .btn-primary{
    &:disabled{
      color: $white;
      background-color: #c9c9c9;
      border-color: #c9c9c9;
      opacity: 1;
    }
  }
}

.card{
  .badge{
    font-weight: 500;
    padding: 0.5em 0.6em;
  }
  .btn-primary{
    &:disabled{
      color: $white;
      background-color: #c9c9c9;
      border-color: #c9c9c9;
      opacity: 1;
    }
  }
}
.description-more{
  max-height: 250px;
  overflow: hidden;
}
// select box ==============
.selectZon {
  cursor: pointer;
    &:hover{
      .option{
        opacity: 1;
        visibility: visible;
        transition: opacity 0.25s ease-in-out;
        -webkit-transition: opacity 0.25s ease-in-out;
      }
      .handler{
        transform: rotate(-180deg);
        transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
      }
    }
  .holder{
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    letter-spacing: 0.04rem;
  }
  .handler{
    font-size:14px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
  }
  .option{
    opacity: 0;
    visibility: hidden;
    left: auto;
    top: 40px;
    right: 0;
    border-top: 0;
    z-index: 1090;
    white-space: nowrap;
    transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    .selectOptions{
      max-height: 150px;
      overflow-y: auto;
      @include media-breakpoint-down(sm){
        max-height: 120px;
      }
      .selectOption{
        &.active{
          span,a{
            color: #bebebe !important;
          }
        }
        &:hover{
         a, span{
          color: #bebebe !important;
         }
        }
        &:last-child{
          margin-bottom: 0 !important;
        }
        a, span{
          width: 100%;
          display: block;
        }
      }
    }
  }
  &.sizeSelect{
    height: 45px;
    width:130px;
    border-radius: 0 !important;      
    border-color: #d0d0d0 !important;
    @include media-breakpoint-down(lg){
      width:100px;
    }
    .holder{
      overflow: hidden;
      height: 43px;
      line-height: 43px;
      letter-spacing: 0.04rem;
    }
    .option{
      top: 45px;
      border-color: #d0d0d0 !important;
    }
  }
}
// ========== bundle =====
#product-bundle{
  /*.carousel-main {
    height: 430px;
    @include media-breakpoint-down(ex-lg){
      height: 380px;
    }
    @include media-breakpoint-down(lg){
      height: 320px;
    }
    img{
      height: 430px;
      @include media-breakpoint-down(ex-lg){
        height: 380px;
      }
      @include media-breakpoint-down(lg){
        height: 320px;
      }
    }
  }*/
  h2{
    font-size: 26px !important;
    @include media-breakpoint-down(lg){
      font-size: 24px !important;
    }
  }
  .for-border{
    border-color: #e6e6e6 !important;
  }
  .bundles{
    .row{
      border-color: #e6e6e6 !important;
    }
  }
  .bundle-swatch-element{
    label{
      width: 70px;
      height: 70px;
      background-size: contain;
      background-repeat: no-repeat;
      border: 3px solid $gray-900;
    }
  }
}
.bundle-select-wrapper .selector-wrapper{
  display: none;
}
.text-input{
  border: 1px solid #bdc3c7 !important;
}
.input-group.d-block > .form-control{
  @include media-breakpoint-down(xs) {
    width: 100%;
    margin:0 0 10px 0;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.section-content{
  min-height:500px;
}
input[type="text"]{
  line-height: 1px;
}
.sub-product-name{
  p{
    &:last-child{
      margin-bottom: 0 !important;
    }
  }
}
.view-all-btn{
  font-size: $h5-font-size !important;
}
.promotions{
  ul{
    li{
      margin-bottom: 0.3rem;
    }
  }
}
.for-height{
  max-height: 100%;
}

.not-available{
  input:after{
    color: #bebebe !important; 
  }
  label{
    pointer-events: none !important;
  }
}
.for-not-available{
  display: none;
}
.not-color-available{
  .for-not-available{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 23px;
    display: block;
    &.whiteColor{
      color: #000;
    }
  }
  label{
    // background: #bebebe !important; 
    pointer-events: none !important;
  }
}
.for-footer-collection{
  @include media-breakpoint-up(md) {
    margin-top: 3.5rem;
  }
}
.adding-check{
  display: none !important;
}
.check-margin{
  margin-top: 0 !important;
}
// .AddressProvince {
//   // margin: 0 0 10px 0 !important;
// }
.stop-increase-val{
  pointer-events: none;
  i{
    color:#e2e2e2;
  }
}
.larger-container{
  @include media-breakpoint-up(xxxl){
    max-width: 1920px;    
  }
}
#main-header{
  .newslatter-form{
    @include media-breakpoint-up(xxxl){
      float: right;
      margin-right: 60px !important;
    }
    &:after{
      contain: '';
      display: block;
      clear: both;
    }
  }
}
.hide-post-address{
  .address-customer{
    font-size: 0 !important;
  }
}
.for-zip-top{
  @include media-breakpoint-down(sm){
    margin-top: 10px !important;
  }
}
.grid-image{
    
    max-height: 440px;
    img{
        width: 100%;
        height:auto;
        object-fit: cover;
    }
}
.featured-grid-text{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    
}
.feature {
      text-align: center;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
    }
.btn-light{
    color: $black;
    transition: all 0.25s ease-in-out;
    &:hover{
        color: $white !important;
        border-color: $white !important;
        transition: all 0.25s ease-in-out;
        background-color: transparent !important;
        border-color: #fff!important;
    }
}
.insta-detail{
  height: 320px;
   @include media-breakpoint-down(lg){
      height: auto;
    }
}
.insta-blocks{
  .insta-logo{
    width: 100%;
    height: 50px;
  
  }
  .insta-image{
    width: 100%;
    height: 320px;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .insta-overlay{
      opacity: 0 !important;
      .fa.fa-instagram{
        font-size: 2.5rem;
      }
      a.btn{
        font-size: 12px;
      }
    }
  &:hover{
     .insta-overlay{
      opacity: 1 !important;
    }
  }
  .insta-sxtra-details{
    a{
      font-size: 14px !important;
    }
  }
}
.color-count{
  position: relative;
  color: #1d1d1d !important;
  &:after{
    content: '';
    width: 100%;
    border: 1px solid #e8e8e8;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 35px;
  }
}
.dropdown a{
  &:before{
    content: '' !important;
  }
}
.dropdown-item:hover, .dropdown-item:focus{
  background-color: transparent !important;
}
#main-header .newslatter-form button {
  &:hover{
    // background-color: #ffffff;
    background-color: $gray-800;
  }
}
.btn-outline-primary{
    color: $black;
  &:hover{
    color: $white;
  }
}
footer{
.footer-menu{
  .nav-item{
    a{
      &:hover{
        color: $gray-200 !important;
      }
    }
  }
}
.newslatter{
    .social-share .nav-item {
      &:first-child{
        a{
        margin-left: 0 !important;
          }
      }

      a{
        &:hover{
          color:  $gray-200 !important;
        }
      }
    }
  }
}
.index-featured-collectiion{
  .money{
    font-size: 1.1rem;
  }
  .flickity-slider{
    div{
      @include media-breakpoint-down(md){
        margin-bottom: 0px;
       }
    }
  }
}
.cart-icon{
  @include media-breakpoint-down(md){
        padding-right : 0px !important;
       }
}



.index-features-grid{
  .index-grid-inner:first-child   {
    @include media-breakpoint-down(sm){
      margin-bottom: 15px;
    }
  }
}


.collections {
  margin: 0 -15px;
  padding: 0;
  @include media-breakpoint-down(sm){
    margin: 0;
  }


  .collection-part {

    width: 33.33%;
    height: 445px;
    background-size: 100% !important;
    margin: 0 0!important;
    padding: 0 15px;
    float: left;
    @include media-breakpoint-down(sm){
         background-size: 100% 100% !important;
        margin: 0 !important;
        margin-bottom: 15px !important;
        width: 100%;
        padding: 0 15px;
        }
      }
  }
.dropdown-item.active{
  color:#ffffff !important;

}
.dropdown-item.active{
     background: #c2c0c0 !important;
     background-color : #000000 !important;
   }
   
   
    .mini-header ul.nav li:last-child{
          margin-left: 10px !important;
    }
   .mini-header ul.nav li:first-child:after{
        content: "";
    position: absolute;
    top: 50%;
    right: -2px !important;
    display: block;
    height: 12px;
    margin-right: -3px;
    width: 1px;
    background: #b9b9b9;
    transform: translateY(-50%);
   }
    .insta-blocks .insta-image{
    width: 100% !important;
     height: 320px !important;
     position: relative !important;
     padding-top : 100% !important;
     overflow: hidden !important;
   }
   .insta-blocks .insta-image img{
     top:50% !important;
     left:50% !important;
     width: auto !important;
     height:100% !important;
     position:absolute !important;
     max-width: none !important;
     transform:translate(-50%,-50%) !important;

   }
  
     .slider-flickity .flickity-prev-next-button.next:before {
       @include media-breakpoint-down(sm){
            width:32px !important;
            margin-left: -8px !important;
       }
       @media only screen and (max-width: 1024px) and (min-width: 481px)  {
          width: 32px !important;
          margin-left: -8px !important;
       }
   }  
   .slider-flickity .flickity-prev-next-button.previous:before{
       @include media-breakpoint-down(sm){
           width:32px !important;
           margin-left: -8px !important;
       }
       @media only screen and (max-width: 1024px) and (min-width: 481px)  {
          width: 32px !important;
          margin-left: -12px !important;
       }
   }
 
   @media (min-width:1950px){
     #shopify-section-index-header-slider .header-slider .carousel.tallheight{
       height: 45vh !important;
       max-height:100%;
     }
   }
   @media (min-width:2200px){
     #shopify-section-index-header-slider .header-slider .carousel.tallheight{
       height: 80vh !important;
       max-height:100%;
     }
   }
   
   .blog-team-template{
    .team-article {
        a.article__featured-image{
        img{
          width: 100%;
        }
      }
      .member-tag{
          margin-bottom: 8px;
          color: #777;
      }
      p.h6{
        font-family:  'Roboto Condensed', sans-serif !important;
        font-size: 14px;
        color: #777;
        margin-bottom: 25px;
      }
    }
}
@-moz-document url-prefix() {
 .newslatter-form.search-box {
    padding-right: 40px !important;
 }
}
 .page-item.active 
 {  
    .page-link {
      z-index: 1;
      color: #fff;
      background-color: #0e0e0e !important;
      border-color: #0e0e0e !important;
  }
}
section.is_team 
{
  .blog-footer 
  {
    .blog-tags{
      display: none !important;
    } 
  }
 }
 section.is_team 
 {
  .underline-text{
    text-decoration: underline !important;
  }
 }
.mmawarehouse-blog 
{
  .jetpack-video-wrapper 
    {
      iframe.youtube-player {
      width: 100% !important;
      height: 500px !important;
      object-fit: contain !important;
    }
  }
  .blog-latest-post { 
      .blog-post-details 
      {
        a{
          img{
             @media only screen and (min-width : 481px) and (max-width : 768px) {
                max-height: 500px !important;
               object-fit: cover !important;
               object-position: center !important;
             }
             @media only screen and (max-width : 480px){
                max-height: 330px !important;
               object-fit: cover !important;
               object-position: center !important;
             }
           }
       }
    }
  }
}
.bars 
{
  span
    { 
      ul.nav {
      @media screen and (min-width: 1025px) and (max-width: 1380px){
          margin-left: 3px !important;
      }
    }
  }
}
#main-header {
  .main-logo {
    @media screen and (min-width: 1025px) and (max-width: 1380px){
        margin-left: 3px !important;
      }
    }
  }
  .slider-flickity 
  {
    .flickity-prev-next-button.next {
       @media screen and (min-width: 1441px) {
        right: 15px!important;
      }
    }
    .flickity-prev-next-button.previous {
        @media screen and (min-width: 1441px) {
          left: 15px!important;
      }
    }
 }
.header-slider{
   ul.slides{
      position: relative;
    }
    .slides > li{
        position: relative;
    }
  .flexslider{
    overflow: hidden;
    border: none;
    margin: 0;
    padding-bottom: 0;
      .flex-direction-nav{
        a.flex-prev, a.flex-next{
          font-size: 0;
        }
        a.flex-prev:before, a.flex-next:before {
          content: '';
            background: url(https://cdn.shopify.com/s/files/1/1055/0178/files/slider-arrow.svg?17966302843097552921) center no-repeat;
            background-size: 100%;
            width: 100%;
            height: 100%;
             @media screen and (max-width: 480px) {
                background: none;
             }
        }
        a.flex-next:before{
         transform: rotate(180deg); 
        }
    }
   
  }
}
.flex-viewport ul{
  display: flex;
  li{
    img{
      height: 100% !important;
    }
  }  
}
.model-for-addtocart{
  display: none;
  position: fixed;
  bottom: 55px;
  right: 0;
  background: #fff;
  z-index: 1090;
  a{
    text-decoration: underline;
  }
}
header{
  .for-brands{
    .brand-part{
      .brand-poster{
        a{
          img{
            max-height: 130px;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
.flex-control-paging
{
    bottom: 0px;
    li {
      a{
        background: #ffffff;  
        &.flex-active{
           background: #ffffff;  
          opacity: 0.6;
        }
        &:hover{
          background: #ffffff;  
          opacity: 0.6;
        }
      }
    }
}
.header-slider {
  .video-container {
    iframe{
      z-index: 9;
      position: relative;
      width: 100%;
       @include media-breakpoint-up(md){
          min-height: 85vh;
       }
      /* @include media-breakpoint-down(md){
          min-height: 40vh;
       }*/
    }
    .play_button {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        opacity: 1;
        transform: translate(-50%, -50%);
        cursor: pointer;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50px;
            height: auto;
            transform: translate(-50%, -50%);
        }
    }
      .disableOverlay {
          display: none !important;
          -webkit-transition-delay: 0s, 200ms;
          -moz-transition-delay: 0s, 200ms;
          transition-delay: 0s, 200ms;
      }
  }
} 

.header-slider .video-container iframe {
  @media (max-width: 768px) {
      min-height: 100%;
  }

  @media only screen and (max-width:991px) and (min-width:768px) {
      min-height: 40vh;
  }

  @media only screen and (max-width:1199px) and (min-width:992px) {
      min-height: 50vh;
  }

  @media only screen and (max-width:1440px) and (min-width:1200px) {
      min-height: 60vh;
  }
}

@media screen and (min-width: 2500px) {
  .colletions-varient .items.col-xxxl-3 {
    max-width: 20% !important;
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
  }
}
@media only screen and (min-width: 1920px) and (max-width: 2500px){
  .colletions-varient .items {
    -ms-flex: 0 0 25% !important;
    -webkit-flex: 0 0 25% !important;
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
}
/*.free-product-bar{
    .free-bar{
      margin-bottom: 10px;
      width: 100%;
      border-radius: 10px;
      position: relative;
      .free-bar-inner.full span{
        border: none;
        background: no-repeat;
        z-index: 1;
        height: 10px;
        top: 0px;
        i{
          color: #fff !important;
        }
      }
  }
  .free-bar-inner{
      height: 13px;
      margin-bottom: 10px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 10px;
      position: relative;
      span{
        position: absolute;
        right: 0;
        height: 13px;
        width: 13px;
        align-items: center;
        border: 1px solid #646465;
        border-radius: 50%;
        top: -1px;
        i{
          font-size: 9px;
          display: inline-block;
          vertical-align: top;
          line-height: 11px;
          color: #646465;
          margin-left: 1px;
        }
      }
      .for-progress{
        position: absolute;
        background: $primary;
        border-radius: 10px;
        left: 0;
        top: 0;
        height: 100%;
        width: 40%;
      }
  }
  
}
.select-free-product-popup{
  display: none;
  position: fixed;
  z-index: 1070;
  top: 50%;
  left: 50%;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  // transition: all 0.2s ease-in-out;
  opacity: 1;
  visibility: visible;
  transform: translate3d(-50%, -50%, 0) scale(1);
  .free-product-container{
    padding: 50px 20px 20px;
      .flickity-prev-next-button svg {
        position: absolute;
        left: 20%;
        top: 20%;
        width: 30px;
        height: 25px;
    }
    .flickity-prev-next-button{
      background: #000000 !important;
      border-radius: 0;
      &.next{
        right:0;
      }
      &.previous{
        left: 0;
      }
    }
    .items{
      min-height: 100%;
      height: auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      display: -ms-flexbox;
      display: flex;  
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .popup-btn-close{
      position: absolute;
      top: -5px;
      right: -5px;
      font-size: 2rem;
      color: inherit;
    }
    .product-info{
      padding: 10px;
      position: relative;
      width: 100%;
      label{
        cursor: pointer;
      }
      .product-image{
        max-width: 220px;
        width: 100%;
      }
      input{
        display: none;  
        -webkit-appearance: radio !important;
        -moz-appearance: radio !important;
        -ms-appearance: radio !important;
        -o-appearance: radio !important;
        appearance: radio !important;
      }
      .radio-box{
        position: absolute;
        left: 0;
        top: 2px;
        // background-color: $primary;
        // border-color: $primary;
        width: 100%;
        height: 100%;
        display: inline-block;
        border: 1px solid #d7d7d7;
       
      }
      input[type="radio"]:checked+label>span, input[type="radio"]:checked+label .radio-box{
        // opacity: 1;
        content: '';
        opacity: 1;
        display: block;
        position: absolute;
        top: 1px;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $primary;
        background-size: 10px;
      }
    }
  }
}
.free-prod-qty{
  padding-left: 47px;
  @include media-breakpoint-down(sm){
    padding-left: 0;
  }
}*/