/*============================================================================
	#Desktop Menu
	==============================================================================*/

	#main-nav {	
		display: flex;			
		> ul.main-menu{		
			margin:0;
			> li{				
				float: left;
				display: block;					
				margin-bottom: 0;					
				list-style: none;		
				border-bottom: 3px solid transparent;
				@include transition(background .25s ease-in-out);				
				> a {
					display: block;					
					position: relative !important;
					text-transform: uppercase;
					padding: 0.25rem 0 0; 
					color:  $primary;
					text-decoration: none;					
					@include transition(color .25s ease-in-out , border .25s ease-in-out);	
						
					// @extend .font-size-md;		
				}
				&:hover{
						border-bottom: 3px solid $gray-800;

					> a { 
						color: $gray-800;
						&:before{
							content: '';
							display: block;
							position: absolute;
							left:0;
							right:0;
							height: 4px;
							// background-color: $primary;
							bottom: -26px;
							z-index: 1;
							@include media-breakpoint-down(lg){
								display:none;
							}
						}
						span{
							color: $dark;
						} 
					}
				}
				&.active{
					> a { 
						color: $dark; 
					}
				}
			}
		}
		ul {	
			ul{
				li{
					a{
						// white-space: nowrap;
						color: $primary;
						display:block;
						@include transition(color .25s ease-in-out);
						letter-spacing: 0.05rem;
						&:hover{
							color: $dark;
						}
					}
				}
			}
			li.sub-menu {
				position: relative;
				list-style: none;
				display: block;
				margin-bottom: 0;	
				&:hover {					
					> ul {
						opacity: 1; 
						visibility: visible;
						.sub-menu{
							> a{
								position: relative;
								display: block;
							}
						}
						li {
							height: 30px;
							overflow: visible;
							a{
								line-height: 30px;
							}
						}
					}
				}			
				/* Sub menu01 */
				ul {
					min-width: 100%;
					position: absolute;
					top: calc(100% + 1px);
					left: 0px;
					padding: 1rem 1.25rem;
					z-index:99;
					height:auto;
					margin:0;
					opacity: 0;
					visibility: hidden;
					background: $light;
					@include transition(opacity .25s ease .1s);
                  	list-style:none;
					li {
						height: 0;
						overflow: hidden;
						margin:0;
						@include transition(height .25s ease .1s);
						&:hover {
							> ul{
								z-index:999;
								> ul{ 
									opacity: 1; 
									visibility: visible;
									> li {
										height: 30px;
										overflow: visible;
										a{
											line-height: 30px;
										}
									}
								}
							}
						}
						ul{
							position: absolute;
							top: 0px;
							left:100%;
							opacity: 0;						
						 	@include transition(opacity .25s ease .1s);
							li {
								height: 0;
								overflow: hidden;
								padding: 0;
																			
								@include transition(height .25s ease .1s);					
								a {
									margin: 0;								
									border: none;
								}
								&:last-child { 
									> a { 
										border: none; 
									}
								}
							}
						}
					}			
				}
			}
			li.mega-menu{
				.mega-sub-list{
					position: static;
					.sub-list{
						position: absolute;
						top: 0;
						height: 100%;
						left: 33.33%;
						opacity: 0;
						border-left:1px solid $gray-300;
						background: $white;
						visibility: hidden;
					}			
				}			
				.menu_dropdown{	
					width: 100%;
					position: absolute;
					margin: 0 auto;
					top: calc(100% + 1px);
					left: 0;
					right: 0;
					height: auto;
					opacity: 0;
					visibility: hidden;
					background-color: $white;
					overflow: hidden;
					@include transition(all 0.15s ease-in-out 0.1s);
					@include clearfix();
					ul{
						margin: 0;
						li{
							&:hover{
								.sub-list{
									opacity: 1;
									visibility: visible;
								}
							}
						}
					}
					.col{
						&:last-child{
							border-right:0 !important;
						}
					}
				}
				&:hover{
					.menu_dropdown{	
						opacity: 1;
						visibility: visible;
					}
				}
				&:hover{
					.menu-active{
						.sub-list{
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
			li.halfmega-menu {
				position: relative;
				list-style: none;
				display: block;
				margin-bottom: 0;	
				&:hover {					
					> ul {
						opacity: 1; 
						visibility: visible;
						.sub-menu{
							> a{
								position: relative;
								display: block;
								&:after{
									position: absolute;
									right: 1rem;
									top: 50%;
								}
							}
						}
						li {
							// height: 30px;
							overflow: visible;
							height: auto;
						}
					}
				}			
				/* Sub menu01 */
				> ul {
					min-width: 100%;
					position: absolute;
					top: calc(100% + 1px);
					left: 0px;
					padding: 0.5rem 0rem 1rem;
					z-index:99;
					height:auto;
					margin:0;
					opacity: 0;
					visibility: hidden;
					background: $light;
					@include transition(opacity .25s ease .1s);		
				}
			}			
		}
	}
	

	/*======================================================================
		#Moblie Menu
	=======================================================================*/


	#mobile-navigation{
		.meanmenu-reveal{
			display: none;
		}
		.mean-nav{
			> ul{
				display: block !important;
			}
		}
		.menu-close {
			width: 40px;
			height: 40px;
			display: block;
			position: relative;
			cursor: pointer;
			@include media-breakpoint-down(sm) {
				width: 34px;
				height: 34px;
			}
			&:before,
			&:after{
				position: absolute;
				display: block;
				top:50%;
				left: 50%;
				width:22px;
				height:2px;
				background-color:$primary;
				content: "";
			}
			&:before{
				transform: translate(-50% , -50%) rotate(45deg);
			}
			&:after{
				width:2px;
				height:22px;
				transform: translate(-50% , -50%) rotate(45deg);
			}
		}
	}	


	.mean-container {
		.menu_dropdown{
			.grid{
				margin:0; 				
				.sub-nav{
					width: 100%;
					padding: 0;
				}
				.img-nav{
					display: none;
				}
			}
		}
		.mean-nav {
			width: 100%;
            max-height:calc(100vh - 86px);
			border-top:1px solid $light;
			overflow: auto;	
          	// @include media-breakpoint-down(sm) {                            	
			// 	top: 40px;
			// 	max-height:calc(100vh - 40px);
            // }
			ul {
				padding: 0;
				margin: 0;
				width: 100%;
				list-style-type: none;
				li {
					position: relative;
					width: 100%;
					margin-bottom: 0;
                    &.active{
                        > a{
                          	color:$secondary;
                        }
                    }
					a , h5{
						display: block;
						width: 100%;
						padding: 10px 20px;
						margin: 0;
						text-align: left;
						// color: $dark;
						font-size: 14px;
						font-weight: 500;
						// line-height: 10px;
						line-height: 26px;
						margin-bottom: 0;
						border-bottom: 1px solid $border-color;
						text-decoration: none;
						text-transform: uppercase;
						font-weight: 400 !important;
						// @include media-breakpoint-down(md){
						// 	color: $gray-200;
						// }
						@include media-breakpoint-down(lg){
							font-size: 15px;
						}
						&:hover {
							background: #252525;
							background: rgba(255,255,255,0.1);
						}
						&.mean-expand {
							width: 46px;
							height: 46px;
							border: none !important;
							padding: 12px !important;
							text-align: center;
							position: absolute;
							right: 0;
							top: 2px;
							z-index: 2;
							font-weight: 700;
							@include media-breakpoint-down(sm){
							top: 0px;
							}
							&:after,
							&:before{
								content:'';
								width:12px;
								height:2px;
								position:absolute;
								background-color:$primary;
								display:block;
								top: 22px;
								left: 17px;
							}
							&:after{
								width:2px;
								height:12px;
								top: 17px;
								left: 22px;
							}
							&.mean-clicked{
								&:after{
									display:none;
								}
							}
							&:hover {
								background: none;
							}
						}						
					}
					&.mean-last {
						a {
							 // text-align: right;
							border-bottom: none;
							margin-bottom: 0;
						}
					}
					li{
						a, h5{
							width: 100%;
							padding: 10px 30px;
							border-bottom: 0;
							@include media-breakpoint-down(lg){
								padding: 4px 30px;
							}
						}
                      	h5 {
                          	text-transform:uppercase;
                        }
                      	a {
                          	text-transform:capitalize;
                        }
						li{
							a, h5{
								width: 100%;
								padding: 10px 35px;                              
							}
							li{
								a, h5{
									width: 100%;
									padding: 10px 40px;
								}
								li{
									a, h5{
										width: 50%;
										padding:10px 45px;
									}
								}
							}
						}
					}				
				}		
			}
		}
		.mean-push {
			float: left;
			width: 100%;
			padding: 0;
			margin: 0;
			clear: both;
		}

		.row{
			margin: 0; 
			@include media-breakpoint-down(lg){
				display: block;
			}
			[class^="col-"]{
				padding-left:0;
				padding-right:0;
			}
		}
		.container{
			padding:0; 
		}

	}
	
	.mega-list{
		@include media-breakpoint-up(ex-lg){
			-webkit-column-count: 2; /* Chrome, Safari, Opera */
			-moz-column-count: 2; /* Firefox */
			column-count: 2;
		}
	}

	.mega-list-img{
		display: inline-block;
		vertical-align: middle;
		.mega-item-img {
			width: 50px;
			display: block;
		}
	}
.down-menu{
	> .mean-expand{
		// top: 2px !important;
	}
	> ul{
		li{
			&:first-child{
				@include media-breakpoint-down(lg){
					margin-top: 12px;
				}
			}
			a{
				@include media-breakpoint-down(lg){
					font-size: 14px !important;
					line-height: 1.6 !important;
				}
			}
		}
	}
}