<div class="blog-team-template my-2">
{% paginate blog.articles by 100 %}
  <h1 class="text-center text-uppercase">{{ blog.title }}</h1>
<div class="container">
  <div class="row">
    {% for article in blog.articles %}
       <div class=" col-12 col-lg-4 col-ex-lg-4 col-xl-4 col-md-6 team-article">
        {% if article.excerpt != blank %}
          <a class="article__featured-image" href="{{ article.url }}">
            {{ article.excerpt }}
          </a>
        {% endif %}

        <a href="{{ article.url }}">
          <h4 class="mt-2 mb-0 font-weight-bold">{{ article.title }}</h4>
        </a>

        {% for tag in article.tags %}
          {% if tag contains 'hometown - ' %}
            <span class="member-tag">{{ tag | remove: 'hometown - ' }}</span>
          {% endif %}
        {% endfor %}

        <p class="h6 font-weight-normal">{{ article.content | strip_html | truncate: 125 }}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endpaginate %}
</div>