<section class="section-content">
  <div class="container">
    <div class="row">
      <div class="col-12 px-sm-4 text-center">
        <h2 class="page-title text-uppercase font-weight-bold text-center mb-4">{{ page.title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="rte">{{ page.content }}</div>
      </div>
    </div>
  </div>
</section>
