
<section class="section-content">
  <div class="container">
    <div class="row">
      <div class="col-12 px-sm-4 text-center">
        <h2 class="text-uppercase font-weight-bold text-center mb-4">{{ page.title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-12 my-0 mx-auto">
        <div class="brand__logos">
            <div class="row align-items-center">
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-md-3 mb-2">
                    <a href="/collections/diamond-mma">
                    <img src="//cdn.shopify.com/s/files/1/0858/7748/t/48/assets/logo-diamond-mma.png?7564130037034828474">
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-md-3 mb-2">
                    <a href="/collections/fuji">
                    <img src="//cdn.shopify.com/s/files/1/0858/7748/t/48/assets/logo-fuji.png?7564130037034828474">
                    </a>
                </div>
                {% comment %} <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-md-3 mb-2">
                    <a href="/collections/hayabusa">
                    <img src="//cdn.shopify.com/s/files/1/0858/7748/t/48/assets/logo-hayabusa.png?7564130037034828474">
                    </a>
                </div> {% endcomment %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-md-3 mb-2">
                    <a href="/collections/hypnotik">
                    <img src="//cdn.shopify.com/s/files/1/0858/7748/t/48/assets/logo-hypnotik.png?7564130037034828474">
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-md-3 mb-2">
                    <a href="/collections/reebok">
                    <img src="//cdn.shopify.com/s/files/1/0858/7748/t/48/assets/logo-reebok.png?7564130037034828474">
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-md-3 mb-2">
                    <a href="/collections/rvca">
                    <img src="//cdn.shopify.com/s/files/1/0858/7748/t/48/assets/logo-rvca.png?7564130037034828474">
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-md-3 mb-2">
                    <a href="/collections/roots-of-fight">
                    <img src="//cdn.shopify.com/s/files/1/0858/7748/t/48/assets/logo-roots-of-fight.png?7564130037034828474">
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-md-3 mb-2">
                    <a href="/collections/scramble">
                    <img src="//cdn.shopify.com/s/files/1/0858/7748/t/48/assets/logo-scramble.png?7564130037034828474">
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-md-3 mb-2">
                    <a href="/collections/tatami">
                    <img src="//cdn.shopify.com/s/files/1/0858/7748/t/48/assets/logo-tatami.png?7564130037034828474">
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-md-3 mb-2">
                    <a href="/collections/venum">
                    <img src="//cdn.shopify.com/s/files/1/0858/7748/t/48/assets/logo-venum.png?7564130037034828474">
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-md-3 mb-2">
                    <a href="/collections/virus">
                    <img src="//cdn.shopify.com/s/files/1/0858/7748/t/48/assets/logo-virus.png?7564130037034828474">
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
