<section class="section-content promotions">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-12 mx-auto my-0 px-sm-4 text-center">
        <h2 class="page-title text-uppercase font-weight-bold text-center mb-4">{{ page.title }}</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-12 mx-auto my-0 px-sm-4">
            <div>
                {% comment %} <a href=""><img src="https://cdn.shopify.com/s/files/1/0858/7748/t/48/assets/promotion_1_image_400x400.jpg?7175113093218858230" class="mb-6" /></a> {% endcomment %}
                <div class="rte">{{ page.content }}</div>
            </div>
        </div>
    </div>
  </div>
</section>