<section id="product-feature" class="bg-gray-300 pb-ex-lg-10 pb-8 mb-lg-6 mb-5 pt-lg-4 pt-8" {{ block.shopify_attributes }}>
    <div class="container">
        <div class="row mt-0">
            {% for block in section.blocks %}
                {% if block.type == 'fetaures-products' %}
                <div class="col-6 col-md-3 text-center mb-5 mb-md-0">
                    <div class="feature-img d-flex align-items-center justify-content-center mb-5">
                        <img src="{{ block.settings.feature_img1 }}" />
                    </div>
                    <a href="{{ block.settings.feature_url1 }}" class="text-uppercase mb-0 px-0 px-lg-6 px-ex-lg-8 h3 text-gray-900 d-flex align-items-center justify-content-center">{{ block.settings.feature_text1 }}</a>
                </div>
                <div class="col-6 col-md-3 text-center mb-5 mb-md-0">
                    <div class="feature-img d-flex align-items-center justify-content-center mb-5">
                        <img src="{{ block.settings.feature_img2 }}" />
                    </div>
                    <a href="{{ block.settings.feature_url2 }}" class="text-uppercase mb-0 px-0 px-lg-6 px-ex-lg-8 h3 text-gray-900 d-flex align-items-center justify-content-center">{{ block.settings.feature_text2 }}</a>
                </div>
                <div class="col-6 col-md-3 text-center mb-5 mb-md-0">
                    <div class="feature-img d-flex align-items-center justify-content-center mb-5">
                        <img src="{{ block.settings.feature_img3 }}" />
                    </div>
                    <a href="{{ block.settings.feature_url3 }}" class="text-uppercase mb-0 px-0 px-lg-6 px-ex-lg-8 h3 text-gray-900 d-flex align-items-center justify-content-center">{{ block.settings.feature_text3 }}</a>
                </div>
                <div class="col-6 col-md-3 text-center mb-5 mb-md-0">
                    <div class="feature-img d-flex align-items-center justify-content-center mb-5">
                        <img src="{{ block.settings.feature_img4 }}" />
                    </div>
                    <a href="{{ block.settings.feature_url4 }}" class="text-uppercase mb-0 px-0 px-lg-6 px-ex-lg-8 h3 text-gray-900 d-flex align-items-center justify-content-center">{{ block.settings.feature_text4 }}</a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>