<div v-if="promoProducts" class="row justify-content-center">
  <div class="d-flex align-items-stretch col-12 col-lg-6"
        v-for="promo in promoProducts"
        :key="promo.id"
        v-if="promo.isVisible && !promo.isInCart && promo.isEnabled">
    <div class="card mb-4"
        data-promo-product
        :data-mode="promo.mode">
      <span class="badges">
        <span class="badge bg-success text-white">Free Gift!</span>
      </span>
      <div class="row no-gutters">
        <div class="col-12 col-sm-4 d-flex align-items-center">
          <a :href="'/products/' + promo.handle">
            <img :src="promo.featuredImage" class="img-fluid" :alt="promo.handle">
          </a>
        </div>
        <div class="col d-flex align-items-center">
          <div class="inner p-4">
            <h6 v-if="promo.isTeaserEnabled && promo.qualifier == 'minimum_cart_amount'">
              Spend <span v-text="_calcPromoRemainingAmount(promo.qualifierAmount)"></span> more and get a FREE GIFT!
            </h6>
            <h6 v-else v-html="promo.customMessage"></h6>
            <a :href="'/products/' + promo.handle" v-text="promo.currentVariant.name" class="d-block"></a>
            <a href="#" v-if="!promo.isTeaserEnabled && promo.mode == 'manual'" @click.prevent="_addPromoToCart(promo.id, $event)" rel="nofollow" class="btn btn-primary btn-sm mt-2">{{ 'products.product.add_to_cart' | t }}</a>
          </div>
        </div>
        <div class="col-3 col-sm-2 col-lg-3 col-xl-2 d-flex align-items-center">
          <div class="inner text-right">
            <s class="price m-0 p-0" v-html="_formatMoney(promo.currentVariant.price)"></s>
            <div>FREE</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
