{% assign total_items = block.settings.recently_viewed_products_view %}

<section v-if="recentlyViewed.length > 0" class="section-recently-viewed-products {% if block.settings.recently_viewed_products_section_padding %}section-content{% endif %}" style="background-color: {{ block.settings.recently_viewed_products_section_bg_color }}; color: {{ block.settings.recently_viewed_products_section_txt_color }}" {{ block.shopify_attributes }} >
  <div class="{% if block.settings.recently_viewed_products_fluid_layout %}container-fluid{%else%}container{% endif %}">
    <div class="row {% if block.settings.recently_viewed_products_section_no_gutters %}no-gutters{% endif %}">
      <div class="col text-center">

        {% if block.settings.recently_viewed_products_heading_txt != '' %}
          <h2 class="font-weight-bold text-center mb-0 text-uppercase heading-text letter-spacing-minus">{{ block.settings.recently_viewed_products_heading_txt }}</h2>
        {% endif %}

        <div v-if="recentlyViewed.length > 4" class="slider-flickity product-slider carousel"
          data-flickity-recently-viewed='{
            "adaptiveHeight": true,
            "contain": true,
            "wrapAround": false,
            "freeScroll": false,
            "groupCells": "100%",
            "accessibility": true,
            "setGallerySize": true,
            "dragThreshold": 20,
            "lazyLoad": true,
            "pageDots": false
           }'>

           <div v-for="product in recentlyViewed.slice(0, {{ total_items }})" class="carousel-cell d-flex equal-height
           {% if block.settings.recently_viewed_products_fluid_layout %} col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 {% else %} col-12 col-sm-6 col-lg-4 col-xl-3 {% endif %}" role="gridcell">
          	<form data-product-form data-form-type="listing" :data-product-id="product.id" action="/cart/add" method="post" enctype="multipart/form-data" class="no-gutters card card-product text-left border-0">
              <div class="card card-product text-left">
                <span class="badges">
                   <span v-if="product.current_variant.compare_at_price > product.current_variant.price" class="badge bg-red text-uppercase text-white">{{ 'products.product.on_sale' | t | escape }}</span>
                </span>
                <div class="card-img text-center" :class="{'bg-gray-300': !product.featured_image}">
                  <a class="d-block product-img position-relative" v-if="product.featured_image" :href="_getvariantUrl(product.product_handle, product.id)">
                    <img
                        :data-flickity-lazyload-src="_getSizedImageUrl(product.featured_image, 'pico')"
                        :data-flickity-lazyload-srcset="_getSizedImageUrl(product.featured_image, '600x')"
                        :alt="product.name" class="img-fluid lazyload"/>
                  </a>
                  <span v-else>
                    {{ 'product-1' | placeholder_svg_tag: 'img-fluid' }}
                  </span>
                </div>
                <div class="card-body pt-3 pb-0 px-xl-5 px-md-4 px-3 position-relative">
                  <div class="add-to-cart d-flex align-items-center pb-3 position-absolute">
                    <button class="btn-primary btn px-0 flex-grow-1 d-flex align-items-center justify-content-center p-0 line-height-normal"
                        type="submit"
                        name="add"
                        aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
                        :disabled="!product.available"
                        v-if="!product.available"
                        :data-cart-limit="product.cart_limit"
                        @click.prevent="_addToCart(product.id, $event)">
                          Sold out
                      </button>
                    <button class="btn-primary btn px-0 flex-grow-1 d-flex align-items-center justify-content-center p-0 line-height-normal"
                        type="submit"
                        name="add"
                        v-else
                        aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
                        :disabled="!product.available"
                        :data-cart-limit="product.cart_limit"
                        @click.prevent="_addToCart(product.id, $event)">
                          {{ 'products.product.add_to_cart' | t }}
                      </button>
                      <button data-adding class="btn-primary btn px-0 flex-grow-1 d-flex align-items-center justify-content-center p-0 line-height-normal adding-check"></button>
                  </div>
                  <h4 class="mb-1 mt-0"><a :href="'/products/' + product.product_handle" v-text="product.name" class="h4 font-weight-bold"></a></h4>
                  <p class="mb-0 compare-price" v-if="(product.compare_at_price)">
                    <span v-html="_formatMoney(product.price)" class="price text-red h4 mb-3 d-inline-block" :class="{'no-compare': !product.compare_at_price}"></span>
                    <s class="text-gray-700 ml-2" v-if="product.compare_at_price > product.price" v-html="_formatMoney(product.compare_at_price)"></s>
                  </p>
                  <p class="mb-0" v-else>
                    <span v-html="_formatMoney(product.price)" class="price text-red h4 mb-3 d-inline-block" :class="{'no-compare': !product.compare_at_price}"></span>
                  </p>
                </div>
                <div class="quantity-wrapper d-none" data-qty-container>
                  <label for="Quantity" class="small">{{ 'products.product.quantity' | t }}</label>
                  <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <a href="#" class="input-group-text" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease @click.prevent="_updateQty($event)">
                    <span class="btn-decrease"><i class="icon ion-md-remove"></i></span>
                    </a>
                  </div>
                  <input type="number" name="quantity" aria-label="quantity" value="1" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center" readonly>
                  <div class="input-group-append">
                    <a href="#" class="input-group-text" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase @click.prevent="_updateQty($event)">
                    <span class="btn-increase"><i class="icon ion-md-add"></i></span>
                    </a>
                  </div>
                  </div>
                </div>
                {% comment %} <div class="card--footer pb-3 px-xl-5 px-md-4 px-3">  
                  <div class="yotpo bottomLine" :data-product-id="product.id"></div>  
                </div> {% endcomment %}
              </div>
            </form>
         </div>
        </div>

        <div v-else class="slider-flickity product-slider carousel">

           <div v-for="product in recentlyViewed.slice(0, {{ total_items }})" class="carousel-cell d-flex equal-height
           {% if block.settings.recently_viewed_products_fluid_layout %} col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 {% else %} col-12 col-sm-6 col-lg-4 col-xl-3 {% endif %}" role="gridcell">
          	<form data-product-form data-form-type="listing" :data-product-id="product.id" action="/cart/add" method="post" enctype="multipart/form-data" class="no-gutters card card-product text-left border-0">
              <div class="card card-product text-left">
                <span class="badges">
                  <span v-if="product.compare_at_price > product.price" class="badge bg-red text-uppercase text-white">{{ 'products.product.on_sale' | t | escape }}</span>
                </span>
                <div class="card-img text-center" :class="{'bg-gray-300': !product.featured_image}">
                  <a class="d-block product-img position-relative" v-if="product.featured_image" :href="_getvariantUrl(product.product_handle, product.id)">
                    <img
                        :data-flickity-lazyload-src="_getSizedImageUrl(product.featured_image, 'pico')"
                        :data-flickity-lazyload-srcset="_getSizedImageUrl(product.featured_image, '600x')"
                        :alt="product.name" class="img-fluid lazyload"/>
                  </a>
                  <span v-else>
                    {{ 'product-1' | placeholder_svg_tag: 'img-fluid' }}
                  </span>
                </div>
                <div class="card-body pt-3 pb-0 px-xl-5 px-md-4 px-3 position-relative">
                  <div class="add-to-cart d-flex align-items-center pb-3 position-absolute">
                    <button class="btn-primary btn px-0 flex-grow-1 d-flex align-items-center justify-content-center p-0 line-height-normal"
                        type="submit"
                        name="add"
                        aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
                        :disabled="!product.available"
                        v-if="!product.available"
                        :data-cart-limit="product.cart_limit"
                        @click.prevent="_addToCart(product.id, $event)">
                          Sold out
                      </button>
                    <button class="btn-primary btn px-0 flex-grow-1 d-flex align-items-center justify-content-center p-0 line-height-normal"
                        type="submit"
                        name="add"
                        v-else
                        aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
                        :disabled="!product.available"
                        :data-cart-limit="product.cart_limit"
                        @click.prevent="_addToCart(product.id, $event)">
                          {{ 'products.product.add_to_cart' | t }}
                      </button>
                  </div>
                  <h4 class="mb-1 mt-0"><a :href="'/products/' + product.product_handle" v-text="product.name" class="h4 font-weight-bold"></a></h4>
                  <p class="mb-0 compare-price" v-if="(product.compare_at_price)">
                    <span v-html="_formatMoney(product.price)" class="price text-red h4 mb-3 d-inline-block" :class="{'no-compare': !product.compare_at_price}"></span>
                    <s class="text-gray-700 ml-2" v-if="product.compare_at_price > product.price" v-html="_formatMoney(product.compare_at_price)"></s>
                  </p>
                  <p class="mb-0" v-else>
                    <span v-html="_formatMoney(product.price)" class="price text-red h4 mb-3 d-inline-block" :class="{'no-compare': !product.compare_at_price}"></span>
                  </p>
                </div>
                <div class="quantity-wrapper d-none" data-qty-container>
                  <label for="Quantity" class="small">{{ 'products.product.quantity' | t }}</label>
                  <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <a href="#" class="input-group-text" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease @click.prevent="_updateQty($event)">
                    <span class="btn-decrease"><i class="icon ion-md-remove"></i></span>
                    </a>
                  </div>
                  <input type="number" name="quantity" aria-label="quantity" value="1" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center" readonly>
                  <div class="input-group-append">
                    <a href="#" class="input-group-text" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase @click.prevent="_updateQty($event)">
                    <span class="btn-increase"><i class="icon ion-md-add"></i></span>
                    </a>
                  </div>
                  </div>
                </div>
                {% comment %} <div class="card--footer pb-3 px-xl-5 px-md-4 px-3">  
                  <div class="yotpo bottomLine" :data-product-id="product.id"></div>  
                </div> {% endcomment %}
              </div>
            </form>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>
