{% assign total_items = block.settings.related_products_view | plus: 1  %}
{% assign productExcludeTag = settings.product_exclude_tag_text %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
    {% assign found_a_collection = false %}
    {% for c in product.collections %}
        {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
            {% assign found_a_collection = true %}
            {% assign collection = c %}
        {% endif %}
    {% endfor %}
{% endif %}

<section v-if="relatedProducts.length > 0" id="related-items" data-template="collection" class="pt-lg-10 pt-6 section-related-products {% if block.settings.related_products_section_padding %}section-content{% endif %}" style="background-color: {{ block.settings.related_products_section_bg_color }}; color: {{ block.settings.related_products_section_txt_color }}" {{ block.shopify_attributes }} >
  <div class="container">
    {% if block.settings.related_products_heading_txt != '' %}
        <h2 class="font-weight-bold text-center mb-0 text-uppercase heading-text letter-spacing-minus">{{ block.settings.related_products_heading_txt }}</h2>
    {% endif %}
    <div class="row {% if block.settings.related_products_section_no_gutters %}no-gutters{% endif %} justify-content-center slider-flickity product-slider carousel" data-flickity-related-viewed='{  "adaptiveHeight": true,
            "contain": true,
            "wrapAround": false,
            "freeScroll": false,
            "groupCells": "100%",
            "accessibility": true,
            "setGallerySize": true,
            "dragThreshold": 20,
            "lazyLoad": true,
            "pageDots": false}'>
        <div v-for="(product, index, key) in relatedProducts" :key="product.id" class="col-lg-3 col-md-4 col-sm-6 col-12 d-flex align-items-stretch justify-content-around items my-3">
            {% include 'card-product-style-4' %}          
        </div>
    </div>
  </div>
</section>


{% assign current_product = product %}
{% assign current_product_found = false %}
{% assign handleProd = product.handle %}

{% for product in collection.products limit: total_items %}
    {% if product.metafields.yotpo.reviews_count != blank %}
        <script type="application/json" data-{{product.id}}-view-detail-json>
            {
                "reviews_count": {{ product.metafields.yotpo.reviews_count }},
                "reviews_average": {{ product.metafields.yotpo.reviews_average }}
            }
        </script>
    {% endif %}
{% endfor %}

{% for product in collection.products limit: total_items %}
    {% if product.handle == current_product.handle %}
        {% assign current_product_found = true %}
    {% else %}
        {% unless current_product_found == false and forloop.last and product.tags and handleProd == product.handle %}
            {% unless product.tags contains productExcludeTag %}
                <script type="application/json" data-related-product-json>
                {
                    "product": {{ product | json }},
                    "options_with_values": {{ product.options_with_values | json }}
                }
                </script>
            {% endunless %}
        {% endunless %}
    {% endif %}
{% endfor %}