<section class="section-content bg-white" {{ block.shopify_attributes }}>
  <div class="{% if block.settings.product_tabs_fluid_layout %}container-fluid{% else %}container{% endif %}">
    <div id="productTabs" data-product-tabs>
      <ul class="nav nav-pills justify-content-center" role="tablist">
        {% if template_type == 'modern' and product.description %}
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#description" role="tab">{{ 'products.product.description' | t }}</a>
        </li>
        {% endif %}
        {% if block.settings.enable_custom_tab_1 %}
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#custom-tab-1" role="tab">{{ block.settings.tab_1_title }}</a>
        </li>
        {% endif %}
        {% if block.settings.enable_custom_tab_2 %}
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#custom-tab-2" role="tab">{{ block.settings.tab_2_title }}</a>
        </li>
        {% endif %}
        {% if block.settings.enable_reviews_tab %}
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
        </li>
        {% endif %}
      </ul>
      <div class="tab-content text-left" id="productTabsContent">
        {% if template_type == 'modern' and product.description %}
        <div class="tab-pane fade show" id="description" role="tabpanel">
          <div class="rte pt-5 px-lg-6">{{ product.description }}</div>
        </div>
        {% endif %}
        {% if block.settings.enable_custom_tab_1 %}
        <div class="tab-pane fade show" id="custom-tab-1" role="tabpanel">
          <div class="rte pt-5">{{ pages[block.settings.tab_1_content].content }}</div>
        </div>
        {% endif %}
        {% if block.settings.enable_custom_tab_2 %}
        <div class="tab-pane fade show" id="custom-tab-2" role="tabpanel">
          <div class="rpt-5">{{ block.settings.tab_2_content }}</div>
        </div>
        {% endif %}

        <div class="tab-pane fade show" id="reviews" role="tabpanel">
          <div class="pt-5">
            <div class="yotpo yotpo-main-widget" 
            data-product-id="{{ product.id }}"
            data-price="{{ variant.price | money_without_currency }}"
            data-currency="{{ shop.currency }}" 
            data-name="{{ product.title | escape }}" 
            data-url="{{ shop.url }}{{ product.url }}" 
            data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
            data-description="{{ product.description | escape }}"> 
            </div>
          </div>
        </div>

      </div>
    </div>
</section>
