
<section class="highlights">
    <div class="yotpo yotpo-shoppers-say" data-product-id="{{ product.id }}">&nbsp;</div>
</section>

<section class="review mb-5" id="review">
    <div class="container">
        <h2 class="font-weight-bold text-center mb-0 text-uppercase heading-text letter-spacing-minus mb-4">REVIEWS</h2>
        <div class="yotpo yotpo-main-widget" 
            data-product-id="{{ product.id }}"
            data-price="{{ variant.price | money_without_currency }}"
            data-currency="{{ shop.currency }}" 
            data-name="{{ product.title | escape }}" 
            data-url="{{ shop.url }}{{ product.url }}" 
            data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
            data-description="{{ product.description | escape }}"> 
        </div>
    </div>
</section>
