  {% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
<nav aria-label="breadcrumb" class="bg-gray-300">
<div class="container">
<ol class="breadcrumb bg-transparent font-size-sm px-0 mb-0 py-2">
  <li class="breadcrumb-item"><a href="{{shop.url}}">Home</a></li>
  {% if template contains 'page' %}
    <span aria-hidden="true">&rsaquo;</span>
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
  {% elsif template contains 'product' %}
    {% if collection.url %}
      <span aria-hidden="true">&rsaquo;</span>
      {{ collection.title | link_to: collection.url }}
    {% endif %}
    <span aria-hidden="true">&rsaquo;</span>
    <<li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
  {% elsif template contains 'collection' and collection.handle %}
    <span aria-hidden="true">&rsaquo;</span>
    {% if current_tags %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      {{ collection.title | link_to: url }}
      <span aria-hidden="true">&rsaquo;</span>
      <li class="breadcrumb-item active" aria-current="page">{{ current_tags | join: " + " }}</li>
    {% else %}
      <li class="breadcrumb-item active" aria-current="page">{{ collection.title }}</li>
    {% endif %}
  {% elsif template == 'blog' %}
    <span aria-hidden="true">&rsaquo;</span>
    {% if current_tags %}
      {{ blog.title | link_to: blog.url }}
      <span aria-hidden="true">&rsaquo;</span>
      <li class="breadcrumb-item active" aria-current="page">{{ current_tags | join: " + " }}</li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page">{{ blog.title }}</li>
    {% endif %}
  {% elsif template == 'article' %}
    <span aria-hidden="true">&rsaquo;</span>
    {{ blog.title | link_to: blog.url }}
    <span aria-hidden="true">&rsaquo;</span>
    <li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>
  {% else %}
   <span aria-hidden="true">&rsaquo;</span>
   <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
  {% endif %}
</div>
</nav>
{% endunless %}