{% assign bundle_collection = collections[product.handle] %}

<input type="hidden" name="properties[_bundle]" value="{{ product.handle }}" />
<input type="hidden" name="properties[_bundle_title]" value="{{ product.title | escape }}" />
<input type="hidden" name="properties[_bundle_image_url]" value="{{ product | img_url: 'medium' }}" />
<input type="hidden" name="properties[_bundle_price]" value="{{ product.price }}" />

<div class="bundles" data-bundles>
{% for product in bundle_collection.products %}
  {% assign index = forloop.index %}
    <div class="row py-4 border-bottom" data-one-product>
      <div class="col-md-4 col-5">
        <img id="bundle-{{ product.handle }}-image" src="{{ product | img_url: 'medium' }}" alt="{{ product.title }}" />
      </div>

      <div class="col-md-8 col-7">
        <h3 class="text-capitalize font-weight-bold mb-3">{{ product.title | escape }}</h3>
        <div class="my-3 d-flex justify-content-between for-flex-inherit">
          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %} 
              {% assign option_name = option.name | downcase %}
              <div class="selector-wrapper w-100 {% if option_name == 'size' %}order-{{ forloop.index }}{% endif %} {% if option_name == 'color' %}mb-3{% endif %}">
                <label for="SingleOptionSelector-{{ forloop.index }}" class="h4 text-uppercase font-weight-bold">
                  {{ option.name }} 
                </label>
                <label class="h4" {% if option_name == 'size' %}data-sizeCode{% endif %} {% if option_name == 'color' %}data-colorCode{% endif %}></label>
                {% if enable_color_swatches and option_name == 'color' %}
                  {% comment %} Color swatches {% endcomment %}
                  <ul class="list-unstyled list-inline mb-0 py-0 mt-1 for-color" data-for-color data-for-color-product>
                    {% for value in option.values %}
                      <li class="list-inline-item" data-id="color">
                        <div class="color-swatch form-check pl-0 pr-xl-3 pr-2">
                            <input
                              id="{{product.title }}{{ value | escape }}"
                                type="radio"
                                name="color-{{ product.handle }}"
                                aria-label="color"
                                value="{{ value | escape }}"
                                class="{% if value == 'White'%}colorWhite{% endif %}"
                                data-single-option-selector
                                data-index="option{{ option.position }}"
                                {% if option.selected_value == value %}checked{% endif %} >
                            <label
                              for="{{product.title }}{{ value | escape }}"
                              class="form-check-label"
                              data-toggle="tooltip"
                              data-trigger="hover"
                              title="{{ value | escape | replace: '-', ' ' }}"
                              :style="_getSwatchStyle('{{ value }}')">
                              <span class="d-block text-center cursor-pointer position-relative"></span>
                          </label>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>

                {% elsif enable_size_swatches and option_name == 'size' %}
                  {% comment %} Size swatches {% endcomment %}
                  <div class="d-flex align-items-center flex-wrap mb-2">
                    <ul class="list-unstyled list-inline my-0 py-0 clearfix for-size mr-4" data-for-size>
                      {% for value in option.values %}
                        <li class="list-inline-item d-block float-left">
                          <div class="size-swatch">
                            <label>
                                <input
                                class="border cursor-pointer"
                                  data-single-option-selector
                                  type="radio"
                                  name='size-{{ product.handle }}'
                                  aria-label="size"
                                  value="{{ value | escape }}"
                                  data-index="option{{ option.position }}"
                                  {% if option.selected_value == value %}checked="checked"{% endif %} >
                            </label>
                          </div>
                        </li>
                      {% endfor %}
                    </ul>
                    {% if product.tags contains 'enable-size-chart' %}
                      <a data-toggle="modal" data-target="#modal-{{ product.handle }}" style="text-decoration:underline;" class="text-gray-900 h6 cursor-pointer">Size Chart</a>
                    {% endif %}
                    </div>
                    {% if product.available == false %}
                      <h6 class="text-gray-200">Can't find your size? <a href="#" style="text-decoration:underline;" id="BIS_trigger" class="text-gray-200 mb-0" data-variant-id="{{  product.selected_or_first_available_variant.id }}">Get notified for restock</a></h6>
                    {% endif %}
                {% else %}
                  {% comment %} Normal select {% endcomment %}
                  <select
                    class="form-control form-control-sm"
                    data-single-option-selector
                    data-index="option{{ option.position }}"
                    @change="_getVariant($event)">
                    {% for value in option.values %}
                      <option
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                      </option>
                    {% endfor %}
                  </select>
                {% endif %}
              </div>
            {% endfor %}
          {% endunless %}

        </div>
        
        <div class="bundle-select-wrapper">
          {% if product.variants.size > 1 %}
            <select id="ProductSelect_{{ product.id }}" name="id[]" class="bundle-select" data-bundle-variant>
              {% assign reverse_posts = product.variants | reverse %}
              {% for variant in reverse_posts %} 
                <option value="{{ variant.id }}" class="{% unless variant.available %}unavailable{% endunless %}" {% unless variant.available %}disabled="disabled"{% endunless %} {% if variant.id == product.selected_or_first_available_variant.id %}selected="selected"{% endif %}>
                  {{ variant.title | escape }}
                </option>
              {% endfor %}
            </select>
          {% else %}
          <input type="hidden" name="id[]" value="{{ product.selected_or_first_available_variant.id }}" />
          {%- unless product.variants.first.title == 'Default Title' -%}
            {%- unless product.variants.first.title == 'Default' -%}
              {{ product.options.first }}: {{ product.variants.first.title }}
            {%- endunless -%}
          {%- endunless -%}
          {% endif %}
        </div>

        <div class="d-block align-items-center justify-content-between">
          <div id="bundle-{{ product.handle }}-sku" class="text-uppercase product-single__sku font-size-sm font-weight-bold text-gray-200" style="float: none;">#{{ product.selected_or_first_available_variant.sku }}</div>
          <div id="bundle-{{ product.handle }}-barcode" class="text-uppercase product-single__barcode font-size-sm font-weight-bold text-gray-200" style="float: none;">#{{ product.selected_or_first_available_variant.barcode }}</div>
          <div id="bundle-{{ product.handle }}-unavailable" class="text-uppercase text-red font-size-sm font-weight-bold"></div>
        </div>
        {% unless product.available %}
          {% assign bundle_is_unavailable = true %}
        {% endunless %}
      </div>
    </div>

    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    
    <script>
      var selectCallback = function(variant, selector) {
        
      // Update the corresponding bundle product image.
      if(variant && variant.featured_image) {
        var $bundleProductImage = $('#bundle-' + selector.product.handle + '-image');
        var imageSrc = variant.featured_image.src;
        if(Shopify && Shopify.Image && Shopify.Image.getSizedImageUrl) {
          imageSrc = Shopify.Image.getSizedImageUrl(imageSrc, '400x400');
        }
        $bundleProductImage.attr('src', imageSrc);
      }

      // Update the corresponding bundle SKU.
      var $bundleProductUn = $('#bundle-' + selector.product.handle + '-unavailable')
      if(variant == null){
        $bundleProductUn.text('Unavailable')
      }else{
        if(variant.available == true){
          $bundleProductUn.text('')
        }else{
          $bundleProductUn.text('Not Available');
          /*const option1 = variant.option1;
          const option2 = variant.option2;
          console.log(option1 , option2);
          $('[data-for-size] input').each(function(){
              if($(this).val() == variant.option1 || $(this).val() == variant.option2){
                $(this).closest('.size-swatch').addClass('not-available')
              }
            })*/
        }
      }

      if(variant) {
        var $bundleProductSku = $('#bundle-' + selector.product.handle + '-sku');
        $bundleProductSku.text('#' + variant.sku);
        var $bundleProductBarcode = $('#bundle-' + selector.product.handle + '-barcode');
        $bundleProductBarcode.text('#' + variant.barcode);
        
      }
    };

    jQuery(function($) {
    new Shopify.OptionSelectors('ProductSelect_{{product.id}}', {
        product: {{ product | json }},
        onVariantSelected: selectCallback,
        enableHistoryState: true
        });
    });

    jQuery('.swatch :radio').change(function() {
      var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
      var optionValue = jQuery(this).val();
      jQuery(this)
      .closest('form')
      .find('.single-option-selector')
      .eq(optionIndex)
      .val(optionValue)
      .trigger('change');
    });

    </script>
    <div class="modal fade" id="modal-{{ product.handle }}" tabindex="-1" role="dialog" aria-labelledby="{{ product.handle }}" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered size-modal w-100 position-relative" role="document">
        <div class="modal-content">
          <button type="button" aria-hidden="true" data-dismiss="modal" data-size-close-{{ product.handle }} class="size-close d-block bg-transparent border-0 position-absolute cursor-pointer p-0" ><i class="fas fa-times text-white"></i></button>
          <div class="modal-header d-none"></div>
          <div class="modal-body">
            {% include 'size-charts' %}
          </div>
          <div class="modal-footer d-none">

          </div>
        </div>
      </div>
    </div>
{% endfor %}
</div>