{% assign article_image = article.image.src | img_url %}


  <div class="blog-post h-100">
    <div class="card shadow-lg text-left border-0 h-100">
      {% unless article_image contains 'no-image' %}
        <div class="card-img text-center">
          <a href="{{ article.url }}" class="d-block blog-img">
            <img
                data-sizes="auto"
                src="{{ article.image.src | img_url: 'pico'}}"
                data-srcset="
                  {{ article.image.src | img_url: '800x500', crop: 'center' }} 576w,
                  {{ article.image.src | img_url: '800x500', crop: 'center' }} 768w,
                  {{ article.image.src | img_url: '800x500', crop: 'center' }} 992w,
                  {{ article.image.src | img_url: '800x500', crop: 'center' }} 1200w
                  "
                class="img-wrapper position-absolute lazyload"
                alt="{{ article.image.alt | escape }}"/>
          </a>
        </div>
      {% else %}
        <div class="card-img text-center">
          <a href="{{ article.url }}" class="d-block blog-img">
            <img src='{{ "bg-1.png" | asset_img_url:"original" }}' class="img-wrapper position-absolute lazyload"/>
          </a>
        </div>
      {% endunless %}

      <div class="card-body pt-4 pb-0 px-xl-5 px-lg-4 px-3 position-relative">
        <h3><a href="{{ article.url }}" class="font-weight-bold mb-1 h3 text-uppercase">{{ article.title }}</a></h3>
        <p class="h4 mb-3">{{ article.content | strip_html | truncate: 100, '...'}}</p>
      </div>
      <div class="card--footer pb-4 px-xl-5 px-lg-4 px-3">           
        <a href="{{ article.url }}" class="a-link letter-spacing mb-0">read article</a>
      </div>
      {% comment %}
        <div class="small text-muted">
          <i class="icon ion-md-time text-warning"></i>
          <time datetime="formatDate(article.node.publishedAt)"> {{ article.published_at | date: "%a, %b %d, %Y" }}</time>
        </div>
        <div class="card-footer bg-white text-muted small">
          <span class="font-italic font-secondary">by</span> <span class="text-uppercase">{{ article.author }}</span>
        </div>
      {% endcomment %}
    </div>
  </div>
