{% assign current_variant = product.selected_or_first_available_variant %}

<div class="card card-product card-product-style-2 text-left">
  <span class="badges">
    <span v-if="product.current_variant.compare_at_price > product.current_variant.price" class="badge badge-right bg-warning">{{ 'products.product.on_sale' | t | escape }}</span>
  </span>

  <div class="card-img text-center" :class="{'bg-gray-300': !product.featured_image}">
    <img v-if="product.current_variant.featured_image" class="img-fluid lazyload"
        :src="_getSizedImageUrl(product.current_variant.featured_image.src, 'large')"
        :data-src="_getSizedImageUrl(product.current_variant.featured_image.src, '600x')"
        :alt="product.title"/>
    <img v-else class="img-fluid lazyload"
          :src="_getSizedImageUrl(product.featured_image, 'large')"
          :data-src="_getSizedImageUrl(product.featured_image, '600x')"
          :alt="product.title"/>

    <span v-if="!product.featured_image">
      {{ 'product-1' | placeholder_svg_tag: 'img-fluid' }}
    </span>

    <div class="variant-selector">
      <form data-product-form :data-product-id="product.id" action="/cart/add" method="post" enctype="multipart/form-data">
        <div v-for="(option, index) in product.options_with_values" v-if="option.name != 'Title'" class="selector-wrapper">
          {% comment %} Color swatches {% endcomment %}
          <ul v-if="colorSwatchesEnabled && option.name === 'Color'" class="list-unstyled list-inline m-0 p-0">
              <li v-for="value in option.values" class="list-inline-item">
                <div class="color-swatch">
                  <label
                      data-toggle="tooltip"
                      data-trigger="hover"
                      :title="_unhandleize(value)"
                      :style="_getSwatchStyle(value)">
                      <input
                        data-single-option-selector
                        type="radio"
                        name="color"
                        aria-label="color"
                        v-model="product.variants[0].options[index]"
                        :value="value"
                        :data-index="'option' + option.position"
                        @change="_getVariant($event)">
                  </label>
                </div>
              </li>
          </ul>

          {% comment %} Normal select {% endcomment %}
          <div v-if="!colorSwatchesEnabled && option.name === 'Color'" class="col-8 mx-auto">
            <select class="form-control form-control-sm"
              data-single-option-selector
              :data-index="'option' + option.position"
              @change="_getVariant($event)">
              <option v-for="value in option.values" :value="value" v-text="value"></option>
            </select>
          </div>

        </div>
      </form>
    </div>
  </div>

  <div class="card-body">
    <div class="row no-gutters">
      <div class="col-md-7" v-match-heights="{el: ['.card-title']}">
        <h6 class="card-title m-0"><a :href="'/products/' + product.handle" v-text="product.title"></a></h6>
      </div>

      <div class="col-md-5 text-left text-md-right">
        <s v-if="product.current_variant.compare_at_price > product.price" v-html="_formatMoney(product.current_variant.compare_at_price)" class="price small m-0 p-0"></s>
        <span v-html="_formatMoney(product.current_variant.price)" class="price m-0 p-0"></span>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 d-flex justify-content-between">
        <button class="btn btn-primary btn-sm flex-grow-1"
            type="submit"
            name="add"
            aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
            :disabled="!product.current_variant.available"
            :data-cart-limit="product.cart_limit" @click.prevent="_addToCart(product.current_variant.id, $event)">
          <template v-if="product.current_variant.available">
            <i class="icon ion-md-cart"></i> {{ 'products.product.add_to_cart' | t }}
          </template>
          <template v-else>
            {{ 'products.product.sold_out' | t }}
          </template>
        </button>
        <button data-adding class="btn btn-primary btn-sm flex-grow-1 adding-check"></button>

        {% if settings.enable_quickshop %}
          <a href="#" @click.prevent="_viewQuickShop(product.handle, product.current_variant.options, $event)" class="btn btn-outline-primary btn-sm ml-1" title="{{ 'products.product.quickshop' | t | escape }}" rel="nofollow" aria-label="{{ 'products.product.quickshop' | t | escape }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
            <i class="icon ion-md-eye"></i>
        </a>
        {% endif %}

        {% if settings.enable_wishlist %}
          <template v-if="!_checkWishlist(product.current_variant.id)" >
            <a href="#" @click.prevent="_addVariantToWishlist(product.handle, product.current_variant.id, $event)" class="btn btn-outline-primary btn-sm ml-1" title="{{ 'general.wishlist.add_to_wishlist' | t }}" rel="nofollow" aria-label="{{ 'general.wishlist.add_to_wishlist' | t }}" data-toggle="tooltip" data-trigger="hover" data-placement="top">
              <i class="icon ion-md-star-outline"></i>
            </a>
          </template>
          <template v-else>
            <a class="btn btn-outline-primary btn-sm ml-1" rel="nofollow" title="{{ 'general.wishlist.added_to_wishlist' | t }}" rel="nofollow" aria-label="{{ 'general.wishlist.added_to_wishlist' | t }}" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">
              <i class="icon ion-md-star"></i>
            </a>
          </template>
        {% endif %}
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-12">
        <div data-item-reviews :data-product-id="product.id"></div>
      </div>
    </div>
  </div>
</div>
