{% assign current_variant = product.selected_or_first_available_variant %}
{% assign product_cart_limit = null %}
{% for tag in product.tags %}
  {% if tag contains 'cart-limit-' %}
    {% assign product_cart_limit = tag | replace: 'cart-limit-', '' %}
  {% endif %}
{% endfor %}
<form data-product-form :data-product-id="product.id" action="/cart/add" method="post" enctype="multipart/form-data" class="no-gutters card card-product text-left border-0 shadow-lg">
    <span class="badges">
      {% if current_variant.compare_at_price > current_variant.price %}
      <span class="badge badge-right bg-warning" >
        {{ 'products.product.on_sale' | t | escape }}
      </span>
      {% endif %}
    </span>
    <div class="card-img text-center px-3 {% if product.featured_image.size == 0 %}bg-gray-300{% endif %}">
      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      {% if product.featured_image.size > 0 %}
          <a href="{{ product.url | within: collection }}" class="d-block product-img">
            <img
              data-sizes="auto"
              src="{{ product.featured_image | img_url: 'pico' }}"
              data-srcset="
                {{ product.featured_image | img_url: 'large' }} 576w,
                {{ product.featured_image | img_url: '600x' }} 768w,
                {{ product.featured_image | img_url: '600x' }} 992w,
                {{ product.featured_image | img_url: '600x' }} 1200w
                "
              class="lazyload"
              alt="{{ product.featured_image.alt | escape }}"/>
          </a>
      {% else %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'img-fluid' }}
      {% endif %}
    </div>
    <div class="card-body pt-3 pb-0 px-xl-5 px-md-4 px-3 position-relative">
      <div class="add-to-cart d-flex align-items-center pb-3 position-absolute">
        {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
            {% assign option_name = option.name | downcase %}
              {% if enable_size_swatches and option_name == 'size' %}
                <select class="size-selector border-right-0 border-left-0 px-lg-4 px-3 h4 mb-0 text-uppercase bg-white cursor-pointer line-height-normal">
                  {% for value in option.values %}
                    <option type="radio"
                            name='size'
                            aria-label="size"
                            data-index="option{{ option.position }}"
                            @change="_getVariant($event)"
                            {% if option.selected_value == value %}checked="checked"{% endif %}>
                            {{ value | escape }}
                    </option>
                  {% endfor %}
                </select>
              {% endif %}
          {% endfor %}
        {% endunless %}
        <button href="" class="btn-primary btn px-0 flex-grow-1 d-flex align-items-center justify-content-center p-0"  class="btn btn-primary btn-sm flex-grow-1"
          type="submit"
          name="add"
          aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
          {% unless product.available %}disabled{% endunless %}
          data-cart-limit="{{ product_cart_limit }}"
          @click.prevent="_addToCart({{ current_variant.id }}, $event)">add to cart</button>
          <button data-adding class="btn-primary btn px-0 flex-grow-1 d-flex align-items-center justify-content-center p-0 adding-check"></button>
      </div>
      <h6 class="text-uppercase font-weight-light text-gray-500 mb-2 mt-0 h6"  v-match-heights="{el: ['.card-title']}">Bjj Gis</h6>
      <h4 class="mb-1 mt-0"><a href="{{ product.url | within: collection }}" class="h4 font-weight-bold">{{ product.title }}</a></h4>
      <span class="text-red h4 mb-3 d-block">{{ product.price | money }}{% if current_variant.compare_at_price > product.price %} <s class="text-gray-700 ml-2">{{ product.compare_at_price | money }}</s>{% endif %}</span>
    </div>
    <div class="card--footer pb-3 px-xl-5 px-md-4 px-3">           
        {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
            {% assign option_name = option.name | downcase %}
            {% if option_name == 'color' %}
            <ul class="nav d-flex align-items-center color-picker mb-1">
              <li class="nav-item">
                <div class="color-choose d-flex align-items-center py-ex-xxl-1 py-2 px-2 px-ex-lg-2 px-xxl-1" data-color-choose>
                  <div class="form-check d-flex pl-0 pr-xl-3 pr-ex-lg-2 pr-3 position-relative" v-for="value in option.values">
                    <input class="form-check-input d-none colorWhite" 
                      data-single-option-selector
                      type="radio"
                      :id="value + option.position"
                      name="color"
                      aria-label="color"
                      v-model="product.variants[0].options[index]"
                      :value="value"
                      :data-index="'option' + option.position"
                      @change="_getVariant($event)"
                      v-if="value == 'White'"
                    >
                    <input class="form-check-input d-none" 
                      data-single-option-selector
                      type="radio"
                      id="{{value}}{{product.handle}}"
                      name="color"
                      aria-label="color"
                      @change="_getVariant($event)"
                    >
                    <label
                      for="{{value}}{{product.handle}}"
                      class="form-check-label"
                      data-toggle="tooltip"
                      data-trigger="hover"
                      title="{{value}}"
                      >
                      <span class="d-block text-center cursor-pointer position-relative" @click="_getSwatchStyle('{{value}}')"></span>
                    </label>
                  </div>
                </div>
              </li>
              <li class="nav-item d-flex align-items-center pl-xl-3 pl-md-2 pl-3">
                <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
                  <div class="quantity-wrapper d-none" data-qty-container>
                  <label for="Quantity" class="small">{{ 'products.product.quantity' | t }}</label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <a href="#" class="input-group-text" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease @click.prevent="_updateQty($event)">
                        <span class="btn-decrease"><i class="icon ion-md-remove"></i></span>
                      </a>
                      </div>
                      <input type="number" name="quantity" aria-label="quantity" value="1" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center" readonly>
                      <div class="input-group-append">
                      <a href="#" class="input-group-text" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase @click.prevent="_updateQty($event)">
                        <span class="btn-increase"><i class="icon ion-md-add"></i></span>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            {% endif %}
          {% endfor %}
        {% endunless %}
    </div>
</form>
