<div data-cart-drawer class="cart-drawer d-flex flex-column" :class="{'opened shadow-lg': isCartDrawerOpen}" v-touch:swipe.right="_toggleCartDrawer">

  <div class="drawer-header d-flex justify-content-between align-items-center px-4 py-3 bg-gray-100 text-gray-900">
    <h4 class="my-0 text-uppercase font-weight-bold">{{ 'cart.general.title' | t }}</h4>
    <a href="#" class="btn-close float-right" @click.prevent="_toggleCartDrawer" rel="nofollow" aria-label="Close" title="Close"><i class="icon ion-md-close text-gray-900"></i></a>
  </div>

  <div class="drawer-body px-4 py-3" data-touch-moveable>
    <template v-if="cart.item_count > 0">
      <div v-for="(item, index, key) in cart.items" v-if="!item.properties['promo_product']"
           data-cart-item
           :key="item.id" class="row cart-item py-3"
           :data-variant-id="item.variant_id"
           :data-cart-limit="item.properties['cart-limit']"
           :class="{'border-bottom-0': index === (cart.item_count - 1)}">

        <div class="col-3 d-flex align-items-center">
          <div class="item-image">
            <a v-if="item.image != null" :href="item.url">
              <!-- <span class="badge badge-secondary" v-text="item.quantity"></span> -->
              <img :src="_getSizedImageUrl(item.image, 'large')" class="img-fluid" :alt="item.product_title" />
            </a>
            <a v-else :href="item.url">{{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}</a>
          </div>
        </div>

        <div class="col-9">
          <div class="d-flex justify-content-between align-items-center">
            <a :href="item.url" v-text="item.product_title" :title="item.product_title" class="item-title text-capitalize pr-3 text-gray-900"></a>
            <a href="#" @click.prevent="_removeFromCart(index+1, $event)" class="btn-remove text-danger" rel="nofollow" aria-label="{{ 'cart.general.remove' | t }}" title="{{ 'cart.general.remove' | t }}" data-toggle="tooltip" data-trigger="hover" data-placement="left"><i class="icon ion-md-close"></i></a>
          </div>

          <ul v-show="item.variant_options.length > 0" class="list-unstyled" data-varaint-show>
            <li v-for="(variant, index) of item.variant_options" class="text-muted small text-lowercase">
              <span v-bind:data-index="item.handle + index" class="text-uppercase"></span>: <span v-if="variant != 'Default Title'" v-text="variant"></span>
            </li>
          </ul>

          <div class="row align-items-center">
            <div class="col-6">
              <div class="quantity-wrapper" data-qty-container>
                <div class="input-group input-group-sm cart-qty">
                  <div class="input-group-prepend">
                    <a href="#" class="input-group-text less-qty border bg-transparent p-0 cursor-pointer qty border-right-0 d-flex align-items-center justify-content-center rounded-0 text-gray-900" rel="nofollow" aria-label="Decrease" data-qty-decrease @click.prevent="_updateCart(index+1, $event)">
                      <span class="btn-decrease"><i class="icon ion-md-remove"></i></span>
                    </a>
                  </div>
                  <input type="number" name="quantity" aria-label="quantity" :value="item.quantity" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center text-center border-top border-bottom border-left-0 border-right-0 bg-transparent text-gray-900" readonly>
                  <div class="input-group-append">
                    <a href="#" class="input-group-text more-qty border bg-transparent p-0 cursor-pointer qty border-left-0 d-flex align-items-center justify-content-center rounded-0 text-gray-900" rel="nofollow" aria-label="Increase" data-qty-increase @click.prevent="_updateCart(index+1, $event)">
                      <span class="btn-increase"><i class="icon ion-md-add"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col text-right">
              <span v-html="_formatMoney(item.line_price)" class="item-price"></span>
            </div>
          </div>
        </div>

      </div>
    </template>

    <div v-else class="text-center mt-5">
      <div class="icon"><i class="icon ion-md-cart"></i></div>
      <p class="mb-3 text-muted">{{ 'cart.general.empty' | t }}</p>
      <button class="btn btn-primary btn-sm rounded-0 py-lg-2 py-1" @click.prevent="_toggleCartDrawer">{{ 'cart.general.continue_browsing' | t }}</button>
    </div>

  </div>

  <div v-if="cart.item_count > 0" class="drawer-footer px-4 py-3 bg-gray-100 text-center mt-auto">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <span class="h3 d-inline-block">{{ 'cart.general.subtotal' | t }}</span>
      <span v-html="_formatMoney(cart.total_price)" class="h3"></span>
    </div>
    <p class="font-italic mb-2"><small class="p">{{ 'cart.general.shipping_at_checkout' | t }}</small></p>
    <div class="btn-group btn-group-sm btn-group-justified" role="group">
      <a href="/cart" class="btn btn-outline-primary rounded-0">{{ 'cart.general.viewcart' | t }}</a>
      <a href="/checkout" class="btn btn-primary rounded-0">{{ 'cart.general.checkout' | t }} <i class="icon ion-md-arrow-forward"></i></a>
    </div>
  </div>

</div>
