{% for block in section.blocks %}
  {% if block.type == "related-items" %}
    {% if block.settings.enable_related_items %}
      <section v-if="collectionProducts.length <= 4" id="blogs" class="mt-5">
        <div class="container">
            <h2 class="font-weight-bold text-center mb-0 text-uppercase heading-text letter-spacing-minus">{{ block.settings.label_related }}</h2>
            <div class=" collection-slider">
                  {% if block.settings.related == blank or collections[block.settings.related] == empty or collections[block.settings.related].products_count == 0 %}
                    {% include 'onboarding-featured-products' %}
                  {% else %}
                    <transition-group name="collection-tween" tag="div" class="row justify-content-center product-slider" >
                        <div v-for="(product, index, key) in collectionProducts" :key="product.id"
                            class="col-lg-3 col-sm-6 col-12 items">
                            {% include 'home-page-featured' %}      
                        </div>
                    </transition-group>
                  {% endif %}
            </div>
        </div>
      </section>

      <section v-else id="blogs" class="mt-5">
        <div class="container">
            <h2 class="font-weight-bold text-center mb-0 text-uppercase heading-text letter-spacing-minus">{{ block.settings.label_related }}</h2>
            <div class=" collection-slider">
                  {% if block.settings.related == blank or collections[block.settings.related] == empty or collections[block.settings.related].products_count == 0 %}
                    {% include 'onboarding-featured-products' %}
                  {% else %}
                    <transition-group name="collection-tween" tag="div" class="slider-flickity row product-slider" >
                        <div v-for="(product, index, key) in collectionProducts" :key="product.id"
                            class="col-lg-3 col-sm-6 col-12 items">
                            {% include 'home-page-featured' %}      
                        </div>
                    </transition-group>
                  {% endif %}
            </div>
        </div>
      </section>

      {% for product in collections[block.settings.related].products %}
        {% if product.metafields.yotpo.reviews_count != blank %}
            <script type="application/json" data-{{product.id}}-view-detail-json>
                {
                  "reviews_count": {{ product.metafields.yotpo.reviews_count }},
                  "reviews_average": {{ product.metafields.yotpo.reviews_average }}
                }
            </script>
        {% endif %}
      {% endfor %}

      {% for product in collections[block.settings.related].products %}
          <script type="application/json" data-product-json >
          {
              "product": {{ product | json }},
              "options_with_values": {{ product.options_with_values | json }}
          }
          </script>
      {% endfor %} 
    {% endif %}
  {% endif %}
{% endfor %}