{% assign bundle_price = 0 %}
{% assign bundle_original_price = 0 %}
{% assign bundle_update_quantities = '' | split: ',' %}
{% assign bundle_remove_quantities = '' | split: ',' %}

{% for bundle_item in cart.items %}
    {% if bundle_item.properties._bundle == item.properties._bundle %}
        {% assign bundle_price = bundle_price | plus: bundle_item.price %}
        {% assign bundle_original_price = bundle_original_price | plus: bundle_item.original_price %}
        {% assign bundle_update_quantities = bundle_update_quantities | join: ',' | append: ',' | append: bundle_item.quantity | split: ',' %}
        {% assign bundle_remove_quantities = bundle_remove_quantities | join: ',' | append: ',' | append: '0' | split: ',' %}
    {% else %}
        {% assign bundle_remove_quantities = bundle_remove_quantities | join: ',' | append: ',' | append: bundle_item.quantity | split: ',' %}
    {% endif %}
{% endfor %}


<div class="cart-product-details py-4 border-bottom" data-cart-item>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5 col-12 mb-md-0 mb-3">
            <div class="cart-product cart__row">
                <div class="d-flex align-items-center">
                    <div class="one-third cart__row-image cart-product-image d-flex align-items-center justify-content-center">
                        <a href="{{ product_bundle.url }}" class="grid__image">
                            <div class="cart__image">
                                <img class="cart__item-image image-zoom" src="{{ product_bundle | img_url: 'medium' }}" alt="{{ product_bundle.image.alt | escape }}">
                                <div class="cart__item-image-background"></div>
                            </div>
                        </a>
                    </div>
                    <div class="px-4 blog-head cart__item-meta">
                        <h4 class="font-weight-bold mb-1 text-capitalize">
                            <a href="{{ product_bundle.url }}" class="cart__item-title text-gray-900">
                                {{ product_bundle.title }}
                            </a>
                        </h4>
                        <h5 class="font-weight-light mb-0 text-light-gray font-size-sm text-uppercase sub-product-name">
                            {% for bundle_item in cart.items reversed %}
                                {% if bundle_item.properties._bundle == item.properties._bundle %}
                                    <p class="mb-2 mb-md-3">
                                    <span class="font-weight-light mb-0 text-light-gray font-size-sm text-uppercase h5 cart__item-bundle-item">
                                        {{ bundle_item.title | escape }}
                                    </span>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-4">
            <div class="cart__item-price">
                <span class="money mb-0 h4 font-weight-light">{{ bundle_price | money }}</span>
            </div>
        </div>

        <div data-main-role class="col-md-3 col-4 d-flex align-items-center justify-content-center justify-content-md-start px-1">
            <a class="cart__remove" href="/cart/update?{% for bundle_remove_quantity in bundle_remove_quantities %}{% unless bundle_remove_quantity == blank %}updates[]={{ bundle_remove_quantity }}{% unless forloop.last %}&{% endunless %}{% endunless %}{% endfor %}">
            <span class="icon icon-x"></span>
            </a>
            <div class="cartQTY cart__item-qty-wrap d-flex align-items-center justify-content-center justify-content-md-start">
                <div class="input-group input-group-sm cart-qty d-flex align-items-center quantity-wrapper">                                       
                    <button class="less-qty border bg-transparent p-0 cursor-pointer qty border-right-0" aria-label="Decrease" title="Decrease" data-decrease type="button"><i class="ion ion-md-remove"></i></button>
                    <input type="number" data-link-to='[data-linked-as="{{ item.properties._bundle }}"]' readonly value="{{ bundle_update_quantities.last }}" min="0" class="text-center border-top border-bottom border-left-0 border-right-0" data-quantity style="max-width:50px;"/>
                    {% comment %} <input type="number" data-link-to='[data-linked-as="{{ item.properties._bundle }}"]' readonly value="{{ bundle_update_quantities.last }}" min="0" class="text-center border" data-quantity style="max-width:50px;"/> {% endcomment %}
                    <button class="more-qty border bg-transparent p-0 cursor-pointer qty border-left-0" rel="nofollow" aria-label="Increase" title="Increase" data-increase type="button"><i class="ion ion-md-add"></i></button>
                </div>
                {% comment %} <span class="cart__item--reload cursor-pointer" data-click-qty><img src="https://cdn.shopify.com/s/files/1/0858/7748/files/reload.png?698170340208105416"></span> {% endcomment %}
                <a class="cart__remove" href="/cart/update?{% for bundle_remove_quantity in bundle_remove_quantities %}{% unless bundle_remove_quantity == blank %}updates[]={{ bundle_remove_quantity }}{% unless forloop.last %}&{% endunless %}{% endunless %}{% endfor %}">
                    <i class="ion ion-md-close text-red h3 mb-0 ml-3"></i>
                </a>
            </div>
            {% for bundle_update_quantity in bundle_update_quantities %}
                {% unless bundle_update_quantity == blank %}
                    <input type="hidden" name="updates[]" data-linked-as="{{ item.properties._bundle }}" value="{{ bundle_update_quantity }}" />
                {% endunless %}
            {% endfor %}
        </div>

        <div class="col-md-2 col-4">
            <div class="cart__item-price cart-total text-right pr-md-4 pr-3">
                <h4 class="font-weight-bold mb-0"><span class="money">{{ bundle_price | times: item.quantity | money }}</span></h4>
            </div>
        </div>
    </div>
</div>

{% comment %} <div class="cart__row grid--full">
  <div class="grid__item one-third cart__row-image">
    <a href="{{ product_bundle.url }}" class="grid__image">
      <div class="cart__image">
        <img class="cart__item-image" src="{{ product_bundle | img_url: 'medium' }}" alt="{{ product_bundle.image.alt | escape }}">
        <div class="cart__item-image-background"></div>
      </div>
    </a>
  </div>

  <div class="grid__item two-thirds cart__item-meta">
    <a href="{{ product_bundle.url }}" class="cart__item-title">
        {{ product_bundle.title }}
    </a>

      {% for bundle_item in cart.items reversed %}{% if bundle_item.properties._bundle == item.properties._bundle %}
        <span class="cart__item-bundle-item">
          {{ bundle_item.title | escape }}
      </span>
      {% endif %}{% endfor %}

    <span class="cart__item-price large--hide">
            <br>
        {{ bundle_price | money }}
        </span>
    <br>
        <a class="cart__remove" href="/cart/update?{% for bundle_remove_quantity in bundle_remove_quantities %}{% unless bundle_remove_quantity == blank %}updates[]={{ bundle_remove_quantity }}{% unless forloop.last %}&{% endunless %}{% endunless %}{% endfor %}">
          <span class="icon icon-x"></span>
        </a>
    <div class="cart__item-qty-wrap">
      <div style="min-width: 108px; margin: auto; display: inline-block">
        <input type="number" data-link-to='[data-linked-as="{{ item.properties._bundle }}"]' value="{{ bundle_update_quantities.last }}" min="0" />
        <span class="cart__item--reload" onclick="$('#cart_form').submit();"><img src="https://cdn.shopify.com/s/files/1/0858/7748/files/reload.png?698170340208105416"></span>
    </div>

 

    {% for bundle_update_quantity in bundle_update_quantities %}
        {% unless bundle_update_quantity == blank %}
          <input type="hidden" name="updates[]" data-linked-as="{{ item.properties._bundle }}" value="{{ bundle_update_quantity }}" />
        {% endunless %}
    {% endfor %}
    </div>
    <div class="cart__item-price small--hide medium--hide small--text-center text-right">
      <span class="money">{{ bundle_price | times: item.quantity | money }}</span>
    </div>
  </div>
</div> 

<script>
    $('#cart_form').submit(function() {
        var $form = $(this);
        $form.find('[data-link-to]').each(function() {
            var $input = $(this);
            $($input.attr('data-link-to')).val($input.val());
        });
    });
</script>
{% endcomment %}



