<a :href="'/products/' + product.handle + '#review'" v-if="product.reviews_average > 0" class="reviewStart d-flex align-items-center flex-wrap">
    <img alt="review"  src="https://cdn.shopify.com/s/files/1/0858/7748/files/2.svg?8029381739576584682" v-if="product.reviews_average >= 1 && product.reviews_average < 1.5">
    <img alt="review"  src="https://cdn.shopify.com/s/files/1/0858/7748/files/3.svg?8029381739576584682" v-else-if="product.reviews_average >= 1.5 && product.reviews_average < 2">
    <img alt="review"  src="https://cdn.shopify.com/s/files/1/0858/7748/files/4.svg?8029381739576584682" v-else-if="product.reviews_average >= 2 && product.reviews_average < 2.5">
    <img alt="review"  src="https://cdn.shopify.com/s/files/1/0858/7748/files/5.svg?8029381739576584682" v-else-if="product.reviews_average >= 2.5 && product.reviews_average < 3">
    <img alt="review"  src="https://cdn.shopify.com/s/files/1/0858/7748/files/6.svg?8029381739576584682" v-else-if="product.reviews_average >= 3 && product.reviews_average < 3.5">
    <img alt="review"  src="https://cdn.shopify.com/s/files/1/0858/7748/files/7.svg?8029381739576584682" v-else-if="product.reviews_average >= 3.5 && product.reviews_average < 4">
    <img alt="review"  src="https://cdn.shopify.com/s/files/1/0858/7748/files/9.svg?8029381739576584682" v-else-if="product.reviews_average >= 4 && product.reviews_average < 4.5">
    <img alt="review"  src="https://cdn.shopify.com/s/files/1/0858/7748/files/11.svg?8029381739576584682" v-else-if="product.reviews_average >= 4.5 && product.reviews_average <= 5">
    <span class="d-block text-gray-200 ml-2 h6 mb-0" v-text="product.reviews_count"></span>
</a>
<a :href="'/products/' + product.handle + '#review'" class="flex-nowrap" v-else>
    <span class="text-uppercase text-gray-200 letter-spacing h6">Write a review</span>
</a>