<script type="application/ld+json">
{
 "@context": "http://schema.org",
 "@type": "WebSite",
 "url": "{{ shop.secure_url }}",
 "potentialAction": {
 "@type": "SearchAction",
 "target": "{{ shop.secure_url }}/search?q={query}",
 "query-input": "required name=query",
 "name" : "{{ shop.name }}"
 }
}
</script>

<script type="application/ld+json">
{
 "@context": "http://schema.org",
 "@type": "Organization",
 "url": "{{ shop.secure_url }}"{% if shop.name %},
 "name" : "{{ shop.name }}"{% endif %},
 "address": {
     "@type": "PostalAddress"{% if shop.address.city %},
     "addressLocality": "{{ shop.address.city }}"{% endif %}{% if shop.address.province %},
     "addressRegion": "{{ shop.address.province }}"{% endif %}{% if shop.address.zip %},
     "postalCode": "{{ shop.address.zip }}"{% endif %}{% if shop.address.street %},
     "streetAddress": "{{ shop.address.street }}"{% endif %}
   }{% if shop.email %},
 "email": "{{ shop.email }}"{% endif %}
}

</script>

{% if template contains 'product' %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Product",
   "brand": {
    "@type": "Brand",
    "name": "{{ product.vendor }}"
  },
  "sku": {{product.variants[0].sku | json }},
  "description": {{product.description | strip_html | json }},
  "url": "{{ shop.secure_url }}{{ product.url }}",
  "name": "{{ product.title }}",
  "image": "{{ product | img_url }}",
  "offers": {
  "@type": "Offer",
    "price": "{{ product.price | money_without_currency | remove:',' }}",
    "priceCurrency": "{{ shop.currency }}",
    "availability": "{% if product.available == true %}InStock{% endif %}"

  },
  "productID" : "{{ product.id }}"
}
</script>

{% endif %}

{% if template contains 'article' %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "url": "{{ shop.secure_url }}{{ article.url }}",
  "mainEntityOfPage": "{{ shop.secure_url }}{{ article.url }}",
  "name": "{{ article.title }}",
  "author": "{{ article.author }}",
  "publisher": "{{ shop.name }}",
  "headline": "{{ article.title }}",
  "image": {
   "@type": "ImageObject",
   "url": "https:{{ article | img_url: 'medium' }}"
  },
  "datePublished": "{{ article.published_at }}",
  "dateModified": "",
  "description": {{article.excerpt | strip_html | json }},
  "articleBody": {{article.content | strip_html | json }}
}
</script>

{% endif %}