{% comment %} <select class="short-by pl-3 pr-6 py-1 h5 mb-0 text-capitalize bg-white cursor-pointer text-gray-600 border ml-auto" id="sortBy" name="sort-by" aria-label="Sort By" @change="_parseFilters($event)" data-filter-sort data-filter-type="sort">
    <option value="-1" class="text-uppercase" disabled="disabled" selected="selected">SORT BY:</option>
    <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
    <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
    <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
    <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
    <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
    <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
    <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
    <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
</select> {% endcomment %}

<div id="heapbox_3879015" data-sort-heapbox class="selectZon position-relative ml-auto" tabindex="1">
  <div class="d-flex align-items-center border px-3 bg-white for-hover">
    <a href="javascript:void(0);" class="holder text-uppercase text-gray-600 h5 mb-0 w-auto border-0 pr-3" data-active-sort rel="dark">Sort by:</a>
    <a href="javascript:void(0);" class="handler fas fa-angle-down text-gray-600"></a>
  </div>
   <div class="option border bg-white w-auto position-absolute">
      <ul class="selectOptions px-0 mb-0 py-3 px-4" data-sort-value>
        <li class="selectOption mb-2 d-block">
         <a title="{{ 'collections.sorting.featured' | t }}" data-value="manual" class="selected text-capitalize text-light-gray font-size-sm">{{ 'collections.sorting.featured' | t }}</a>
        </li>
        <li class="selectOption mb-2 d-block">
         <a title="{{ 'collections.sorting.best_selling' | t }}" data-value="best-selling" class="text-capitalize text-light-gray font-size-sm">{{ 'collections.sorting.best_selling' | t }}</a>
        </li>
        <li class="selectOption mb-2 d-block">
         <a title="{{ 'collections.sorting.az' | t }}" data-value="title-ascending" class="text-capitalize text-light-gray font-size-sm">{{ 'collections.sorting.az' | t }}</a>
        </li>
        <li class="selectOption mb-2 d-block">
         <a title="{{ 'collections.sorting.za' | t }}" data-value="title-descending" class="text-capitalize text-light-gray font-size-sm">{{ 'collections.sorting.za' | t }}</a>
        </li>
        <li class="selectOption mb-2 d-block">
         <a title="{{ 'collections.sorting.price_ascending' | t }}"  data-value="price-ascending" class="text-capitalize text-light-gray font-size-sm">{{ 'collections.sorting.price_ascending' | t }}</a>
        </li>
        <li class="selectOption mb-2 d-block">
         <a title="{{ 'collections.sorting.price_descending' | t }}" data-value="price-descending" class="text-capitalize text-light-gray font-size-sm">{{ 'collections.sorting.price_descending' | t }}</a>
        </li>
        <li class="selectOption mb-2 d-block">
         <a title="{{ 'collections.sorting.date_descending' | t }}" data-value="created-descending" class="text-capitalize text-light-gray font-size-sm">{{ 'collections.sorting.date_descending' | t }}</a>
        </li>
        <li class="selectOption mb-2 d-block">
         <a title="{{ 'collections.sorting.date_ascending' | t }}" data-value="created-ascending" class="text-capitalize text-light-gray font-size-sm">{{ 'collections.sorting.date_ascending' | t }}</a>
        </li>
      </ul>
   </div>
</div>