<div id="customerLoginForm" data-login-form>
  {% form 'customer_login' %}

    <div v-if="loginFormHelper.status" :class="{ 'alert alert-success': loginFormHelper.status === 'ENABLED', 'alert alert-warning': loginFormHelper.status === 'DISABLED' || loginFormHelper.status === 'UNREGISTERED' }" role="alert">
      <span v-html="loginFormHelper.message"></span>
    </div>

    {% if form.errors %}
    <div class="alert alert-warning shopify-warning" role="alert">
      {{ form.errors | default_errors }}
    </div>
    {% endif %}

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <label class="input-group-text bg-gray-300 text-gray-900" for="customerEmail"><i class="icon ion-md-person"></i></label>
      </div>
      <input type="email" id="customerEmail" name="customer[email]" class="form-control text-gray-900" v-model="loginFormHelper.customerEmail" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" required>
    </div>

    <div v-if="loginFormHelper.status === 'ENABLED'" class="form-group input-group">
      <div class="input-group-prepend">
        <label class="input-group-text bg-gray-300 text-gray-900" for="customerPassword"><i class="icon ion-md-key"></i></label>
      </div>
      <input type="password" id="customerPassword" name="customer[password]" class="form-control text-gray-900" placeholder="{{ 'customer.login.password' | t }}">
    </div>

    <input @click.prevent="_submitLoginHelperForm($event)" type="submit" class="btn btn-primary btn-block" value="{{ 'customer.login.sign_in' | t }}">

    <p v-if="loginFormHelper.status === 'ENABLED'" class="text-right mt-2 font-italic"><a data-recover-link href="#recover">{{ 'customer.login.forgot_password' | t }}</a></p>

  {% endform %}

</div>
