<div>{% include 'banana-stand-product-page-container' %}</div>
<form data-product-form data-for-simple data-form-type="product" remove-one-load data-product-id="{{ product.id }}" action="/cart/add" method="post" enctype="multipart/form-data" class="mt-4">
  <div class="">
    <div class="mb-4 d-flex justify-content-between for-flex-inherit">
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %} 
          {% assign option_name = option.name | downcase %}
          <div class="selector-wrapper w-100 {% if option_name == 'size' %}order-{{ forloop.index }}{% endif %} {% if option_name == 'color' %}mb-4{% endif %}">
            <label for="SingleOptionSelector-{{forloop.index}}" class="h4 text-uppercase font-weight-bold">
              {{ option.name }} 
            </label>
            <label class="h4" {% if option_name == 'size' %}data-sizeCode{% endif %} {% if option_name == 'color' %}data-colorCode{% endif %}></label>
            {% if enable_color_swatches and option_name == 'color' %}
              {% comment %} Color swatches {% endcomment %}
              <ul class="list-unstyled list-inline mb-0 py-0 mt-1 for-color" data-for-color data-for-color-product>
                {% for value in option.values %}

                  <li class="list-inline-item" data-id="color">
                    <div class="color-swatch form-check pl-0 pr-xl-3 pr-2">
                        <input
                            id="{{ product.handle }}-{{ value | escape }}"
                            type="radio"
                            name="color"
                            aria-label="color"
                            value="{{ value | escape }}"
                            class="{% if value == 'White'%}colorWhite{% endif %}"
                            data-single-option-selector
                            data-index="option{{ option.position }}"
                            @change="_getVariant($event)"
                            {% if option.selected_value == value %}checked{% endif %} >
                        <label
                          for="{{ product.handle }}-{{ value | escape }}"
                          class="form-check-label position-relative"
                          data-toggle="tooltip"
                          data-trigger="hover"
                          data-original-title="{{ value | escape | replace: '-', ' ' }}"
                          title="{{ value | escape | replace: '-', ' ' }}"
                          :style="_getSwatchStyle('{{ value }}')">
                          <span class="d-block text-center cursor-pointer position-relative"></span>
                          <i class="ion ion-md-close for-not-available {% if value == 'White'%}whiteColor{% endif %}"></i>
                        </label>
                    </div>  
                  </li>
                {% endfor %}
              </ul>

            {% elsif enable_size_swatches and option_name == 'size' %}
              {% comment %} Size swatches {% endcomment %}
              <div class="d-flex align-items-center flex-wrap mb-2">
                <ul class="list-unstyled list-inline my-0 py-0 clearfix for-size mr-4" data-for-size>
                  {% for value in option.values %}
                    <li class="list-inline-item d-none float-left">
                      <div class="size-swatch">
                        <label>
                            <input
                              v-if="currentVariant.available"
                              class="border cursor-pointer"
                              data-single-option-selector
                              type="radio"
                              name='size'
                              aria-label="size"
                              value="{{ value | escape }}"
                              data-index="option{{ option.position }}"
                              @change="_getVariant($event)"
                              {% if option.selected_value == value %}checked="checked"{% endif %} >
                            <input
                              v-else
                              class="border cursor-pointer disabled"
                              data-single-option-selector
                              type="radio"
                              name='size'
                              aria-label="size"
                               data-original-title="{{ value | escape | replace: '-', ' ' }}"
                              value="{{ value | escape }}"
                              data-index="option{{ option.position }}"
                              @change="_getVariant($event)"
                              {% if option.selected_value == value %}checked="checked"{% endif %} >
                        </label>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
                {% if product.tags contains 'enable-size-chart' %}
                  <a data-toggle="modal" data-target="#exampleModalCenter" style="text-decoration:underline;" class="text-gray-900 h6 cursor-pointer">Size Chart</a>
                {% endif %}
                </div>
                {% if product.available == false %}
                  <h6 class="text-gray-200">Can't find your size? <a href="#" style="text-decoration:underline;" id="BIS_trigger" class="text-gray-200 mb-0" data-variant-id="{{  product.selected_or_first_available_variant.id }}">Get notified for restock</a></h6>
                {% endif %}
            {% else %}
              {% comment %} Normal select {% endcomment %}
              <select
                class="form-control form-control-sm"
                data-single-option-selector
                data-index="option{{ option.position }}"
                @change="_getVariant($event)">
                {% for value in option.values %}
                  <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                  </option>
                {% endfor %}
              </select>
            {% endif %}
          </div>
        {% endfor %}

      {% endunless %}

    </div>

  </div>

  {% if settings.enable_recharge and product.available and product.metafields.subscriptions.subscription_id %}
  <div class="row">
    <div data-recharge-subscription-widget class="col-12 mb-3">
      <h6 class="my-2">Subscription:</h6>
      <div class="inner"></div>
    </div>
  </div>
  {% endif %}

{% comment %} <div class="quantity-wrapper" data-qty-container>
        <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <a href="#" class="input-group-text" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease @click.prevent="_updateQty($event)">
              <span class="btn-decrease"><i class="icon ion-md-remove"></i></span>
            </a>
          </div>
          <input type="number" name="quantity" aria-label="quantity" value="1" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center" readonly>
          <div class="input-group-append">
            <a href="#" class="input-group-text" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase @click.prevent="_updateQty($event)">
              <span class="btn-increase"><i class="icon ion-md-add"></i></span>
            </a>
          </div>
        </div>
      </div> {% endcomment %}

  <div class="d-xl-flex align-items-center pb-5 clearfix">
    <div class="quantity-wrapper float-left float-xl-none" data-qty-container>
      <label for="Quantity" class="d-none">{{ 'products.product.quantity' | t }}</label>
      <div class="input-group input-group-sm product-qty">
        <button class="less-qty bg-gray-300 p-0 cursor-pointer qty border-0" rel="nofollow" aria-label="Decrease" data-qty-decrease @click.prevent="_updateQty($event)" type="text"><i class="ion ion-md-remove"></i></button>
        <input type="number" name="quantity" aria-label="quantity" value="1" step="1" min="1" inputmode="numeric" data-qty-input class="text-center border-0 bg-gray-300" readonly>
        <button class="more-qty bg-gray-300 p-0 cursor-pointer qty border-0" rel="nofollow" aria-label="Increase" data-qty-increase @click.prevent="_updateQty($event)" type="text"><i class="ion ion-md-add"></i></button>
      </div>
    </div>
    <div class="float-left float-xl-none">
      <button class="btn btn-primary btn-block fix-btn"
        type="submit"
        name="add"
        :disabled="!currentVariant.available || currentVariant.unavailable"
        :data-cart-limit="product.cart_limit"
        @click.prevent="_addToCart(currentVariant.id, $event)" data-default-variant-id="{{ current_variant.id }}">
          <template v-if="isLoading && loadingEvent == 'cartAdding'">
            <i class="icon ion-md-refresh spin"></i> {{ 'general.wait' | t }}
          </template>
          <template v-else>
            <span v-if="currentVariant.unavailable">
              {{ 'products.product.unavailable' | t }}
            </span>
            <span v-else-if="currentVariant.available">
              <i class="icon ion-md-cart d-none"></i> {{ 'products.product.add_to_cart' | t }}
            </span>
            <span v-else>
              {{ 'products.product.sold_out' | t }}</span>
          </template>
      </button>
      <button data-adding class="btn btn-primary btn-block fix-btn adding-check check-margin"></button>

      {% comment %} {% if settings.enable_wishlist %}
        <div class="mt-2 text-right">
          <div v-if="!_checkWishlist(currentVariant.id)">
            <a href="#" @click.prevent="_addVariantToWishlist(product.handle, currentVariant.id, $event)" rel="nofollow">
              <i class="icon ion-md-star-outline"></i> {{ 'general.wishlist.add_to_wishlist' | t }}
            </a>
          </div>
          <div v-else>
            <span><i class="icon ion-md-star"></i> Added to <a href="#" data-toggle="modal" data-target="[data-modal-wishlist]" tabindex="-1">Wishlist</a>
              </span>
          </div>
        </div>
      {% endif %} {% endcomment %}

    </div>
    <div class="ctb_placeholder"></div>
    <div class="ml-xl-4 clear d-none" data-buy-applepay>
        <a href="" class="d-inline-block mt-3 mt-xl-0"><img src='{{ "pay.jpg" | asset_img_url:"original" }}' /></a>
    </div>
  </div>
  {% comment %} <a href="" style="text-decoration:underline;"  class="text-gray-900 h5 text-initial">More Payment Options</a> {% endcomment %}
</form>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered size-modal w-100 position-relative" role="document">
    <div class="modal-content">
    <button type="button" data-size-close class="size-close d-block bg-transparent border-0 position-absolute cursor-pointer p-0" style=""><i class="fas fa-times text-white"></i></button>
      <div class="modal-header d-none">

      </div>
      <div class="modal-body">
        {% include 'size-charts' %}
      </div>
      <div class="modal-footer d-none">

      </div>
    </div>
  </div>
</div>

<div class="model-for-addtocart border" data-add-to-cart>
  <div class="cart-model p-5">
    <span class="">Your item is added in a cart!</span>
    <a href="/cart" class="">view cart</a>
  </div>
</div>