<div id="customerRegisterForm" data-register-form>
  {% form 'create_customer' %}
    {% include 'oxi-social-login' %}
    {% comment %}
    <h3 class="text-center">{{ 'customer.register.title' | t }}</h3>
    {% endcomment %}

    {% if form.errors %}
    <div class="alert alert-warning">
      {{ form.errors | default_errors }}
    </div>
    {% endif %}

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <label class="input-group-text bg-gray-300 text-gray-900" for="registerCustomerFirstName"><i class="icon ion-md-person"></i></label>
      </div>
      <input type="text" id="registerCustomerFirstName" name="customer[first_name]" aria-label="first name" class="form-control text-gray-900" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}" {% endif %} required>

      <input type="text" id="customerLastName" name="customer[last_name]" aria-label="last name" class="form-control border-left-0 text-gray-900 ml-0" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}" {% endif %} required>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <label class="input-group-text bg-gray-300 text-gray-900" for="registerCustomerEmail"><i class="icon ion-md-mail"></i></label>
      </div>
      <input type="email" id="registerCustomerEmail" name="customer[email]" aria-label="email" class="form-control text-gray-900 {% if form.errors contains 'email' %} is-invalid{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}" {% endif %} v-model="loginFormHelper.customerEmail" autocorrect="off" autocapitalize="off" required>
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <label class="input-group-text bg-gray-300 text-gray-900" for="registerCustomerPassword"><i class="icon ion-md-key"></i></label>
      </div>
      <input type="password" id="registerCustomerPassword" data-password-input name="customer[password]" aria-label="password" class="form-control text-gray-900 {% if form.errors contains 'password' %} is-invalid{% endif %}" placeholder="{{ 'customer.register.password' | t }}" required>
    </div>

    <div class="form-check mb-4 pl-0">
      <label class="form-check-label newsletter_subscribe">
        <input type="hidden" name="customer[accepts_marketing]" value="" />
        <input type="checkbox" id="accepts_marketing" name="customer[accepts_marketing]" aria-label="newsletter subscription" class="form-check-input cursor-pointer d-none" checked="checked" />
        <label class="form-check-label position-relative pl-4 cursor-pointer h4" for="#accepts_marketing">
        {{ 'customer.register.newsletter_subscribe' | t }}
        <span class="position-absolute left-0 for-checkbox"></span>
        </label>
      </label>
    </div>

    <input type="submit" class="btn btn-primary btn-block" value="{{ 'customer.register.submit' | t }}">

  {% endform %}
</div>
