<!-- Google Trusted Store -->
<script type="text/javascript">
  var gts = gts || [];

  gts.push(["id", "10770"]);

  gts.push(["locale", "en_US"]);
  {% if template contains 'product' %}
  gts.push(["google_base_offer_id", "shopify_US_{{ product.id }}_{{ product.variants.first.id }}"]);
  {% else %}
  gts.push(["google_base_offer_id", "shopify_US"]);
  {% endif %}
  gts.push(["google_base_subaccount_id", "7700597"]);
  gts.push(["google_base_country", "US"]);
  gts.push(["google_base_language", "en"]);

  (function() {
  var gts = document.createElement("script");
  gts.type = "text/javascript";
  gts.async = true;
  gts.src = "https://www.googlecommerce.com/trustedstores/api/js";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(gts, s);
  })();
</script>
