{% assign cart_type = section.settings.cart_type %}


{% case cart_type %}

  {% when 'cart_dropdown' %}

    <!-- <a id="cartDropdown" class="nav-link cart-icon cart-dropdown px-0 pl-lg-9 pl-ex-lg-9 pr-6 pt-xl-0 pr-ex-lg-0 pr-lg-6 pl-2 py-0 my-0" href="#" name="cart" title="cart" rel="nofollow" aria-label="Cart"> -->
        <a id="cartDropdown" class="nav-link cart-dropdown" href="#" name="cart" title="cart" rel="nofollow" aria-label="Cart">
      <img class="cart-img" src="https://cdn.shopify.com/s/files/1/1055/0178/files/cart-icon.svg?13689502637520330460">
      <span v-if="cart.item_count > 0" v-text="cart.item_count" class="badge bg-primary text-white"></span>
    </a>
    <b-popover target="cartDropdown" placement="bottom" container="cartDropdown" triggers="hover focus" class="d-none">
      <template slot="title">{{ 'cart.general.title' | t }}</template>
      {% include 'cart-dropdown' %}
    </b-popover>

  {% when 'cart_drawer' %}

    <!-- <a class="nav-link cart-icon ml-ex-lg-8 px-0 pl-lg-9 pl-ex-lg-9 pr-6 pt-xl-0 pr-ex-lg-0 pr-lg-6 pl-2 py-0 my-0" href="#" @click.prevent="_toggleCartDrawer" rel="nofollow" name="cart" title="cart abc" rel="nofollow" aria-label="Cart"> -->
      <a class="nav-link ml-ex-lg-3" href="#" @click.prevent="_toggleCartDrawer" rel="nofollow" name="cart" title="cart abc" rel="nofollow" aria-label="Cart">
      <img class="cart-img" src="https://cdn.shopify.com/s/files/1/1055/0178/files/cart-icon.svg?13689502637520330460">
      <span v-if="cart.item_count > 0" v-text="cart.item_count" class="badge bg-primary text-white"></span>
    </a>

  {% else %}

    <!-- <a class="nav-link cart-icon px-0 pl-lg-4 pl-ex-lg-9 pr-6 pr-xl-1 pr-ex-lg-1 pr-lg-4 pl-2 py-0 my-0" href="/cart" name="cart" title="cart" rel="nofollow" aria-label="Cart"> -->
         <a class="nav-link" href="/cart" name="cart" title="cart" rel="nofollow" aria-label="Cart">
      <img class="cart-img" src="https://cdn.shopify.com/s/files/1/1055/0178/files/cart-icon.svg?13689502637520330460">
      <span v-if="cart.item_count > 0" v-text="cart.item_count" class="badge bg-primary text-white"></span>
    </a>

{% endcase %}
