<form data-product-form :data-product-id="product.id" action="/cart/add" method="post" enctype="multipart/form-data" class="no-gutters card card-product text-left border-0">
	<span class="badges">
		<span v-if="product.current_variant.compare_at_price > product.current_variant.price" class="badge bg-red text-uppercase text-white">{{ 'products.product.on_sale' | t | escape }}</span>
	</span>
	<div class="card-img text-center px-3">
		<a :href="'/products/' + product.handle" class="d-block product-img position-relative">
			<img v-if="product.current_variant.featured_image" class="img-fluid lazyload"
					:src="_getSizedImageUrl(product.current_variant.featured_image.src, 'large')"
					:data-src="_getSizedImageUrl(product.current_variant.featured_image.src, '600x')"
					:alt="product.title"/>
				<img v-else class="img-fluid lazyload"
					:src="_getSizedImageUrl(product.featured_image, 'large')"
					:data-src="_getSizedImageUrl(product.featured_image, '600x')"
					:alt="product.title"/>
			<span v-if="!product.featured_image">
				{{ 'product-1' | placeholder_svg_tag: 'img-fluid' }}
			</span>
		</a>
	</div>
	<div class="card-body pt-3 pb-0 px-xl-5 px-md-4 px-3 position-relative">
		<div class="add-to-cart d-flex align-items-center pb-3 position-absolute">
			<div v-if="product.options_with_values[0].name !== 'Title'">
				<div v-for="(option, index) in product.options_with_values" :key="index" v-if="option.name !== 'Title'">
					<div v-if="option.name === 'Size'">
						{% comment %} <select class="size-selector border-right-0 border-left-0 border-top border-bottom px-lg-4 px-3 h4 mb-0 text-uppercase bg-white cursor-pointer text-light-gray line-height-normal"
							data-single-option-selector
							:data-index="'option' + option.position"
							@change="_getVariant($event)">
							<option v-for="value in option.values"
								:value="value"
								v-text="value">
							</option>
						</select> {% endcomment %}

						<div id="heapbox_3879015" data-heapbox class="selectZon position-relative sizeSelect border-top border-bottom" tabindex="1" >
							<div class="d-flex align-items-center pl-4 pr-3 bg-white for-hover" v-for="(value, index) in option.values">
								<a class="holder text-uppercase text-gray-600 h4 mb-0 w-100 border-0 pr-3" v-if="index == 0" data-active-size rel="dark" v-text="value" ></a>
								<a class="handler fas fa-angle-down text-gray-600" v-if="index == 0"></a>
							</div>
							<div class="option border bg-white w-100 position-absolute border-top-0">
								<ul type="ul" class="selectOptions px-0 mb-0 py-3 px-4" data-single-option-selector :data-index="'option' + option.position">
									<li class="selectOption mb-2 d-block active" v-for="(value, index) in option.values" @click="_getVariant($event)" v-if="index == 0">
										<span v-text="value" class="selected text-uppercase text-light-gray h4 mb-0"></span>
									</li>
									<li class="selectOption mb-2 d-block" v-for="(value, index) in option.values" @click="_getVariant($event)" v-if="index > 0">
										<span v-text="value" class="selected text-uppercase text-light-gray h4 mb-0"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a :href="'/products/' + product.handle" class="btn-primary btn px-0 flex-grow-1 d-flex align-items-center justify-content-center p-0 line-height-normal" v-if="product.bundle_product">
				View Product	
			</a>
			<button v-else class="btn-primary btn px-0 flex-grow-1 d-flex align-items-center justify-content-center p-0 line-height-normal"
				type="submit"
				name="add"
				aria-label="{{ 'products.product.add_to_cart' | t | escape }}"
				:disabled="!product.current_variant.available"
				:data-cart-limit="product.cart_limit" @click.prevent="_addToCart(product.current_variant.id, $event)">
				<template v-if="!product.current_variant.available">
					{{ 'products.product.sold_out' | t }}
				</template>
				<template v-else>
					<i class="icon ion-md-cart d-none"></i> {{ 'products.product.add_to_cart' | t }}
				</template>
			</button>
			<button data-adding class="btn-primary btn px-0 flex-grow-1 d-flex align-items-center justify-content-center p-0 line-height-normal adding-check"></button>	
		</div>
		<h6 class="text-uppercase font-weight-light text-gray-500 mb-2 mt-0 h6" v-text="product.type"></h6>
		<div v-match-heights="{el: ['.card-title']}">
			<h4 class="mb-1 mt-0"><a :href="'/products/' + product.handle" v-text="product.title" class="h4 font-weight-bold"></a></h4>
		</div>
		<p class="mb-0 compare-price" v-if="(product.current_variant.compare_at_price)">
			<span v-html="_formatMoney(product.current_variant.price)" class="price text-gray-900 h4 mb-3 d-inline-block" :class="{'no-compare': !product.current_variant.compare_at_price}"></span>
			<s class="text-gray-700 ml-2" v-if="product.current_variant.compare_at_price > product.price" v-html="_formatMoney(product.current_variant.compare_at_price)"></s>
		</p>
		<p class="mb-0" v-else>
			<span v-html="_formatMoney(product.current_variant.price)" class="price text-gray-900 h4 mb-3 d-inline-block" :class="{'no-compare': !product.current_variant.compare_at_price}"></span>
		</p>
	</div>
	<div class="card--footer pb-3 px-xl-5 px-md-4 px-3">  
		<div v-if="product.options_with_values[0].name !== 'Title'">
			<div v-for="(option, index) in product.options_with_values" :key="index" v-if="option.name !== 'Title'">
				<div v-if="colorSwatchesEnabled && option.name === 'Color'" class="" data-scroll-color>
					{% comment %} Color swatches {% endcomment %}
					<ul class="nav d-flex align-items-center color-picker mb-1">
					<li class="nav-item">
						<div class="color-choose d-flex align-items-center py-ex-xxl-1 py-2 px-2 px-ex-lg-2 px-xxl-1" data-color-choose>
							<div class="form-check d-flex pl-0 pr-xl-3 pr-ex-lg-2 pr-3 position-relative" v-for="value in option.values" data-scroll-value>
								<input class="form-check-input d-none colorWhite" 
									data-single-option-selector
									type="radio"
									:id="value + product.handle"
									name="color"
									aria-label="color"
									v-model="product.variants[0].options[index]"
									:value="value"
									:data-index="'option' + option.position"
									@change="_getVariant($event)"
									v-if="value == 'White'"
								>
								<input class="form-check-input d-none" 
									data-single-option-selector
									type="radio"
									:id="value + product.handle"
									name="color"
									aria-label="color"
									v-model="product.variants[0].options[index]"
									:value="value"
									:data-index="'option' + option.position"
									@change="_getVariant($event)"
									v-else
								>
								<label
									:for="value + product.handle"
									class="form-check-label"
									data-toggle="tooltip"
									data-trigger="hover"
									:title="value"
									>
									<span class="d-block text-center cursor-pointer position-relative" :style="_getSwatchStyle(value)"></span>
									</label>
							</div>
						</div>
						</li>
						<li class="nav-item d-flex align-items-center pl-xl-3 pl-md-2 pl-3">
							{% include 'custom-review' %}
							{% comment %} <div class="yotpo bottomLine" :data-product-id="product.id"></div> {% endcomment %}
								<div class="quantity-wrapper d-none" data-qty-container>
								<label for="Quantity" class="small">{{ 'products.product.quantity' | t }}</label>
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<a href="#" class="input-group-text" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease @click.prevent="_updateQty($event)">
											<span class="btn-decrease"><i class="icon ion-md-remove"></i></span>
										</a>
										</div>
										<input type="number" name="quantity" aria-label="quantity" value="1" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center" readonly>
										<div class="input-group-append">
										<a href="#" class="input-group-text" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase @click.prevent="_updateQty($event)">
											<span class="btn-increase"><i class="icon ion-md-add"></i></span>
										</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
		    </div>  
	    </div>
	</div>
</form>
