<li class="nav-item down-menu mx-xl-5 mx-ex-lg-3 mega-menu pt-ex-lg-4 pb-ex-lg-3 px-ex-lg-0">
    <a href="#" role="button" data-toggle="dropdown" aria-expanded="true" rel="nofollow" aria-label="Shop" class="mb-0 nav-link d-flex align-items-center justify-content-between shop h4 text-gray-900 px-ex-lg-2 px-3 position-relative py-ex-lg-0 py-3"><span>Brands</span></a> 
    <ul class="menu_dropdown list-unstyled">
        <div class="for-extra-bg position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-ex-lg-8 pt-ex-lg-6 for-index py-ex-lg-6">
                        <div class="row for-brands">
                            <div class="col-ex-lg-3 py-ex-lg-0 py-3 pl-5 pl-ex-lg-0">
                                <div class="brand-part">
                                    <div class="brand-poster d-ex-lg-flex d-none align-items-center justify-content-center mb-4"  {% if block.settings.img1 != blank %}style="background: url('{{ block.settings.img1 | img_url:'original' }}') center no-repeat;"{% endif %}>
                                        <a href="/collections/{{ block.settings.linklist1 | handleize }}">
                                            {% if block.settings.img1_hover != blank %}<img src="{{ block.settings.img1_hover | img_url:'original' }}">{% endif %}
                                        </a>
                                    </div>
                                    <h4 class="mb-0 nav-link d-ex-lg-none d-flex align-items-center justify-content-between shop text-gray-900 px-ex-lg-5 position-relative py-0">Hypnotik</h4>
                                    <ul class="list-unstyled">
                                        {% for link in linklists[block.settings.linklist1].links %}
                                            <li><a href="{{ link.url }}" class="text-capitalize h5 mb-ex-lg-2 mb-0 px-ex-lg-0 px-3">{{ link.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>  
                            <div class="col-ex-lg-3 py-ex-lg-0 py-3 pl-5 pl-ex-lg-3">
                                <div class="brand-part">
                                    <div class="brand-poster d-ex-lg-flex d-none align-items-center justify-content-center mb-4" {% if block.settings.img2 != blank %} style="background: url('{{ block.settings.img2 | img_url:'original' }}') center no-repeat;"{% endif %}>
                                        <a href="/collections/{{ block.settings.linklist2 | handleize }}">
                                            {% if block.settings.img2_hover != blank %}<img src="{{ block.settings.img2_hover | img_url:'original' }}">{% endif %}
                                        </a>
                                    </div>
                                    <h4 class="mb-0 nav-link d-ex-lg-none d-flex align-items-center justify-content-between shop text-gray-900 px-ex-lg-5 position-relative py-0">Venum</h4>
                                    <ul class="list-unstyled">
                                        {% for link in linklists[block.settings.linklist2].links %}
                                            <li><a href="{{ link.url }}" class="text-capitalize h5 mb-ex-lg-2 mb-0 px-ex-lg-0 px-3">{{ link.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>  
                            <div class="col-ex-lg-3 py-ex-lg-0 py-3 pl-5 pl-ex-lg-3">
                                <div class="brand-part">
                                    <div class="brand-poster d-ex-lg-flex d-none align-items-center justify-content-center mb-4"  {% if block.settings.img3 != blank %}style="background: url('{{ block.settings.img3 | img_url:'original' }}') center no-repeat;"{% endif %}>
                                        <a href="/collections/{{ block.settings.linklist3 | handleize }}">
                                            {% if block.settings.img3_hover != blank %}<img src="{{ block.settings.img3_hover | img_url:'original' }}">{% endif %}
                                        </a>
                                    </div>
                                    <h4 class="mb-0 nav-link d-ex-lg-none d-flex align-items-center justify-content-between shop text-gray-900 px-ex-lg-5 position-relative py-0">Reebok</h4>
                                    <ul class="list-unstyled">
                                        {% for link in linklists[block.settings.linklist3].links %}
                                            <li><a href="{{ link.url }}" class="text-capitalize h5 mb-ex-lg-2 mb-0 px-ex-lg-0 px-3">{{ link.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>  
                            <div class="col-ex-lg-3 py-ex-lg-0 py-3 pl-5 pl-ex-lg-3">
                                <div class="brand-part">
                                    <div class="brand-poster d-ex-lg-flex d-none align-items-center justify-content-center mb-4" {% if block.settings.img4 != blank %}style="background: url('{{ block.settings.img4 | img_url:'original' }}') center no-repeat;"{% endif %}>
                                        <a href="/collections/{{ block.settings.linklist4 | handleize }}">
                                            {% if block.settings.img4_hover != blank %}<img src="{{ block.settings.img4_hover | img_url:'original' }}">{% endif %}
                                        </a>
                                    </div>
                                    <h4 class="mb-0 nav-link d-ex-lg-none d-flex align-items-center justify-content-between shop text-gray-900 px-ex-lg-5 position-relative py-0">Hayabusa</h4>
                                    <ul class="list-unstyled">
                                        {% for link in linklists[block.settings.linklist4].links %}
                                            <li><a href="{{ link.url }}" class="text-capitalize h5 mb-ex-lg-2 mb-0 px-ex-lg-0 px-3">{{ link.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-ex-lg-4 for-index pl-ex-lg-0 pl-5 py-ex-lg-0 py-3 d-ex-lg-flex">
                        <div class="brand-list pl-ex-lg-8 bg-gray-300 py-ex-lg-6 ml-ex-lg-6">
                            <h4 class="mb-0 nav-link d-ex-lg-none d-flex align-items-center justify-content-between shop text-gray-900 px-ex-lg-5 position-relative py-0">All brands</h4>
                            <ul class="list-unstyled for-column clearfix">
                                {% for link in linklists[block.settings.all_linklist].links %}
                                    <li class="w-50 float-ex-lg-left"><a href="{{ link.url }}" class="text-capitalize h5 mb-ex-lg-2 mb-0 px-ex-lg-0 px-3">{{ link.title }}</a></li>
                                {% endfor %}
                                <li class="w-50 float-ex-lg-left" id="shop"><a href="/pages/brands" class="a-link h5 mt-ex-lg-3 mt-0 d-block mb-0">SHOP ALL BRANDS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</li>