<li class="nav-item down-menu mx-xl-5 mx-ex-lg-3 mega-menu pt-ex-lg-4 pb-ex-lg-3 px-ex-lg-0">
    <a href="{{ link.url }}" role="button" data-toggle="dropdown" aria-expanded="true" rel="nofollow" aria-label="Shop" class="mb-0 nav-link d-flex align-items-center justify-content-between shop h4 text-gray-900 px-ex-lg-2 px-3 position-relative py-ex-lg-0 py-3"><span>{{ link.title }}</span></a> 
    <ul class="menu_dropdown list-unstyled">
        <div class="for-bg py-ex-lg-6" {% if block.settings.image != blank %}style="background: url('{{ block.settings.image | img_url:'400x400' }}') top left no-repeat; " {% endif %}>
            <div class="container">
                <div class="row">
                    <div class="col-ex-lg-9 offset-ex-lg-2 for-left-padding">
                        <div class="row">
                        {% for sublink in link.links %}
                            <div class="col border-right pl-ex-lg-6 pl-5 pb-ex-lg-2 pt-ex-lg-1 pt-3 pb-3">
                                <a href="{{sublink.url}}"><h4 class="text-uppercase mb-ex-lg-2 mb-0 font-weight-bold d-inline-block">{{ sublink.title }}</h4></a>
                                <ul class="list-unstyled">
                                    {% for childlink in sublink.links %}
                                     <li><a class="text-capitalize h5 mb-ex-lg-2 mb-0 px-ex-lg-0 px-3" href="{{ childlink.url }}" name="{{ childlink.title }}" title="{{ childlink.title }}" aria-label="{{ childlink.title }}">{{ childlink.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</li>