<div class="collapse navbar-collapse row w-100">
  <a v-cloak href="/" class="mr-xl-10 mr-4 d-block py-ex-lg-0 py-2 main-logo ml-4 ml-xl-0 ml-ex-lg-0" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
    {% if logo contains 'no-image' %}
      <span class="h5 text-primary"><i class="icon ion-pound text-primary"></i> {{ shop.name | escape }}</span>
    {% else %}
      <img v-if="isLogoLight" src="{{ logo_light }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ logo_width }}px">
      <img v-else src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ logo_width }}px">
    {% endif %}
  </a>
{% for link in linklists[section.settings.main_linklist].links %} {% endfor %}
  <!-- <div id="main-nav" class="d-ex-lg-flex d-none justify-content-start align-items-center mx-auto " data-main-nav>
    <ul class="navbar-nav text-uppercase main-menu">
          {% for link in linklists[section.settings.main_linklist].links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if menus[child_list_handle].links != blank %}
              <li class="nav-item dropdown {% if link.active %} active{% endif %} px-4 py-2">
                <a {% if link.title == 'Rewards' %}href="#" data-smile-deep-link="home"{% else %}href="{{ link.url }}"{% endif %} class="nav-link d-flex align-items-center font-weight-bold py-3 justify-content-between {{ link.handle }}" role="button" data-toggle="dropdown" aria-expanded="false" rel="nofollow" aria-label="{{ link.title }}" title="{{ link.title }}" style="color: {{header_text_color}};">
                  <span>{{ link.title }}</span> 
                </a>
                <ul class="dropdown-menu">
                  {% for childlink in menus[child_list_handle].links %}
                    <li><a class="dropdown-item {% if childlink.active %} active{% endif %} {{ childlink.handle }}" {% if childlink.title == 'Rewards' %}href="#" data-smile-deep-link="home"{% else %}href="{{ childlink.url }}"{% endif %}>{{ childlink.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="nav-item {% if link.active %} active{% endif %} px-4 py-2"><a class="nav-link   py-3 font-weight-bold {{ link.handle }}" {% if link.title == 'Rewards' %}href="#" data-smile-deep-link="home"{% else %}href="{{ link.url }}"{% endif %} style="color: {{header_text_color}};">{{ link.title }}</a></li>
            {% endif %}
        {% endfor %}

    </ul>
  </div> -->

  <div id="main-nav" class="d-ex-lg-flex d-none justify-content-start align-items-center mr-auto" data-main-nav>
    <ul class="navbar-nav text-uppercase main-menu">
      {% assign withoutImg = '' %}
      {% assign withImg = '' %}
      {% for link in linklists[section.settings.main_linklist].links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if menus[child_list_handle].links != blank %}
          {% for block in section.blocks %}
              {% if block.type == 'megamenu-without-image' %}
                {% if block.settings.name_1 == link.handle %}
                
                  {% include 'megamenu-without-images' %}
                {% endif %}
              {% elsif block.type == 'megamenu-with-image' %}
            
                {% if block.settings.name_2 == link.handle %}
                  {% include 'megamenu-with-images' %}
                {% endif %}
              {% endif %}
          {% endfor %}
        {% else %}
          <li class="nav-item mx-xl-5 mx-ex-lg-3 pt-ex-lg-4 pb-ex-lg-3 px-ex-lg-0"><a href="{{ link.url }}" class="nav-link about h4 px-ex-lg-2 px-3 position-relative py-ex-lg-0 py-3"  style="color: {{header_text_color}};">{{ link.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
   <ul class="navbar-nav navbar-icon-links col-5 align-items-center d-none d-ex-lg-flex">
    <li class="nav-item nav-icon mr-auto w-100">
        <form action="/search" method="get"  class="newslatter-form d-flex align-items-center search-box w-100 pr-0" role="search">
            <input type="search" name="q" value="{{ search.terms | escape }}" class="form-control px-3 border-right-0 text-gray-900" placeholder="Search">
            <span class="">
                <button class="btn btn-white border border-left-0 h4 m-0 mob-submit m-0 p-0 line-height-normal d-flex align-items-center justify-content-center"><img class="search-icon" src="https://cdn.shopify.com/s/files/1/1055/0178/files/search-icon.svg?11418943917466031158"></button>
            </span>
        </form>
      </li>

       {% if shop.customer_accounts_enabled %}
      <li class="nav-item nav-icon">
        <a class="nav-link" href="/account" name="account" title="account" rel="nofollow" aria-label="Account">
          <img class="user-img" src="https://cdn.shopify.com/s/files/1/1055/0178/files/user-icon.svg?13689502637520330460">
        </a>
      </li>
      {% endif %} 

       <li class="nav-item list-inline-item nav-icon">
        {% include 'header-cart-link' %}
      </li> 
    </ul>
</div>

<div class="mob-logo d-block d-lg-none pl-2 pl-xl-0 pl-lg-2 pl-ex-lg-0">
  <a v-cloak href="/" class="mr-xl-10 mr-4 d-block py-ex-lg-0 py-2 main-logo" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
    {% if logo contains 'no-image' %}
      <span class="h5 text-primary"><i class="icon ion-pound text-primary"></i> {{ shop.name | escape }}</span>
    {% else %}
      <img v-if="isLogoLight" src="{{ logo_light }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ logo_width }}px">
      <img v-else src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ logo_width }}px">
    {% endif %}
  </a>
</div>

<ul class="navbar-nav align-items-center list-inline ml-auto d-flex align-items-center d-ex-lg-none flex-row">
 {% comment %}
 <li class="nav-item list-inline-item nav-icon">
  <div class="d-flex justify-content-end align-items-center d-lg-none">
      {% if shop.customer_accounts_enabled %}
          <div class="nav-item nav-icon">
              <a class="nav-link pr-0 pl-8 my-0 py-0 text-primary font-size-sm font-weight-bold text-uppercase" href="/account" name="account" title="account" rel="nofollow" aria-label="Account">
                  {%if customer%}Account{% else %}Login {% endif %}
              </a>
          </div>
      {% endif %}
      <div class="nav-item list-inline-item nav-icon nav-link p-0">
          {% include 'header-cart-link' %}
      </div> 
  </div>
</li> {% endcomment %}
   {% if shop.customer_accounts_enabled %}
  <li class="nav-item list-inline-item nav-icon d-md-inline-block mr-3">
    <a class="nav-link" href="/account" name="account" title="account" rel="nofollow" aria-label="Account">
      <img class="user-img" src="https://cdn.shopify.com/s/files/1/0858/7748/files/user-icon.svg?14584062864529144603">
    </a>
  </li>
  {% endif %} 

  <li class="nav-item list-inline-item nav-icon mr-3">
    <a class="nav-link" href="#" @click.prevent="_toggleSearch" name="search" title="search" rel="nofollow" aria-label="Search">
      <img class="search-icon" src="https://cdn.shopify.com/s/files/1/0858/7748/files/search-mob-icon.svg?2145902152057698480">
    </a>
  </li>

   <li class="nav-item list-inline-item nav-icon mr-3">
    {% include 'header-cart-link' %}
  </li> 

  <li class="nav-item list-inline-item nav-icon menu-toggler" data-menu-toggler>
    <a class="nav-link text-gray-900 py-3 line-height-normal" href="#" name="menu" title="menu" rel="nofollow" aria-label="Menu">
      <i class="icon ion-md-menu"></i>
    </a>
  </li>
</ul>
