<form action="{{ section.settings.mailchimp }}" data-newsletter method="get" class="newslatter-form search-box w-100 newslatter mb-md-6 mb-4 position-relative" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
    <div class="d-flex align-items-center">
        <input class="form-control px-3 bg-transparent border w-100 pr-7" type="text" name="EMAIL" id="mce-EMAIL" data-email-input placeholder="Email Address">
        <span class=""><button class="btn bg-transparent h4 m-0 mob-submit m-0 px-3 py-2 position-absolute d-block" name="subscribe" id="subscribe" data-subscribe type="submit"><img class="mail-submit" src="https://cdn.shopify.com/s/files/1/1055/0178/files/arrow-send.svg?16793887027589486901"></button></span>
    </div>

    <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
    </div> 
    <div><p class="error-msg mt-2 mb-0 font-weight-normal" data-error-msg style="color: rgb(96, 96, 96); text-align: left; display:none;">Enter valid email.</p></div>
</form> 