

  {% comment %} {% for part in paginate.parts %}
    {% if part.is_link %}
      <a href="{{ part.url }}" name="{{ part.title }}" title="{{ part.title }}" aria-label="{{ part.title }}">{{ part.title }}</a>
      <span class="sep">/</span>
    {% else %}
      {% if part.title == paginate.current_page %}
        <span class="active">{{ part.title }}</span>
        <span class="sep">/</span>
      {% else %}
        <span>{{ part.title }}</span>
      {% endif %}
    {% endif %}
  {% endfor %} {% endcomment %}

  <a href="{{ paginate.previous.url }}" name="{{ paginate.previous.title }}" title="{{ paginate.previous.title }}" aria-label="{{ paginate.previous.title }}" class="text-uppercase h4 mb-0 newer-post post-arrow position-relative {% unless paginate.previous %}disabled{% endunless %} address-customer">newer posts</a>

  <nav aria-label="...">
      <ul class="pagination d-flex  mx-2  align-items-center justify-content-center mb-0 font-weight-normal">
        {% for part in paginate.parts %}
          {% if part.title == paginate.current_page %}
            <li class="page-item active">
              <a class="page-link border-0 bg-transparent px-2" href="{{ part.url }}" tabindex="-1">{{ part.title }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link border-0 bg-transparent px-2" href="{{ part.url }}">{{ part.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
  </nav>

  <a href="{{ paginate.next.url }}" name="{{ paginate.next.title }}" title="{{ paginate.next.title }}" aria-label="{{ paginate.next.title }}" class="text-uppercase h4 mb-0 older-post post-arrow position-relative {% unless paginate.next %}disabled{% endunless %} address-customer">older posts</a>