{% if settings.promobar_content != blank and settings.enable %}
    <div class="mma_warehouse promo-bar">
        <div class="mini-header py-2" style="background-color: {{ settings.bg_color_promo }} !important;">
            <div class="container text-center">
                <span class="text-uppercase text-white">{{ settings.promobar_content }}</span>
            </div>
        </div>
    </div>
{% endif %}