{%- assign pt_clear_text = 'Reset Filter' -%}
{%- assign pt_view_all_text = 'view all' -%}
{%- assign pt_collection_text = 'Collection' -%}
{%- assign pt_tags_text = 'Tags' -%}
<style type="text/css">
   {{ shop.metafields.pt_filter_css['system'] }}
   {{ shop.metafields.pt_filter_css['user'] }}
</style>
<div class="collection__sidebar" id="sidebar" data-collection-sidebar>
   {% comment %} <button class="collection__sidebar-filter-trigger d-block  d-md-none">Filters</button> {% endcomment %}
   <div class="collection__sidebar-content pr-lg-4 pr-0 collection-filters sidebar__inner"  data-collection-filters>
      <div class="filter-menu filter-selected-{{ collection.handle }}{% for tag in current_tags %} filter-selected-{{ tag | handleize }}{% endfor %}">
         <div class="back_clear d-flex d-md-none align-items-center justify-content-between bg-white w-100 border-bottom">
            <div class="back_arrow text-center border-right" data-back-arrow></div>
            <a href="javascript:void(0)" data-clear-all class="clear-all mr-3 font-weight-medium font-weight-bold text-uppercase d-block d-md-none text-primary">Clear all</a>
         </div>
         <h3 class="collection__sidebar-title text-uppercase mb-0 pb-2 pt-3 px-3 px-md-0 letter-spacing">Filters</h3>
         {%- unless collection.handle != nil and template contains 'collection' -%}
         {%- for menu_header in shop.metafields.pt_filter_menu -%}
         {%- assign menu_items = menu_header.last | split: ',' -%}
         {%- assign header_handle = menu_header.first | split: '-' -%}
         {%- assign header_handle = menu_header.first | replace: header_handle.first, '' -%}
         <div class="filter-group filter-group{{ header_handle }} position-relative">
            <h4 class="font-weight-bold text-uppercase d-block w-100 border-top cursor-pointer pt-3 pb-3 mb-0">{{ shop.metafields.pt_filter_header[menu_header.first] }}</h4>
            <div class="scroll-content mb-4">
               <ul class="nav{{ header_handle }}">
                  {%- for menu_item in menu_items -%}
                  {%- assign filter_collection = collections[menu_item] -%}
                  {%- if filter_collection and filter_collection.all_products_count != '' and filter_collection.all_products_count > 0 and filter_collection.title != nil and filter_collection.title != '' -%}
                  <li class="collection-container filter-active-{{ filter_collection.handle }} {% if tag_list contains menu_item %}active{% endif %} {% if current_tags contains menu_item or current_collection_handle == menu_item %}selected{% endif %}">
                     <div class="collection-name">
                        <a href="/collections/{{ menu_item }}" title="{{ filter_collection.title | escape }}" class="mb-3 h5 text-capitalize text-light-gray p-0 d-flex align-items-center d-flex align-items-center d-flex align-items-center"><i class="check-icon position-relative"></i> {{ filter_collection.title  | replace:'-',' ' | capitalize | escape }}</a>{%- unless current_tags -%}<span class="collection-count">({{ filter_collection.all_products_count }})</span>{%- endunless -%}
                     </div>
                  </li>
                  {%- endif -%}
                  {%- endfor -%}
               </ul>
            </div>
         </div>
         {%- endfor -%}
         {%- else-%}
         {%- assign tag_list = collection.tags -%}
         {%- assign current_collection_handle = collection.handle -%}
         {%- assign displayed_collection_handles = '|' -%}
         {%- if collection.metafields.sort_primary.collection_handle -%}
         {%- assign current_collection_handle = collections[collection.metafields.sort_primary.collection_handle].handle -%}
         {%- endif -%}
         {%- for menu_header in shop.metafields.pt_filter_menu -%}
         {%- assign has_items = false -%}
         {%- assign has_multiple_items = false -%}
         {%- assign has_selected = false -%}
         {%- assign current_selected = '|' -%}
         {%- assign menu_items = menu_header.last | split: ',' -%}
         {%- for menu_item in menu_items -%}
         {%- assign filter_collection = collections[menu_item] -%}
         {%- if tag_list contains menu_item or current_tags contains menu_item or current_collection_handle == menu_item -%}
         {%- if has_items -%}
         {%- assign has_multiple_items = true -%}
         {%- endif -%}
         {%- assign has_items = true -%}
         {%- if current_tags contains menu_item or current_collection_handle == menu_item -%}
         {%- assign has_selected = true -%}
         {%- endif -%}
         {%- endif -%}
         {%- endfor -%}
         {%- if has_items -%}
         {%- assign header_handle = menu_header.first | split: '-' -%}
         {%- assign header_handle = menu_header.first | replace: header_handle.first, '' -%}
         {%- assign header_handle = header_handle | split: '-' -%}
          {%- assign header_handle = header_handle.last -%}
          
         <div class="filter-group position-relative px-3 px-md-0 filter-group-{{ header_handle }} {% if has_selected %}has_group_selected{% endif %} {% if has_multiple_items %}has_mutliple_items{% else %}has_single_item{% endif %}">
 <script>
               $(document).ready(function() {
                   // Filter Menu Cookie Toggle States
                   $('.filter-trigger{{ header_handle }}').click(function() {
                   $('.fitler-content{{ header_handle }}').removeClass('d-none');
                   if(Cookies.get('filter{{ header_handle }}') == undefined) {
                       Cookies.set('filter{{ header_handle }}', 1, { expires: 1});
                       $('.fitler-content{{ header_handle }}').removeClass('d-none');
                       $('.filter-icons{{ header_handle }}').addClass('filter-icons--active');
                   } else {
                       Cookies.remove('filter{{ header_handle }}', 0, { expires: 0});
                       $('.fitler-content{{ header_handle }}').addClass('d-none');
                       $('.filter-icons{{ header_handle }}').removeClass('filter-icons--active');
                   }
                   });
               
                    {% comment %} 
                    if(Cookies.get('filter{{ header_handle }}') == undefined) {
                        $('.fitler-content{{ header_handle }}').addClass('d-none');
                        $('.filter-icons{{ header_handle }}').removeClass('filter-icons--active');
                    } else {
                        $('.fitler-content{{ header_handle }}').removeClass('d-none');
                        $('.filter-icons{{ header_handle }}').addClass('filter-icons--active');
                    } {% endcomment %}

                    Cookies.set('filter{{ header_handle }}', 1, { expires: 1});
                    $('.fitler-content{{ header_handle }}').removeClass('d-none');
                    $('.filter-icons{{ header_handle }}').addClass('filter-icons--active');

                    if($('.fitler-content-type .more-height-hidden').height() < 350){
                        $('.fitler-content-type [data-more-list]').hide()
                    }

                    $('[data-more-list]').click(function(){
                        $(this).closest('.fitler-for-all').find('ul').toggleClass('more-height-hidden');
                        $(this).addClass('d-none');
                        $(this).siblings('[data-less-list]').removeClass('d-none');
                        setTimeout(() => {
                            var sidebar = new StickySidebar('[data-collection-sidebar]', {
                            topSpacing: 20,
                            bottomSpacing: 20,
                            containerSelector: '.container',
                            innerWrapperSelector: '[data-collection-filters]'
                            });
                        }, 1000);
                    });
                    $('[data-less-list]').click(function(){
                       {% comment %} $("html,body").animate({
                        scrollTop: 0
                       }); {% endcomment %}
                       $("html,body").scrollTop( 0 );
                       $(this).closest('.fitler-for-all').find('ul').toggleClass('more-height-hidden');
                       $(this).siblings('[data-more-list]').removeClass('d-none');
                       $(this).addClass('d-none');
                    });

                    $('[data-more-list-brands]').click(function(){
                        $(this).closest('.fitler-for-all').find('ul').toggleClass('more-height-hidden-brands');
                        $(this).addClass('d-none');
                        $(this).siblings('[data-less-list-brands]').removeClass('d-none');
                    });
                    $('[data-less-list-brands]').click(function(){
                       {% comment %} $("html,body").animate({
                        scrollTop: 0
                       }); {% endcomment %}
                       $("html,body").scrollTop( 0 );
                       $(this).closest('.fitler-for-all').find('ul').toggleClass('more-height-hidden-brands');
                       $(this).siblings('[data-more-list-brands]').removeClass('d-none');
                       $(this).addClass('d-none');
                    });
               });
            </script>
            <h4  class="filter-trigger{{ header_handle }} font-weight-bold text-uppercase d-block w-100 border-top cursor-pointer pt-3 pb-3 mb-0">
               {{ shop.metafields.pt_filter_header[menu_header.first] }}
               <div class="filter-icons{{ header_handle }}">
                  <svg class="icon-plus" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                     <polygon fill-rule="evenodd" points="8 0 5 0 5 5 0 5 0 8 5 8 5 13 8 13 8 8 13 8 13 5 8 5"/>
                  </svg>
                  <svg class="icon-minus" xmlns="http://www.w3.org/2000/svg" width="13" height="3" viewBox="0 0 13 3">
                     <rect width="13" height="3" fill-rule="evenodd"/>
                  </svg>
               </div>
            </h4>
            <div class="fitler-content{{ header_handle }} scroll-content mb-4 d-none fitler-for-all">
                <ul class="nav{{ header_handle }} {% if has_selected %}has_selected{% endif %} {% if header_handle == '-type' %}more-height-hidden{% endif %} {% if header_handle == '-brand' %}more-height-hidden-brands{% endif %}">
                    {%- for menu_item in menu_items -%}
                    {%- assign filter_collection = collections[menu_item] -%}
                    {%- if filter_collection and filter_collection.title != nil and filter_collection.title != '' -%}
                        {%- if tag_list contains menu_item or current_tags contains menu_item or current_collection_handle == menu_item -%}
                            {%- if current_tags contains menu_item or current_collection_handle == menu_item -%}{%- assign current_selected = current_selected | append: menu_item | append: '|' -%}{%- endif -%}
                            {%- assign displayed_collection_handles = displayed_collection_handles | append: menu_item | append: '|' -%}
                            <li class="collection-container filter-active-{{ filter_collection.handle }} {% if tag_list contains menu_item %}active{% endif %} {% if current_tags contains menu_item or current_collection_handle == menu_item %}selected{% endif %}">
                                <div class="collection-name color-{{ filter_collection.title | escape | handleize }}">
                                    
                                    {%- if current_tags contains menu_item -%}
                                    {% assign appendColor =  'class="mb-3 h5 text-capitalize text-light-gray p-0 d-flex align-items-center d-flex align-items-center" style="background-color:' | append : menu_item | append: ';border:' | append : menu_item | append : ';" title=' %}
                                    {{ '<i class="check-icon position-relative"></i> ' | append: filter_collection.title | link_to_remove_tag: menu_item | replace: 'title=', appendColor }}
                                    {%- elsif current_collection_handle == menu_item -%}
                                    <a href="/collections/all{%- if current_tags -%}/{{ current_tags | join: '+' }}{%- endif -%}" title="{{ filter_collection.title | escape }}" style="background-color:{{ filter_collection.title | escape | downcase }};border:1px solid {{ filter_collection.title | escape | downcase }};" class="mb-3 h5 text-capitalize text-light-gray p-0 d-flex align-items-center d-flex align-items-center" style="background-color:{{ filter_collection.title | escape | downcase }};border:1px solid {{ filter_collection.title | escape | downcase }};"><i class="check-icon position-relative"></i> {{ filter_collection.title | replace:'-',' ' | capitalize | escape }}</a>
                                    {%- elsif current_collection_handle == 'all' -%}
                                    <a href="/collections/{{ menu_item }}{%- if current_tags -%}/{{ current_tags | join: '+' }}{%- endif -%}" title="{{ filter_collection.title | escape }}" style="background-color:{{ filter_collection.title | escape | downcase }};border:1px solid {{ filter_collection.title | escape | downcase }};" class="mb-3 h5 text-capitalize text-light-gray p-0 d-flex align-items-center d-flex align-items-center" style="background-color:{{ filter_collection.title | escape | downcase }};border:1px solid {{ filter_collection.title | escape | downcase }};"><i class="check-icon position-relative"></i> {{ filter_collection.title | replace:'-',' ' | capitalize | escape }}</a>{%- unless current_tags -%}<span class="collection-count">({{ filter_collection.all_products_count }})</span>{%- endunless -%}
                                    {%- else -%}
                                    {% assign color = filter_collection.title | escape | downcase %}
                                    {% assign style = 'class="mb-3 h5 text-capitalize text-light-gray p-0 d-flex align-items-center d-flex align-items-center" style="background-color:' | append : color | append: ';border:' | append : color | append : ';" title=' %}
                                    
                                    {{ '<i class="check-icon position-relative"></i> ' | append: filter_collection.title | link_to_add_tag: menu_item | replace: 'title=', style }}{%- endif -%}
                                </div>
                            </li>
                        {%- elsif settings.pt_show_inactive_filters -%}
                            <li class="collection-container filter-active-{{ filter_collection.handle }} inactive">
                                <div class="collection-name">
                                    <a title="{{ filter_collection.title | escape }}" class="mb-3 h5 text-capitalize text-light-gray p-0 d-flex align-items-center d-flex align-items-center"><i class="check-icon position-relative"></i> {{ filter_collection.title | replace:'-',' ' | capitalize | escape }}</a>
                                </div>
                            </li>
                        {%- endif -%}
                    {%- endif -%}
                    {%- endfor -%}
                </ul>
                
                {% if header_handle  == '-brand' or header_handle == '-type' %}
                    <div class="rte p font-weight-normal a-link mt-0 font-size-sm mb-3 cursor-pointer" {% if header_handle  == '-brand' %}data-more-list-brands{% endif %} {% if header_handle  == '-type' %}data-more-list{% endif %}>More</div>
                    <div class="rte p font-weight-normal a-link mt-3 font-size-sm mb-3 cursor-pointer d-none" {% if header_handle  == '-brand' %}data-less-list-brands{% endif %} {% if header_handle  == '-type' %}data-less-list{% endif %}>Less</div>
                {% endif %}
            </div>
            {%- unless '|' == current_selected -%}
            {%- assign current_collection_handle_sep = current_collection_handle | prepend: '|' | append: '|' -%}
            {%- if current_selected contains current_collection_handle_sep -%}{%- assign current_collection_handle_sep = 'all' -%}{%- assign current_selected = current_selected | replace: current_collection_handle_sep, '|' -%}{%- else -%}{%- assign current_collection_handle_sep = collection.handle -%}{%- endif -%}
            {%- assign cleared_tags = current_tags | join: '|'  | prepend: '|' | append: '|' -%}
            {%- assign current_selected_split = current_selected | split: '|' -%}
            {%- for current_selected_tag in current_selected_split -%}
            {%- unless '' == current_selected_tag -%}
            {%- assign current_selected_tag = current_selected_tag | prepend: '|' | append: '|' -%}
            {%- if cleared_tags contains current_selected_tag -%}
            {%- assign cleared_tags = cleared_tags | replace: current_selected_tag, '|' -%}
            {%- endif -%}
            {%- endunless -%}
            {%- endfor -%}
            {%- assign cleared_tags = cleared_tags | replace: '||||', '|' | replace: '|||', '|' | replace: '||', '|' | remove_first: '|' | split: '|' | join: '+' -%}
            {%- unless current_collection_handle_sep -%}
            {%- assign current_collection_handle_sep = 'all' -%}
            {%- endunless -%}
            <a class="filter-clear mr-2 mr-md-0" href="/collections/{{ current_collection_handle_sep }}{%- unless '|' == cleared_tags or '' == cleared_tags -%}/{{ cleared_tags }}{%- endunless -%}">{{ pt_clear_text }}</a>
            {%- endunless -%}
         </div>
         {%- endif -%}
         {%- endfor -%}
         {%- assign current_collection_handle_sep = current_collection_handle | prepend: '|' | append: '|' -%}
         {%- if settings.pt_show_tags_group -%}
         {%- if current_collection_handle == collection.handle and current_collection_handle != 'all' -%}
         {%- for tag in current_tags -%}
         {%- assign tag_handle = tag | handle -%}
         {%- if tag != tag_handle -%}
         {%- assign has_selected = true -%}
         {%- endif -%}
         {%- endfor -%}
         <div class="filter-group filter-group-tags-options {% if has_selected %}has_group_selected{% endif %}">
            <h4 class="font-weight-bold text-uppercase d-block w-100 border-top cursor-pointer pt-3 pb-3 mb-0">{{ pt_tags_text }}</h4>
            <ul class="nav-tags-group">
                {%- for tag in collection.tags -%}
                    {%- assign tag_handle = tag | handleize -%}
                    {%- if tag_handle != tag -%}
                        <li class="collection-container filter-active-{{ tag_handle }} active {% if current_tags contains tag %}selected{% endif %}">
                            <div class="collection-name">
                                {%- if current_tags contains tag -%}{{ '<i class="check-icon position-relative"></i> ' | append: tag | link_to_remove_tag: tag }}{%- assign current_selected = current_selected | append: tag | append: '|' -%}
                                {%- else -%}{{ '<i class="check-icon position-relative"></i> ' | append: tag | link_to_add_tag: tag }}{%- endif -%}
                            </div>
                        </li>
                    {%- endif -%}
                {%- endfor -%}
            </ul>
            {%- unless '|' == current_selected -%}
            {%- assign cleared_tags = current_tags | join: '|'  | prepend: '|' | append: '|' -%}
            {%- assign current_selected_split = current_selected | split: '|' -%}
            {%- for current_selected_tag in current_selected_split -%}
            {%- unless '' == current_selected_tag -%}
            {%- assign current_selected_tag = current_selected_tag | prepend: '|' | append: '|' -%}
            {%- if cleared_tags contains current_selected_tag -%}
            {%- assign cleared_tags = cleared_tags | replace: current_selected_tag, '|' -%}
            {%- endif -%}
            {%- endunless -%}
            {%- endfor -%}
            {%- assign cleared_tags = cleared_tags | replace: '||||', '|' | replace: '|||', '|' | replace: '||', '|' | remove_first: '|' | split: '|' | join: '+' -%}
            <a class="filter-clear mr-2 mr-md-0" href="/collections/{{ current_collection_handle }}{% unless '|' == cleared_tags or '' == cleared_tags %}/{{ cleared_tags }}{% endunless %}">{{ pt_clear_text }}</a>
            {%- endunless -%}
         </div>
         {%- endif -%}
         {%- endif -%}
         {%- unless displayed_collection_handles contains current_collection_handle_sep or current_collection_handle == 'all' -%}
         <div class="filter-group filter-group-not-shown has_group_selected">
            <h4 class="font-weight-bold text-uppercase d-block w-100 border-top cursor-pointer pt-3 pb-3 mb-0">{{ pt_collection_text }}</h4>
            <ul class="nav-not-shown">
               <li class="collection-container filter-active-{{ collection.handle }} active selected">
                  <div class="collection-name">
                     <a href="/collections/all{%- if current_tags -%}/{{ current_tags | join: '+' }}{%- endif -%}" title="{{ collection.title | escape }}" ><i class="check-icon position-relative"></i> {{ collection.title | escape }}</a>
                  </div>
               </li>
            </ul>
            <a class="filter-clear mr-2 mr-md-0" href="/collections/all{%- if current_tags -%}/{{ current_tags | join: '+' }}{%- endif -%}">{{ pt_clear_text }}</a>
         </div>
         {%- endunless -%}
         {%- endunless -%}
      </div>
   </div>
</div>
<div data-site-overlay="" class="overlay site-overlay"></div>