<div class="blog-sidebar ml-xl-5 {% if sidebar_is_sticky %}sticky-top{% endif %}">
<div class="pb-5 border-bottom">
  <form class="newslatter-form d-flex align-items-center search-box w-100 border" method="get" action="/search">
      <input class="form-control px-3 border-0 text-gray-900" type="text" name="q" {% if search.performed %} value="{{ search.terms | escape | downcase }}"{% endif %} placeholder="Search the blog">
      <input type="hidden" name="type" value="article" />
      <span class="">
          <button type="submit" class="btn btn-primary h4 m-0 mob-submit m-0 px-3 py-2 line-height-normal bg-transparent border-0"><img class="search-icon" src="https://cdn.shopify.com/s/files/1/1055/0178/files/search.svg?11456910140737595473"></button>
      </span>
  </form>
</div>
  {% for block in section.blocks %}

      {% comment %} social sharing {% endcomment %}
      {% if block.settings.enable_socials %}
        <div class="py-5 border-bottom text-md-left text-center" {{ block.shopify_attributes }}>
          <h4 class="text-uppercase font-weight-bold mb-3">{{ block.settings.socials_title }}</h4>
          <div class="social-share">
            <ul class="nav d-flex align-items-start justify-content-md-start justify-content-center">
              {% if block.settings.social_icon_facebook %}
              <li class="nav-item">
                  <a class="nav-link text-uppercase mr-md-4 ml-md-0 ml-2 mr-2 mb-0 p-0 link-item h3 text-primary d-flex" href="{{ settings.social_facebook_link }}" name="Facebook" title="Facebook" rel="nofollow" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
              </li>
              {% endif %}

              {% if block.settings.social_icon_twitter %}
              <li class="nav-item">
                <a class="nav-link text-uppercase mr-md-4 ml-md-0 ml-2 mr-2 mb-0 p-0 link-item h3 text-primary d-flex" href="{{ settings.social_twitter_link }}" name="Twitter" title="Twitter" rel="nofollow" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
              </li>
              {% endif %}

              {% if block.settings.social_icon_instagram %}
              <li class="list-inline-item">
                  <a class="nav-link text-uppercase mr-md-4 ml-md-0 ml-2 mr-2 mb-0 p-0 link-item h3 text-primary d-flex" href="{{ settings.social_instagram_link }}" name="Instagram" title="Instagram" rel="nofollow" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% if block.settings.enable_newsletter %}
      <div class="blog-newslatter border-bottom py-4">
        <div class="blog-bg position-relative w-100 pl-xl-5 pl-md-3 pl-4 pr-xl-10 pr-md-3 pr-4 text-white" style="background:url('{{ block.settings.bg_newsletter | img_url:'450x'}}') center no-repeat">
          <div class="d-flex flex-column h-100 justify-content-center newsletter_popup">
              <h2 class="text-uppercase heading-text font-weight-bold mb-2">{{ block.settings.news_title }}</h2>
              <p class="mb-4">{{ block.settings.news_desc }}</p>
              {% include 'newsletter' %}
          </div>
        </div>
      </div>
      {% endif %}

      {% comment %} recent articles {% endcomment %}
      {% if block.settings.enable_recent_articles %}
        <div class="popular-post py-4 border-bottom">
          <h4 class="text-uppercase font-weight-bold mb-4">{{ block.settings.recent_articles_title }}</h4>
          {% assign total_recent_articles = block.settings.total_recent_articles %}
          {% for article in blogs[blog.handle].articles limit:total_recent_articles %}
            <div class="popular-blog-post mb-3">
              <div class="d-flex align-items-center">
                <div class="blog-image">
                  <a href="{{ article.url }}" name="{{ article.title }}" title="{{ article.title }}" aria-label="{{ article.title }}">
                    {% unless article_image contains 'no-image' %}
                      <img class="d-flex mr-3" src="{{ article.image | img_url: '40x40', crop: 'center' }}" class="img-fluid" alt="{{ article.title }}">
                      {% else %}
                          <img src='{{ "bg-1.png" | asset_img_url:"original" }}' class="img-fluid"/>
                    {% endunless %}
                  </a>
                </div>
                <div class="ml-3 blog-head">
                  <a href="{{ article.url }}" class="text-gray-900"><h4 class="font-weight-bold mb-1">{{ article.title }}</h4></a>
                  {% comment %} <h5 class="font-weight-light mb-0 text-light-gray">{{ article.content | strip_html | truncatewords: 8 }}</h5> {% endcomment %}
                  <h5 class="font-weight-light mb-0 text-light-gray"><time datetime="formatDate(article.node.publishedAt)"> {{ article.published_at | date: "%a, %b %d, %Y" }}</time></h5>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% comment %} blog categories {% endcomment %}
      {% if block.settings.enable_categories %}
      <div class="blog-categories py-4 border-bottom">
          <h4 class="text-uppercase font-weight-bold mb-3">{{ block.settings.category_title }}</h4>
          <ul class="nav d-inline-block">
              {% for link in linklists[block.settings.blog_linklist].links %}
                <li class="nav-item"><a class="nav-link h5 text-capitalize link-item p-0 mb-3 text-light-gray" href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
          </ul>
          <a href="#" class="a-link d-block font-size-sm mb-0">more categories</a>
      </div>
      {% endif %}

      {% comment %} tags list {% endcomment %}
      {% if block.settings.enable_tags %}
        <div class="blog-tags py-4">
          <h4 class="text-uppercase font-weight-bold mb-4">{{ block.settings.tags_title }}</h4>
          <ul class="nav">
            {% for tag in blog.all_tags limit:20 %}
              {% if current_tags contains tag %}
                <li class="nav-item"><a class="nav-link h5 text-capitalize link-item py-2 px-3 border mb-2 mr-2 text-light-gray" href="{{ tag.url }}">{{ tag }}</a></li>
              {% else %}
                <li class="nav-item"><a class="nav-link h5 text-capitalize link-item py-2 px-3 border mb-2 mr-2 text-light-gray" href="{{ tag.url }}">{{ tag }}</a></li>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

  {% endfor %}

</div>
