{% comment %} 
  Render size charts based on product tags
{% endcomment %}

{% if product.tags contains 'size-pearl-weave-belt' %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-0pky">Size </th>
    <th class="tg-0pky">Length (in)</th>
    <th class="tg-0pky">Length (cm)</th>
  </tr>
  <tr>
    <td class="tg-0pky">A0</td>
    <td class="tg-0pky">105</td>
    <td class="tg-0pky">267</td>
  </tr>
  <tr>
    <td class="tg-0pky">A1</td>
    <td class="tg-0pky">109</td>
    <td class="tg-0pky">277</td>
  </tr>
  <tr>
    <td class="tg-0lax">A2</td>
    <td class="tg-0lax">111</td>
    <td class="tg-0lax">282</td>
  </tr>
  <tr>
    <td class="tg-0lax">A3</td>
    <td class="tg-0lax">120</td>
    <td class="tg-0lax">305</td>
  </tr>
  <tr>
    <td class="tg-0lax">A4</td>
    <td class="tg-0lax">124</td>
    <td class="tg-0lax">315</td>
  </tr>
  <tr>
    <td class="tg-0lax">A5</td>
    <td class="tg-0lax">127</td>
    <td class="tg-0lax">323</td>
  </tr>
</table>


{% elsif product.tags contains 'size-zenroll-belt' %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-0pky">Size </th>
    <th class="tg-0pky">Length (in)</th>
    <th class="tg-0pky">Length (cm)</th>
  </tr>
  <tr>
    <td class="tg-0pky">A0</td>
    <td class="tg-0pky">98</td>
    <td class="tg-0pky">249</td>
  </tr>
  <tr>
    <td class="tg-0pky">A1</td>
    <td class="tg-0pky">101</td>
    <td class="tg-0pky">256</td>
  </tr>
  <tr>
    <td class="tg-0lax">A2</td>
    <td class="tg-0lax">110</td>
    <td class="tg-0lax">280</td>
  </tr>
  <tr>
    <td class="tg-0lax">A3</td>
    <td class="tg-0lax">120</td>
    <td class="tg-0lax">304</td>
  </tr>
  <tr>
    <td class="tg-0lax">A4</td>
    <td class="tg-0lax">129</td>
    <td class="tg-0lax">328</td>
  </tr>
  <tr>
    <td class="tg-0lax">A5</td>
    <td class="tg-0lax">139</td>
    <td class="tg-0lax">354</td>
  </tr>
</table>

{% elsif product.tags contains 'size-jiu-jitsu-gi-belt' %}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-0pky">Size </th>
    <th class="tg-0pky">Length (in)</th>
    <th class="tg-0pky">Length (cm)</th>
  </tr>
  <tr>
    <td class="tg-0pky">A1</td>
    <td class="tg-0pky">108</td>
    <td class="tg-0pky">274</td>
  </tr>
  <tr>
    <td class="tg-0pky">A2</td>
    <td class="tg-0pky">111</td>
    <td class="tg-0pky">281</td>
  </tr>
  <tr>
    <td class="tg-0lax">A3</td>
    <td class="tg-0lax">115</td>
    <td class="tg-0lax">292</td>
  </tr>
  <tr>
    <td class="tg-0lax">A4</td>
    <td class="tg-0lax">121</td>
    <td class="tg-0lax">307</td>
  </tr>
</table>


{% elsif product.tags contains 'size-imatt-kids-spats' %}
<table class="tg">
  <tr>
    <th class="tg-0pky"></th>
    <th class="tg-0pky">Small</th>
    <th class="tg-0pky">Medium</th>
    <th class="tg-0pky">Large</th>
    <th class="tg-0pky">XL</th>
    <th class="tg-0lax">Unit</th>
  </tr>
  <tr>
    <td class="tg-0pky">Half Waist</td>
    <td class="tg-0pky">20</td>
    <td class="tg-0pky">21</td>
    <td class="tg-0pky">23</td>
    <td class="tg-0pky">25</td>
    <td class="tg-0lax">Inch</td>
  </tr>
  <tr>
    <td class="tg-0pky">Outseam Length</td>
    <td class="tg-0pky">63</td>
    <td class="tg-0pky">71</td>
    <td class="tg-0pky">74</td>
    <td class="tg-0pky">77</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0pky">Leg Opening</td>
    <td class="tg-0pky">8</td>
    <td class="tg-0pky">9</td>
    <td class="tg-0pky">10</td>
    <td class="tg-0pky">11</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0pky">Front Crotch</td>
    <td class="tg-0pky">14</td>
    <td class="tg-0pky">15</td>
    <td class="tg-0pky">15.5</td>
    <td class="tg-0pky">16</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0pky">Back Crotch</td>
    <td class="tg-0pky">19</td>
    <td class="tg-0pky">20</td>
    <td class="tg-0pky">21</td>
    <td class="tg-0pky">23</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0lax">Inseam Length</td>
    <td class="tg-0lax">50</td>
    <td class="tg-0lax">57</td>
    <td class="tg-0lax">59</td>
    <td class="tg-0lax">61</td>
    <td class="tg-0lax">CM</td>
  </tr>
</table>

{% elsif product.tags contains 'size-imatt-kids-rashguards' %}
<table class="tg">
  <tr>
    <th class="tg-0pky"></th>
    <th class="tg-0pky">Small</th>
    <th class="tg-0pky">Medium</th>
    <th class="tg-0pky">Large</th>
    <th class="tg-0pky">XL</th>
    <th class="tg-0lax">Unit</th>
  </tr>
  <tr>
    <td class="tg-0pky">Circle Collar</td>
    <td class="tg-0pky">34</td>
    <td class="tg-0pky">35</td>
    <td class="tg-0pky">37</td>
    <td class="tg-0pky">39</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0pky">Front Length (exclude collar height)</td>
    <td class="tg-0pky">42.5</td>
    <td class="tg-0pky">43.5</td>
    <td class="tg-0pky">47</td>
    <td class="tg-0pky">49</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0pky">Back Length (exclude collar height)</td>
    <td class="tg-0pky">47</td>
    <td class="tg-0pky">50.5</td>
    <td class="tg-0pky">52</td>
    <td class="tg-0pky">54</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0pky">Half Bottom</td>
    <td class="tg-0pky">29</td>
    <td class="tg-0pky">31.5</td>
    <td class="tg-0pky">35</td>
    <td class="tg-0pky">38</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0pky">Sleeve Length</td>
    <td class="tg-0pky">51</td>
    <td class="tg-0pky">54</td>
    <td class="tg-0pky">56.5</td>
    <td class="tg-0pky">59.5</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0pky">Sleeve Opening</td>
    <td class="tg-0pky">7</td>
    <td class="tg-0pky">7.5</td>
    <td class="tg-0pky">8</td>
    <td class="tg-0pky">8.5</td>
    <td class="tg-0lax">CM</td>
  </tr>
</table>

{% elsif product.tags contains 'size-imatt-kids-shorts' %}
<table class="tg">
  <tr>
    <th class="tg-0pky"></th>
    <th class="tg-0pky">Small</th>
    <th class="tg-0pky">Medium</th>
    <th class="tg-0pky">Large</th>
    <th class="tg-0pky">XL</th>
    <th class="tg-0lax">Unit</th>
  </tr>
  <tr>
    <td class="tg-0pky">Half Waistband (Stretch Outside Waistband)</td>
    <td class="tg-0pky">28<br></td>
    <td class="tg-0pky">30</td>
    <td class="tg-0pky">32</td>
    <td class="tg-0pky">34</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0pky">Half Waistband (Elastic Core Waistband - N Stretch Size</td>
    <td class="tg-0pky">20</td>
    <td class="tg-0pky">21.5</td>
    <td class="tg-0pky">22.5</td>
    <td class="tg-0pky">24</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0lax">Total Length</td>
    <td class="tg-0lax">38</td>
    <td class="tg-0lax">41</td>
    <td class="tg-0lax">44</td>
    <td class="tg-0lax">47</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0lax">Half Legging Opening</td>
    <td class="tg-0lax">22.5</td>
    <td class="tg-0lax">23.5</td>
    <td class="tg-0lax">24.5</td>
    <td class="tg-0lax">26</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0lax">Front Inseam</td>
    <td class="tg-0lax">29</td>
    <td class="tg-0lax">30.5</td>
    <td class="tg-0lax">32</td>
    <td class="tg-0lax">33.5</td>
    <td class="tg-0lax">CM</td>
  </tr>
  <tr>
    <td class="tg-0lax">Back Inseam</td>
    <td class="tg-0lax">33</td>
    <td class="tg-0lax">34</td>
    <td class="tg-0lax">35</td>
    <td class="tg-0lax">37</td>
    <td class="tg-0lax">CM</td>
  </tr>
</table>

{% elsif product.tags contains 'size-beimar-coaches-jacket' %}
<table class="tg">
  <tr>
    <th class="tg-0pky">Measurements</th>
    <th class="tg-0lax">XS</th>
    <th class="tg-0lax">S</th>
    <th class="tg-0lax">M</th>
    <th class="tg-0lax">L</th>
    <th class="tg-0lax">XL</th>
    <th class="tg-0lax">2XL</th>
  </tr>
  <tr>
    <td class="tg-0lax">Body Length at Center Back<br></td>
    <td class="tg-0lax">27</td>
    <td class="tg-0lax">28</td>
    <td class="tg-0lax">29</td>
    <td class="tg-0lax">30</td>
    <td class="tg-0lax">31</td>
    <td class="tg-0lax">32</td>
  </tr>
  <tr>
    <td class="tg-0lax">Chest (1" from below Armhole)</td>
    <td class="tg-0lax">20.75</td>
    <td class="tg-0lax">21.75</td>
    <td class="tg-0lax">22.75</td>
    <td class="tg-0lax">23.75</td>
    <td class="tg-0lax">24.75</td>
    <td class="tg-0lax">25.75</td>
  </tr>
  <tr>
    <td class="tg-0lax">Sleeve Length from Center Back</td>
    <td class="tg-0lax">33.5</td>
    <td class="tg-0lax">34.5</td>
    <td class="tg-0lax">35.5</td>
    <td class="tg-0lax">36.5</td>
    <td class="tg-0lax">37.5</td>
    <td class="tg-0lax">38.5</td>
  </tr>
</table>

{% elsif product.tags contains 'size-promax420' %}
<table class="tg">
  <tr>
    <th class="tg-0pky">Size</th>
    <th class="tg-0lax">Metric Weight</th>
    <th class="tg-0lax">Metric Height</th>
    <th class="tg-0lax">Imperial Weight</th>
    <th class="tg-0lax">Imperial Height</th>
  </tr>
  <tr>
    <td class="tg-0lax">F1</td>
    <td class="tg-0lax"> 38 - 45 kg</td>
    <td class="tg-0lax">149 - 152 cm</td>
    <td class="tg-0lax">83 - 99 lbs</td>
    <td class="tg-0lax">4'7" - 5'0"</td>
  </tr>
  <tr>
    <td class="tg-0lax">F2</td>
    <td class="tg-0lax">45 - 54 kg</td>
    <td class="tg-0lax">152 - 164 cm</td>
    <td class="tg-0lax">99 - 119 lbs</td>
    <td class="tg-0lax">5'0" - 5'4"</td>
  </tr>
  <tr>
    <td class="tg-0lax">F3</td>
    <td class="tg-0lax">54 - 65 kg</td>
    <td class="tg-0lax">161 - 170 cm</td>
    <td class="tg-0lax">119 - 143 lbs</td>
    <td class="tg-0lax">5'3" - 5'6"</td>
  </tr>
  <tr>
    <td class="tg-0lax">F4</td>
    <td class="tg-0lax">63 - 77 kg</td>
    <td class="tg-0lax">167 - 180 cm</td>
    <td class="tg-0lax">138 - 169 lbs</td>
    <td class="tg-0lax">5'5" - 5'10"</td>
  </tr>
  <tr>
    <td class="tg-0lax">F5</td>
    <td class="tg-0lax">77 kg</td>
    <td class="tg-0lax">180 cm</td>
    <td class="tg-0lax">170 lbs</td>
    <td class="tg-0lax">5'10"</td>
  </tr>
</table>

{% elsif product.tags contains 'size-ind-4000' %}
<table class="tg">
  <tr>
    <th class="tg-0pky">Measurements/Description</th>
    <th class="tg-0lax">XS</th>
    <th class="tg-0lax">S</th>
    <th class="tg-0lax">M</th>
    <th class="tg-0lax">L</th>
    <th class="tg-0lax">XL</th>
    <th class="tg-0lax">2XL</th>
  </tr>
  <tr>
    <td class="tg-0lax">Body Length (from Hips)</td>
    <td class="tg-0lax">27.5</td>
    <td class="tg-0lax">28.5</td>
    <td class="tg-0lax">29.5</td>
    <td class="tg-0lax">30.5</td>
    <td class="tg-0lax">31.5</td>
    <td class="tg-0lax">32.5</td>
  </tr>
  <tr>
    <td class="tg-0lax">Chest Width (1" below Armhole)</td>
    <td class="tg-0lax">20.5</td>
    <td class="tg-0lax">21</td>
    <td class="tg-0lax">23</td>
    <td class="tg-0lax">24.5</td>
    <td class="tg-0lax">26.5</td>
    <td class="tg-0lax">27.5</td>
  </tr>
  <tr>
    <td class="tg-0lax">Sleeve Length (from Center Back including Cuff Rib)</td>
    <td class="tg-0lax">34.5</td>
    <td class="tg-0lax">35.5</td>
    <td class="tg-0lax">36.5</td>
    <td class="tg-0lax">37.5</td>
    <td class="tg-0lax">38.5</td>
    <td class="tg-0lax">39.5</td>
  </tr>
</table>

{% elsif product.tags contains 'size-ind-ss3000' %}
<table class="tg">
  <tr>
    <th class="tg-0pky">Measurements/Description</th>
    <th class="tg-0lax">XS</th>
    <th class="tg-0lax">S</th>
    <th class="tg-0lax">M</th>
    <th class="tg-0lax">L</th>
    <th class="tg-0lax">XL</th>
    <th class="tg-0lax">2XL</th>
  </tr>
  <tr>
    <td class="tg-0lax">Body Length (from Hips)</td>
    <td class="tg-0lax">25</td>
    <td class="tg-0lax">26.5</td>
    <td class="tg-0lax">28</td>
    <td class="tg-0lax">29.5</td>
    <td class="tg-0lax">31</td>
    <td class="tg-0lax">32.5</td>
  </tr>
  <tr>
    <td class="tg-0lax">Chest Width (1" below Armhole)</td>
    <td class="tg-0lax">19</td>
    <td class="tg-0lax">20.5</td>
    <td class="tg-0lax">22</td>
    <td class="tg-0lax">23.5</td>
    <td class="tg-0lax">25</td>
    <td class="tg-0lax">26.5</td>
  </tr>
  <tr>
    <td class="tg-0lax">Sleeve Length (from Center Back including Cuff Rib)</td>
    <td class="tg-0lax">34</td>
    <td class="tg-0lax">35</td>
    <td class="tg-0lax">36</td>
    <td class="tg-0lax">37</td>
    <td class="tg-0lax">38</td>
    <td class="tg-0lax">39</td>
  </tr>
</table>

{% elsif product.tags contains 'size-ascolour-5001' %}
<table class="tg">
  <tr>
    <th class="tg-0pky">Measurements/Description</th>
    <th class="tg-0lax">S</th>
    <th class="tg-0lax">M</th>
    <th class="tg-0lax">L</th>
    <th class="tg-0lax">XL</th>
    <th class="tg-0lax">2XL</th>
  </tr>
  <tr>
    <td class="tg-0lax">Body Width (inches)</td>
    <td class="tg-0lax">18.5</td>
    <td class="tg-0lax">20.5</td>
    <td class="tg-0lax">22.25</td>
    <td class="tg-0lax">24</td>
    <td class="tg-0lax">25.25</td>
  </tr>
  <tr>
    <td class="tg-0lax">Body Length (inches)</td>
    <td class="tg-0lax">28</td>
    <td class="tg-0lax">29.5</td>
    <td class="tg-0lax">31</td>
    <td class="tg-0lax">32.25</td>
    <td class="tg-0lax">33</td>
  </tr>
</table>

{% elsif product.tags contains 'size-ascolour-5029' %}
<table class="tg">
  <tr>
    <th class="tg-0pky">Measurements/Description</th>
    <th class="tg-0lax">XS</th>
    <th class="tg-0lax">S</th>
    <th class="tg-0lax">M</th>
    <th class="tg-0lax">L</th>
    <th class="tg-0lax">XL</th>
    <th class="tg-0lax">2XL</th>
  </tr>
  <tr>
    <td class="tg-0lax">Body Width (cm)</td>
    <td class="tg-0lax">45</td>
    <td class="tg-0lax">49</td>
    <td class="tg-0lax">53</td>
    <td class="tg-0lax">57</td>
    <td class="tg-0lax">61</td>
    <td class="tg-0lax">65</td>
  </tr>
  <tr>
    <td class="tg-0lax">Body Length (cm)</td>
    <td class="tg-0lax">70.5</td>
    <td class="tg-0lax">73</td>
    <td class="tg-0lax">75.5</td>
    <td class="tg-0lax">78</td>
    <td class="tg-0lax">80.5</td>
    <td class="tg-0lax">83</td>
  </tr>
</table>

{% elsif product.tags contains 'size-ascolour-5007' %}
<table class="tg">
  <tr>
    <th class="tg-0pky">Measurements/Description</th>
    <th class="tg-0lax">S</th>
    <th class="tg-0lax">M</th>
    <th class="tg-0lax">L</th>
    <th class="tg-0lax">XL</th>
    <th class="tg-0lax">2XL</th>
  </tr>
  <tr>
    <td class="tg-0lax">Body Width (inches)</td>
    <td class="tg-0lax">18</td>
    <td class="tg-0lax">19.25</td>
    <td class="tg-0lax">20.5</td>
    <td class="tg-0lax">21.75</td>
    <td class="tg-0lax">23</td>
  </tr>
  <tr>
    <td class="tg-0lax">Body Length (inches)</td>
    <td class="tg-0lax">29</td>
    <td class="tg-0lax">30.25</td>
    <td class="tg-0lax">31.5</td>
    <td class="tg-0lax">32.75</td>
    <td class="tg-0lax">33.75</td>
  </tr>
</table>


{% elsif product.tags contains 'size-headgear' %}

  <table width="100%">
<tbody>
<tr>
<td><strong>Sizing</strong></td>
<td><strong>Around Head</strong></td>
</tr>
<tr>
<td>S</td>
<td>up to 22in</td>
</tr>
<tr>
<td>M</td>
<td>22in - 23.5in</td>
</tr>
<tr>
<td>L</td>
<td>23.5in - 25in</td>
</tr>
<tr>
<td>XL</td>
<td>25in and up</td>
</tr>
</tbody>
</table>


{% elsif product.tags contains 'size-combat-corner-gi' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Size</strong></td>
  <td><strong>Height</strong></td>
  <td><strong>Weight</strong></td>
  </tr>
  <tr>
  <td>A0</td>
  <td>5’0” – 5’5”</td>
  <td>95 - 150 lbs</td>
  </tr>
  <tr>
  <td>A1</td>
  <td>5’5” – 5’8” </td>
  <td>125 - 170 lbs</td>
  </tr>
  <tr>
  <td>A2</td>
  <td>5’9 – 6’1” </td>
  <td>155 - 200 lbs</td>
  </tr>
  <tr>
  <td>A3</td>
  <td>5’11” – 6’2”</td>
  <td>190 - 225 lbs</td>
  </tr>
  <tr>
  <td>A4</td>
  <td>6’1” - 6’4” </td>
  <td>220 - 270 lbs</td>
  </tr>
  <tr>
  <td>A5</td>
  <td>6’4" Plus</td>
  <td>255 lbs Plus</td>
  </tr>
  </tbody>
  </table>



{% elsif product.tags contains 'size-hayabusa-regenesis-striking-shinguard' %}

<table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>Shin Length</strong></td>
  <td><strong>Foot Length</strong></td>
  </tr>
  <tr>
  <td>Small</td>
  <td>15"</td>
  <td>6.5"</td>
  </tr>
  <tr>
  <td>Medium</td>
  <td>16"</td>
  <td>6.5"</td>
  </tr>
  <tr>
  <td>Large</td>
  <td>17"</td>
  <td>7"</td>
  </tr>
  <tr>
  <td>X-Large</td>
  <td>18"</td>
  <td>7"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-apex-gi-sizing-charts' %}

  <img src="https://cdn.shopify.com/s/files/1/0858/7748/files/size-hypnotik-apex-gi-sizing-chart.jpg?14018789285918385905">

{% elsif product.tags contains 'size-hypnotik-base-gi-sizing-charts' %}

  <img src="https://cdn.shopify.com/s/files/1/0858/7748/files/size-hypnotik-base-gi-sizing-chart.jpg?14018789285918385905">

{% elsif product.tags contains 'size-hypnotik-hyperlite-gi-sizing-charts' %}

  <img src="https://cdn.shopify.com/s/files/1/0858/7748/files/size-hypnotik-hyperlite-gi-sizing-chart.jpg?14018789285918385905">

{% elsif product.tags contains 'size-hypnotik-gi' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>height</strong></td>
  <td><strong>weight</strong></td>
  </tr>
  <tr>
  <td>A0</td>
  <td>5'1" - 5'5"</td>
  <td>110-132 lbs</td>
  </tr>
  <tr>
  <td>A1</td>
  <td>5'4" - 5'7"</td>
  <td>132-161 lbs</td>
  </tr>
  <tr>
  <td>A1L</td>
  <td>5'7" - 5'10"</td>
  <td>132-165 lbs</td>
  </tr>
  <tr>
  <td>A2</td>
  <td>5'8" - 5'11"</td>
  <td>161-187 lbs</td>
  </tr>
  <tr>
  <td>A2L</td>
  <td>5'10" - 6'1"</td>
  <td>161-187 lbs</td>
  </tr>
      <tr>
  <td>A2XL</td>
  <td>6'0" - 6'4"</td>
  <td>161-187 lbs</td>
  </tr>
      <tr>
  <td>A3S</td>
  <td>5'8" - 5'11"</td>
  <td>192-212 lbs</td>
  </tr>
      <tr>
  <td>A3</td>
  <td>5'11" - 6'2"</td>
  <td>192-212 lbs</td>
  </tr>
      <tr>
  <td>A3L</td>
  <td>6'1" - 6'4"</td>
  <td>192-212 lbs</td>
  </tr>
      <tr>
  <td>A4</td>
  <td>6'2" - 6'5"</td>
  <td>218-240 lbs</td>
  </tr>
      <tr>
  <td>A5</td>
  <td>6'4" - 6'7"</td>
  <td>243-269lbs</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-phenom-gi' %}

<table width="100">
<tbody>
<tr>
<td>Size</td>
<td>Height</td>
<td>Wing Span</td>
<td>Chest</td>
<td>Jacket Length (Collar to bottom)</td>
<td>Waist</td>
<td>Pant Length</td>
</tr>
<tr>
<td>A0</td>
<td>5'1"-5'5"</td>
<td>59</td>
<td>44</td>
<td>28</td>
<td>39</td>
<td>34</td>
</tr>
<tr>
<td>A1</td>
<td>5'5"-5'8"</td>
<td>63</td>
<td>46</td>
<td>30</td>
<td>40</td>
<td>35.5</td>
</tr>
<tr>
<td>A1.5</td>
<td>5'5"-5'8"</td>
<td>66</td>
<td>46</td>
<td>31</td>
<td>40</td>
<td>37</td>
</tr>
<tr>
<td>A2</td>
<td>5'8"-5'11"</td>
<td>66.5</td>
<td>48</td>
<td>31.5</td>
<td>42</td>
<td>38</td>
</tr>
<tr>
<td>A2.5</td>
<td>5'8"-5'11"</td>
<td>68</td>
<td>49</td>
<td>32</td>
<td>43</td>
<td>39</td>
</tr>
<tr>
<td>A3</td>
<td>5'11"-6'2"</td>
<td>69</td>
<td>50</td>
<td>33</td>
<td>46</td>
<td>41</td>
</tr>
<tr>
<td>A4</td>
<td>6'2"-6'5"</td>
<td>72</td>
<td>52</td>
<td>34.5</td>
<td>48</td>
<td>43</td>
</tr>
<tr>
<td>A5</td>
<td>6'5"-6'8"</td>
<td>74.5</td>
<td>55</td>
<td>35.5</td>
<td>50</td>
<td>45</td>
</tr>
</tbody>
</table>

{% elsif product.tags contains 'size-hypnotik-proto-rashguard' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>Chest (tight fit)</strong></td>
  </tr>
  <tr>
  <td>S</td>
  <td>34/36</td>
  </tr>
  <tr>
  <td>M</td>
  <td>38/40</td>
  </tr>
  <tr>
  <td>L</td>
  <td>42/44</td>
  </tr>
  <tr>
  <td>XL</td>
  <td>46/48</td>
  </tr>
  <tr>
  <td>2X</td>
  <td>50/52</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-savage-spats' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>Waist (tight fit)</strong></td>
  </tr>
  <tr>
  <td>XS</td>
  <td>28</td>
  </tr>
  <tr>
  <td>S</td>
  <td>30/32</td>
  </tr>
  <tr>
  <td>M</td>
  <td>34</td>
  </tr>
  <tr>
  <td>L</td>
  <td>36</td>
  </tr>
  <tr>
  <td>XL</td>
  <td>38</td>
  </tr>
  <tr>
  <td>2X</td>
  <td>40</td>
  <tr>
  <td>3X</td>
  <td>42</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-quick-wraps' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>Hand Circumference (around knuckles)</strong></td>
  </tr>
  <tr>
  <td>S/M</td>
  <td>7"-8"</td>
  </tr>
  <tr>
  <td>L/XL</td>
  <td>8"-9" and more</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-gi-pants' %}

 <table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>height</strong></td>
  <td><strong>weight</strong></td>
  </tr>
  <tr>
  <td>A0</td>
  <td>5'1" - 5'5"</td>
  <td>110-132 lbs</td>
  </tr>
  <tr>
  <td>A1</td>
  <td>5'4" - 5'7"</td>
  <td>132-161 lbs</td>
  </tr>
  <tr>
  <td>A1L</td>
  <td>5'7" - 5'10"</td>
  <td>132-165 lbs</td>
  </tr>
  <tr>
  <td>A2</td>
  <td>5'8" - 5'11"</td>
  <td>161-187 lbs</td>
  </tr>
  <tr>
  <td>A2L</td>
  <td>5'10" - 6'1"</td>
  <td>161-187 lbs</td>
  </tr>
      <tr>
  <td>A2XL</td>
  <td>6'0" - 6'4"</td>
  <td>161-187 lbs</td>
  </tr>
      <tr>
  <td>A3S</td>
  <td>5'8" - 5'11"</td>
  <td>192-212 lbs</td>
  </tr>
      <tr>
  <td>A3</td>
  <td>5'11" - 6'2"</td>
  <td>192-212 lbs</td>
  </tr>
      <tr>
  <td>A3L</td>
  <td>6'1" - 6'4"</td>
  <td>192-212 lbs</td>
  </tr>
      <tr>
  <td>A4</td>
  <td>6'2" - 6'5"</td>
  <td>218-240 lbs</td>
  </tr>
      <tr>
  <td>A5</td>
  <td>6'4" - 6'7"</td>
  <td>243-269lbs</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-shirt' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>Chest</strong></td>
  <td><strong>Length</strong></td>
  </tr>
  <tr>
  <td>Small</td>
  <td>38"</td>
  <td>27"</td>
  </tr>
  <tr>
  <td>Medium</td>
  <td>41"</td>
  <td>29"</td>
  </tr>
  <tr>
  <td>Large</td>
  <td>44"</td>
  <td>30"</td>
  </tr>
  <tr>
  <td>XLarge</td>
  <td>48"</td>
  <td>31"</td>
  </tr>
  <tr>
  <td>2XLarge</td>
  <td>52"</td>
  <td>32"</td>
  </tr>
  <tr>
  <td>3XLarge</td>
  <td>56"</td>
  <td>33"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-barrel-shirt' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>Chest</strong></td>
  </tr>
  <tr>
  <td>Small</td>
  <td>34-37"</td>
  </tr>
  <tr>
  <td>Medium</td>
  <td>38-41"</td>
  </tr>
  <tr>
  <td>Large</td>
  <td>42-45"</td>
  </tr>
  <tr>
  <td>XLarge</td>
  <td>46-49"</td>
  </tr>
  <tr>
  <td>2XLarge</td>
  <td>50-53"</td>
  </tr>
  <tr>
  <td>3XLarge</td>
  <td>54-57"</td>
  </tr>
  </tbody>
  </table>




{% elsif product.tags contains 'size-hypnotik-kids-gi' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>Approx Height</strong></td>
  </tr>
  <tr>
  <td>M000</td>
  <td>39"</td>
  </tr>
  <tr>
  <td>M00</td>
  <td>43"</td>
  </tr>
  <tr>
  <td>M0</td>
  <td>47"</td>
  </tr>
  <tr>
  <td>M1</td>
  <td>51"</td>
  </tr>
  <tr>
  <td>M2</td>
  <td>55"</td>
  </tr>
  <tr>
  <td>M3</td>
  <td>59"</td>
  </tr>
  <tr>
  <td>M4</td>
  <td>63"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-notorious-rashguard' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>Shirt Width</strong></td>
  <td><strong>Shirt Length</strong></td>
  <td><strong>Weight</strong></td>
  </tr>
    <tr>
  <td>X-Small</td>
  <td>15.5"</td>
  <td>24.5"</td>
  <td>115-130 lbs</td>
  </tr>
  <tr>
  <td>Small</td>
  <td>17"</td>
  <td>26"</td>
  <td>132-154 lbs</td>
  </tr>
  <tr>
  <td>Medium</td>
  <td>17.75"</td>
  <td>26.75"</td>
  <td>154-171 lbs</td>
  </tr>
  <tr>
  <td>Large</td>
  <td>18.5"</td>
  <td>27.25"</td>
  <td>171-191 lbs</td>
  </tr>
  <tr>
  <td>X-Large</td>
  <td>19.25"</td>
  <td>28"</td>
  <td>191-209 lbs</td>
  </tr>
  <tr>
  <td>2X-Large</td>
  <td>20.5"</td>
  <td>28.75"</td>
  <td>209-231 lbs</td>
  </tr>
  <td>3X-Large</td>
  <td>21.25"</td>
  <td>29.50"</td>
  <td>232-254 lbs</td>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-rashguard' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>Weight</strong></td>
  <td><strong>Height</strong></td>
  <td><strong>Chest</strong></td>
  <td><strong>Length</strong></td>
  </tr>
  <tr>
  <td>S</td>
  <td>Up to 155 lbs.</td>
  <td>Up to 5'8"</td>
  <td>20"</td>
  <td>25"</td>
  </tr>
  <tr>
  <td>M</td>
  <td>156 - 175 lbs.</td>
  <td>5'9" - 5'11"</td>
  <td>21"</td>
  <td>25.5"</td>
  </tr>
  <tr>
  <td>L</td>
  <td>176 - 200 lbs.</td>
  <td>6' - 6'2"</td>
  <td>22"</td>
  <td>26"</td>
  </tr>
  <tr>
  <td>XL</td>
  <td>200 lbs.</td>
  <td>Over 6'2"</td>
  <td>23"</td>
  <td>26.5"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-apex-head-guard' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>Circumference of head</strong></td>
  </tr>
  <tr>
  <td>S</td>
  <td>up to 22in</td>
  </tr>
  <tr>
  <td>M</td>
  <td>Regular 22in-23.5</td>
  </tr>
  <tr>
  <td>L</td>
  <td>23.5in - 25in</td>
  </tr>
  <tr>
  <td>XL</td>
  <td>25in and up</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-shin-guards' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Size</strong></td>
  <td><strong>Shin Length</strong></td>
  <td><strong>Foot Length</strong></td>
  </tr>
  <tr>
  <td>S/M</td>
  <td>12.5"</td>
  <td>7"</td>
  </tr>
  <tr>
  <td>L/XL</td>
  <td>13"</td>
  <td>7"</td>
  </tr>
  <tr>
  <td>2XL</td>
  <td>14"</td>
  <td>8"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-base-curved-shield' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Length</strong></td>
  <td><strong>Width</strong></td>
  <td><strong>Thickness</strong></td>
  </tr>
  <tr>
  <td>23.5"</td>
  <td>17"</td>
  <td>4"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-base-thai-pads' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Length</strong></td>
  <td><strong>Width</strong></td>
  <td><strong>Thickness</strong></td>
  </tr>
  <tr>
  <td>17"</td>
  <td>8.5"</td>
  <td>4"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-pro-extra-thick-thai-pads' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Length</strong></td>
  <td><strong>Width</strong></td>
  <td><strong>Thickness</strong></td>
  </tr>
  <tr>
  <td>16"</td>
  <td>8.5"</td>
  <td>4"</td>
  </tr>
  </tbody>
  </table>


{% elsif product.tags contains 'size-hypnotik-pro-kick-shield-extra-curved-slim' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Length</strong></td>
  <td><strong>Width</strong></td>
  <td><strong>Thickness</strong></td>
  </tr>
  <tr>
  <td>28.5"</td>
  <td>14"</td>
  <td>6"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-mochi-kids-shorts' %}

<table width="100">
<tbody>
<tr>
<td>Size</td>
<td>Waist (inches)</td>
</tr>
<tr>
<td>X-Small</td>
<td>22"</td>
</tr>
<tr>
<td>Small</td>
<td>24"</td>
</tr>
<tr>
<td>Medium</td>
<td>26"</td>
</tr>
<tr>
<td>Large</td>
<td>28"</td>
</tr>
<tr>
<td>X-Large</td>
<td>30"</td>
</tr>
<tr>
<td>2X-Large</td>
<td>32"</td>
</tr>
</tbody>
</table>

{% elsif product.tags contains 'size-hypnotik-mochi-adult-rashguard' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>1/2 Chest</strong></td>
  <td><strong>Length</strong></td>
  </tr>
  <tr>
  <td>X-Small</td>
  <td>16"</td>
  <td>23"</td>
  </tr>
  <tr>
  <td>Small</td>
  <td>17"</td>
  <td>24"</td>
  </tr>
  <tr>
  <td>Medium</td>
  <td>17.5"</td>
  <td>25"</td>
  </tr>
  <tr>
  <td>Large</td>
  <td>18.5"</td>
  <td>25.5"</td>
  </tr>
  <tr>
  <td>X-Large</td>
  <td>19"</td>
  <td>26"</td>
  </tr>
  <tr>
  <td>2X-Large</td>
  <td>20"</td>
  <td>27"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-mochi-kids-rashguard' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Sizing</strong></td>
  <td><strong>1/2 Chest</strong></td>
  <td><strong>Length</strong></td>
  </tr>
  <tr>
  <td>X-Small</td>
  <td>13.5"</td>
  <td>23"</td>
  </tr>
  <tr>
  <td>Small</td>
  <td>14.5"</td>
  <td>24"</td>
  </tr>
  <tr>
  <td>Medium</td>
  <td>16"</td>
  <td>25"</td>
  </tr>
  <tr>
  <td>Large</td>
  <td>16.75"</td>
  <td>25.5"</td>
  </tr>
  <tr>
  <td>X-Large</td>
  <td>16.75"</td>
  <td>26"</td>
  </tr>
  <tr>
  <td>2X-Large</td>
  <td>17.5"</td>
  <td>27"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-lightweight-shin-instep-guards' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Size</strong></td>
  <td><strong>Shin Length</strong></td>
  <td><strong>Instep Length</strong></td>
    <td><strong>User Height</strong></td>
  </tr>
    <tr>
  <td>XX-Small</td>
  <td>10"</td>
  <td>4.7"</td>
        <td>4'5"</td>
  </tr>
    <tr>
  <td>X-Small</td>
  <td>10.5"</td>
  <td>4.7"</td>
        <td>4'8"</td>
  </tr>
    <tr>
  <td>Small</td>
  <td>11"</td>
  <td>5"</td>
        <td>5'3"</td>
  </tr>
  <tr>
  <td>Medium</td>
  <td>11.5"</td>
  <td>5.3"</td>
      <td>5'5"</td>
  </tr>
  <tr>
  <td>Large</td>
  <td>12"</td>
  <td>5.5"</td>
      <td>6"</td>
  </tr>
  <tr>
  <td>X-Large</td>
  <td>12.5"</td>
  <td>5.7"</td>
      <td>6'5"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-pro-shin-instep-guard' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Size</strong></td>
  <td><strong>Shin Length</strong></td>
  <td><strong>Instep Length</strong></td>
    <td><strong>User Height</strong></td>
  </tr>
    <tr>
  <td>M</td>
  <td>14"</td>
  <td>7"</td>
        <td>4'8"-5'3"</td>
  </tr>
    <tr>
  <td>L</td>
  <td>15"</td>
  <td>7.4"</td>
        <td>5'5"-6"</td>
  </tr>
    <tr>
  <td>2XL</td>
  <td>15.7"</td>
  <td>7.8"</td>
        <td>6'5"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-base-hybrid-shin-guard' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Size</strong></td>
  <td><strong>Shin Length</strong></td>
  <td><strong>Instep Length</strong></td>
    <td><strong>User Height</strong></td>
  </tr>
    <tr>
  <td>S-M</td>
  <td>13.7"</td>
  <td>7.2"</td>
        <td>4'8"-5'3"</td>
  </tr>
    <tr>
  <td>L-XL</td>
  <td>14.5"</td>
  <td>7.8"</td>
        <td>5'5"-6"</td>
  </tr>
    <tr>
  <td>2XL</td>
  <td>15"</td>
  <td>8.2"</td>
        <td>6'5"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-lightweight-shin-guard' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Size</strong></td>
  <td><strong>Shin Length</strong></td>
    <td><strong>User Height</strong></td>
  </tr>
    <tr>
  <td>XX-Small</td>
  <td>10"</td>
        <td>4'5"</td>
  </tr>
    <tr>
  <td>X-Small</td>
  <td>10.5"</td>
        <td>4'8"</td>
  </tr>
    <tr>
  <td>Small</td>
  <td>11"</td>
        <td>5'3"</td>
  </tr>
  <tr>
  <td>Medium</td>
  <td>11.5"</td>
      <td>5'5"</td>
  </tr>
  <tr>
  <td>Large</td>
  <td>12"</td>
      <td>6"</td>
  </tr>
  <tr>
  <td>X-Large</td>
  <td>12.5"</td>
      <td>6'5"</td>
  </tr>
  </tbody>
  </table>

{% elsif product.tags contains 'size-hypnotik-head-guards' %}

  <table width="100%">
  <tbody>
  <tr>
  <td><strong>Size</strong></td>
  <td><strong>Head Circum.(above eyebrows)</strong></td>
  </tr>
    <tr>
  <td>XX-Small</td>
  <td>21"</td>
  </tr>
    <tr>
  <td>X-Small</td>
  <td>22"</td>
  </tr>
    <tr>
  <td>Small</td>
  <td>23"</td>
  </tr>
  <tr>
  <td>Medium</td>
  <td>23.5"</td>
  </tr>
  <tr>
  <td>Large</td>
  <td>25"</td>
  </tr>
  <tr>
  <td>X-Large</td>
  <td>25.5"</td>
  </tr>
  </tbody>
  </table>




{% elsif product.tags contains 'size-hypnotik-pinpoint-shirt' %}

<table width="100">
<tbody>
<tr>
<td>Size</td>
<td>Chest</td>
<td>Body Length</td>
</tr>
<tr>
<td>X-Small</td>
<td>35"</td>
<td>27"</td>
</tr>
<tr>
<td>Small</td>
<td>36"</td>
<td>28"</td>
</tr>
<tr>
<td>Medium</td>
<td>40"</td>
<td>29"</td>
</tr>
<tr>
<td>Large</td>
<td>42"</td>
<td>30"</td>
</tr>
<tr>
<td>X-Large</td>
<td>46"</td>
<td>31"</td>
</tr>
<tr>
<td>2X-Large</td>
<td>50"</td>
<td>32"</td>
</tr>
<tr>
<td>3X-Large</td>
<td>54"</td>
<td>33"</td>
</tr>
</tbody>
</table>



{% elsif product.tags contains 'size-hypnotik-interstellar-mma-shorts' %}

<table width="100">
<tbody>
<tr>
<td>Size</td>
<td>Waist</td>
</tr>
<tr>
<td>Small</td>
<td>30"</td>
</tr>
<tr>
<td>Medium</td>
<td>32"</td>
</tr>
<tr>
<td>Large</td>
<td>34"</td>
</tr>
<tr>
<td>X-Large</td>
<td>36"</td>
</tr>
<tr>
<td>2X-Large</td>
<td>38"</td>
</tr>
<tr>
<td>3X-Large</td>
<td>40"</td>
</tr>
<tr>
<td>4X-Large</td>
<td>42"</td>
</tr>
</tbody>
</table>



{% elsif product.tags contains 'size-hypnotik-zenhemp-gi' %}

<table width="100">
<tbody>
<tr>
<td>Gi Size</td>
<td>Height (Ft)</td>
<td>Weight (lbs)</td>
<td>Height (Cm)</td>
<td>Weight (Kilo)</td>
</tr>
<tr>
<td>A1</td>
<td>5'3"-5'5"</td>
<td>130-150 lbs</td>
<td>160-165</td>
<td>59-68</td>
</tr>
<tr>
<td>A1L</td>
<td>5'6"-5'9"</td>
<td>150-165 lbs</td>
<td>167-175</td>
<td>68-75</td>
</tr>
<tr>
<td>A2</td>
<td>5'6"-5'9"</td>
<td>165-180 lbs</td>
<td>167-175</td>
<td>75-82</td>
</tr>
<tr>
<td>A2L</td>
<td>5'10"-6'1"</td>
<td>165-185 lbs</td>
<td>177-185</td>
<td>75-82</td>
</tr>
<tr>
<td>A2H</td>
<td>5'6"-5'9"</td>
<td>185-210 lbs</td>
<td>167-175</td>
<td>84-95</td>
</tr>
<tr>
<td>A3</td>
<td>5'10"-6'1"</td>
<td>185-215 lbs</td>
<td>177-185</td>
<td>84-98</td>
</tr>
<tr>
<td>A3L</td>
<td>6'1"-6'3"</td>
<td>190-215 lbs</td>
<td>185-190</td>
<td>86-98</td>
</tr>
<tr>
<td>A3H</td>
<td>5'10"-6'1"</td>
<td>215-245 lbs</td>
<td>177-185</td>
<td>98-111</td>
</tr>
<tr>
<td>A4</td>
<td>6'1"-6'3"</td>
<td>215-245 lbs</td>
<td>185-190</td>
<td>98-111</td>
</tr>
<tr>
<td>A5</td>
<td>6'3"-6'5"</td>
<td>245-260 lbs</td>
<td>190-195</td>
<td>111-118</td>
</tr>
</tbody>
</table>

{% elsif product.tags contains 'size-hypnotik-atomlyte-gi' %}

<table width="100">
<tbody>
<tr>
<td>Size</td>
<td>Wing Span</td>
<td>Chest</td>
<td>Jacket Length</td>
<td>Waist</td>
<td>Pant Length</td>
</tr>
<tr>
<td>A0</td>
<td>60"</td>
<td>40"</td>
<td>28"</td>
<td>40"</td>
<td>37"</td>
</tr>
<tr>
<td>A1</td>
<td>63"</td>
<td>42"</td>
<td>30"</td>
<td>42"</td>
<td>37.5"</td>
</tr>
<tr>
<td>A1L</td>
<td>66"</td>
<td>42"</td>
<td>31"</td>
<td>42"</td>
<td>38.5"</td>
</tr>
<tr>
<td>A2</td>
<td>66"</td>
<td>44"</td>
<td>31"</td>
<td>45"</td>
<td>38.5"</td>
</tr>
<tr>
<td>A2L</td>
<td>69"</td>
<td>44"</td>
<td>32"</td>
<td>45"</td>
<td>40.5"</td>
</tr>
<tr>
<td>A3</td>
<td>69"</td>
<td>46"</td>
<td>32"</td>
<td>48"</td>
<td>40.5"</td>
</tr>
<tr>
<td>A3L</td>
<td>71"</td>
<td>46"</td>
<td>34"</td>
<td>48"</td>
<td>41"</td>
</tr>
<tr>
<td>A4</td>
<td>71"</td>
<td>50"</td>
<td>34"</td>
<td>50"</td>
<td>41"</td>
</tr>
<tr>
<td>A4L</td>
<td>75"</td>
<td>50"</td>
<td>35.5"</td>
<td>50"</td>
<td>42.5"</td>
</tr>
<tr>
<td>A5</td>
<td>75"</td>
<td>52"</td>
<td>35.5"</td>
<td>52"</td>
<td>42.5"</td>
</tr>
<tr>
<td>A6</td>
<td>77"</td>
<td>53"</td>
<td>37"</td>
<td>53"</td>
<td>43.5"</td>
</tr>
</tbody>
</table>


{% elsif product.tags contains 'size-hypnotik-IMATT-spats-tudo' %}

<table width="100">
<tbody>
<tr>
<td>Size</td>
<td>Waist (inches)</td>
</tr>
<tr>
<td>XS</td>
<td>28"</td>
</tr>
<tr>
<td>S</td>
<td>30"</td>
</tr>
<tr>
<td>M</td>
<td>32"</td>
</tr>
<tr>
<td>L</td>
<td>34"</td>
</tr>
<tr>
<td>XL</td>
<td>36"</td>
</tr>
<tr>
<td>2XL</td>
<td>38"</td>
</tr>
<tr>
<td>3XL</td>
<td>40"</td>
</tr>
<tr>
<td>4XL</td>
<td>42"</td>
</tr>
</tbody>
</table>



{% elsif product.tags contains 'size-hypnotik-pinpoint-Performance-shirt' %}

<table width="100">
<tbody>
<tr>
<td>Size</td>
<td>Chest (in)</td>
<td>Waist (in)</td>
<td>Hips (in)</td>
<td>Chest (cm)</td>
<td>Waist (cm)</td>
<td>Hips (cm)</td>
</tr>
<tr>
<td>Small</td>
<td>35-37.5</td>
<td>29-32</td>
<td>35-37.5</td>
<td>88-96</td>
<td>73-81</td>
<td>88-96</td>
</tr>
<tr>
<td>Medium</td>
<td>37.5-41</td>
<td>32-35</td>
<td>37.5-41</td>
<td>96-104</td>
<td>81-89</td>
<td>96-104</td>
</tr>
<tr>
<td>Large</td>
<td>41-44</td>
<td>35-38</td>
<td>41-44</td>
<td>104-112</td>
<td>89-97</td>
<td>104-112</td>
</tr>
<tr>
<td>X-Large</td>
<td>44-48.5</td>
<td>38-43</td>
<td>44-47</td>
<td>112-124</td>
<td>97-109</td>
<td>112-120</td>
</tr>
<tr>
<td>2X-Large</td>
<td>48.5-53.5</td>
<td>43-47.5</td>
<td>47-50.5</td>
<td>124-136</td>
<td>109-121</td>
<td>120-128</td>
</tr>
<tr>
<td>3X-Large</td>
<td>53.5-58</td>
<td>47.5-52.5</td>
<td>50.5-53.5</td>
<td>136-148</td>
<td>121-133</td>
<td>128-136</td>
</tr>
</tbody>
</table>

{% elsif product.tags contains 'size-hypnotik-pinpoint-Performance-shorts' %}

<table width="100">
<tbody>
<tr>
<td>Size</td>
<td>Waist (in)</td>
<td>Hips (in)</td>
<td>Inseam (in)</td>
<td>Waist (cm)</td>
<td>Hips (cm)</td>
<td>Inseam (cm)</td>
</tr>
<tr>
<td>Small</td>
<td>29-32</td>
<td>35-37.5</td>
<td>32.25</td>
<td>73-81</td>
<td>88-96</td>
<td>82.5</td>
</tr>
<tr>
<td>Medium</td>
<td>32-35</td>
<td>37.5-41</td>
<td>32.5</td>
<td>81-89</td>
<td>96-104</td>
<td>83</td>
</tr>
<tr>
<td>Large</td>
<td>35-38</td>
<td>41-44</td>
<td>32.75</td>
<td>89-97</td>
<td>104-112</td>
<td>83.5</td>
</tr>
<tr>
<td>X-Large</td>
<td>38-43</td>
<td>44-47</td>
<td>33</td>
<td>97-109</td>
<td>112-120</td>
<td>84</td>
</tr>
<tr>
<td>2X-Large</td>
<td>43-47.5</td>
<td>47-50.5</td>
<td>33.25</td>
<td>109-121</td>
<td>120-128</td>
<td>84.5</td>
</tr>
<tr>
<td>3X-Large</td>
<td>47.5-52.5</td>
<td>50.5-53.5</td>
<td>33.5</td>
<td>121-133</td>
<td>128-136</td>
<td>85</td>
</tr>
</tbody>
</table>

{% elsif product.tags contains 'size-hypnotik-megamanGi' %}

<table width="100">
<tbody>
<tr>
<td>Size</td>
<td>Height (Ft)</td>
<td>Weight (Lbs)</td>
<td>Height (Cm)</td>
<td>Weight (Kg)</td>
</tr>
<tr>
<td>A0</td>
<td>5'1"-5'3"</td>
<td>110-132</td>
<td>155-160</td>
<td>50-60</td>
</tr>
<tr>
<td>A1</td>
<td>5'4"-5'9"</td>
<td>133-160</td>
<td>163-175</td>
<td>60-73</td>
</tr>
<tr>
<td>A1L</td>
<td>5'8"-5'11"</td>
<td>133-160</td>
<td>173-180</td>
<td>60-73</td>
</tr>
<tr>
<td>A2</td>
<td>5'9"-6'</td>
<td>160-187</td>
<td>175-183</td>
<td>73-85</td>
</tr>
<tr>
<td>A2L</td>
<td>5'11"-6'1"</td>
<td>160-187</td>
<td>178-185</td>
<td>73-85</td>
</tr>
<tr>
<td>A3</td>
<td>6'-6'2"</td>
<td>187-210</td>
<td>183-190</td>
<td>85-95</td>
</tr>
<tr>
<td>A3L</td>
<td>6'1"-6'4"</td>
<td>187-210</td>
<td>185-193</td>
<td>85-95</td>
</tr>
<tr>
<td>A4</td>
<td>6'2"-6'5"</td>
<td>210-240</td>
<td>190-195</td>
<td>95-109</td>
</tr>
<tr>
<td>A5</td>
<td>6'4"-6'7"</td>
<td>240-270</td>
<td>193-200</td>
<td>110-122</td>
</tr>
</tbody>
</table>


{% elsif product.tags contains 'hypnotik-size-ProMAX550-gi' %}

<table width="100">
<tbody>
<tr>
<td>Size</td>
<td>Height (Ft)</td>
<td>Weight (Lbs)</td>
<td>Height (Cm)</td>
<td>Weight (Kg)</td>
</tr>
<tr>
<td>A0</td>
<td>5'3"-5'5"</td>
<td>140-155</td>
<td>160-165</td>
<td>64-70</td>
</tr>
<tr>
<td>A1</td>
<td>5'5"-5'7"</td>
<td>155-170</td>
<td>165-170</td>
<td>70-77</td>
</tr>
<tr>
<td>A1L</td>
<td>5'7"-5'10"</td>
<td>155-175</td>
<td>170-178</td>
<td>70-79</td>
</tr>
<tr>
<td>A2</td>
<td>5'7"-5'10"</td>
<td>170-190</td>
<td>170-178</td>
<td>77-86</td>
</tr>
<tr>
<td>A2L</td>
<td>5'10"-6'2"</td>
<td>170-190</td>
<td>178-188</td>
<td>77-86</td>
</tr>
<tr>
<td>A2H</td>
<td>5'7"-5'10"</td>
<td>220-245</td>
<td>170-178</td>
<td>100-111</td>
</tr>
<tr>
<td>A3</td>
<td>5'10"-6'2"</td>
<td>190-225</td>
<td>178-188</td>
<td>86-102</td>
</tr>
<tr>
<td>A3L</td>
<td>6'1"-6'4"</td>
<td>190-225</td>
<td>185-193</td>
<td>86-102</td>
</tr>
<tr>
<td>A3H</td>
<td>5'10"-6'2"</td>
<td>230-260</td>
<td>178-188</td>
<td>104-118</td>
</tr>
<tr>
<td>A4</td>
<td>6'1"-6'4"</td>
<td>230-260</td>
<td>185-193</td>
<td>104-118</td>
</tr>
<tr>
<td>A5</td>
<td>6'2"-6'5"</td>
<td>260-300</td>
<td>188-196</td>
<td>118-136</td>
</tr>
</tbody>
</table>


{% elsif product.tags contains 'size-hypnotik-womens-atomlyte-gis' %}

<table width="100%">
    <tbody>
        <tr>
        <td><strong>Sizing</strong></td>
        <td><strong>Height (Ft)<br /></strong></td>
        <td><strong>Weight (Lbs)<br /></strong></td>
        <td><strong>Height (Cm)</strong></td>
        <td><strong>Weight (Kg)</strong></td>
        </tr>
        <tr>
        <td>F1</td>
        <td>4'11" - 5'</td>
        <td>90 - 100 lbs</td>
        <td>149 - 152</td>
        <td>40-45</td>
        </tr>
        <tr>
        <td>F2</td>
        <td>5'1" - 5'2"</td>
        <td>100 - 124 lbs</td>
        <td>155-157</td>
        <td>45-56</td>
        </tr>
        <tr>
        <td>F3</td>
        <td>5'2" - 5'3"</td>
        <td>125 - 147 lbs</td>
        <td>157-160</td>
        <td>56-66</td>
        </tr>
        <tr>
        <td>F4</td>
        <td>5'4" - 5'5"</td>
        <td>147 - 173 lbs</td>
        <td>162-165</td>
        <td>66-78</td>
        </tr>
    </tbody>
</table>

{% elsif product.tags contains 'size-hypnotik-starpack-gis' %}

<table width="100">
    <tbody>
        <tr>
        <td>Gi Size</td>
        <td>Height (Ft)</td>
        <td>Weight (lbs)</td>
        <td>Height (Cm)</td>
        <td>Weight (Kilo)</td>
        </tr>
        <tr>
        <td>A0</td>
        <td>5'0"-5'5"</td>
        <td>110-132</td>
        <td>155-165</td>
        <td>50-60</td>
        </tr>
        <tr>
        <td>A1</td>
        <td>5'4"-5'7"</td>
        <td>132-161</td>
        <td>162-170</td>
        <td>60-73</td>
        </tr>
        <tr>
        <td>A1L</td>
        <td>5'7"-5'10"</td>
        <td>132-165</td>
        <td>170-178</td>
        <td>60-75</td>
        </tr>
        <tr>
        <td>A2</td>
        <td>5'8"-5'11"</td>
        <td>161-187</td>
        <td>173-180</td>
        <td>73-85</td>
        </tr>
        <tr>
        <td>A2L</td>
        <td>5'10"-6'1"</td>
        <td>161-187</td>
        <td>178-185</td>
        <td>73-85</td>
        </tr>
        <tr>
        <td>A3</td>
        <td>5'11"-6'2"</td>
        <td>192-212</td>
        <td>180-188</td>
        <td>87-96</td>
        </tr>
        <tr>
        <td>A3L</td>
        <td>6'1"-6'4"</td>
        <td>192-212</td>
        <td>185-193</td>
        <td>87-96</td>
        </tr>
        <tr>
        <td>A4</td>
        <td>6'2"-6'5"</td>
        <td>218-240</td>
        <td>188-196</td>
        <td>99-109</td>
        </tr>
        <tr>
        <td>A5</td>
        <td>6'4"-6'7"</td>
        <td>243-269</td>
        <td>193-201</td>
        <td>110-122</td>
        </tr>
        <tr>
        <td>A6</td>
        <td>6'5"-6'8"</td>
        <td>265-298</td>
        <td>196-203</td>
        <td>120-135</td>
        </tr>
    </tbody>
</table>

{% elsif product.tags contains 'size-hypnotik-pinpoint-Womenshirt' %}

<table width="100">
    <tbody>
        <tr>
        <td>Size</td>
        <td>Body Length</td>
        <td>Body Width</td>
        </tr>
        <tr>
        <td>Small</td>
        <td>25 3/8"</td>
        <td>15 1/4"</td>
        </tr>
        <tr>
        <td>Medium</td>
        <td>26"</td>
        <td>16 1/4"</td>
        </tr>
        <tr>
        <td>Large</td>
        <td>26 5/8"</td>
        <td>17 1/4"</td>
        </tr>
        <tr>
        <td>X-Large</td>
        <td>27 1/4"</td>
        <td>18 3/4"</td>
        </tr>
    </tbody>
</table>


{% elsif product.tags contains 'size-hypnotik-Dongguan-Sanwei-Sports-gis' %}

<table width="100%">
    <tbody>
        <tr>
        <td><strong>Sizing</strong></td>
        <td><strong>Height</strong></td>
        <td><strong>Weight</strong></td>
        </tr>
        <tr>
        <td>A0</td>
        <td>4'11" - 5'2"</td>
        <td>100-120 lbs</td>
        </tr>
        <tr>
        <td>A1</td>
        <td>5'2" - 5'7"</td>
        <td>120-155 lbs</td>
        </tr>
        <tr>
        <td>A1L</td>
        <td>5'3" - 5'8" (longer limbs)</td>
        <td>120-155 lbs</td>
        </tr>
        <tr>
        <td>A2</td>
        <td>5'7" - 5'11"</td>
        <td>155-187 lbs</td>
        </tr>
        <tr>
        <td>A2L</td>
        <td>5'8" - 6' (longer limbs)</td>
        <td>155-187 lbs</td>
        </tr>
        <tr>
        <td>A3</td>
        <td>5'11" - 6'2"</td>
        <td>187-210 lbs</td>
        </tr>
        <tr>
        <td>A3L</td>
        <td>6' - 6'3" (longer limbs)</td>
        <td>187-210 lbs</td>
        </tr>
        <tr>
        <td>A4</td>
        <td>6'1" - 6'4"</td>
        <td>200-225 lbs</td>
        </tr>
        <tr>
        <td>A5</td>
        <td>6'1"- 6'4"</td>
        <td>225-275 lbs</td>
        </tr>
        <tr>
        <td>A6</td>
        <td>6'2"-6'6"</td>
        <td>250-300 lbs</td>
        </tr>
    </tbody>
</table>

{% elsif product.tags contains 'size-hypnotik-dongguan-kids-rashguard' %}

<table width="100%">
    <tbody>
        <tr>
        <td><strong>Sizing</strong></td>
        <td><strong>1/2 Chest</strong></td>
        <td><strong>Length</strong></td>
        </tr>
        <tr>
        <td>Small</td>
        <td>14.5"</td>
        <td>21.5"</td>
        </tr>
        <tr>
        <td>Medium</td>
        <td>15.5"</td>
        <td>23.5"</td>
        </tr>
        <tr>
        <td>Large</td>
        <td>16.5"</td>
        <td>24.5"</td>
        </tr>
        <tr>
        <td>X-Large</td>
        <td>17.5"</td>
        <td>25"</td>
        </tr>
    </tbody>
</table>



{% elsif product.tags contains 'size-hyp-kids-Brothersgis' %}

<table width="100%">
    <tbody>
        <tr>
        <td><strong>Sizing</strong></td>
        <td><strong>Height</strong></td>
        <td><strong>Weight</strong></td>
        </tr>
        <tr>
        <td>M00</td>
        <td>3'9" or 4'</td>
        <td>up to 50lbs</td>
        </tr>
        <tr>
        <td>M0</td>
        <td>4' - 4'3"</td>
        <td>50 - 60lbs</td>
        </tr>
        <tr>
        <td>M1</td>
        <td>4'3" - 4'6"</td>
        <td>65-80lbs</td>
        </tr>
        <tr>
        <td>M2</td>
        <td>4'6" - 4'9"</td>
        <td>80-95lbs</td>
        </tr>
        <tr>
        <td>M3</td>
        <td>4'9" - 5'</td>
        <td>95-100lbs</td>
        </tr>
        <tr>
        <td>M4</td>
        <td>5' - 5'3"</td>
        <td>100-105lbs</td>
        </tr>
    </tbody>
</table>



{% elsif product.tags contains 'size-hypnotik-IMATT-kids-shorts' %}

<table width="100">
    <tbody>
        <tr>
        <td>Size</td>
        <td>Age</td>
        </tr>
        <tr>
        <td>Small</td>
        <td>8</td>
        </tr>
        <tr>
        <td>Medium</td>
        <td>10</td>
        </tr>
        <tr>
        <td>Large</td>
        <td>12</td>
        </tr>
        <tr>
        <td>X-Large</td>
        <td>14</td>
        </tr>
    </tbody>
</table>


{% elsif product.tags contains 'size-hypnotik-IMATT-kids-spats' %}

<table width="100">
    <tbody>
        <tr>
        <td>Size</td>
        <td>Waist</td>
        <td>Outseam</td>
        </tr>
        <tr>
        <td>Small</td>
        <td>20"</td>
        <td>25"</td>
        </tr>
        <tr>
        <td>Medium</td>
        <td>21"</td>
        <td>28"</td>
        </tr>
        <tr>
        <td>Large</td>
        <td>23"</td>
        <td>29"</td>
        </tr>
    </tbody>
</table>

{% elsif product.tags contains 'size-hypnotik-IMATT-kids-rash' %}

<table width="100">
    <tbody>
        <tr>
        <td>Size</td>
        <td>Front Length</td>
        <td>Back Length</td>
        <td>Shirt Bottom (across)</td>
        </tr>
        <tr>
        <td>Small</td>
        <td>16"</td>
        <td>18.5"</td>
        <td>23"</td>
        </tr>
        <tr>
        <td>Medium</td>
        <td>17"</td>
        <td>20"</td>
        <td>25"</td>
        </tr>
        <tr>
        <td>Large</td>
        <td>18.5"</td>
        <td>20.5"</td>
        <td>27.5"</td>
        </tr>
    </tbody>
</table>


{% endif %}