<ul class="nav d-flex align-items-start justify-content-md-start justify-content-center">
  <li class="nav-item">
      <a class="nav-link text-uppercase ml-3 mb-0 p-0 link-item h4 text-primary d-flex"  href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" rel="noopener" target="_blank" title="Share on Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-uppercase ml-3 mb-0 p-0 link-item h4 text-primary d-flex"  href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" rel="noopener" target="_blank" title="Share on Twitter">
      <i class="fab fa-twitter"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-uppercase ml-3 mb-0 p-0 link-item h4 text-primary d-flex"  href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" rel="noopener" target="_blank" title="Share on Pinterest">
      <i class="fab fa-pinterest"></i>
    </a>
  </li>
  <li class="nav-item">
      <a class="nav-link text-uppercase ml-3 mb-0 p-0 link-item h4 text-primary d-flex"  href="//plus.google.com/share?url={{ shop.url | append: share_permalink }}" rel="noopener" target="_blank" title="Share on Google plus">
        <i class="fab fa-google-plus-g"></i>
      </a>
  </li>
  {% comment %} <li class="nav-item">
      <a class="nav-link text-uppercase ml-3 mb-0 p-0 link-item h4 text-primary d-flex"  href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" rel="noopener" target="_blank" title="Share on Envelope">
        <i class="fas fa-envelope"></i>
      </a>
  </li> {% endcomment %}
</ul>

