{% comment %} {%- assign og_title = page_title -%}
{%- assign og_url = canonical_url -%}
{%- assign og_type = 'website' -%}
{%- assign og_description = page_description | default: shop.description | default: shop.name -%}

{%- if template.name == 'product' -%}
  {%- assign og_title = product.title | strip_html -%}
  {%- assign og_type = 'product' -%}
  {%- capture og_image_tags -%}
    {%- for image in product.images limit: 3 -%}
      <meta property="og:image" content="http:{{ image.src | product_img_url: '1024x1024' }}">
    {%- endfor -%}
  {%- endcapture -%}
  {%- capture og_image_secure_url_tags -%}
    {%- for image in product.images limit: 3 -%}
      <meta property="og:image:secure_url" content="https:{{ image.src | product_img_url: '1024x1024' }}">
    {%- endfor -%}
  {%- endcapture -%}

{%- elsif template.name == 'article' -%}
  {%- assign og_title = article.title | strip_html -%}
  {%- assign og_type = 'article' -%}
  {%- assign og_description = article.excerpt_or_content | strip_html -%}
  {%- if article.image -%}
    {%- capture og_image_tags -%}<meta property="og:image" content="http:{{ article.image | img_url: '1024x1024' }}">{%- endcapture -%}
    {%- capture og_image_secure_url_tags -%}<meta property="og:image:secure_url" content="https:{{ article.image | img_url: '1024x1024' }}">{%- endcapture -%}
  {%- endif -%}

{%- elsif template.name == 'password' -%}
  {%- assign og_title = shop.name -%}
  {%- assign og_url = shop.url -%}
  {%- assign og_description = shop.description | default: shop.name -%}
{%- endif -%}

<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:title" content="{{ og_title }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:description" content="{{ og_description }}">
{%- if template.name == 'product' -%}
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">
  <meta property="og:price:currency" content="{{ shop.currency }}">
{%- endif -%}
{{ og_image_tags }}
{{ og_image_secure_url_tags }}

<meta name="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ og_title }}">
<meta name="twitter:description" content="{{ og_description }}"> {% endcomment %}

{% if template == 'index' %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:image" content="http://cdn.shopify.com/s/files/1/0858/7748/files/mma-cover.jpg?6833462463709473746">
{% elsif template contains 'product' %}
  <meta property="og:type" content="product">
  <meta property="og:title" content="{{ product.title | strip_html | escape }}">
  {% for image in product.images limit:3 %}
    <meta property="og:image" content="http:{{ image | img_url: 'grande' }}">
    <meta property="og:image:secure_url" content="https:{{ image | img_url: 'grande' }}">
  {% endfor %}
  <meta property="og:description" content="{{ product.description | strip_html | escape }}">
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">
  <meta property="og:price:currency" content="{{ shop.currency }}">
{% elsif template contains 'article' %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ article.title | strip_html | escape }}">
  {% if article.image %}
    <meta property="og:image" content="http:{{ article | img_url: '1024x1024' }}">
    <meta property="og:image:secure_url" content="https:{{ article | img_url: '1024x1024' }}">
  {% endif %}
  <meta property="og:description" content="{{ article.excerpt_or_content | strip_html | escape }}">
{% else %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page_title | escape }}">
  {% if settings.logo_use_image %}
    <meta property="og:image" content="http:{{ settings.main_logo_svg }}">
    <meta property="og:image:secure_url" content="https:{{ settings.main_logo_svg }}">
  {% endif %}
{% endif %}
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:site_name" content="{{ shop.name }}">

{% unless settings.social_twitter_link == blank %}
  <meta name="twitter:site" content="@{{ settings.social_twitter_link | split: 'twitter.com/' | last }}">
{% endunless %}
{% if template contains 'article' and article.image %}
  <meta name="twitter:card" content="summary_large_image">
{% else %}
  <meta name="twitter:card" content="summary">
{% endif %}
{% if template == 'index' %}
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ page_description | escape }}">
{% elsif template contains 'product' %}
  <meta name="twitter:title" content="{{ product.title | strip_html | escape }}">
  <meta name="twitter:description" content="{{ product.description | strip_html | truncate: 200, '' | escape }}">
  <meta name="twitter:image" content="https:{{ product | img_url: 'grande' }}">
  <meta name="twitter:image:width" content="600">
  <meta name="twitter:image:height" content="600">
{% elsif template contains 'article' %}
  <meta name="twitter:title" content="{{ article.title | strip_html | escape }}">
  <meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncate: 200, '' | escape }}">
  {% if article.image %}
    <meta property="twitter:image" content="https:{{ article | img_url: '1024x1024' }}">
  {% endif %}
{% endif %}