{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}
<div class="swatch error">
  <p>You must include the snippet swatch.liquid with the name of a product option.</p> 
  <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    <script>$(window).load(function() { $('.selector-wrapper:eq({{ option_index }})').hide(); });</script>
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless found_option %}
<div class="swatch error">
  <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% else %}
<div class="swatch clearfix" data-option-index="{{ option_index }}">
  <div class="header">{{ swatch }}: <label class="h4" {% if is_color == true %}data-colorCode{% endif %} {% if option_name == 'color' %}data-sizeCode{% endif %}></label></div>
  {% assign values = '' %}
  <ul class="{% if is_color %}list-unstyled list-inline mb-0 py-0 mt-1 for-color{% else %}{% endif %}">
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %} 
      {% assign values = values | split: ',' %}
      <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
        {% if is_color %}
        <div class="tooltip">{{ value }}</div>
        {% endif %}
       {% if is_color %}
        <li class="list-inline-item" data-id="color">
          <div class="color-swatch form-check pl-0 pr-xl-3 pr-2">
              <input
                id="swatch-{{ option_index }}-{{ value | handle }}"
                  type="radio"
                  name="color"
                  aria-label="color"
                  value="{{ value | escape }}"
                  class="{% if value == 'White'%}colorWhite{% endif %}"
                  data-single-option-selector
                  data-index="option{{ option.position }}" {% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %}>
              <label
                for="swatch-{{ option_index }}-{{ value | handle }}"
                class="form-check-label"
                data-toggle="tooltip"
                data-trigger="hover"
                title="{{ value | escape | replace: '-', ' ' }}"
                style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})">
                <span class="d-block text-center cursor-pointer position-relative"></span>
            </label>
          </div>
        </li>
        {% else %}
        <li class="list-inline-item d-block float-left">
          <div class="size-swatch">
            <label>
                <input
                class="border cursor-pointer"
                  type="radio"
                  name='size'
                  aria-label="size"
                  value="{{ value | escape }}"
                  data-index="option{{ option.position }}" {% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %}>
            </label>
          </div>
        </li>
        {% endif %}
      </div>
    {% endunless %}
    {% if variant.available %}
    <script>
      jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
    </script>
    {% endif %}
  {% endfor %}
  </ul>
</div>

{% endunless %}

{% endif %}
