{% assign is_promo_in_cart = false %}
{% assign promoPrices = '' %}

<form data-cart-form action="/cart" method="post" id="cart_form">
  <div class="row justify-content-center">

    <div class="col-sm-6 col-lg-4 col-xl-3 my-3 d-flex align-items-stretch"
         v-for="(item, index, key) in cart.items" :key="item.id">

      <div class="card text-left w-100"
           data-cart-item
           :data-variant-id="item.variant_id"
           :data-cart-limit="item.properties['cart-limit']">

        <div class="card-img text-center" :class="{'bg-gray-300': !item.image }">

          <div v-if="item.properties['add_method'] != 'auto'" class="position-absolute w-100 d-flex justify-content-end p-2">
            <a class="h3 my-0 text-danger"
               href="#"
               title="{{ 'cart.general.remove' | t }}"
               name="{{ 'cart.general.remove' | t }}"
               aria-label="{{ 'cart.general.remove' | t }}"
               data-toggle="tooltip"
               data-placement="left"
               @click.prevent="_removeFromCart(index+1, $event)">
              <i class="icon ion-md-remove-circle-outline"></i>
            </a>
          </div>

          <img v-if="item.image" :src="_getSizedImageUrl(item.image ,'medium')" :alt="item.product_title" class="img-fluid item-img"/>
          <template v-else>
            {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
          </template>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col">
              <a :href="item.url" class="card-title" v-text="item.product_title"></a>

              <ul v-show="item.variant_options.length > 0" class="list-unstyled">
                <li v-for="variant of item.variant_options">
                  <span v-if="variant != 'Default Title'" v-text="'- ' + variant" class="text-muted small text-lowercase"></span>
                </li>
              </ul>

              {% comment %}ReCharge frequency{% endcomment %}
              {% if recurringchecked == "true" %}
                <div class="small">Recurring Delivery every {{frequency}} {{frequency_unit}}. Change or cancel anytime </div>
              {% endif %}
            </div>
            <div class="col-5 text-right">
              <s v-if="item.properties['promo_product']" class="text-muted m-0 p-0" v-text="_formatMoney(item.price)"></s>
              <span v-if="item.properties['promo_product']">FREE</span>
              <span v-else class="m-0 p-0" v-text="_formatMoney(item.price)"></span>
            </div>
          </div>
        </div>

        <input v-if="item.properties['promo_product']"  type="hidden" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" step="1" min="1" pattern="[0-9]*" inputmode="numeric" data-qty-input class="quantity form-control text-center">

        <div v-else class="card-footer bg-gray-100">
          <div class="quantity-wrapper mx-auto" data-qty-container>
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <a href="#" class="input-group-text" rel="nofollow" aria-label="Decrease" title="Decrease" data-qty-decrease @click.prevent="_updateCart(index+1, $event)">
                  <span class="btn-decrease"><i class="icon ion-md-remove"></i></span>
                </a>
              </div>
              <input type="number" name="updates[]" :id="'updates_'+item.key" aria-label="quantity" :value="item.quantity" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center" readonly>
              <div class="input-group-append">
                <a href="#" class="input-group-text" rel="nofollow" aria-label="Increase" title="Increase" data-qty-increase @click.prevent="_updateCart(index+1, $event)">
                  <span class="btn-increase"><i class="icon ion-md-add"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="row mt-5">
    <div class="col-12 text-center">
      {% if section.settings.show_back_btn %}
        <a href="/collections" class="btn btn-info btn-sm"><i class="icon ion-md-arrow-back"></i> {{ 'cart.general.back_to_shop' | t }}</a>
      {% endif %}
      <button type="submit" name="update" class="btn btn-outline-primary btn-sm"><i class="icon ion-md-refresh"></i> {{ 'cart.general.update' | t }}</button>
    </div>
  </div>

  {% if section.settings.enable_cart_notes %}
    <div class="row mt-5">
      <div class="col-12 col-lg-8 mx-auto text-center">
        <p>{{ 'cart.general.note' | t }}:</p>
        <textarea name="note" class="form-control" rows="4">{{ cart.note }}</textarea>
      </div>
    </div>
  {% endif %}

  {% if section.settings.enable_delivery_date_selection %}
    <div class="row mt-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 mx-auto">
        <label>{{ 'cart.general.delivery_date' | t }}</label>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="icon ion-md-calendar"></i>
            </span>
          </div>
          <flat-pickr
              :value="cart.attributes.date"
              :config="datePickerConfig"
              :required="false"
              name="attributes[date]"
              aria-label="delivery date"
              class="form-control">
          </flat-pickr>
        </div>
        <p class="small font-italic text-center">{{ 'cart.general.delivery_date_note' | t }}</p>
      </div>
    </div>
  {% endif %}

  {% if section.settings.enable_shipping_calculator %}
    <div class="row mt-5">
      <div class="col-12 col-lg-8 mx-auto text-center mb-5">
        {% include 'shipping-calculator' %}
      </div>
    </div>
  {% endif %}

  <div class="row mt-5">
    <div class="col-12 col-lg-4 mx-auto">
      <template v-if="promoProductsInCartTotal > 0">
        <div class="row align-items-center no-gutters">
          <div class="col">
            <h6 class="my-0">{{ 'cart.general.subtotal' | t }}:</h6>
          </div>
          <div class="col-4 text-right">
            <span v-text="_formatMoney(cart.subtotal_price)"></span>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col">
            <h6 class="my-0">{{ 'cart.general.discount' | t }}:</h6>
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row no-gutters mb-4">
          <div class="col">
            {% if section.settings.gwp_discount_code != '' %}
              <span class="small text-primary text-uppercase">
                <i class="icon ion-md-pricetag"></i> {{ section.settings.gwp_discount_code }}
              </span>
            {% endif %}
          </div>
          <div class="col-4 text-right">
            <span v-text="'-' + _formatMoney(promoProductsInCartTotal)"></span>
          </div>
        </div>
      </template>

      <hr>

      <div class="row no-gutters">
        <div class="col">
          <h4 class="text-uppercase my-0">{{ 'cart.general.total' | t }}:</h4>
        </div>
        <div class="col-4 text-right">
          <h4 class="my-0"><span v-text="_formatMoney(cart.total_price)"></span></h4>
        </div>
      </div>

      <p class="small font-italic mt-3 text-center">{{ 'cart.general.shipping_at_checkout' | t}}</p>

      <button class="btn btn-primary btn-block"
        type="submit"
        name="checkout"
        {% if cart_has_subscription_item == 'true' %} onclick="event.preventDefault(); reChargeSaveCartNoteAndRedirect()"{% endif %}>
        {{ 'cart.general.checkout' | t }} <i class="icon ion-md-arrow-forward"></i>
      </button>

    </div>
  </div>
</form>
