{% assign is_promo_in_cart = false %}
{% assign promoPrices = '' %}
<form data-cart-form action="/cart" method="post" id="cart_form">
  <div class="row">
      <div class="col-lg-9 pr-lg-3 mb-ex-lg-0 mb-5">
        <div class="table-wrapper mr-ex-lg-5 mb-5">
          <div class="bg-gray-300 py-3">
              <div class="row">
                  <div class="col-md-5 col-4">
                      <h5 class="font-weight-bold text-uppercase font-size-sm mb-0 px-md-4 px-3">item</h5>
                  </div>
                  <div class="col-2 d-md-block d-none">
                      <h5 class="font-weight-bold text-uppercase font-size-sm mb-0">price</h5>
                  </div>
                  <div class="col-md-3 col-4">
                      <h5 class="font-weight-bold text-uppercase font-size-sm mb-0">Quantity</h5>
                  </div>
                  <div class="col-md-2 col-4">
                      <h5 class="font-weight-bold text-uppercase font-size-sm mb-0 px-md-4 px-3 text-right">total</h5>
                  </div>
              </div>
          </div>
        </div>
        {% for item in cart.items %}
          {% assign is_promo_product = false %}
          {% assign add_method = 'manual' %}
          {% comment %}ReCharge App{% endcomment %}
          {% assign recurringchecked = "false" %}

          {% for property in item.properties %}
            {% if property.first == 'promo_product' and property.last == 'true' %}
              {% assign is_promo_in_cart = true %}
              {% assign is_promo_product = true %}
              {% assign promoPrices = promoPrices | plus: item.line_price %}
            {% endif %}

            {% if property.first == 'add_method' and property.last == 'auto' %}
              {% assign add_method = 'auto' %}
            {% endif %}

            {% comment %}ReCharge App{% endcomment %}
            {% if property.first == 'shipping_interval_frequency' %}
              {% assign frequency = property.last %}
              {% assign recurringchecked = "true" %}
            {% endif %}
            {% if property.first == 'shipping_interval_unit_type' %}
              {% if frequency == '1'%}
                {% if property.last == 'Days' %}
                  {% assign frequency_unit = 'Day' %}
                {% elsif property.last == 'Months'%}
                  {% assign frequency_unit = 'Month' %}
                {% elsif property.last == 'Weeks'%}
                  {% assign frequency_unit = 'Week' %}
                {% endif %}
              {% else %}
                {% assign frequency_unit = property.last %}
              {% endif %}
            {% endif %}
          {% endfor %}
          <div class="cart-product-details py-4 border-bottom" data-cart-item
                data-variant-id="{{ item.variant_id }}"
                data-cart-limit="{{ item.properties['cart-limit'] }}">
              <div class="row d-flex align-items-center justify-content-center">
                  <div class="col-md-5 col-12 mb-md-0 mb-3">
                      <div class="cart-product">
                          <div class="d-flex align-items-center">
                              <div class="cart-product-image d-flex align-items-center justify-content-center">
                                  <a href="{{ item.url | within: collections.all }}" class="w-100">
                                    {% if item.image != blank %}
                                      <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" />
                                    {% else %}
                                      {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                                    {% endif %}
                                  </a>
                              </div>
                              <div class="px-4 blog-head">
                                  <h4 class="font-weight-bold mb-1 text-capitalize"><a href="{{ item.url }}" class="text-gray-900">{{ item.product.title }}</a></h4>
                                  {% unless item.variant.title contains 'Default' %}
                                    <h5 class="font-weight-light mb-0 text-light-gray font-size-sm text-uppercase">
                                        <span class="text-muted small">- {{ item.variant.title }}</span>
                                    </h5>
                                  {% endunless %}

                                  {% comment %}ReCharge frequency{% endcomment %}
                                  {% if recurringchecked == "true" %}
                                    <div class="small">Recurring Delivery every {{frequency}} {{frequency_unit}}. Change or cancel anytime </div>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>  
                  <div class="col-md-2 col-4">
                      <div class="cart-price pl-3 pl-md-0">
                          {% if is_promo_product %}
                            <h4 class="font-weight-light text-red mb-0">{{ item.price | money }}</h4>
                          {% else %}
                            {% if item.product.compare_at_price > item.price %}
                              <h4 class="font-weight-light text-red mb-0">{{ item.price | money }}<strike class="text-gray-700 ml-2">{{ item.product.compare_at_price | money }}</strike></h4>
                            {% endif %}
                            <h4 class="font-weight-light text-red mb-0">{{ item.price | money }}</h4>
                          {% endif %}
                      </div>
                  </div>
                  <div class="col-md-3 col-4 d-flex align-items-center justify-content-center justify-content-md-start  mx-1">
                      <template v-if="item.properties['promo_product']">
                        <span>1</span>
                        <input type="hidden" name="updates[]" :id="'updates_'+item.key" :value="item.quantity" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center">
                      </template>
                      <div v-else class="cart-qty d-flex align-items-center quantity-wrapper" data-qty-container>
                        <div class="input-group input-group-sm">
                          <button class="less-qty border bg-transparent p-0 cursor-pointer qty border-right-0" rel="nofollow" aria-label="Decrease" title="Decrease" type="text" data-qty-decrease @click.prevent="_updateCart(index+1, $event)"><i class="ion ion-md-remove"></i></button>
                          <input type="number" name="updates[]" :id="'updates_'+item.key" aria-label="quantity" :value="item.quantity" step="1" min="1" inputmode="numeric" data-qty-input class="text-center border-top border-bottom border-left-0 border-right-0" readonly>
                          <button class="more-qty border bg-transparent p-0 cursor-pointer qty border-left-0" rel="nofollow" aria-label="Increase" title="Increase" type="text" data-qty-increase @click.prevent="_updateCart(index+1, $event)"><i class="ion ion-md-add"></i></button>
                        </div>
                      </div>
                      {% unless is_promo_product and add_method == 'auto' %}
                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}" name="{{ 'cart.general.remove' | t }}" aria-label="{{ 'cart.general.remove' | t }}" data-toggle="tooltip" data-trigger="hover" data-placement="top" ><i class="ion ion-md-close text-red h3 mb-0 ml-3""></i></a>
                      {% endunless %}
                  </div>
                  <div class="col-md-2 col-4">
                      <div class="cart-total text-right pr-md-4 pr-3">
                          <h4 class="font-weight-bold mb-0">{{ item.line_price | money }}</h4>
                      </div>
                  </div>
              </div>
          </div>
        {% endfor %}
        <div class="cart-extra-details mr-ex-lg-5">
          <div class="row">
              <div class="col-ex-lg-7 col-md-6 mb-md-0 mb-4">
                  <div class="mr-ex-lg-7">
                      <h5 class="mb-2 font-weight-bold font-size-sm">SPECIAL INSTRUCTIONS FOR MMA WAREHOUSE</h5>
                      <textarea class="w-100 p-3 border" style="height:115px;"></textarea>
                  </div>
              </div>
              <div class="col-ex-lg-5 col-md-6">
                  <h5 class="mb-2 font-weight-bold font-size-sm">SPECIAL INSTRUCTIONS FOR MMA WAREHOUSE</h5>
                  <input class="w-100 mb-4 px-3 py-2 border" type="text" style="height:40px;" />
                  <div class="d-flex align-items-center justify-content-between">
                      <a class="h4 a-link mb-0" href="">military discount</a>
                      <a class="h4 a-link mb-0" href="">FIRST RESPONDER DISCOUNT</a>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
          <div class="payment-sidebar shadow-lg p-6 text-center">
              <h3 class="text-uppercase mb-5 letter-spacing">order summary</h3>
              <div class="d-flex align-items-center justify-content-between mb-4">
                  <h4 class="font-weight-bold text-uppercase mb-0">subtotal:</h4>
                  <h4 class="font-weight-bold mb-0">{{ cart.total_price | minus: promoPrices | money }}</h4>
              </div>
              <button type="submit"
                      name="checkout"
                      {% if cart_has_subscription_item == 'true' %} onclick="event.preventDefault(); reChargeSaveCartNoteAndRedirect()"{% endif %}class="btn btn-primary w-100 checkout-btn>checkout</button>
              <div class="position-relative middle-line my-4"><h4 class="mb-0 font-size-sm text-gray-500 text-uppercase mx-auto bg-white mb-0 font-size-sm text-gray-500 text-uppercase mx-auto bg-white z-index position-relative">or</h4></div>
              
              <p class="mb-0 font-size-sm text-gray-500">Shipping & taxes are calculated during checkout.</p>
          </div>
      </div>
  </div>
</form>
