<form data-cart-form action="/cart" method="post" id="cart_form">

  <div class="row">
    <div class="col-lg-9 pr-lg-3 mb-ex-lg-0 mb-5">
        <div class="table-wrapper mr-ex-lg-5 mb-5">
            <div class="bg-gray-300 py-3">
                <div class="row">
                    <div class="col-md-5 col-4">
                        <h5 class="font-weight-bold text-uppercase font-size-sm mb-0 px-md-4 px-3">Item</h5>
                    </div>
                    <div class="col-2 d-md-block d-none">
                        <h5 class="font-weight-bold text-uppercase font-size-sm mb-0">Price</h5>
                    </div>
                    <div class="col-md-3 col-4">
                        <h5 class="font-weight-bold text-uppercase font-size-sm mb-0">Quantity</h5>
                    </div>
                    <div class="col-md-2 col-4">
                        <h5 class="font-weight-bold text-uppercase font-size-sm mb-0 px-md-4 px-3 text-right">Total</h5>
                    </div>
                </div>
            </div>
            
            {% assign displayed_bundles = '' | split: ',' %}
              
            {% for item in cart.items %}
                {% if item.properties._bundle != blank %}
                    {% assign current_bundle = item.properties._bundle %}
                    {% unless displayed_bundles contains current_bundle %}
                        {% include 'cart-bundle-item', product_bundle: all_products[current_bundle] %}
                    {% assign displayed_bundles = displayed_bundles | join: ',' | append: ',' | append: current_bundle | split: ',' %}
                    {% endunless %}
                {% else %}
                {% endif %}
            {% endfor %}

            <div class="cart-product-details py-4 border-bottom" 
                  v-for="(item, index, key) in cart.items"
                  data-cart-item
                  :key="item.id"
                  :data-variant-id="item.variant_id"
                  :data-handle="item.handle"
                  :data-cart-limit="item.properties['cart-limit']" v-if="!item.properties['_bundle']">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-5 col-12 mb-md-0 mb-3">
                        <div class="cart-product">
                            <div class="d-flex align-items-center">
                                <div class="cart-product-image d-flex align-items-center justify-content-center">
                                  <a :href="item.url" class="w-100">
                                    <img v-if="item.image" :src="_getSizedImageUrl(item.image ,'medium')" :alt="item.product_title" />
                                    <template v-else>
                                      {{ 'product-1' | placeholder_svg_tag: 'img-fluid bg-gray-100' }}
                                    </template>
                                  </a>
                                </div>
                                <div class="px-4 blog-head">
                                    <h4 class="font-weight-bold mb-1 text-capitalize"><a :href="item.url" v-text="item.product_title" class="text-gray-900"></a></h4>
                                    <h5 class="font-weight-light mb-0 text-light-gray font-size-sm text-uppercase d-none" v-show="item.variant_options.length > 0" data-varaint-show>
                                      <p v-for="(variant, index) in item.variant_options" class="mb-0">
                                        <span class="font-weight-light mb-0 text-light-gray font-size-sm text-uppercase h5" v-bind:data-index="item.handle + index"></span>: <span v-if="variant != 'Default Title'" v-text="variant"></span>
                                      </p>
                                    </h5>
                                    {% comment %}ReCharge frequency{% endcomment %}
                                    {% if recurringchecked == "true" %}
                                      <div class="small">Recurring Delivery every {{frequency}} {{frequency_unit}}. Change or cancel anytime </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-2 col-4" >
                        <div class="cart-price pl-3 pl-md-0 compare-price" v-if="item.compare_at_price">
                          <h4 class="font-weight-light text-red mb-0" v-if="item.properties['promo_product']" v-text="_formatMoney(item.price)"><strike class="text-gray-700 ml-2" v-text="_formatMoney(item.compare_at_price)"></strike></h4>
                          <span v-else class="m-0 p-0 font-weight-light" v-html="_formatMoney(item.price)"></span>
                          <s class="text-gray-700 ml-2 font-weight-light" v-html="_formatMoney(item.compare_at_price)"></s>
                        </div>
                        <div class="cart-price pl-3 pl-md-0" v-else>
                          <h4 class="font-weight-light text-red mb-0 font-weight-light" v-if="item.properties['promo_product']" v-text="_formatMoney(item.price)"><strike class="text-gray-700 ml-2" v-text="_formatMoney(item.compare_at_price)"></strike></h4>
                          <span v-else class="m-0 p-0 font-weight-light" v-html="_formatMoney(item.price)"></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-4 d-flex cart-qty-box align-items-center justify-content-center justify-content-md-start px-1">
                        <template v-if="item.properties['promo_product']">
                          <span>1</span>
                          <input type="hidden" name="updates[]" :id="'updates_'+item.key" :value="item.quantity" step="1" min="1" inputmode="numeric" data-qty-input class="quantity form-control text-center">
                        </template>
                        <div v-else class="cart-qty d-flex align-items-center quantity-wrapper" data-qty-container>
                          <div class="input-group input-group-sm">
                            <button class="less-qty border bg-transparent p-0 cursor-pointer qty border-right-0" rel="nofollow" aria-label="Decrease" title="Decrease" type="text" data-qty-decrease @click.prevent="_updateCart(index+1, $event)"><i class="ion ion-md-remove"></i></button>
                            <input type="number" name="updates[]" :id="'updates_'+item.key" aria-label="quantity" :value="item.quantity" step="1" min="1" inputmode="numeric" data-qty-input class="text-center border-top border-bottom border-left-0 border-right-0" readonly>
                            {% comment %} <input type="number" name="updates[]" :id="'updates_'+item.key" aria-label="quantity" :value="item.quantity" step="1" min="1" inputmode="numeric" data-qty-input class="text-center border" readonly> {% endcomment %}
                            <button v-if="item.inventory_quantity > item.quantity" class="more-qty border bg-transparent p-0 cursor-pointer qty border-left-0" rel="nofollow" aria-label="Increase" title="Increase" type="text" data-qty-increase @click.prevent="_updateCart(index+1, $event)"><i class="ion ion-md-add"></i></button>
                            <button v-else class="more-qty border bg-transparent p-0 cursor-pointer qty border-left-0 stop-increase-val" rel="nofollow" aria-label="Increase" title="Increase" type="text"><i class="ion ion-md-add"></i></button>
                          </div>
                        </div>
                         <a v-if="item.properties['add_method'] != 'auto'" href="#" class="text-danger lead"
                            title="{{ 'cart.general.remove' | t }}"
                            name="{{ 'cart.general.remove' | t }}"
                            aria-label="{{ 'cart.general.remove' | t }}"
                            data-toggle="tooltip"
                            data-trigger="hover"
                            data-placement="top"
                            @click.prevent="_removeFromCart(index+1, $event)">
                          <span class="btn-decrease"><i class="ion ion-md-close text-red h3 mb-0 ml-3"></i></span>
                        </a>
                    </div>
                    <div class="col-md-2 col-4">
                        <div class="cart-total text-right pr-md-4 pr-3">
                          <h4 class="font-weight-bold mb-0" v-if="item.properties['promo_product']">FREE</h4>
                          <h4 class="font-weight-bold mb-0" n v-else v-html="_formatMoney(item.line_price)"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-extra-details mr-ex-lg-5">
            <div class="row">
                {% if section.settings.enable_cart_notes %}
                <div class="col-ex-lg-7 col-md-6 mb-md-0 mb-4">
                    <div class="mr-ex-lg-7">
                        <h5 class="mb-2 font-weight-bold text-uppercase font-size-sm">SPECIAL INSTRUCTIONS FOR MMA WAREHOUSE</h5>
                        <textarea name="note" class="w-100 p-3 border border-gray-400" style="height:115px;">{{ cart.note }}</textarea>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="col-lg-3 col-md-6">
      <div class="payment-sidebar shadow-lg p-6 text-center">
          <h3 class="text-uppercase mb-5 letter-spacing">order summary</h3>
          <div class="d-flex align-items-center justify-content-between mb-4">
              <h4 class="font-weight-bold text-uppercase mb-0">subtotal:</h4>
              <h4 class="font-weight-bold mb-0" v-html="_formatMoney(cart.total_price)"></h4>
          </div>
          {% comment %} <button style="display:none" type="submit" name="update" class="">Update</button> {% endcomment %}
          
            <button  type="submit"
            name="checkout"
            data-button-checkout
            class="btn btn-primary w-100 checkout-btn" {% if cart_has_subscription_item == 'true' %} onclick="event.preventDefault(); reChargeSaveCartNoteAndRedirect()"{% endif %}>
            {{ 'cart.general.checkout' | t }}</button>

            {% if settings.enable_accelerated_checkouts %}
                <div class="position-relative middle-line my-4">
                  <h4 class="mb-0 font-size-sm text-gray-500 text-uppercase mx-auto bg-white mb-0 font-size-sm text-gray-500 text-uppercase mx-auto bg-white z-index position-relative">or</h4>
                </div>
                <div class ="addtion_script">
                  {% if additional_checkout_buttons %}
                  {{ content_for_additional_checkout_buttons }}
                  {% endif %} 
                </div>
            {% endif %}

          <p class="mb-0 font-size-sm mt-2 text-gray-500">Shipping & taxes are calculated during checkout.</p>
      </div>
    </div>
  </div>
</form>

