{% paginate blog.articles by items_per_page %}

<section id="blog-banner" data-template="cart">
    <div class="mmawarehouse-blog mt-4">
        <div class="container">
            <h2 class="text-uppercase mb-4 font-weight-bold">{{ blog.title }}</h2>
                {% if sidebar_enabled %}

                    <div class="row">
                        <div class="col-lg-8 col-md-7 col-12 mb-md-0 mb-5">
                            <div class="blogs w-100 bg-white mb-5" data-flickity='{  "cellAlign": "left", "contain": true, "groupCells": true, "pageDots": false }'>
                                {% for block in section.blocks %}
                                    {% if block.type == 'featured-articles' %}
                                    {% assign article = articles[block.settings.artcleSelect] %}
                                        <div class="item w-100">
                                            <img class="my-0 mx-auto position-absolute img-wrapper" src="{{ article.image.src | img_url: '900x500'}}" alt="{{ article.image.alt | escape }}"/>
                                            <div class="container slider-content">
                                                <div class="text-white position-absolute content">
                                                    <h2 class="text-uppercase font-size-middle mb-3 font-weight-bold">{{ article.title }}</h2>
                                                    <a href="{{ article.url }}" class="btn btn-primary px-0 line-height-normal d-flex align-items-center justify-content-center">read article</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            
                            <div class="row">
                                {% for article in blog.articles %}
                                    {% include 'card-article-style-1' %}
                                {% endfor %}
                            </div>
                        
                            {% if paginate.pages > 1 %}
                                <div class="blog-pagination my-lg-5 my-3 py-3 bg-gray-300 d-flex align-items-center justify-content-between px-lg-4 px-2">
                                    {% include 'pagination' %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-4 col-md-5 col-12">
                            {% include 'sidebar-blog' %}
                        </div>
                    </div>

                {% else %}

                    <div class="row justify-content-center">
                        {% for article in blog.articles %}
                        <div class="col-sm-6 col-lg-4 my-3 d-flex align-items-stretch">
                            {% include 'card-article-style-1' %}
                        </div>
                        {% endfor %}
                    </div>
                    {% if paginate.pages > 1 %}
                    <div class="row">
                        <div class="col-12 text-center mt-5 blog-pagination my-lg-5 my-3 py-3 bg-gray-300 d-flex align-items-center justify-content-between px-lg-4 px-2">
                            {% include 'pagination' %}
                        </div>
                    </div>
                    {% endif %}

                {% endif %}
        </div>
    </div>
</section>

{% endpaginate %}

{% for block in section.blocks %}
    {% if block.type == 'related-items' and block.settings.enable_related_items %}
        {% assign collectionHandle = block.settings.blog_related_items %}
         <section v-if="collectionProducts.length <= 4" id="blogs" class="mt-5" data-template="cart">
            <div class="container">
                <h2 class="font-weight-bold text-center mb-0 text-uppercase heading-text letter-spacing-minus">{{ block.settings.related_title }}</h2>
                <div class=" collection-slider">
                    {% if collectionHandle == blank or collections[collectionHandle] == empty or collections[collectionHandle].products_count == 0 %}
                        {% include 'onboarding-featured-products' %}
                    {% else %}
                        <transition-group name="collection-tween" tag="div" class="row justify-content-center product-slider" >
                            <div v-for="(product, index, key) in collectionProducts" :key="product.id"
                                class="col-lg-3 col-sm-6 col-12 items">
                                {% include 'home-page-featured' %}      
                            </div>
                        </transition-group>
                    {% endif %}
                </div>
            </div>
        </section>

        <section v-else id="blogs" class="mt-5" data-template="cart">
            <div class="container">
                <h2 class="font-weight-bold text-center mb-0 text-uppercase heading-text letter-spacing-minus">{{ block.settings.related_title }}</h2>
                <div class=" collection-slider">
                    {% if collectionHandle == blank or collections[collectionHandle] == empty or collections[collectionHandle].products_count == 0 %}
                        {% include 'onboarding-featured-products' %}
                    {% else %}
                        <transition-group name="collection-tween" tag="div" class="slider-flickity row product-slider" >
                            <div v-for="(product, index, key) in collectionProducts" :key="product.id"
                                class="col-lg-3 col-sm-6 col-12 items">
                                {% include 'home-page-featured' %}      
                            </div>
                        </transition-group>
                    {% endif %}
                </div>
            </div>
        </section>
        {% for product in collections[collectionHandle].products %}
            {% if product.metafields.yotpo.reviews_count != blank %}
                <script type="application/json" data-{{product.id}}-view-detail-json>
                    {
                        "reviews_count": {{ product.metafields.yotpo.reviews_count }},
                        "reviews_average": {{ product.metafields.yotpo.reviews_average }}
                    }
                </script>
            {% endif %}
        {% endfor %}
        {% for product in collections[collectionHandle].products %}
            <script type="application/json" data-product-json >
            {
                "product": {{ product | json }},
                "options_with_values": {{ product.options_with_values | json }}
            }
            </script>
        {% endfor %} 
    {% endif %}
{% endfor %}
