{% paginate collection.products by items_per_page %}

<section class="pt-lg-4 pt-2" id="collection-filter">
    <div class="container larger-container">
      <div class="row main-content">
        {% if filters_enabled and filters_type == 'sidebar' %}
          <div class="col-lg-3 col-md-4 col-12">
              {% if filters_enabled and filters_type == 'sidebar' %}
                <div class="btn btn-primary btn-sm d-block d-md-none px-0 my-4 filter-btn rounded-0" data-filter-btn>
                  <i class="icon ion-md-color-wand"></i> Filters
                </div>
              {% endif %} 
            {% include 'sidebar-collection-filters' %}
          </div>
        {% endif %}

        <div class="{% if filters_enabled and filters_type == 'sidebar' %}col-lg-9 col-md-8{% else %}col-12{% endif %} col-12 content">
          <div class="apparel mb-7">
            <div class="d-flex align-items-center mb-4">
              {% if section.settings.sub_collection and section.settings.main_banner %}
                {% if collection.handle == 'all' %}
                  <h2 class="text-uppercase mb-0 font-weight-bold flex-grow-1">{{ collection.title }}</h2>
                {% endif %}
              {% else %}
                {% if section.settings.main_title %}
                    <h2 class="text-uppercase mb-0 font-weight-bold flex-grow-1">{{ collection.title }}</h2>
                {% endif %}
              {% endif %}
              {% include 'form-collection-sorting' %}
            </div>    
              
                 
            <div class="colletions-varient">
              <div class="">

                  <transition-group name="collection-tween" tag="div" class="row justify-content-start">
                    <div v-for="(product, index, key) in collectionProducts" :key="product.id"
                        :data-handle= "product.handle" class="col-xxxl-3 col-lg-4 col-sm-6 col-12 items mb-4 {% unless filters_enabled and filters_type == 'sidebar' %} col-xl-3 {% endunless %}">
                    
                      {% if promo_card_enabled %}
                        <template v-if="index == parseFloat('{{ promo_card_index }}' - 1)">
                          {% case promo_card_type %}
                            {% when 'type_1' %}
                              {% include 'card-promo-style-1' %}
                          {% endcase %}
                        </template>
                        <template v-else>
                          {% case product_card_type %}
                            {% when 'type_1' %}
                              {% include 'card-product-style-1' %}
                            {% when 'type_2' %}
                              {% include 'card-product-style-2' %}
                            {% when 'type_3' %}
                              {% include 'card-product-style-3' %}
                          {% endcase %}
                        </template>
                      {% else %}
                        {% case product_card_type %}
                          {% when 'type_1' %}
                            {% include 'card-product-style-1' %}
                          {% when 'type_2' %}
                            {% include 'card-product-style-2' %}
                          {% when 'type_3' %}
                            {% include 'card-product-style-3' %}
                        {% endcase %}
                      {% endif %}
                    </div>
                  </transition-group>

                  {% if collection_ajaxed %}
                    <div v-if="!isLoading && collectionProducts.length == 0" class="row mt-5">
                      <div class="col-12 text-center">
                        <i class="icon ion-md-information-circle-outline display-4 text-gray-400"></i>
                        <h5>{{ 'collections.general.no_matches_within_filters' | t }}</h5>

                        {% if filters_enabled %}
                          {% comment %} <p>{{ 'collections.general.refine_search' | t }} <a href="#" @click.prevent="_clearAllFilters($event)" rel="nofollow" aria-label="{{ 'collections.general.reset_filters' | t }}" title="{{ 'collections.general.reset_filters' | t }}">{{ 'collections.general.reset_filters' | t }}</a></p> {% endcomment %}
                          <p>{{ 'collections.general.refine_search' | t }} <a href="/collections/all" rel="nofollow" aria-label="{{ 'collections.general.reset_filters' | t }}" title="{{ 'collections.general.reset_filters' | t }}">{{ 'collections.general.reset_filters' | t }}</a></p>
                        {% endif %}
                      </div>
                    </div>
                  {% else %}
                    {% if collection.products.size == 0 %}
                      <div class="row mt-5">
                        <div class="col-12 text-center mt-5">
                          <i class="icon ion-md-information-circle-outline display-4 text-gray-400"></i>
                          <h5>{{ 'collections.general.no_matches_within_filters' | t }}</h5>

                          {% if filters_enabled %}
                            {% comment %} <p>{{ 'collections.general.refine_search' | t }} <a href="#" @click.prevent="_clearAllFilters($event)" rel="nofollow" aria-label="{{ 'collections.general.reset_filters' | t }}" title="{{ 'collections.general.reset_filters' | t }}">{{ 'collections.general.reset_filters' | t }}</a></p> {% endcomment %}
                            <p>{{ 'collections.general.refine_search' | t }} <a href="/collections/all" rel="nofollow" aria-label="{{ 'collections.general.reset_filters' | t }}" title="{{ 'collections.general.reset_filters' | t }}">{{ 'collections.general.reset_filters' | t }}</a></p>
                          {% endif %}
                        </div>
                      </div>
                    {% endif %}
                  {% endif %}

                  {% if paginate.pages > 1 %}
                  <div class="w-100 blog-pagination my-lg-5 my-3 py-3 bg-gray-300 d-flex align-items-center justify-content-between px-lg-4 px-2">
                        {% if collection_ajaxed %}
                          {% include 'pagination-collection-ajaxed' %}
                        {% else %}
                          {% include 'collection-pagination' %}
                        {% endif %}
                  </div>
                  {% endif %}
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
</section>

{% endpaginate %}