<section id="product-info" class="py-6 template-product-classic vertical-thumbs bg-gray-300 position-relative">
  <span class="for-description-bg" data-for-description-bg></span>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    {% if product.images.size >= 1 %}
                      {% comment %} <div class="col-12 col-lg-2">
                        <div class="d-none" carousel-nav-temp>
                          {% for image in product.images %}
                          <div data-thumbs data-variant-title="{{ image.alt | escape }}" >
                            <div class="pr-3 thumb-wrapper {% if forloop.first %}is-nav-selected{% endif %}" data-variant-title="{{ image.alt | escape }}" data-src="{{ image.src | img_url: '650x' }}">
                              <div class="carousel-cell" data-change-zoom>
                                <img src="{{ image.src | img_url: 'medium' }}" alt="{{ image.alt | escape }}" role="treeitem">
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                        <div class="carousel-nav d-none d-lg-block" data-carousel-nav role="tree" data-flickity='{
                              "contain": true, 
                              "draggable": true,
                              "cellAlign": "left",
                              "pageDots": false,
                              "adaptiveHeight": true,
                              "percentPosition": false,
                              "freeScroll": false,
                              "groupCells": true,
                              "wrapAround": false,
                              "arrowShape": { 
                                  "x0": 20,
                                  "x1": 60, "y1": 40,
                                  "x2": 65, "y2": 35,
                                  "x3": 30
                                }
                              }'>
                          {% for image in product.images %}
                            {% if image.alt ==  product.selected_or_first_available_variant.image.alt %}
                              <div class="pr-3 thumb-wrapper {% if forloop.first %}is-nav-selected{% endif %}" data-variant-title="{{ image.alt | escape }}" data-src="{{ image.src | img_url: '650x' }}">
                                <div class="carousel-cell" data-change-zoom>
                                  <img src="{{ image.src | img_url: 'medium' }}" alt="{{ image.alt | escape }}" role="treeitem">
                                </div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div> {% endcomment %}
                      <div class="col-12 col-lg-2">
                        <div class="d-none" carousel-nav-temp>
                          {% for image in product.images %}
                          <div data-thumbs data-variant-title="{{ image.alt | escape }}" >
                            <div class="pr-3 thumb-wrapper {% if forloop.first %}is-nav-selected{% endif %}" data-variant-title="{{ image.alt | escape }}" data-src="{{ image.src | img_url: '650x' }}">
                              <div class="carousel-cell d-flex align-items-center justify-content-center" data-change-zoom>
                                <img src="{{ image.src | img_url: 'medium' }}" alt="{{ image.alt | escape }}" role="treeitem" class="for-height">
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                        <div class="carousel-nav d-none d-lg-block" data-carousel-nav role="tree" data-flickity='{
                              "contain": true, 
                              "draggable": true,
                              "cellAlign": "left",
                              "pageDots": false,
                              "adaptiveHeight": true,
                              "percentPosition": false,
                              "freeScroll": false,
                              "groupCells": true,
                              "wrapAround": false,
                              "arrowShape": { 
                                  "x0": 20,
                                  "x1": 60, "y1": 40,
                                  "x2": 65, "y2": 35,
                                  "x3": 30
                                }
                              }'>
                          {% for image in product.images %}
                            {% if image.alt ==  product.selected_or_first_available_variant.image.alt %}
                              <div class="pr-3 thumb-wrapper {% if forloop.first %}is-nav-selected{% endif %}" data-variant-title="{{ image.alt | escape }}" data-src="{{ image.src | img_url: '650x' }}">
                                <div class="carousel-cell d-flex align-items-center justify-content-center" data-change-zoom>
                                  <img src="{{ image.src | img_url: 'medium' }}" alt="{{ image.alt | escape }}" role="treeitem" class="for-height">
                                </div>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    {% endif %}

                    {% if featured_image != blank %}
                      <div class="col-12 col-lg-10">
                        <div class="carousel shadow-lg mr-ex-lg-4 bg-white px-lg-0 px-3 main-carousel" role="tree" data-carousel-main data-variant-title="{{ image.alt | escape }}" 
                          >
                          <img class="img-fluid for-height" {% if section.settings.enable_images_zoom %}data-image-zoom{% endif %} role="treeitem"
                            src="{{ product.selected_or_first_available_variant.image.src | img_url: 'master' }}"
                            sizes="(min-width: 1024px) 720px, 360px"
                            data-zoom="{{ product.selected_or_first_available_variant.image.src | img_url: '1920x', scale: 2 }}"                     
                            alt="{{ product.selected_or_first_available_variant.image.alt | escape }}"/>
                        </div>
                      </div>

                    {% else %}
                      <div class="col-12">
                        {{ 'image' | append: current | placeholder_svg_tag: 'img-fluid' }}
                      </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-5">
                <div class="product-details-wrapper mt-5 mt-lg-0" product-details-wrapper>
                  <div class="align-items-center">
                    {% if show_vendor %}
                      <span class="my-0 h5 font-weight-light text-gray-500 text-uppercase">{{ product.vendor }}</span>
                    {% endif %}

                    {% comment %} <a v-if="totalReviews > 0"  href="#" @click.prevent="_scrollToReviews" class="float-right">
                      <span v-text="totalReviews"></span> Review<span v-if="totalReviews > 1">s</span>
                      <span v-html="_getAvgRating()"></span>
                    </a> {% endcomment %}
                  </div>
                  <h2 class="product-title heading-text text-uppercase mb-2 font-weight-bold">{{ product.title }}</h1>

                  <div class="price-wrapper mt-2 d-sm-flex d-block d-lg-block d-xl-flex align-items-center">
                    <div class="compare-price" v-if="(currentVariant.compare_at_price)">
                      <span v-html="_formatMoney(currentVariant.price)" class="price h3 mr-2" :class="{'no-compare': !currentVariant.compare_at_price}"></span>
                      <s class="text-gray-700 ml-2" v-if="currentVariant.compare_at_price > product.price" class="h3 font-weight-light mr-0 text-gray-700 font-weight-light" v-html="_formatMoney(currentVariant.compare_at_price)"></s>
                    </div>
                    <div v-else>
                      <span v-html="_formatMoney(currentVariant.price)" class="price h3 mr-2" :class="{'no-compare': !currentVariant.compare_at_price}"></span>
                    </div>
                    
                    <div>
                        <ul class="list-unstyled mb-0 review-label d-flex align-items-center ml-xl-11 ml-sm-5 ml-lg-0 mt-3 mt-sm-0 mt-lg-3 mt-xl-0">
                          <div>
                            <li class="nav-item font-size-sm text-gray-200 font-weight-light text-uppercase" data-sku>{{ product.selected_or_first_available_variant.sku }}</li>
                            {% if product.selected_or_first_available_variant.barcode != blank %}<li class="nav-item font-size-sm text-gray-200 font-weight-light text-uppercase" data-barcode>{{ product.selected_or_first_available_variant.barcode }}</li> {% endif %}
                          </div>
                          <li class="nav-item d-flex align-items-center ml-5">
                              <div class="yotpo bottomLine"
                                data-product-id="{{ product.id }}">
                              </div>
                          </li>
                        </ul>
                    </div>
                  </div>

                  {% include 'form-product' %}

                  {% if section.settings.show_social_share %}
                  <h6 class="mt-5 mb-2">{{ 'general.social.share' | t }}</h6>
                    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                  {% endif %}
                </div>

                  <h4 v-if="product.message_product" class="mt-4 mb-2 font-weight-bold text-uppercase">PROMOTION:</h4>
                  <h4 class="mb-4 text-danger" v-if="product.message_product" v-text="product.message_product"></h4>

                  {% if product.description %}
                  <h4 class="mt-4 mb-2 font-weight-bold text-uppercase">{{ 'products.product.description' | t }}:</h4>
                  <div class="rte p font-weight-light" data-read-more>
                    {{ product.description | truncatewords: 300, '...'}}
                  </div>
                  <p><a href="javascript:void(0);" class="a-link font-size-sm mt-2 read-more" data-readmore >more</a></p>
                  {% endif %}
            </div>
        </div>
    </div>
</section>
