<section class="section-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-5 mx-auto text-center">

        <div id="accountTabs" data-account-tabs>
          <ul class="nav nav-pills justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#login" role="tab">{{ 'customer.login.title' | t }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#register" role="tab">{{ 'customer.register.title' | t }}</a>
            </li>
          </ul>
          <div class="tab-content text-left" id="accountTabsContent">
            <div class="tab-pane fade show active" id="login" role="tabpanel">
              <div class="pt-5">
                {% if reset_success %}
                <div class="alert alert-success">
                  {{ 'customer.recover_password.success' | t }}
                </div>
                {% endif %}

                {% comment %} {% if settings.enable_login_helper %}
                  {% include 'form-account-login-helper' %}
                {% else %}
                  {% include 'form-account-login' %}
                {% endif %} {% endcomment %}
                 {% include 'form-account-login' %}
                {% include 'form-account-reset' %}

              </div>
            </div>
            <div class="tab-pane fade" id="register" role="tabpanel">
              <div class="pt-5">{% include 'form-account-register' %}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
