{% if section.settings.enableBanner %}
    <section id="about-banneer">
        <div class="about-us w-100 position-relative" style="background: url('{{ section.settings.imgBanner | img_url:'original' }}') center no-repeat;">
            <div class="container h-100">
                <div class="d-flex align-items-center justify-content-center text-white flex-column h-100 position-relative text-center">
                    <p class="font-weight-normal mb-2">{{ section.settings.textBanner }}</p>
                    <h1 class="text-uppercase font-weight-bold mb-2 line-height-normal">{{ section.settings.titleBanner }}</h1>
                    <p class="font-weight-normal mb-0">{{ section.settings.descBanner }}</p>
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% if section.settings.enableFeature %}
    <section id="about-feature" class="pt-lg-6 pb-lg-10 pt-6 pb-6">
        <div class="container">
            <div class="row mt-lg-5 mt-0">
                {% for block in section.blocks %}
                    <div class="col-6 col-md-3 text-center mb-5 mb-md-0">
                        <div class="feature-img d-flex align-items-center justify-content-center mb-5">
                            <img src="{{ block.settings.imgFeature }}" />
                        </div>
                        <a href="{{ block.settings.urlFeature }}" class="text-uppercase mb-0 px-0 px-lg-6 px-lg-8 h3 text-gray-900 d-flex align-items-center justify-content-center">{{ block.settings.titleFeature }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% if section.settings.enableabout %}
    <section id="about" class="pt-xl-10 pt-md-8 pt-4 bg-gray-300">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-12 mx-auto mb-lg-0 mb-5">
                    {{ page.content }}
                    <div class="d-sm-flex align-items-center justify-content-between d-block">
                        <a href="{{ section.settings.urlButton }}" class="btn btn-primary fix-btn px-0">{{ section.settings.shopButton }}</a>
                        <div class="d-flex align-items-start justify-content-center mt-6 mt-sm-0">
                            <img class="px-4" src="{{ section.settings.imgAbout1 | img_url:'small' }}">  
                            <img class="px-4" src="{{ section.settings.imgAbout2 | img_url:'small' }}">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-12 for-about-img">
                    <div class="about-img">
                        <img src="{{ section.settings.mainimgAbout | img_url:'original' }}" class="img-wrapper mx-auto">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% schema %}
  {
    "name": "About Us",
    "settings": [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "checkbox",
        "id": "enableBanner",
        "label": "Enable Banner?",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "imgBanner",
        "label": "Banner Image"
      },
      {
        "type": "text",
        "id": "textBanner",
        "label": "Banner Text"
      },
      {
        "type": "text",
        "id": "titleBanner",
        "label": "Banner Title"
      },
      {
        "type": "textarea",
        "id": "descBanner",
        "label": "Banner Description"
      },
      {
        "type": "header",
        "content": "About"
      },
      {
        "type": "checkbox",
        "id": "enableabout",
        "label": "Enable About?",
        "default": true
      },
      {
        "type": "text",
        "id": "shopButton",
        "label": "Button Title"
      },
      {
        "type": "url",
        "id": "urlButton",
        "label": "Button URL"
      },
      {
        "type": "image_picker",
        "id": "imgAbout1",
        "label": "About Image 1"
      },
      {
        "type": "image_picker",
        "id": "imgAbout2",
        "label": "About Image 2"
      },
      {
        "type": "image_picker",
        "id": "mainimgAbout",
        "label": "About Image Main"
      },
      {
        "type": "header",
        "content": "Feature"
      },
      {
        "type": "checkbox",
        "id": "enableFeature",
        "label": "Enable Feature?",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "feature-about",
        "name": "Feature About",
        "limit": 4,
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "text",
            "id": "imgFeature",
            "label": "Feature Image SVG"
          },
          {
            "type": "url",
            "id": "urlFeature",
            "label": "Feature URL"
          },
          {
            "type": "text",
            "id": "titleFeature",
            "label": "Feature Title"
          }
        ]
      }
    ]
  }
{% endschema %}