{% assign logo = section.settings.footer_logo | img_url: '200x' %}
{% assign footer_linklist1 = section.settings.footer_linklist1 %}
{% assign footer_linklist2 = section.settings.footer_linklist2 %}
{% assign footer_linklist3 = section.settings.footer_linklist3 %}
{% assign footer_linklist4 = section.settings.footer_linklist4 %}
{% assign blog_handle = section.settings.footer_blog %}

<footer>
  <div class="bg-gray-900 pb-xl-8 pb-md-6 pb-4">
      <div class="container">
          <div class="row">
              <div class="col-xl-10 col-12 my-0 mx-auto pt-xl-11 pt-md-6 pt-4 pb-xl-8 pb-md-6 pb-4">
                  <div class="row">
                      <div class="col-md-6 col-12 footer-menu">
                          <div class="row">
                              {% if linklists[footer_linklist1].links.size > 0 %}
                              <div class="col-4">
                                  <ul class="nav d-inline-block">
                                  {% for link in linklists[footer_linklist1].links %}
                                    <li class="nav-item">
                                      <a href="{{ link.url }}" class="nav-link h5 text-white text-uppercase link-item p-0 mb-lg-4 mb-3"  name="{{ link.title }}" aria-label="{{ link.title }}">
                                        {{ link.title }}
                                      </a>
                                    </li>
                                  {% endfor %}
                                  </ul>
                              </div>
                              {% endif %}

                              {% if linklists[footer_linklist2].links.size > 0 %}
                              <div class="col-4">
                                  <ul class="nav d-inline-block">
                                      {% for link in linklists[footer_linklist2].links %}
                                        <li class="nav-item">
                                          <a href="{{ link.url }}" class="nav-link h5 text-white text-uppercase link-item p-0 mb-lg-4 mb-3" name="{{ link.title }}" aria-label="{{ link.title }}">
                                            {{ link.title }}
                                          </a>
                                        </li>
                                      {% endfor %}
                                  </ul>
                              </div>
                              {% endif %}

                              {% if linklists[footer_linklist3].links.size > 0 %}
                              <div class="col-4">
                                  <ul class="nav d-inline-block">
                                      {% for link in linklists[footer_linklist3].links %}
                                        <li class="nav-item">
                                          <a href="{{ link.url }}" class="nav-link h5 text-white text-uppercase link-item p-0 mb-lg-4 mb-3" name="{{ link.title }}" aria-label="{{ link.title }}">
                                            {{ link.title }}
                                          </a>
                                        </li>
                                      {% endfor %}
                                  </ul>
                              </div>
                              {% endif %}
                          </div>
                      </div>
                      <div class="col-md-5 offset-md-1 col-12 newslatter mt-6 mt-md-0">
                          {% if section.settings.col_3_heading != '' %}<h2 class="text-uppercase text-white font-weight-bold mb-2 heading-text">{{ section.settings.col_3_heading }}</h2>{% endif %}
                          {% if section.settings.col_3_txt != '' %}<p class="mb-4 text-white font-weight-light">{{ section.settings.col_3_txt }}</p>{% endif %}
                          
                          {% if section.settings.show_newsletter %}
                          <div class="newsletter_popup">
                            {% include 'newsletter' %}
                          </div>
                          {% endif %}

                          {% if section.settings.show_social_links %}
                            <div class="social-share d-flex align-items-center">
                                {% if section.settings.col_3_social_heading != '' %}<h3 class="text-uppercase text-white mb-0">{{ section.settings.col_3_social_heading }}</h3>{% endif %}
                                <ul class="nav d-flex align-items-center">
                                  {% if section.settings.social_icon_facebook %}
                                    <li class="nav-item">
                                        <a class="nav-link h3 text-white text-uppercase text-white ml-5 mb-0 p-0 link-item" href="{{ settings.social_facebook_link }}"  name="Facebook" title="Facebook" rel="nofollow" aria-label="Facebook">
                                          <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                  {% endif %}

                                  {% if section.settings.social_icon_twitter %}
                                    <li class="nav-item">
                                        <a class="nav-link h3 text-white text-uppercase text-white ml-5 mb-0 p-0 link-item" href="{{ settings.social_twitter_link }}" name="Twitter" title="Twitter" rel="nofollow" aria-label="Twitter">
                                          <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                  {% endif %}

                                  {% if section.settings.social_icon_instagram %}
                                    <li class="nav-item">
                                        <a class="nav-link h3 text-white text-uppercase text-white ml-5 mb-0 p-0 link-item" href="{{ settings.social_instagram_link }}" name="Instagram" title="Instagram" rel="nofollow" aria-label="Instagram">
                                          <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                  {% endif %}
                                </ul>
                            </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
          </div>
          {% if section.settings.show_copy_right %}
          <div class="row">
           <div class="col-xl-10 col-12 my-0 mx-auto ">
          <div class="row">
           
              <div class="col-xl-7 col-lg-7 col-md-6 col-12 my-0">
                  {% if section.settings.copyright_txt != '' %}
                    <h6 class="font-size-sm text-gray-200 mb-0 d-md-flex align-items-center d-block text-md-left text-center">{{section.settings.copyright_txt}}
                      {% if linklists[footer_linklist4].links.size > 0 %}
                        <ul class="mini-footer nav text-uppercase mt-1 mt-md-0 justify-content-center justify-content-md-strat">
                          {% for link in linklists[footer_linklist4].links %}
                            <li class="nav-item mx-3">
                              <a href="{{ link.url }}" class="text-gray-200" name="{{ link.title }}" title="{{ link.title }}" aria-label="{{ link.title }}">
                                {{ link.title }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </h6>
                  {% endif %}
              </div>
              
              {% if section.settings.show_copy_right %}
                <div class="col-md-6 col-lg-5 text-left col-12 my-0">
                 {% if section.settings.show_sub_copyright_txt and section.settings.sub_copyright_txt !=  ''  %} 
                 <h6 class="font-size-sm text-gray-200 mb-0">{{section.settings.sub_copyright_txt}} {% endif %}</h6>
                  {% if section.settings.show_payment_icons %}
                  <ul class="list-inline payment-icons my-0">
                    {% if section.settings.payment_icon_visa %}<li class="list-inline-item"><i class="pf text-white pf-visa"></i></li>{% endif %}
                    {% if section.settings.payment_icon_mastercard %}<li class="list-inline-item"><i class="pf text-white pf-mastercard"></i></li>{% endif %}
                    {% if section.settings.payment_icon_ae %}<li class="list-inline-item"><i class="pf text-white pf-american-express"></i></li>{% endif %}
                    {% if section.settings.payment_icon_diners %}<li class="list-inline-item"><i class="pf text-white pf-diners"></i></li>{% endif %}
                    {% if section.settings.payment_icon_paypal %}<li class="list-inline-item"><i class="pf text-white pf-paypal"></i></li>{% endif %}
                    {% if section.settings.payment_icon_stripe %}<li class="list-inline-item"><i class="pf text-white pf-stripe"></i></li>{% endif %}
                    {% if section.settings.payment_icon_applepay %}<li class="list-inline-item"><i class="pf text-white pf-apple-pay"></i></li>{% endif %}
                    {% if section.settings.payment_icon_amazonpay %}<li class="list-inline-item"><i class="pf text-white pf-amazon-pay"></i></li>{% endif %}
                  </ul> 
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
          {% endif %}
      </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Main Footer"
      },
      {
        "type": "header",
        "content": "Column 1"
      },
      {
        "type": "link_list",
        "id": "footer_linklist1",
        "label": "Select Menu"
      },
      {
        "type": "link_list",
        "id": "footer_linklist2",
        "label": "Select Menu"
      },
      {
        "type": "link_list",
        "id": "footer_linklist3",
        "label": "Select Menu"
      },
      {
        "type": "header",
        "content": "Column 2"
      },
      {
        "type": "text",
        "id": "col_2_heading",
        "label": "Heading",
        "default": "From the Blog"
      },
      {
        "type": "header",
        "content": "Column 3"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter",
        "label": "Show Newsletter Subscription?",
        "default": true
      },
      {
        "type": "text",
        "id": "mailchimp",
        "label": "Newsletter Action URL"
      },
      {
        "type": "text",
        "id": "col_3_heading",
        "label": "Heading",
        "default": "SIGN UP NOW"
      },
      {
        "type": "text",
        "id": "col_3_txt",
        "label": "Text",
        "default": "Receive the latest news, offers & product updates."
      },
      {
        "type": "checkbox",
        "id": "show_social_links",
        "label": "Show Social Links?",
        "default": true
      },
      {
        "type": "text",
        "id": "col_3_social_heading",
        "label": "Heading",
        "default": "LET’S CONNECT"
      },
      {
        "type": "link_list",
        "id": "footer_linklist4",
        "label": "Select Menu"
      },
      {
        "type": "paragraph",
        "content": "Select Networks"
      },
      {
        "type": "checkbox",
        "id": "social_icon_facebook",
        "label": "Facebook",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_twitter",
        "label": "Twitter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_instagram",
        "label": "Instagram",
        "default": true
      },
      {
        "type": "header",
        "content": "Sub Footer"
      },
      {
        "type": "checkbox",
        "id": "show_copy_right",
        "label": "Show Copyright?",
        "default": true
      },
      {
        "type": "text",
        "id": "copyright_txt",
        "label": "Copyright Text",
        "default": "© 2018 — HYPNOTIK. ALL RIGHTS RESERVED"
      },
      {
        "type": "checkbox",
        "id": "show_sub_copyright_txt",
        "label": "Show Powered by Text",
        "default": true
      },
      {
        "type": "text",
        "id": "sub_copyright_txt",
        "label": "Powered by Text",
        "default": "POWERED BY SHOPIFY PLUS. SITE BY POINTER"
      },
      {
        "type": "header",
        "content": "Payment Icons"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show Payment Icons?",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "Select Payment Methods"
      },
      {
        "type": "checkbox",
        "id": "payment_icon_visa",
        "label": "Visa",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icon_mastercard",
        "label": "Mastercard",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icon_ae",
        "label": "American Express",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icon_diners",
        "label": "Diners",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icon_paypal",
        "label": "Paypal",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icon_stripe",
        "label": "Stripe",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icon_applepay",
        "label": "Apple Pay",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "payment_icon_amazonpay",
        "label": "Amazon Pay",
        "default": true
      }
    ]
  }

{% endschema %}
