{% assign template_type = section.settings.template_type %}
{% assign homepage_transparent_header = section.settings.homepage_transparent_header %}
{% if settings.main_logo_svg %}
{% assign logo = settings.main_logo_svg %}
{% else %}
{% assign logo = settings.main_logo %}
{% endif %}
{% assign logo_light = settings.main_logo_light | img_url: '200x' %}
{% assign logo_width = settings.logo_max_width %}

<header class="site-header {% if homepage_transparent_header %}header-transparent{% endif %}" data-site-header
    data-section-id="{{ section.id }}" data-cart-type="{{ section.settings.cart_type }}" data-fixed-header="{% if section.settings.is_sticky%}true{% else %}false{% endif %}"
    data-transparent-header="{{ homepage_transparent_header }}">

    {% if section.settings.enable_top_header %}
    <div class="mma_warehouse border-bottom">
        <div class="mini-header bg-white">
            <div class="container px-0">
                <div class="bars d-lg-flex align-items-center d-none">
                    <span class="mb-0 d-flex align-items-center justify-content-between text-white flex-fill w-75">
                        
                        <ul class="nav d-flex align-items-center justify-content-center text-gray-800 font-weight-bold font-size-sm text-uppercase ml-4 ml-xl-0 ml-ex-lg-0">
                            {% for link in linklists[section.settings.top_linklist].links %}
                            <li>{{ link.title }}</li>
                            {% endfor %}
                        </ul>

                        <h5 class="text-uppercase mb-0 text-gray-900 font-weight-bold font-size-sm mx-auto">{{
                            section.settings.top_header_label }}</h5>
          {% comment %}
                         <div class="d-flex justify-content-end align-items-center">
                            {% if shop.customer_accounts_enabled %}
                                <div class="nav-item nav-icon">
                                    <a class="nav-link pr-0 pl-8 my-0 py-0 text-primary font-size-sm font-weight-bold text-uppercase" href="/account" name="account" title="account" rel="nofollow" aria-label="Account">
                                        {%if customer%}Account{% else %}Login {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                            <div class="nav-item list-inline-item nav-icon nav-link p-0">
                                {% include 'header-cart-link' %}
                            </div> 
                        </div>
                          {% endcomment %}        
                    </span>
                    <span class="text-gray-900 text-right text-uppercase flex-fill font-size-sm">{{ section.settings.text1 }}</span>
                    <span class="text-gray-900 flex-fill text-right font-size-sm">{{ section.settings.text2
                        }}</span> 
                      {% comment %}  
                    <span>
                      {% if customer %}
                        <a href="#" data-st-intent="st:core:home">Fight <font color="#00cc00">Cash</font> <span class="sweettooth-points-balance">(loading)</span>Points</a>
                      {% else %}
                        <a href="#" data-st-intent="st:core:home">Fight <font color="#00cc00">Cash</font> Rewards</a>
                      {% endif %}
                    </span> 
                    {% endcomment %}
                </div>
                
                <div class="bars d-lg-none align-items-center cd-headline slide text-center d-block text-center">
                    <span class="mb-0 d-flex justify-content-between align-items-center text-white flex-fill is-visible w-100 ">
                        <ul class="nav d-flex align-items-center  mx-auto justify-content-center text-gray-800 font-weight-bold  font-size-sm">
                            {% for link in linklists[section.settings.top_linklist].links %}
                            <li>{{ link.title }}</li>
                            {% endfor %}
                        </ul>

                    </span>
                   <span class="mb-0 d-flex justify-content-between align-items-center text-white flex-fill is-visible w-100 ">
                        <h5 class="text-uppercase mb-0 text-gray-900  mx-auto font-weight-bold font-size-sm">{{
                            section.settings.top_header_label }} </h5>
                   </span>
                    <!-- <span class="mb-0 d-flex justify-content-between align-items-center text-white flex-fill is-visible w-100 ">
                      <span class="text-gray-900 text-uppercase  mx-auto flex-fill font-size-sm">{{ section.settings.text1 }}</span>
                    </span>
                    <span class="mb-0 d-flex justify-content-between align-items-center text-white flex-fill is-visible w-100 ">
                      <span class=" text-gray-900 flex-fill mx-auto font-size-sm">{{ section.settings.text2
                        }}</span> 
                    </span> -->
                </div>
            </div>
        </div>
       
    </div>
    {% endif %}

    <div id="main-header" class="site-header {% if page.handle contains 'promotions' or page.handle contains 'search-results-page' or template contains 'cart' or template contains 'product' or template contains 'index' or template contains 'customer' or template contains 'list-collections'or template contains '404' or tepmplate contains 'search' or page.handle contains 'brands' or page.handle contains 'mmawarehouse-com-ambassador-program' %}border-bottom{% endif %}"
        data-site-header="" data-section-id="header" data-cart-type="cart_drawer" data-fixed-header="false"
        data-transparent-header="false">
        <nav class="navbar navbar-main navbar-expand-lg {% if template_type == 'centered-logo' %}navbar-centered-logo{% endif %} {% if section.settings.is_sticky %}fixed-top{% endif %}">
            <div class="{% if section.settings.fluid_header %}container-fluid{% else %}container{% endif %}">
                {% case template_type %}
                {% when 'centered-logo' %}
                {% include 'navbar-centered-logo' %}
                {% else %}
                {% include 'navbar-default' %}
                {% endcase %}
            </div>
        </nav>
    </div>
    <div id="mobile-navigation" class="mobile-nav-drawer" data-mobile-navigation>
        <div class="drawer-header d-flex justify-content-between align-items-center pl-3 pr-2 py-3 border-lg-bottom">
            <a v-cloak href="/" class="mr-xl-10 mr-4 d-block" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}"
                aria-label="{{ shop.name | escape }}">
                {% if logo contains 'no-image' %}
                <span class="h5 text-primary"><i class="icon ion-pound text-primary"></i> {{ shop.name | escape }}</span>
                {% else %}
                <img v-if="isLogoLight" src="{{ logo_light }}" alt="{{ shop.name | escape }}" class="img-fluid" style="max-width: {{ logo_width }}px">
                <img v-else src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid" style="max-width: {{ logo_width }}px">
                {% endif %}
            </a>
            <div class="menu-close" data-menu-close></div>
        </div>
    </div>

    {% unless cart == empty %}
    <script type="application/json" data-cart-json>
        {
            {
                cart | json
            }
        }
    </script>
    {% endunless %}

</header>


{% schema %}
{
"name": "Header",
"settings": [
{
"type": "header",
"content": "Top header"
},
{
"type": "checkbox",
"id": "enable_top_header",
"label": "Show Top Header?",
"default": true
},
{
"type":"text",
"id":"top_header_label",
"label":"Top Heading Text"
},
{
"type": "link_list",
"id": "top_linklist",
"label": "Select Top Menu"
},
{
"type":"text",
"id":"text1",
"label":"Top Text 1"
},
{
"type":"text",
"id":"text2",
"label":"Top Text 2"
},
{
"type": "header",
"content": "Template"
},
{
"type": "select",
"id": "template_type",
"label": "Template Type",
"options": [{
"value": "default",
"label": "Logo Left"
},
{
"value": "centered-logo",
"label": "Logo Centered"
}
],
"default": "default"
},
{
"type": "header",
"content": "Layout"
},
{
"type": "checkbox",
"id": "fluid_header",
"label": "Full Width Header?",
"default": false
},
{
"type": "checkbox",
"id": "is_sticky",
"label": "Sticky Header?",
"default": false
},
{
"type": "header",
"content": "Styling"
},
{
"type": "checkbox",
"id": "homepage_transparent_header",
"label": "Transparent Header at Homepage?",
"default": false
},
{
"type": "header",
"content": "Menu"
},
{
"type": "link_list",
"id": "main_linklist",
"label": "Select Menu",
"default": "main-menu"
},
{
"type": "header",
"content": "Cart Button"
},
{
"type": "select",
"id": "cart_type",
"label": "Select Button Action",
"options": [{
"value": "cart_page",
"label": "Link to cart page"
},
{
"value": "cart_dropdown",
"label": "Mini cart as dropdown"
},
{
"value": "cart_drawer",
"label": "Mini cart as right drawer"
}
],
"default": "cart_page"
}
],
    "blocks": [
      {
        "type": "megamenu-without-image",
        "name": "Mega menu without images",
        "settings": [
          {
            "type": "text",
            "id": "name_1",
            "label": "Add Handle Of Menu",
            "info":"Please put the handle of menu"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "image"
          }
        ]
      },
      {
        "type": "megamenu-with-image",
        "name": "Mega menu with images",
        "settings": [
          {
            "type": "text",
            "id": "name_2",
            "label": "Add Handle Of Menu",
            "info":"Please put the handle of menu"
          },
          {
            "type": "header",
            "content": "Sub menu 1"
          },
          {
            "type": "image_picker",
            "id": "img1",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "img1_hover",
            "label": "Hover Image"
          },
          {
            "type": "link_list",
            "id": "linklist1",
            "label": "Select Menu"
          },
          {
            "type": "header",
            "content": "Sub menu 2"
          },
          {
            "type": "image_picker",
            "id": "img2",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "img2_hover",
            "label": "Hover Image"
          },
          {
            "type": "link_list",
            "id": "linklist2",
            "label": "Select Menu"
          },
          {
            "type": "header",
            "content": "Sub menu 3"
          },
          {
            "type": "image_picker",
            "id": "img3",
            "label": "image"
          },
          {
            "type": "image_picker",
            "id": "img3_hover",
            "label": "Hover Image"
          },
          {
            "type": "link_list",
            "id": "linklist3",
            "label": "Select Menu"
          },
          {
            "type": "header",
            "content": "Sub menu 4"
          },
          {
            "type": "image_picker",
            "id": "img4",
            "label": "image"
          },
          {
            "type": "image_picker",
            "id": "img4_hover",
            "label": "Hover Image"
          },
          {
            "type": "link_list",
            "id": "linklist4",
            "label": "Select Menu"
          },
          {
            "type": "link_list",
            "id": "all_linklist",
            "label": "Select Full Menu"
          }
        ]
      }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}