<section class="section-content py-5" data-section-id="{{ section.id }}" style="background-color: {{ section.settings.section_bg_color }}; color: {{ section.settings.section_txt_color }};min-height:auto;">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row">
            <div class="col-12 text-center">

                {% if section.settings.heading_txt != '' %}
                  <h2 class="section-title mb-4">{{ section.settings.heading_txt }}</h2>
                {% endif %}

                {% if section.settings.lead_txt != '' %}
                  <p class="lead px-lg-6">
                      {{ section.settings.lead_txt }}
                  </p>
                {% endif %}

            </div>
        </div>

        {% assign blocks_size = section.blocks | size %}
        {% if blocks_size > 0%}
          <div class="row {% if section.settings.heading_txt != '' and section.settings.lead_txt != '' %} mt-5 {% else %} mt-0{% endif %}">
              {% for block in section.blocks %}
                <div class= " index-grid-inner {% unless section.settings.grid_size == '12' %}col-sm-6{% endunless %} col-md-{{ section.settings.grid_size }}">
                    <div class="position-relative">
                        {% if block.settings.grid_image != blank %}
                        <div class="grid-image position-relative">
                            <img src="{{block.settings.grid_image | img_url: '600x'}}" />
                        </div>{% endif %}
                        <div class="featured-grid-text">
                            <div class="feature position-absolute text-center d-flex my-4 my-sm-0">
                                
                                <div>
                                    {% if block.settings.heading != blank %}<h2 class="caption-txt mb-1 text-black font-size-md text-white text-uppercase font-weight-bold line-height-normal" >{{ block.settings.heading | escape }}</h2> {% endif %}
                                    
                                    {% if block.settings.txt != blank %}<h5 class="font-weight-light text-white mb-0">{{ block.settings.txt }}</h5>{% endif %}

                                    {% if block.settings.btn_txt != '' %}
                                        <a {% if block.settings.btn_link %} href="{{ block.settings.btn_link }}" {% endif %} class="btn font-weight-bold btn-ghost px-0 mt-xl-4 mt-3 fix-btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }}">{{ block.settings.btn_txt }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

              </div>
              {% endfor %}
          </div>
        {% endif %}

        {% if section.settings.btn_txt != '' %}
          <div class="row">
              <div class="col-12 text-center">
                  <a class="btn btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }} mt-5" href="{{ section.settings.btn_url }}">{{ section.settings.btn_txt }}</a>
              </div>
          </div>
        {% endif %}

    </div>
</section>



{% schema %}
  {
    "name": "Features Grid",
    "class": "index-features-grid",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "select",
        "id": "grid_size",
        "label": "Grid Size",
        "options": [{
            "value": "12",
            "label": "1 Column"
          },
          {
            "value": "6",
            "label": "2 Columns"
          },
          {
            "value": "4",
            "label": "3 Columns"
          }
        ],
        "default": "6"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading_txt",
        "label": "Heading Text",
        "default": "Awesome Heading"
      },
      {
        "type": "textarea",
        "id": "lead_txt",
        "label": "Lead Text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar ac tortor imperdiet commodo."
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button URL"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#f8f9fa"
      },
      {
        "type": "color",
        "id": "section_txt_color",
        "label": "Text Color",
        "default": "#343a40"
      },
      {
        "type": "select",
        "id": "btn_type",
        "label": "Button Type",
        "options": [{
            "value": "outline",
            "label": "Outline"
          },
          {
            "value": "",
            "label": "Solid"
          }
        ],
        "default": "outline"
      },
      {
        "type": "select",
        "id": "btn_variant",
        "label": "Button Variant",
        "options": [{
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "gray-100",
            "label": "Light"
          },
          {
            "value": "gray-900",
            "label": "Dark"
          }
        ],
        "default": "primary"
      },
      {
        "type": "select",
        "id": "btn_size",
        "label": "Button Size",
        "options": [{
            "value": "",
            "label": "Default"
          },
          {
            "value": "btn-sm",
            "label": "Small"
          },
          {
            "value": "btn-lg",
            "label": "Large"
          }
        ],
        "default": ""
      }
    ],
    "presets": [
      {
        "name": "Features Grid",
        "category": "Content"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Feature Block",
        "settings": [
        {
            "type": "image_picker",
            "id": "grid_image",
            "label": "Select Grid Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "txt",
            "label": "Text"
          },
          {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
          },
          {
            "type": "url",
            "id": "btn_link",
            "label": "Button Link"
        },
        {
            "type": "select",
            "id": "btn_type",
            "label": "Button Type",
            "options": [{
                "value": "outline",
                "label": "Outline"
                },
                {
                "value": "",
                "label": "Solid"
                }
            ],
            "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [
            {
              "value": "primary",
              "label": "primary"
            },
            {
              "value": "dark",
              "label": "dark"
            },
            {
              "value": "light",
              "label": "light"
            }
          ],
          "default": "light"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
