{% if section.settings.enable_section %}
<section  class="test-class d-block d-md-flex align-items-center justify-content-center py-4" data-section-id="{{ section.id }}">
    <div class="collections {% if section.settings.fluid_header %}container-fluid{% else %}container{% endif %} clearfix">
    {% for block in section.blocks %}
        {% assign col_handle = block.settings.collection %}
        {% if block.settings.image %}
            {% assign background = block.settings.image | img_url:'500x' %}
            {% assign title = block.settings.title %}
            {% assign url = block.settings.url %}
        {% else %}
            {% assign background = collections[col_handle].image | img_url:'500x' %}
            {% assign title = collections[col_handle].title %}
            {% assign url = collections[col_handle].url %}
        {% endif %}
        <div class="collection-part  mb-2 mb-md-0">
        <div class=" h-100 justify-content-center  d-flex align-items-center" style="background: url( {{ background }}) center no-repeat;">
            <div class="text-center">
                <h2 class="text-uppercase text-white mb-lg-7 mb-4 font-weight-bold font-size-middle">{{ title }}</h2>
                <a href="{{ url }}" class="btn btn-primary font-weight-bold fix-btn btn-ghost btn-light">{{ section.settings.btn_txt }}</a>
            </div>
        </div>
      </div>

    {% endfor %}
    </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Collection Lists",
    "class": "index-collectiion-lists",
    "max_blocks":3,
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_header",
        "label": "Full Width Header?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Show section?",
        "default": true
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Label"
      },
      {
        "type": "header",
        "content": "Collection"
      }
    ],
    "blocks": [
      {
        "type": "collections",
        "name": "Collection",
        "settings": [
         {
            "type": "image_picker",
            "id": "image",
            "label": "Select Static Image"
         },
         {
            "type": "text",
            "id": "title",
            "label": "Set Static Title"
         },
         {
            "type": "url",
            "id": "url",
            "label": "Set Static URL"
         },
         {
            "type": "collection",
            "id": "collection",
            "label": "Select Collection"
         }
        ]
      }
    ],
    "presets": [{
      "name": "Collection List",
      "category": "Collection"
    }]
  }
{% endschema %}