{% if section.settings.enable_section %}
<section class="shop-brand" data-section-id="{{ section.id }}">
    <div class="shop-mma pt-xl-12 pt-11 pb-8" style="background-color:{{ section.settings.bg_color }}">
        <div class="container">
            <div class="row">
                {% for block in section.blocks %}
                    {% if forloop.first == true %}
                    {% assign col_handle = block.settings.collection %}
                    {% if block.settings.image %}
                        {% assign background = block.settings.image | img_url:'original' %}
                        {% assign title = block.settings.title %}
                        {% assign url = block.settings.url %}
                    {% else %}
                        {% assign background = collections[col_handle].image | img_url:'original' %}
                        {% assign title = collections[col_handle].title %}
                        {% assign url = collections[col_handle].url %}
                    {% endif %}
                    <div class="col-md-5 col-12 no-gutter position-relative for-index">
                        <div class="brand-1 position-relative brand">
                            <img class="position-absolute h-100" src="{{ background }}">
                            <div class="brand-1-content text-center position-absolute brand-content">
                                <h1 class="text-uppercase mb-3 font-weight-bold text-white">{{ title }} <span class="display-block text-black">{{ block.settings.common }}</span></h1>
                                <a href="{{ url }}" class="btn btn-primary fix-btn d-inline-block vertical-middle text-white px-0">{{ section.settings.btn_txt }} {{ title }}<img class="ml-4 arrow-img" src="https://cdn.shopify.com/s/files/1/0858/7748/files/go-arrow.svg?4347190137637399164"></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

                <div class="col-2 no-gutter d-none d-md-block">
                    <div class="middle-shadow">

                    </div>
                </div>

                {% for block in section.blocks %}
                    {% if forloop.last == true %}
                    {% assign col_handle = block.settings.collection %}
                    {% if block.settings.image %}
                        {% assign background = block.settings.image | img_url:'original' %}
                        {% assign title = block.settings.title %}
                        {% assign url = block.settings.url %}
                    {% else %}
                        {% assign background = collections[col_handle].image | img_url:'original' %}
                        {% assign title = collections[col_handle].title %}
                        {% assign url = collections[col_handle].url %}
                    {% endif %}
                    <div class="col-md-5 col-12 no-gutter mt-6 mt-md-0">
                        <div class="brand-2 position-relative brand">
                            <img class="position-absolute" src="{{ background }}">
                            <div class="brand-2-content text-center position-absolute brand-content">
                                <h1 class="text-uppercase mb-3 font-weight-bold text-black">{{ title }} <span class="display-block text-white">{{ block.settings.common }}</span></h1>
                                <a href="{{ url }}" class="btn btn-primary fix-btn d-inline-block vertical-middle text-white px-0">{{ section.settings.btn_txt }} {{ title }}<img class="ml-4 arrow-img" src="https://cdn.shopify.com/s/files/1/0858/7748/files/go-arrow.svg?4347190137637399164"></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
  {
    "name": "Brands",
    "class": "index-brands",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Show section?",
        "default": true
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#f6f6f6"
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Label"
      },
      {
        "type": "header",
        "content": "Collection"
      }
    ],
    "max_blocks":2,
    "blocks": [
      {
        "type": "brands",
        "name": "Brands",
        "settings": [
         {
            "type": "image_picker",
            "id": "image",
            "label": "Select Static Image"
         },
         {
            "type": "text",
            "id": "title",
            "label": "Set Static Title"
         },
         {
            "type": "text",
            "id": "common",
            "label": "Set Static Text"
         },
         {
            "type": "url",
            "id": "url",
            "label": "Set Static URL"
         },
         {
            "type": "collection",
            "id": "collection",
            "label": "Select Collection"
         }
        ]
      }
    ],
    "presets": [{
      "name": "Brands",
      "category": "Collection"
    }]
  }
{% endschema %}
