
<section data-section-id="{{ section.id }}">
  <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
  <div id='insta-feed'></div>
  </div>
</section>




{% schema %}
  {
    "name": "Instagram Feed",
    "class": "index-instagram-feed",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Instagram Feed",
        "category": "Content"
      }
    ]
  }
{% endschema %}
