
{% if section.settings.enabled %}
<section data-section-id="{{ section.id }}" class="header-slider slider bg-gray-100 {% if section.settings.is_hidden_on_mobile %}d-none d-sm-block{% endif %}">
<div class="nav-arrows" data-nav-arrows = "{{section.settings.nav_arrows}}"></div>  
<div class="nav-dots" data-nav-dots = "{{section.settings.nav_dots}}"></div>
<div class="autoplay" data-autoplay = "{{section.settings.auto_play}}" ></div>
  <div class=" {% if section.blocks.size > 1 %}flexslider{% endif %}">
    <ul class="slides">
     {% for block in section.blocks limit: section.blocks.limit %}
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
            <li>

              {% if block.type == 'image' %}
                  {% if block.settings.image == blank %}
                    {{'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg'}}
                  {% else %}
                    {% if block.settings.slider_link != blank %}<a href="{{block.settings.slider_link}}">{% endif %}
                      <img
                         data-sizes="auto"
                         src="{% if block.settings.mobile_image != blank %}{{ block.settings.mobile_image  | img_url: 'master' }} {% else %}{{ block.settings.image | img_url: 'master' }}{% endif %}"
                         data-srcset="
                                      {% if block.settings.mobile_image != blank %}{{ block.settings.mobile_image  | img_url: '450x' }} {% else %}{{ block.settings.image | img_url: '450x' }}{% endif %} 320w,
                                      {% if block.settings.mobile_image != blank %}{{ block.settings.mobile_image  | img_url: '580x' }} {% else %}{{ block.settings.image | img_url: '580x' }}{% endif %} 480w,
                                      {% if block.settings.mobile_image != blank %}{{ block.settings.mobile_image  | img_url: '768x' }} {% else %}{{ block.settings.image | img_url: '768x' }}{% endif %} 562w,
                                      {% if block.settings.mobile_image != blank %}{{ block.settings.mobile_image  | img_url: '900x' }} {% else %}{{ block.settings.image | img_url: '900x' }}{% endif %} 768w
                                      "
                         class=" d-block d-sm-none moble-image" alt="{{ block.settings.heading | escape }}" />

                       {% if block.settings.slider_link != blank %}</a>{% endif %}
                    {% if block.settings.slider_link != blank %}<a href="{{block.settings.slider_link}}">{% endif %}
                      <img
                         data-sizes="auto"
                         src="{{ block.settings.image | img_url: '1200x'}}"
                         data-srcset="
                                      {{ block.settings.image | img_url: '1024x' }} 576w,
                                      {{ block.settings.image | img_url: '1280x' }} 768w,
                                      {{ block.settings.image | img_url: '1440x' }} 992w,
                                      {{ block.settings.image | img_url: '1920x' }} 1200w
                                      "
                         class=" d-none d-sm-block desktop-image" alt="{{ block.settings.heading | escape }}" />

                       {% if block.settings.slider_link != blank %}</a>{% endif %}
                  {% endif %}
              {% endif %}
              
              {% if block.type == 'video' %}
              <div class="video-container {% if block.settings.video_image_fallback == blank %}  d-block {% else %}d-none d-md-block{% endif %} w-100">
                <div class="h-100 overflow-hide" data-video-id="{{ block.settings.video_id }}">
                  {% if block.settings.video_provider == 'youtube' %}
                  
                  <iframe class="desktop_video d-lg-block d-none" data-video-id="{{ block.settings.video_id }}" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="100%" height="100%" {% if block.settings.video_autoplay %}src="https://www.youtube.com/embed/{{ block.settings.video_id }}?enablejsapi=1&amp;autoplay=1&amp;loop=1&amp;playlist={{ block.settings.video_id }}&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=0&amp;disablekb=1&amp;origin=https%3A%2F%2Fwww.hypnotik.com&amp;widgetid=1{% if block.settings.video_mute %}&amp;mute=1{% else %}&amp;mute=0{% endif %}" {% else %} src="" data-src="https://www.youtube.com/embed/{{ block.settings.video_id }}?enablejsapi=1&amp;autoplay=1&amp;loop=1&amp;playlist={{ block.settings.video_id }}&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=0&amp;disablekb=1&amp;origin=https%3A%2F%2Fwww.hypnotik.com&amp;widgetid=1{% if block.settings.video_mute %}&amp;mute=1{% else %}&amp;mute=0{% endif %}" {% endif %} id="widget2"></iframe>

                  <iframe class="mobile_video d-lg-none" data-video-id="{{ block.settings.video_id }}" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="100%" height="100%" src="https://www.youtube.com/embed/{{ block.settings.video_id }}?enablejsapi=1{% if block.settings.video_autoplay %}&amp;autoplay=1{% endif %}&amp;loop=1&amp;playlist={{ block.settings.video_id }}&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;modestbranding=0&amp;disablekb=1&amp;origin=https%3A%2F%2Fwww.hypnotik.com&amp;widgetid=1{% if block.settings.video_mute %}&amp;mute=1{% else %}&amp;mute=0{% endif %}" ></iframe>

                  {% else %}
                    <iframe class="desktop_video d-lg-block d-none" {% if block.settings.video_autoplay %}src="https://player.vimeo.com/video/{{ block.settings.video_id }}?title=0&sidedock=0&byline=0&loop=1&portrait=0&transparent=0&autoplay=1{% if block.settings.video_mute %}&muted=1{% else %}&muted=0{% endif %}" {% else %} src="" data-src="https://player.vimeo.com/video/{{ block.settings.video_id }}?title=0&sidedock=0&byline=0&loop=1&portrait=0&transparent=0&autoplay=1{% if block.settings.video_mute %}&muted=1{% else %}&muted=0{% endif %}"  {% endif %} width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                    <iframe class="mobile_video d-lg-none" src="https://player.vimeo.com/video/{{ block.settings.video_id }}?title=0&sidedock=0&byline=0&loop=1&portrait=0&transparent=0{% if block.settings.video_autoplay %}&autoplay=1{% else %}&autoplay=0{% endif %}{% if block.settings.video_mute %}&muted=1{% else %}&muted=0{% endif %}"  width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                  {% endif %}
                  {% unless block.settings.video_autoplay %}
                    <div class="play_button d-lg-block d-none" style="{% if block.settings.video_poster_img_desktop != blank %}background: url({{block.settings.video_poster_img_desktop | img_url:'master'}}) {% endif %} center no-repeat;background-size: 100%;">
                      {% if block.settings.video_play_icon != blank %}<img src="{{block.settings.video_play_icon | img_url:'350x350'}}" alt="unavailable Image" style="width:{{block.settings.video_play_icon_size}}px;"/>{% endif %}
                    </div>
                  {% endunless %}
                </div>
              </div>
                {% if block.settings.video_image_fallback != blank %}
                    <img
                         data-sizes="auto"
                         src="{{ block.settings.video_image_fallback | img_url: 'large' }}"
                         data-srcset="{{ block.settings.video_image_fallback | img_url: '1024x' }} 576w,"
                         class="lazyload d-md-none"
                         alt="{{ block.settings.heading | escape }}"
                         />
               {% endif %}
              
              {% endif %}

              {% if block.settings.heading !=  blank or block.settings.caption !=  blank %}
                  {% if block.settings.slider_link != blank %}<a href="{{block.settings.slider_link}}">{% endif %}
                  <div class="slider-content">
                    <div class="container {{block.settings.alignment}}">
                      <div class="row">
                        <div class="col-12">
                          <h2 class="font-weight-light text-uppercase mb-0" style="font-size: {{block.settings.heading_font_size}}rem; font-weight: {{block.settings.heading_font_weight}}; letter-spacing: {{block.settings.heading_spacing}}px; color: {{block.settings.heading_txt_color}};">{{ block.settings.heading | escape }}</h2>  
                          <h1 class="caption-txt font-size-lg mb-xl-4 mb-2 text-black font-size-lg text-white text-uppercase font-weight-bold line-height-normal" style="font-size: {{ block.settings.caption_font_size }}rem; font-weight: {{block.settings.caption_font_weight}}; color: {{ block.settings.caption_txt_color }};">{{ block.settings.caption | escape }}</h1>  
                          <h3 class="text-uppercase mt-xl-5 mt-md-4 mt-3 text-white font-weight-light" style="font-size: {{ block.settings.caption_font_size1 }}rem; font-weight: {{block.settings.caption_font_weight1}}; color: {{ block.settings.caption_txt_color1 }};">{{ block.settings.caption1 | escape }}</h3>         
                          {% if block.settings.btn_txt != '' %}
                          <button type="button" {% if block.settings.btn_link %} href="{{ block.settings.btn_link }}" {% endif %} class="btn btn-ghost px-0 mt-xl-4 mt-3 fix-btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }}">{{ block.settings.btn_txt }}</button>
                          {% endif %}
                          <p class="font-weight-light mb-1 mt-md-5 mt-4 h6" style="font-size: {{ block.settings.caption_para_font_size1 }}rem; font-weight: {{block.settings.caption_para_font_weight1}}; color: {{ block.settings.caption_para_color1 }};">{{ block.settings.caption_para1 | escape }}</p>
                          <p class="font-weight-light mb-0 h6" style="font-size: {{ block.settings.caption_para_font_size2 }}rem; font-weight: {{block.settings.caption_para_font_weight2}}; color: {{ block.settings.caption_para_color2 }};">{{ block.settings.caption_para2 | escape }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                {% if block.settings.slider_link != blank %}</a>{% endif %}
              {% endif %}
              {% if block.type != 'video' %}
                {% if block.settings.enable_overlay %}
                  {% if block.settings.slider_link != blank %}<a href="{{block.settings.slider_link}}">{% endif %}
                   <div class="overlay" style="background-color: {{ block.settings.overlay_bg_color }}!important; opacity: {{block.settings.overlay_opacity}}!important; {% unless block.settings.overlay_pattern_img == 'none' %}background-image: url({{ block.settings.overlay_pattern_img | append: '.png' | asset_url }}){% endunless %} "></div>
                  {% if block.settings.slider_link != blank %}</a>{% endif %}
                {% endif %}
              {% endif %}
        </li>
       
    {% endfor %}
  </ul>
  </div>
</section>

{% endif %}


{% schema %}
  {
    "name": "Header Slider",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Enabled?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "is_hidden_on_mobile",
        "label": "Hidden on Mobile?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "nav_arrows",
        "label": "Arrows Navigation",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "nav_dots",
        "label": "Dots Navigation",
        "default": true
      },
      {
        "type": "range",
        "id": "auto_play",
        "label": "Autoplay",
        "info": "Duration of animation between slides (in seconds). Select the value of 0 if you don't want the slider to autoplay.",
        "min": 0,
        "max": 10,
        "step": 1,
        "default": 0
      }
    ],
  "presets": [
      {
        "name": "Header Slider",
        "category": "Content"
      }
    ],
    "blocks": [{
      "type": "image",
      "name": "Image Slide",
      "settings": [
        {
          "type": "header",
          "content": "Background Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image For Desktop"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Select Image For Mobile"
        },
    {
          "type": "url",
          "id": "slider_link",
          "label": "Add Link for whole Slider"
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "type": "checkbox",
          "id": "enable_overlay",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "color",
          "id": "overlay_bg_color",
          "label": "Overlay Background Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay Opacity",
          "min": 0.1,
          "max": 1,
          "step": 0.1,
          "default": 0.5
        },
        {
          "type": "select",
          "id": "overlay_pattern_img",
          "label": "Overlay Pattern Image",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "overlay-pattern-1",
              "label": "Pattern 1"
            },
            {
              "value": "overlay-pattern-2",
              "label": "Pattern 2"
            },
            {
              "value": "overlay-pattern-3",
              "label": "Pattern 3"
            },
            {
              "value": "overlay-pattern-4",
              "label": "Pattern 4"
            },
            {
              "value": "overlay-pattern-5",
              "label": "Pattern 5"
            },
            {
              "value": "overlay-pattern-6",
              "label": "Pattern 6"
            },
            {
              "value": "overlay-pattern-7",
              "label": "Pattern 7"
            }
          ],
          "default": "none"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [{
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "default": "text-center"
        },
        {
          "type": "header",
          "content": "Heading - Typography"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "heading_txt_color",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "rem",
          "label": "Font Size",
          "default": 2
        },
        {
          "type": "range",
          "id": "heading_font_weight",
          "label": "Font Weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 600
        },
        {
          "type": "range",
          "id": "heading_spacing",
          "min": 0,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "Letter Spacing",
          "default": 0
        },
        {
          "type": "header",
          "content": "Main Caption - Typography"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Main Caption"
        },
        {
          "type": "color",
          "id": "caption_txt_color",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "caption_font_size",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "rem",
          "label": "Font Size",
          "default": 1
        },
        {
          "type": "range",
          "id": "caption_font_weight",
          "label": "Font Weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "text",
          "id": "caption1",
          "label": "Sub Caption"
        },
        {
          "type": "header",
          "content": "Sub Caption - Typography"
        },
        {
          "type": "color",
          "id": "caption_txt_color1",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "caption_font_size1",
          "min": 1,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "Font Size",
          "default": 1
        },
        {
          "type": "range",
          "id": "caption_font_weight1",
          "label": "Font Weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "header",
          "content": "Caption Paragraph 1 - Typography"
        },
        {
          "type": "text",
          "id": "caption_para1",
          "label": "Sub Heading 1"
        },
        {
          "type": "color",
          "id": "caption_para_color1",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "caption__para_font_size1",
          "min": 1,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "Font Size",
          "default": 1
        },
        {
          "type": "range",
          "id": "caption_para_font_weight1",
          "label": "Font Weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "header",
          "content": "Caption Paragraph 2 - Typography"
        },
        {
          "type": "text",
          "id": "caption_para2",
          "label": "Sub Heading 2"
        },
        {
          "type": "color",
          "id": "caption_para_color2",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "caption__para_font_size2",
          "min": 1,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "Font Size",
          "default": 1
        },
        {
          "type": "range",
          "id": "caption_para_font_weight2",
          "label": "Font Weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [
            {
              "value": "primary",
              "label": "primary"
            },
            {
              "value": "dark",
              "label": "dark"
            },
            {
              "value": "light",
              "label": "light"
            }
          ],
          "default": "light"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        }
      ]
    },
    {
      "type": "video",
      "name": "Video Slide",
      "settings": [
        {
          "type": "header",
          "content": "Background Video"
        },
        {
          "type": "select",
          "id": "video_provider",
          "label": "Video Provider",
          "options": [
            {
              "value": "youtube",
              "label": "YouTube"
            },
            {
              "value": "vimeo",
              "label": "Vimeo"
            }
          ],
          "default": "youtube"
        },
        {
          "type": "text",
          "id": "video_id",
          "label": "Video Id"
        },
        {
          "type": "checkbox",
          "id": "video_autoplay",
          "label": "Autoplay Video?",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "video_mute",
          "label": "Mute Video?",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "video_poster_img_desktop",
          "label": "Video Banner for Desktop"
        },
        {
          "type": "image_picker",
          "id": "video_play_icon",
          "label": "Custom Play Icon"
        },
        {
          "type": "range",
          "id": "video_play_icon_size",
          "min": 50,
          "max": 350,
          "step": 5,
          "unit": "px",
          "label": "Custom Play Icon Size",
          "default": 150
        },
        {
          "type": "image_picker",
          "id": "video_image_fallback",
          "label": "Select Image Fallback for Mobile"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [{
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "default": "text-center"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption"
        },
        {
          "type": "header",
          "content": "Heading - Typography"
        },
        {
          "type": "color",
          "id": "heading_txt_color",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "unit": "rem",
          "label": "Font Size",
          "default": 2
        },
        {
          "type": "range",
          "id": "heading_font_weight",
          "label": "Font Weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 600
        },
        {
          "type": "range",
          "id": "heading_spacing",
          "min": 0,
          "max": 5,
          "step": 0.1,
          "unit": "px",
          "label": "Letter Spacing",
          "default": 0
        },
        {
          "type": "header",
          "content": "Caption - Typography"
        },
        {
          "type": "color",
          "id": "caption_txt_color",
          "label": "Color"
        },
        {
          "type": "range",
          "id": "caption_font_size",
          "min": 1,
          "max": 2,
          "step": 0.1,
          "unit": "rem",
          "label": "Font Size",
          "default": 1
        },
        {
          "type": "range",
          "id": "caption_font_weight",
          "label": "Font Weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [
            {
              "value": "primary",
              "label": "primary"
            },
            {
              "value": "dark",
              "label": "dark"
            },
            {
              "value": "light",
              "label": "light"
            }
          ],
          "default": "light"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        }
      ]
    }],
  "presets": [{
      "name": "Header Slider",
      "category": "Slider"
    }]
  }
{% endschema %}
