{% if section.settings.enable %}
<section class="featured-brand position-relative mt-5" data-section-id="{{ section.id }}" data-template="collection">
  <div class="container">
    {% if section.settings.heading_txt != '' %}<h2 class="mb-4 text-black text-uppercase font-weight-bold line-height-normal text-center">{{section.settings.heading_txt}}</h2>{% endif %}
      <div class="row">
          
        <div class="col-lg-12 col-xl-12 col-md-12 col-12">
            <div v-if="collectionProducts.length <= 4">
              {% if section.settings.home_featured_collection == blank or collections[section.settings.home_featured_collection] == empty or collections[section.settings.home_featured_collection].products_count == 0 %}
                {% include 'onboarding-featured-products' %}
              {% else %}
                <transition-group name="collection-tween" tag="div" class="row product-slider justify-content-start">
                    <div v-for="(product, index, key) in collectionProducts" :key="product.id" v-if="index < 10"
                        class="col-ex-lg-3 col-xl-3 col-lg-4 col-sm-6 col-12 items pt-0" data-items>
                        {% include 'home-page-featured' %}      
                    </div>
                </transition-group>
              {% endif %}
            </div>
            <div v-if="collectionProducts.length > 4">
              {% if section.settings.home_featured_collection == blank or collections[section.settings.home_featured_collection] == empty or collections[section.settings.home_featured_collection].products_count == 0 %}
                {% include 'onboarding-featured-products' %}
              {% else %}
                <transition-group name="collection-tween" tag="div" class="slider-flickity row product-slider" data-product-slider>
                    <div v-for="(product, index, key) in collectionProducts" :key="product.id" v-if="index < 10"
                        class="col-ex-lg-3 col-xl-3 col-lg-4 col-sm-6 col-12 items pt-0" data-items>
                        {% include 'home-page-featured' %}      
                    </div>
                </transition-group>
              {% endif %}
            </div>
        </div>
      </div>
  </div>
</section>

    {% for product in collections[section.settings.home_featured_collection].products %}
      {% if product.metafields.yotpo.reviews_count != blank %}
          <script type="application/json" data-{{product.id}}-view-detail-json>
              {
                "reviews_count": {{ product.metafields.yotpo.reviews_count }},
                "reviews_average": {{ product.metafields.yotpo.reviews_average }}
              }
          </script>
      {% endif %}
    {% endfor %}

    {% for product in collections[section.settings.home_featured_collection].products %}
      {% assign productExcludeTag = settings.product_exclude_tag_text %}
      {% unless product.tags contains productExcludeTag %}
        <script type="application/json" data-product-json>
        {
          "product": {{ product | json }},
          "options_with_values": {{ product.options_with_values | json }}
        }
        </script>
      {% endunless %}
    {% endfor %}

{% endif %}

{% schema %}
  {
    "name": "Featured Collection",
    "class": "index-featured-collectiion",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Show section?",
        "default": true
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading_txt",
        "label": "Heading Text",
        "default": "Featured Collection"
      },
      {
        "type": "header",
        "content": "Collection"
      },
      {
        "type": "collection",
        "id": "home_featured_collection",
        "label": "Select Collection"
      }
    ],
    "presets": [{
      "name": "Featured Collection",
      "category": "Collection"
    }]
  }
{% endschema %}
