<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% if section.settings.show_insta_shop %}
<section data-section-id="{{ section.id }}" class="section-instagram-shop-feed mt-8 mb-3">
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
       <div class="row">
            {% if section.settings.show_extra_details %}
                <div class="col-xl-3 col-lg-3 col-md-6 col-12 ">
                    <div class="insta-blocks px-2 pt-2 mb-5 px-xl-9 px-lg-9 pt-xl-9 px-ex-lg-9 pt-lg-9 pt-ex-lg-9 pb-0 insta-detail">
                        <div class="insta-sxtra-details">
                            {% if section.settings.insta_logo != '' %}<div class="insta-logo"><img src="{{section.settings.insta_logo | img_url:'46x'}}"/></div>{% endif %}
                            {% if section.settings.insta_desc != '' %}<h4 class="mt-3">{{section.settings.insta_desc}}</h4>{% endif %}
                            <a href="{{ section.settings.btn_url }}" class="btn font-weight-bold font-size-sm btn-outline-primary py-2 px-3 mt-3">{{ section.settings.btn_txt }}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
           {% for block in section.blocks %}
           {% if block.settings.block_enable %}
           {% assign background = block.settings.image | img_url:'original' %}
                <div class="col-xl-3 col-lg-3 col-md-6  col-12">
                    <div class="insta-blocks position-relative  mb-5 ">
                        <div class="insta-image">
                            <img src="{{background}}" alt="instagram Image"/>
                        </div>
                        {% if block.settings.title != '' and  block.settings.url != '' %}
                            <div class="overlay insta-overlay">
                                <div class="feature text-white">
                                    <i class="fa fa-instagram text-white"></i>
                                    {% if block.settings.title != '' %}<h6 class="text-white">{{block.settings.title}}</h6>{% endif %}
                                    {% if block.settings.url %}<a href="{{block.settings.url}}" class="btn btn-ghost btn-light px-2 my-2 py-1">Shop Now</a>{% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
           {% endfor %}
       </div> 
    </div>
</section>
{% endif %}
{% schema %}
  {
    "name": "Instagram Shop Feed",
    "class": "index-instagram-shop-feed",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "show_insta_shop",
        "label": "Show Instagram Shop section",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_extra_details",
        "label": "Show Insta Details",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "insta_logo",
        "label": "Add Insta logo"
      },
      {
        "type": "text",
        "id": "insta_desc",
        "label": "Add Insta Description",
        "default": "Shop from our Instagram Feed for the latest product drops and New Promos at Hypnotik"
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button URL"
      }
    ],
    "blocks": [
      {
        "type": "Instagram",
        "name": "Instagram",
        "settings": [
          {
            "type": "checkbox",
            "id": "block_enable",
            "label": "Enable"
          },
         {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
         },
         {
            "type": "textarea",
            "id": "title",
            "label": "Content"
         },
         {
            "type": "url",
            "id": "url",
            "label": "Set Static URL"
         }
        ]
      }
    ],
    "presets": [
      {
        "name": "Instagram Shop Feed",
        "category": "Content"
      }
    ]
  }
{% endschema %}
