{% assign main_menu = section.settings.main_menu_linklist  %}
{% assign secondary_menu = section.settings.secondary_menu_linklist  %}

<div data-section-id="{{ section.id }}" class="mobile-nav-drawer d-flex flex-column" :class="{'opened shadow-lg': isMobileNavDrawerOpen}" v-touch:swipe.left="_toggleMobileNavDrawer">

  <div class="drawer-header d-flex justify-content-between align-items-center px-4 py-3">

    {% if section.settings.mobile_nav_show_logo %}
      <a href="/" class="navbar-brand" name="{{ shop.name | escape }}" title="{{ shop.name | escape }}" aria-label="{{ shop.name | escape }}">
        {% assign logo = section.settings.main_logo | img_url: '200x' %}
        {% if logo contains 'no-image' %}
          {% comment %}
            <span class="h5 text-primary"><i class="ion-pound text-warning"></i> {{ shop.name | escape }}</span>
          {% endcomment %}
        {% else %}
          <img src="{{ logo }}" alt="{{ shop.name | escape }}" class="img-fluid"  style="max-width: {{ section.settings.logo_max_width }}px">
        {% endif %}
      </a>
    {% endif %}

    <a href="#" class="btn-close ml-auto float-right" @click.prevent="_toggleMobileNavDrawer" name="close" title="close" rel="nofollow" aria-label="Close">
      <i class="icon ion-md-close"></i>
    </a>
  </div>

  <div class="drawer-body py-3" data-touch-moveable>

  </div>

  <div id="mobile-nav" class="justify-content-start align-items-center mr-auto">
    <ul class="navbar-nav text-uppercase main-menu">
      {% assign withoutImg = '' %}
      {% assign withImg = '' %}
      {% for link in linklists[section.settings.main_menu_linklist].links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if menus[child_list_handle].links != blank %}
          {% for block in section.blocks %}
              {% if block.type == 'megamenu-without-image' %}
                {% if block.settings.name_1 == link.handle %}
                  {% include 'megamenu-without-images' %}
                {% endif %}
              {% elsif block.type == 'megamenu-with-image' %}
                {% if block.settings.name_2 == link.handle %}
                  {% include 'megamenu-with-images' %}
                {% endif %}
              {% endif %}
          {% endfor %}
        {% else %}
          <li class="nav-item mx-xl-5 mx-ex-lg-3 pt-ex-lg-4 pb-ex-lg-3 px-ex-lg-0"><a href="{{ link.title }}" class="nav-link about h4 text-red px-ex-lg-2 px-3 position-relative py-ex-lg-0 py-3">{{ link.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>


{% schema %}
  {
    "name": "Sidebar Mobile Navigation",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "checkbox",
        "id": "mobile_nav_show_logo",
        "label": "Show Logo?",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "main_logo",
        "label": "Select Image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 5,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Logo width",
        "default": 180
      },
      {
        "type": "header",
        "content": "Menus"
      },
      {
        "type": "link_list",
        "id": "main_menu_linklist",
        "label": "Select Main Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "secondary_menu_linklist",
        "label": "Select Secondary Menu"
      },
      {
        "type": "header",
        "content": "Social Networks"
      },
      {
        "type": "checkbox",
        "id": "mobile_nav_show_social_links",
        "label": "Show Socials?",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "Select Networks"
      },
      {
        "type": "checkbox",
        "id": "social_icon_facebook",
        "label": "Facebook",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_twitter",
        "label": "Twitter",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_googleplus",
        "label": "Google+",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "social_icon_instagram",
        "label": "Instagram",
        "default": true
      }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}
