{% assign template_type = section.settings.template_type %}

<div
    data-section-id="{{ section.id }}"
    data-newsletter-popup
    data-newsletter-enabled="{% if section.settings.enabled %}true{% else %}false{% endif %}"
    data-section-id="{{ section.id }}"
    data-popup-delay="{{ section.settings.popup_delay }}"
    data-period-until="{{ section.settings.popup_period_until }}"
    class="newsletter-popup d-block d-sm-flex align-items-stretch" :class="{'opened': isNewsletterPopupOpen}"
    style="background: {{ section.settings.bg_color_outer }} {% if section.settings.popup_img and template_type == 'image_bg' %}url({{ section.settings.popup_img | img_url: '1024x' }}){% endif %}; color: {{ section.settings.txt_color }};"
  >

  {% if template_type == 'image_left' %}
    <div class="bg-img w-30 d-none d-md-inline-block" style="background-image: url({{ section.settings.popup_img | img_url: '1024x' }});"></div>
  {% endif %}

  <div class="inner text-center {% if template_type == 'image_bg' %}has-image-bg w-100{% else %}has-image-left w-70{% endif %}"
      style="background-color: {{ section.settings.bg_color_inner }};">

    <button data-newsletter-close-btn class="btn btn-link btn-close" @click="_toggleNewsletterPopup">
      <i class="icon ion-md-close"></i>
    </button>

    {% if section.settings.heading != '' %}
      <h2>{{ section.settings.heading }}</h2>
    {% endif %}

    {% form 'customer', id: 'NewsletterPopUp' %}

      {% if form.errors %}
        <div class="alert alert-warning">
          {{ form.errors | default_errors }}
        </div>
      {% endif %}

      {% if form.posted_successfully? %}

        <h5 class="mt-3">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</h5>

      {% else %}

        {% if section.settings.text != '' %}
          <div>{{ section.settings.text }}</div>
        {% endif %}
        <div class="input-group mx-auto my-4">
          <div class="input-group-prepend">
            <label class="input-group-text" for="newsletterPopupEmail"><i class="icon ion-md-mail"></i></label>
          </div>
          <input type="email" name="contact[email]" aria-label="email" id="newsletterPopupEmail" class="form-control" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" value="{% if customer %}{{ customer.email }}{% endif %}" autocorrect="off" autocapitalize="off" required>
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="input-group-append">
            <button type="submit" name="commit" class="btn btn-primary" >{{ section.settings.btn_txt }}</button>
          </div>
        </div>

        {% if section.settings.footer_notes != '' %}
          <div class="small">{{ section.settings.footer_notes }}</div>
        {% endif %}

      {% endif %}

    {% endform %}

  </div>
</div>


{% schema %}
  {
    "name": "Newsletter Popup",
    "settings": [
      {
        "type": "header",
        "content": "Info"
      },
      {
        "type": "paragraph",
        "content": "Any customer who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Enable Popup?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "is_hidden_on_mobile",
        "label": "Hidden on Mobile?",
        "default": false
      },
      {
        "type": "header",
        "content": "Settings"
      },
      {
        "type": "range",
        "id": "popup_delay",
        "label": "Popup Delay",
        "info": "Popup delay (in seconds) before showing up.",
        "min": 1,
        "max": 60,
        "step": 1,
        "default": 1
      },
      {
        "type": "range",
        "id": "popup_period_until",
        "label": "Do Not Show Until",
        "info": "Select period (in days) that the popup will stay hidden after is being closed.",
        "min": 1,
        "max": 30,
        "step": 1,
        "default": 7
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Subscribe to Newsletter"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Subscribe and get exclusive offers!</p>"
      },
      {
        "type": "richtext",
        "id": "footer_notes",
        "label": "Footer Notes",
        "default": "<p>No SPAM! We not share your email to any 3rd part companies!</p>"
      },
      {
        "type": "text",
        "id": "btn_txt",
        "label": "Button Text",
        "default": "Subscribe"
      },
      {
        "type": "header",
        "content": "Template"
      },
      {
        "type": "select",
        "id": "template_type",
        "label": "Template Type",
        "options": [
          {
            "value": "image_bg",
            "label": "Image as background"
          },
          {
            "value": "image_left",
            "label": "Image on the left"
          }
        ],
        "default": "image_bg"
      },
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "image_picker",
        "id": "popup_img",
        "label": "Popup Image"
      },
      {
        "type": "color",
        "id": "bg_color_outer",
        "label": "Outer Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "bg_color_inner",
        "label": "Inner Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "txt_color",
        "label": "Text Color",
        "default": "#222222"
      }
    ]
  }
{% endschema %}
