{% if template == 'index' %}
{% if section.blocks.size >  0 %}
  <section class="section-promotions mt-6 mb-4">
    <div class="container">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h3 class="text-uppercase font-weight-bold mb-0">{{ section.settings.label }}</h3>
        <!-- <a href="{{ section.settings.link_to_button }}" class="btn btn-sm btn-primary mb-0 view-all-btn rounded-0">{{ section.settings.btn_label }}</a> -->
    </div>
      <div class="row">
        {% for block in section.blocks %}
          {% if block.settings.enabled %}
            <div class="col-6 col-md-4 col-lg-3 mb-3">
              <a href="{{ block.settings.link }}">
                <img src="{{ block.settings.image | img_url: 'large' }}" class="img-fluid"/>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
{% endif %}
<script type="application/json" data-promotions-json>
[
  {% for block in section.blocks %}
    {
      "tag": {{ block.settings.tag | json }},
      "message_product": {{ block.settings.message_product | json }},
      "message_collection": {{ block.settings.message_collection | json }}
    }{% unless forloop.last %},{% endunless %}
  {% endfor %}
]
</script>

{% schema %}
  {
    "name": "Promotions",
    "settings": [
      {
        "type": "header",
        "content": "Top header"
      },
      {
        "type": "text",
        "id": "label",
        "label": "Heading Of Promotions",
        "default": "LATEST PROMOTIONS"
      }
    ],
    "blocks": [
        {
          "type": "content",
          "name": "Promotion",
          "settings": [
          {
            "type": "checkbox",
            "id": "enabled",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "tag",
            "label": "Tag"
          },
          {
            "type": "textarea",
            "id": "message_collection",
            "label": "Collection Callout"
          },
          {
            "type": "textarea",
            "id": "message_product",
            "label": "Product Callout"
          }
        ]
      }
    ]
  }
{% endschema %}
