<section id="contact-us" data-section-id="{{ section.id }}">
    <div class="contact-wrapper position-relative py-8" style="background: url({{ section.settings.backImage | img_url:'original' }}) top no-repeat;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-6 col-12 d-flex mb-lg-0 mb-5">
                    <div class="contact-form mx-xl-5 bg-white p-xl-8 p-md-6 p-4 w-100 d-flex justify-content-center flex-column">
                        <h2 class="text-center text-uppercase font-weight-bold mb-4">{{ page.title }}</h2>
                        {% form 'contact' %}
                        {% if form.posted_successfully? %}
                            <div class="alert alert-success">
                              {{ 'contact.form.post_success' | t }}
                            </div>
                          {% endif %}

                          {% if form.errors %}
                            <div class="alert alert-warning">
                                {{ form.errors | default_errors }}
                            </div>
                          {% endif %}

                        <div class="clearfix">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        <input 
                                          type="text" 
                                          class="form-control mb-4 px-3 py-2" 
                                          name="contact[name]"
                                          aria-label="emailHelp"
                                          id="contactFormName"
                                          placeholder="{{ 'contact.form.name' | t }}"
                                          value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
                                          required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <input 
                                          type="email" 
                                          class="form-control mb-4 px-3 py-2" 
                                          name="contact[email]"
                                          aria-label="emailHelp"
                                          id="contactFormEmail"
                                          placeholder="{{ 'contact.form.email' | t }}"
                                          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                                          spellcheck="false"
                                          autocomplete="off"
                                          autocapitalize="off"
                                          required>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <input 
                                          type="text" 
                                          class="form-control mb-4 px-3 py-2" 
                                          name="contact[phone]"
                                          aria-label="emailHelp"
                                          id="contactFormPhone"
                                          placeholder="{{ 'contact.form.phone' | t }}"
                                          value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                                          pattern="[0-9\-]*">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <textarea 
                                          placeholder="{{ 'contact.form.message' | t }}" 
                                          class="px-3 py-2 border w-100"
                                          rows="10"
                                          name="contact[body]"
                                          aria-label="message"
                                          id="contactFormMessage"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary fix-btn px-5 float-md-right">send your message</button>
                          </div>
                        {% endform %}
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-12 d-flex">
                    <div class="contact-details border border-white mr-xl-5 p-md-5 p-4 text-white d-flex flex-column justify-content-center w-100">
                        <h4 class="text-uppercase">{{ section.settings.title }}</h4>
                        <div class="d-flex align-items-start justify-content-between">
                            <div>
                                <h4>{{ section.settings.state }}</h4>
                                <p>{{ section.settings.mobile }}</p>
                                <p class="h6 font-style-italic">{{ section.settings.time }}</p>
                            </div>
                            <div>
                                <h4>{{ section.settings.titleinter }}</h4>
                                <p class="h4">{{ section.settings.mobileinter }}</p>
                            </div>
                        </div>
                        <div>
                            <h4 class="text-uppercase font-weight-bold">{{ section.settings.inquiryTitle }} - <a href="" class="p">{{ section.settings.emailInquiry }}</a></h4>
                        </div>
                        <div>
                            <h4 class="text-uppercase font-weight-bold">{{ section.settings.corporateInqTitle }} - <a href="" class="p">{{ section.settings.corporateInqEmail }}</a></h4>
                        </div>
                        <div>
                            <h4 class="text-uppercase font-weight-bold">{{ section.settings.marketInqTitle }} - <a href="" class="p">{{ section.settings.marketInqEmail }} </a></h4>
                        </div>
                        <div>
                            <h4 class="text-uppercase font-weight-bold">{{ section.settings.wholealeTitle }}</h4>
                            <p>{{ section.settings.wholealeDesc }}</p>
                        </div>
                        <div>
                            <h4 class="text-uppercase font-weight-bold">{{ section.settings.mailingAdd }}</h4>
                            <p>{{ section.settings.mailingDesc }}</p>
                        </div>
                        <div>
                            <h4 class="text-uppercase font-weight-bold">{{ section.settings.fax }}</h4>
                            <p>{{ section.settings.faxNo }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Contact Template",
    "settings": [
      {
        "type": "header",
        "content": "Contact page"
      },
      {
        "type": "image_picker",
        "id": "backImage",
        "label": "Contact Form background Image"
      },
      {
        "type": "header",
        "content": "Contact Details"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Main Title For Contact"
      },
      {
        "type": "text",
        "id": "state",
        "label": "State"
      },
      {
        "type": "text",
        "id": "mobile",
        "label": "Conatct Mobile"
      },
      {
        "type": "text",
        "id": "time",
        "label": "Contact Time"
      },
      {
        "type": "text",
        "id": "titleinter",
        "label": "Internation Title"
      },
      {
        "type": "text",
        "id": "mobileinter",
        "label": "Contact Internation mobile"
      },
      {
        "type": "text",
        "id": "inquiryTitle",
        "label": "Customer Inquiry Title"
      },
      {
        "type": "text",
        "id": "emailInquiry",
        "label": "Customer Inquiry Email"
      },
      {
        "type": "text",
        "id": "corporateInqTitle",
        "label": "Corporate Inquiry Title"
      },
      {
        "type": "text",
        "id": "corporateInqEmail",
        "label": "Corporate Inquiry Email"
      },
      {
        "type": "text",
        "id": "marketInqTitle",
        "label": "Marketing Inquiry Title"
      },
      {
        "type": "text",
        "id": "marketInqEmail",
        "label": "Marketing Inquiry Email"
      },
      {
        "type": "text",
        "id": "wholealeTitle",
        "label": "Wolesale Title"
      },
      {
        "type": "text",
        "id": "wholealeDesc",
        "label": "Wolesale Description"
      },
      {
        "type": "text",
        "id": "mailingAdd",
        "label": "Mailing Title"
      },
      {
        "type": "text",
        "id": "mailingDesc",
        "label": "Mailing Description"
      },
      {
        "type": "text",
        "id": "fax",
        "label": "Fax Title"
      },
      {
        "type": "text",
        "id": "faxNo",
        "label": "fax Number"
      }
    ]
  }
{% endschema %}
