<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% assign sidebar_enabled = section.settings.enable_sidebar %}
{% assign sidebar_is_sticky = section.settings.sidebar_is_sticky %}
{% assign number_of_comments = article.comments_count %}
{% assign article_image = article.image.src | img_url %}

{% comment %}
  If a comment was just submitted but requires moderation, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.status != 'published' %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}


{% comment %} Next/Prev article nagigation {% endcomment %}
{% assign current_found = false %}
{% assign done = false %}
{% for a in blog.articles %}
  {% if current_found and done == false %}
    {% assign next_article = a %}
    {% assign done = true %}
  {% endif %}
  {% unless done %}
    {% if a.id == article.id %}
      {% assign current_found = true %}
    {% else %}
      {% assign prev_article = a %}
    {% endif %}
  {% endunless %}
{% endfor %}

{% include 'breadcrumbs' %}

{% assign is_team = false %}
{% assign article_blogs = article.handle | split: '/' %}
{% for article_blog in article_blogs limit:1 %}
  {% if article_blog == 'team-hypnotik' %}
      {% assign is_team = true %}
    {% else %}
      {% assign is_team = false %}
   {% endif %}
{% endfor %}

<section data-section-id="{{ section.id }}" class="d-block {% if is_team == true %}is_team{% endif %}" role="article" id="blog-banner" >
  <div class="mmawarehouse-blog mt-4">
    <div class="container">
        <h2 class="text-uppercase mb-lg-4 mb-3 font-weight-bold">{{ blog.title }}</h2>
        <div class="row">
            
            {% assign article_blogs = article.handle | split: '/' %}
              {% for article_blog in article_blogs limit:1 %}
                {% if article_blog == 'team-hypnotik' %}
                <div class="col-lg-12 col-md-12 col-12 mb-lg-11 mb-md-7 mb-5 ">
                {% else %}
                    <div class="col-lg-8 col-md-7 col-12 mb-lg-11 mb-md-7 mb-5"> 
                {% endif %}
              {% endfor %}
                      
              <div class="blog-latest-post shadow-lg">
                {% unless article_image contains 'no-image' %}
                  <div class="blog-fetured-img mb-lg-6 mb-4">
                    <img
                        data-sizes="auto"
                        src="{{ article.image.src | img_url: 'large' }}"
                        data-srcset="
                          {{ article.image.src | img_url: 'large' }} 576w,
                          {{ article.image.src | img_url: '1280x' }} 768w,
                          {{ article.image.src | img_url: '1440x' }} 992w,
                          {{ article.image.src | img_url: '1920x' }} 1200w
                          "
                        class="lazyload image-wrapper"
                        alt="{{ article.image.alt }}"/>
                  </div>
                {% endunless %}
                <div class="blog-post-details mx-lg-8 mx-4">
                    <h2 class="text-uppercase font-weight-bold {% if is_team == true %}mb-lg-5 mb-4 {% else %} mb-1 {% endif %}  font-size-middle text-center">{{ article.title }}</h2>
                    {% if is_team == false %}<h4 class="font-weight-light mb-lg-6 mb-4 text-center"><time datetime="formatDate(article.node.publishedAt)">{{ article.published_at | date: "%B %d, %Y" }}</time>{% if blog.comments_enabled? and article.comments_count > 0 %} <span class="mx-3">|</span>{{ article.comments_count }} Comments{% endif %}</h4>{% endif %}
                    {{ article.content }}
                </div>
                <div class="blog-footer mt-lg-6 mt-4 d-lg-flex d-block align-items-center justify-content-between mx-lg-8 mx-4 border-top py-4">
                    <h4 class="font-weight-bold d-flex mb-lg-0 mb-2 flex-1 blog-tags">TAGS: <P class="mb-0 ml-3">{% for tag in article.tags %}{{ tag }},{% endfor %}</P></h4>
                    {% if section.settings.enable_social_sharing %}
                      <div class="d-flex align-items-center">
                          <h4 class="text-uppercase font-weight-bold mb-0 mr-2">{{ 'general.social.share' | t }}</h4>
                          <div class="social-share">
                              {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image  %}
                          </div>
                      </div>
                    {% endif %}
                </div>
              </div>
              {% if section.settings.enable_article_navigation %}
                {% assign current_found = false %}
                {% assign done = false %}
                {% for a in blog.articles %}
                  {% if current_found and done == false %}
                    {% assign next_article = a %}
                    {% assign done = true %}
                  {% endif %}
                  {% unless done %}
                    {% if a.id == article.id %}
                      {% assign current_found = true %}
                    {% else %}
                      {% assign prev_article = a %}
                    {% endif %}
                  {% endunless %}
                {% endfor %}
                <div class="blog-pagination my-lg-8 my-5 clearfix blog-post-arrow w-100">
                  {% if prev_article %}
                  <a href="{{ prev_article.url }}" class="text-uppercase h4 mb-0 newer-post post-arrow position-relative float-left text-left" name="{{ prev_article.title }}" aria-label="{{ prev_article.title }}">
                    <div class="latest-blog-post">
                        <div class="d-flex align-items-center">
                            <div class="blog-image">
                                <img class="img-wrapper" src="{{ prev_article.image.src | img_url: '100x100', crop: 'center' }}">
                            </div>
                            <div class="ml-3 blog-head">
                                <h5 class="font-weight-light mb-1 text-light-gray font-size-sm">previous post</h5>
                                <h5 class="font-weight-bold mb-0 text-gray-900 text-capitalize font-size-sm d-none d-md-block">{{ prev_article.title }}</h5>
                              </div>
                        </div>
                    </div>
                  </a>
                  {% endif %}
                  {% if next_article %}
                  <a href="{{ next_article.url }}" class="text-uppercase h4 mb-0 older-post post-arrow position-relative float-right text-right" name="{{ next_article.title }}" aria-label="{{ next_article.title }}">
                    <div class="latest-blog-post">
                        <div class="d-flex align-items-center">
                            <div class="mr-3 blog-head text-right">
                                <h5 class="font-weight-light mb-1 text-light-gray font-size-sm">next post</h5>
                                <h5 class="font-weight-bold mb-0 text-gray-900 text-capitalize font-size-sm d-none d-md-block">{{ next_article.title }}</h5>
                            </div>
                            <div class="blog-image">
                                <img class="img-wrapper" src="{{ next_article.image.src | img_url: '100x100', crop: 'center' }}">
                            </div>
                        </div>
                    </div>
                  </a>
                  {% endif %}
                </div>
              {% endif %}
              
                {% paginate article.comments by 5 %}
                  {% if article.comments_enabled? and number_of_comments > 0 %}
                     {% if comment and comment.created_at %}
                      <div class="row my-3">
                        <div class="col-lg-10 ml-auto mr-auto">
                          <div class="alert alert-success">
                          {% if blog.moderated? and comment.status != 'published' %}
                              {{ 'blogs.comments.success_moderated' | t }}
                          {% else %}
                              {{ 'blogs.comments.success' | t }}
                          {% endif %}
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      <div class="mb-6">
                        <h2 class="heading-text text-uppercase text-center mb-0 font-weight-bold">{{ article.comments_count }} {{ 'blogs.comments.heading' | t }}</h2>
                        {% for comment in article.comments %}
                        <div class="comments py-lg-5 py-4 border-bottom">
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <h3 class="text-capitalize mb-0 font-weight-bold">{{ comment.author }}</h3>
                                <h5 class="text-uppercase font-size-sm mb-0 text-right">{{ comment.created_at | date: "%B %d, %Y" }}</h5>
                            </div>
                            <p>{{ comment.content }}
                              {% unless forloop.last %}
                                <hr/>
                              {% endunless %}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                    {% if paginate.pages > 1 %}
                      <div class="row">
                        <div class="col-12 text-center">
                          {{ paginate | default_pagination }}
                        </div>
                      </div>
                    {% endif %}
                  {% endif %}
                {% endpaginate %}
                
              {% if article.comments_enabled? %}
                <div class="comment-form clearfix">
                    <h3 class="text-uppercase mb-0">leave a comment</h3>
                    <p class="font-size-sm mb-4">Your email addresss will not be published. Required fields are marked *</p>
                    {% form "new_comment", article %}
                        {% if form.errors %}
                          <div class="row">
                            <div class="col">
                              <div class="alert alert-warning">{{ form.errors | default_errors }}</div>
                            </div>
                          </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <input type="text" 
                                    class="form-control mb-lg-4 mb-3 px-3 py-2 text-gray-900" 
                                    id="comment-author"
                                    name="comment[author]"
                                    aria-label="name"
                                    value="{{ form.author }}"
                                    required
                                    spellcheck="false"
                                    autocomplete="off"
                                    autocapitalize="off" 
                                    aria-describedby="emailHelp" 
                                    placeholder="Name *">
                            </div>
                            <div class="col-md-6 col-12">
                                <input type="email" 
                                        class="form-control mb-lg-4 mb-3 px-3 py-2 text-gray-900" 
                                        id="comment-email"
                                        name="comment[email]"
                                        aria-label="email"
                                        value="{{ form.email }}"
                                        required
                                        spellcheck="false"
                                        autocomplete="off"
                                        autocapitalize="off"
                                        aria-describedby="emailHelp" 
                                        placeholder="Email Address*">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <textarea
                                    class="px-3 py-2 border w-100 mb-lg-4 mb-3 text-gray-900"
                                    rows="4"
                                    id="comment-body"
                                    name="comment[body]"
                                    aria-label="comments"
                                    placeholder="Comment *"
                                    required
                                    spellcheck="false"
                                    autocomplete="off"
                                    autocapitalize="off">
                                    {{ form.body }}
                                </textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary fix-btn px-2 float-md-right">post comment</button>
                    {% endform %}
                </div>
                {% endif %}
             
            </div>
          
              {% assign article_blogs = article.handle | split: '/' %}
              {% for article_blog in article_blogs limit:1 %}
                {% unless article_blog == 'team-hypnotik' %}
                    <div class="col-lg-4 col-md-5 col-12"> 
                {% include 'sidebar-blog' %} 
                  </div>
              {% endunless %}
              {% endfor %}
            
        </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Article Template",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_social_sharing",
        "label": "Enable Article Social Sharing?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_sidebar",
        "label": "Enable Sidebar?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sidebar_is_sticky",
        "label": "Sticky Sidebar?",
        "default": false
      },
      {
        "type": "paragraph",
        "content": "Use the 'Content' section below to customize the sidebar content."
      },
      {
        "type": "header",
        "content": "Article Navigation"
      },
      {
        "type": "checkbox",
        "id": "enable_article_navigation",
        "label": "Enable Article Navigation?",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "socials",
        "name": "Socials",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_socials",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "socials_title",
            "label": "Title",
            "default": "Connect with Us"
          },
          {
            "type": "paragraph",
            "content": "Select Networks"
          },
          {
            "type": "checkbox",
            "id": "social_icon_facebook",
            "label": "Facebook",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_twitter",
            "label": "Twitter",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_googleplus",
            "label": "Google+",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_instagram",
            "label": "Instagram",
            "default": true
          }
        ]
      },
      {
        "type": "news-letter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_newsletter",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "bg_newsletter",
            "label": "Background Image"
          },
          {
            "type": "text",
            "id": "news_title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "news_desc",
            "label": "heading"
          }
        ]
      },
      {
        "type": "recent-articles",
        "name": "Recent Articles",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_recent_articles",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "recent_articles_title",
            "label": "Title",
            "default": "Recent Articles"
          },
          {
            "type": "range",
            "id": "total_recent_articles",
            "label": "Articles Limit",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 5
          }
        ]
      },
      {
        "type": "tags",
        "name": "Tags",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_tags",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "tags_title",
            "label": "Title",
            "default": "Tags"
          }
        ]
      },
      {
        "type": "featured-articles",
        "name": "Featured articles",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_articles",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "article",
            "id": "artcleSelect",
            "label": "Select Articles"
          }
        ]
      },
      {
        "type": "blog-category",
        "name": "Blog Categories",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_categories",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "category_title",
            "label": "Title",
            "default": "Tags"
          },
          {
            "type": "link_list",
            "id": "blog_linklist",
            "label": "Select Blog List"
          }
        ]
      }
    ]
  }
{% endschema %}
