{% assign fluid_layout = section.settings.fluid_layout %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign show_vendor = section.settings.show_vendor %}
{% assign enable_color_swatches = settings.enable_color_swatches %}
{% assign enable_size_swatches = settings.enable_size_swatches %}
{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% assign is_bundle = false %}
{% if product.tags contains 'Bundle' %}
    {% assign is_bundle = true %}
    {% assign bundle_is_unavailable = false %}
{% endif %}

<div
  data-section-id="{{ section.id }}"
  data-template="product"
  data-product-template="{{ template_type }}"
  data-enable-history-state="true"
  class="{% if product.has_only_default_variant %}only-default-variant{% endif %}">

  <section id="product-bundle" class="py-md-8 py-6 template-product-classic vertical-thumbs bg-white position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-md-auto pb-3">
                <div class="row">
                    {% if featured_image != blank %}
                      <div class="col-12">
                        <div class="carousel carousel-main shadow-lg bg-white px-lg-0 px-3" role="tree"
                          >
                            <div class="w-100" >   
                              <img class="img-fluid" {% if section.settings.enable_images_zoom %}data-image-zoom{% endif %} role="treeitem"
                                src="{{ product.featured_image.src | img_url: 'master' }}"
                                sizes="(min-width: 1024px) 720px, 360px"
                                data-zoom="{{ product.featured_image.src | img_url: '1920x', scale: 2 }}"                     
                                alt="{{ product.featured_image.alt | escape }}" style="{% if section.settings.enable_images_zoom == true %}cursor:crosshair;{% else %}cursor:auto;{% endif %}"/>
                            </div>
                        </div>
                      </div>

                    {% else %}
                      <div class="col-12">
                        {{ 'image' | append: current | placeholder_svg_tag: 'img-fluid' }}
                      </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-6 col-md-7 mr-md-auto">
                <div class="product-details-wrapper mt-5 mt-md-0">
                <div class="pb-4 border-bottom for-border">
                  <div class="align-items-center">
                    {% if show_vendor %}
                      <span class="my-0 h5 font-weight-light text-gray-500 text-uppercase">{{ product.vendor }}</span>
                    {% endif %}
                  </div>
                  <h2 class="product-title heading-text text-uppercase mb-2 font-weight-bold">{{ product.title }}</h1>

                  <div class="price-wrapper mt-2 d-sm-flex d-block d-lg-block d-xl-flex align-items-center">
                    <div class="compare-price" v-if="(currentVariant.compare_at_price)">
                      <span v-html="_formatMoney(currentVariant.price)" class="price h3 mr-2" :class="{'no-compare': !currentVariant.compare_at_price}"></span>
                      <s class="text-gray-700 ml-2 h3" v-if="currentVariant.compare_at_price > product.price" class="h3 font-weight-light mr-0 text-gray-700 font-weight-light" v-html="_formatMoney(currentVariant.compare_at_price)"></s>
                    </div>
                    <div v-else>
                      <span v-html="_formatMoney(currentVariant.price)" class="price h3 mr-2" :class="{'no-compare': !currentVariant.compare_at_price}"></span>
                    </div>
                    
                    <div>
                        <ul class="list-unstyled mb-0 review-label d-flex align-items-center ml-xl-11 ml-sm-5 ml-lg-0 mt-3 mt-sm-0 mt-lg-3 mt-xl-0">
                          <div>
                            <li class="nav-item font-size-sm text-gray-200 font-weight-light text-uppercase" data-sku>{{ product.selected_or_first_available_variant.sku }}</li>
                            {% if product.selected_or_first_available_variant.barcode != blank %}<li class="nav-item font-size-sm text-gray-200 font-weight-light text-uppercase" data-barcode>{{ product.selected_or_first_available_variant.barcode }}</li>{% endif %}
                          </div>
                          <li class="nav-item d-flex align-items-center ml-5">
                              <div class="yotpo bottomLine"
                                data-product-id="{{ product.id }}">
                              </div>
                          </li>
                        </ul>
                    </div>
                  </div>
                </div>
                    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
                        {% include 'bundle-options' %}

                        {% assign is_available = variant.available %}
                        {% if is_bundle %}
                            {% if bundle_is_unavailable %}
                                {% assign is_available = false %}
                            {% endif %}
                        {% endif %}

                        <button type="submit" name="add" id="AddToCart" class="btn product-single__submit btn btn-primary btn-block fix-btn w-50 my-lg-5 my-4">
                            <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                        </button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>

  {% if section.settings.enable_mobile_toolbar %}
    {% include 'product-toolbar-mobile' %}
  {% endif %}

  {% for block in section.blocks %}
    {% case block.type %}
    {% when 'product-reviews' %}
      {% if block.settings.enable_reviews_tab %}
        {% include 'block-product-reviews' %}
      {% endif %}
    {% when 'fetaures-products' %}
      {% if block.settings.enable_product_features %}
        {% include 'block-product-features' %}
      {% endif %}
    {% when 'related-products' %}
      {% if block.settings.enable_related_products %}
        {% include 'block-related-products' %}
      {% endif %}
    {% when 'recently-viewed' %}
      {% if block.settings.enable_recently_viewed_products %}
        {% include 'block-recently-viewed-products' %}
      {% endif %}
    {% when 'instagram-feed' %}
      {% if block.settings.enable_instagram %}
        {% include 'block-instagram-feed' %}
      {% endif %}
    {% endcase %}
  {% endfor %}

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>

{% schema %}
  {
    "name": "Product Bundle Template",
    "settings": [
      {
        "type": "header",
        "content": "Template"
      },
      {
        "type": "header",
        "content": "Features"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show Vendor?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_social_share",
        "label": "Show Social Share?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_mobile_toolbar",
        "label": "Enable Mobile Toolbar?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_images_zoom",
        "label": "Enable Images Zoom?",
        "default": false
      },
      {
        "type": "header",
        "content": "Product Reviews"
      },
      {
        "type": "paragraph",
        "content": "To include Product Reviews functionality you must add the 'Product Tabs' block from the content section down below. Reviews are being displayed as tab content."
      }
    ],
    "blocks": [
      {
        "type": "product-reviews",
        "name": "Product Reviews",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "enable_reviews_tab",
            "label": "Enable Product Reviews Tab?",
            "info": "You must install yotpo app"
          }
        ]
      },
      {
        "type": "fetaures-products",
        "name": "Fetaures Products",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "enable_product_features",
            "label": "Enabled?",
            "default":true
          },
          {
            "type": "header",
            "content": "Features 1"
          },
          {
            "type":"text",
            "id":"feature_img1",
            "label":"Select SVG Image"
          },
          {
            "type":"text",
            "id":"feature_text1",
            "label":"heading"
          },
          {
            "type":"url",
            "id":"feature_url1",
            "label":"URL"
          },
          {
            "type": "header",
            "content": "Features 2"
          },
          {
            "type":"text",
            "id":"feature_img2",
            "label":"Select SVG Image"
          },
          {
            "type":"text",
            "id":"feature_text2",
            "label":"heading"
          },
          {
            "type":"url",
            "id":"feature_url2",
            "label":"URL"
          },
          {
            "type": "header",
            "content": "Features 3"
          },
          {
            "type":"text",
            "id":"feature_img3",
            "label":"Select SVG Image"
          },
          {
            "type":"text",
            "id":"feature_text3",
            "label":"heading"
          },
          {
            "type":"url",
            "id":"feature_url3",
            "label":"URL"
          },
          {
            "type": "header",
            "content": "Features 4"
          },
          {
            "type":"text",
            "id":"feature_img4",
            "label":"Select SVG Image"
          },
          {
            "type":"text",
            "id":"feature_text4",
            "label":"heading"
          },
          {
            "type":"url",
            "id":"feature_url4",
            "label":"URL"
          }
        ]
      },
      {
        "type": "related-products",
        "name": "Related Products",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "enable_related_products",
            "label": "Enabled?"
          },
          {
            "type": "checkbox",
            "id": "related_products_section_padding",
            "label": "Section Padding?",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "related_products_section_no_gutters",
            "label": "No Gutters?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "related_products_nav_arrows",
            "label": "Arrows Navigation",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "related_products_nav_dots",
            "label": "Dots Navigation",
            "default": true
          },
          {
            "type": "range",
            "id": "related_products_view",
            "label": "Total Items to Show",
            "min": 0,
            "max": 16,
            "step": 1,
            "default": 9
          },
          {
            "type": "range",
            "id": "related_products_auto_play",
            "label": "Autoplay",
            "info": "Duration of animation between slides (in seconds). Set to zero if you don't want the slider to autoplay.",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 0
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "related_products_heading_txt",
            "label": "Heading Text",
            "default": "Related Products"
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "related_products_section_bg_color",
            "label": "Background Color",
            "default": "#F8F9FA"
          },
          {
            "type": "color",
            "id": "related_products_section_color",
            "label": "Text Color",
            "default": "#343a40"
          }
        ]
      },
      {
        "type": "recently-viewed",
        "name": "Recently Viewed",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "enable_recently_viewed_products",
            "label": "Enabled?"
          },
          {
            "type": "checkbox",
            "id": "recently_viewed_products_section_padding",
            "label": "Section Padding?",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "recently_viewed_products_section_no_gutters",
            "label": "No Gutters?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "recently_viewed_products_nav_arrows",
            "label": "Arrows Navigation",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "recently_viewed_products_nav_dots",
            "label": "Dots Navigation",
            "default": true
          },
          {
            "type": "range",
            "id": "recently_viewed_products_view",
            "label": "Total Items to Show",
            "min": 0,
            "max": 16,
            "step": 1,
            "default": 9
          },
          {
            "type": "range",
            "id": "recently_viewed_products_auto_play",
            "label": "Autoplay",
            "info": "Duration of animation between slides (in seconds). Set to zero if you don't want the slider to autoplay.",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 0
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "recently_viewed_products_heading_txt",
            "label": "Heading Text",
            "default": "Recently Viewed"
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "recently_viewed_products_section_bg_color",
            "label": "Background Color",
            "default": "#F8F9FA"
          },
          {
            "type": "color",
            "id": "recently_viewed_products_section_color",
            "label": "Text Color",
            "default": "#343a40"
          }
        ]
      },
      {
        "type": "instagram-feed",
        "name": "Instagram Feed",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "enable_instagram",
            "label": "Enabled?"
          },
          {
            "type": "checkbox",
            "id": "instagram_section_padding",
            "label": "Section Padding?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "instagram_section_no_gutters",
            "label": "No Gutters?",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_profile_link",
            "label": "Show Profile Link?",
            "default": false
          },
          {
            "type": "range",
            "id": "instagram_view",
            "label": "Total Items to Show",
            "min": 0,
            "max": 48,
            "step": 1,
            "default": 12
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "instagram_heading_txt",
            "label": "Heading Text"
          },
          {
            "type": "header",
            "content": "Styling"
          },
          {
            "type": "color",
            "id": "instagram_section_bg_color",
            "label": "Background Color"
          },
          {
            "type": "color",
            "id": "instagram_section_txt_color",
            "label": "Text Color"
          },
          {
            "type": "header",
            "content": "Account Info"
          },
          {
            "type": "text",
            "id": "instagram_username",
            "label": "Username",
            "info": "Instagram username without the '@' symbol."
          },
          {
            "type": "text",
            "id": "instagram_token",
            "label": "Access Token [( ? )](\/\/goo.gl\/OypFlG)"
          }
        ]
      }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}

{% stylesheet 'scss' %}
{% endstylesheet %}
