{% assign cart_ajaxed = section.settings.cart_ajaxed %}
{% assign template_type = section.settings.template_type %}

<section
    id="cart" 
    class="pt-5"
    data-section-id="{{ section.id }}"
    data-template="cart" 
    data-gwp-discount-code="{{ section.settings.gwp_discount_code }}"
    data-cart-ajaxed="{% if cart_ajaxed %}true{% else %}false{% endif %}">
    <div class="container">
      <h2 class="font-weight-bold text-uppercase mb-lg-5 mb-3 text-left">{{ 'cart.general.title' | t }}</h2>
      <template v-if="cart.item_count > 0">
        <div class="row">
          <div class="col-12 mb-6">
            {% include 'banana-stand-cart-top-container' %}
            {% if cart_ajaxed %}
              {% include 'template-cart-ajaxed-classic' %}
            {% endif %}
          </div>
        </div>
      </template>

      <div v-else class="row mb-lg-6 mb-4">
        <div class="col-12 text-center empty-cart">
          <p class="lead font-weight-normal text-gray-500">{{ 'cart.general.empty' | t }}</p>
          <a href="/collections/all" class="btn btn-primary fix-btn d-inline-block vertical-middle text-white">
            {{ 'cart.general.continue_browsing' | t }}
            <img class="ml-4" src="https://cdn.shopify.com/s/files/1/0858/7748/files/go-arrow.svg?4347190137637399164">
          </a>
        </div>
      </div>
    </div>
    <template v-if="cart.item_count > 0">
      {% for block in section.blocks %}
        <div {{ block.shopify_attributes }}></div>
        {% case block.type %}
        <!-- {% when 'shipping-calculator' %}
          {% if block.settings.enable_shipping_calculator and cart.item_count > 0 %}
            {% include 'block-shipping-calculator' %}
          {% endif %} -->
        {% endcase %}
      {% endfor %}
    </template>
</section>

{% include 'cart-related-items' %}

{% for product in collections[handle].products %}
  {% assign productExcludeTag = settings.product_exclude_tag_text %}
  {% unless product.tags contains productExcludeTag %}
    <script type="application/json" data-product-json>
    {
      "product": {{ product | json }},
      "options_with_values": {{ product.options_with_values | json }}
    }
    </script>
  {% endunless %}
{% endfor %}

<script type="application/json" data-cart-promos-json>
{
  "promoProducts": [
    {% for block in section.blocks %}
      {% case block.type %}
      {% when 'gwp-default' %}
        {% assign promo = all_products[block.settings.product_gwp] %}
        {% assign current_variant = promo.selected_or_first_available_variant %}
        {
          "id": {{ promo.id | json }},
          "handle": {{ promo.handle | json }},
          "featuredImage": {{ promo.featured_image | img_url: '600x'  | json }},
          "currentVariant": {{ current_variant | json }},
          "mode": {{ block.settings.gwp_mode  | json }},
          "teaser": {{ block.settings.gwp_teaser_enabled }},
          "qualifier": {{ block.settings.gwp_qualifier  | json }},
          "qualifierAmount": {{ block.settings.gwp_qualifier_minimum_cart_amount  | json }},
          "urlEnablerCode": {{ block.settings.gwp_url_enabler_code  | json }},
          "customMessage": {{ block.settings.gwp_custom_message  | json }},
          "isEnabled": {{ block.settings.gwp_enabled  | json }},
          "isVisible": true,
          "isInCart": false,
          "isTeaserEnabled": false
        }{% unless forloop.last %},{% endunless %}
      {% endcase %}
    {% endfor %}
  ]
}
</script>


{% schema %}
  {
    "name": "Cart Template",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "fluid_layout",
        "label": "Full Width Layout?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "cart_ajaxed",
        "label": "Ajaxed Cart?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_back_btn",
        "label": "Show Back to Shop Button?"
      },
      {
        "type": "checkbox",
        "id": "enable_cart_notes",
        "label": "Show Cart Notes?"
      },
      {
        "type": "checkbox",
        "id": "enable_delivery_date_selection",
        "label": "Show Delivery Date Selection?"
      },
      {
        "type": "header",
        "content": "GWP Code"
      },
      {
        "type": "text",
        "id": "gwp_discount_code",
        "label": "Discount Code Name",
        "info": "When you're creating GWP products by using the content section below the system will create dynamically a new discount code in the Shopify admin. This is the code that will be used as the code name."
      }
    ],
    "blocks": [
      
      {
        "type": "gwp-default",
        "name": "Gift With Purchase",
        "limit": 5,
        "settings": [
          {
            "type": "header",
            "content": "Settings"
          },
          {
            "type": "checkbox",
            "id": "gwp_enabled",
            "label": "Enabled?",
            "default": false
          },
          {
             "type": "product",
             "id": "product_gwp",
             "label": "Select Gift Product"
          },
          {
            "type": "select",
            "id": "gwp_mode",
            "label": "Select Add Method",
            "info": "Whether to show the 'Add to Cart' button (user action) or add the product automatically when the qualifier conditions below are met (automatically).",
            "options": [{
                "value": "auto",
                "label": "Automatically"
              },
              {
                "value": "manual",
                "label": "Manually"
              }
            ],
            "default": "manual"
          },
          {
            "type": "text",
            "id": "gwp_url_enabler_code",
            "label": "URL Enabler Code",
            "info": "Keyword that will be used as a query string in the URL as an additional condition whether to show this offer. This is useful in case you want to hide the GWP for all users but enable it only for those that hold the specific URL with this code. Example: if you use the 'FREEGIFT' code, a query string 'gwp_enabler_code=FREEGIFT' will be added to the URL. Leave this field empty to cancel this functionality."
          },
          {
            "type": "header",
            "content": "Rules"
          },
          {
            "type": "select",
            "id": "gwp_qualifier",
            "label": "Select Qualifier",
            "options": [{
                "value": "all_carts",
                "label": "All Carts"
              },
              {
                "value": "minimum_cart_amount",
                "label": "Minimum Cart Amount"
              }
            ],
            "default": "all_carts"
          },
          {
            "type": "header",
            "content": "Qualifier Settings"
          },
          {
            "type": "paragraph",
            "content": "These settings are valid only if qualifier setting above is set to 'Minimum Cart Amount"
          },
          {
            "type": "text",
            "id": "gwp_qualifier_minimum_cart_amount",
            "label": "Set Min. Cart Amount",
            "info": "E.g. 100.00"
          },
          {
            "type": "checkbox",
            "id": "gwp_teaser_enabled",
            "label": "Show Promo Upsell?",
            "default": false,
            "info": "Promo product is visible with a message notifying users that if they add to the cart the remaining amount between the cart total and the qualifier set above, the order will be eligible for the gift product."
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "html",
            "id": "gwp_custom_message",
            "label": "Custom Message",
            "default": "Your order qualifies for a Free Gift!"
          }
        ]
      },
      {
        "type": "related-items",
        "name": "Related Items",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "enable_related_items",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type":"text",
            "id":"label_related",
            "label":"Label",
            "default":"other items you may like"
          },
          {
            "type": "collection",
            "id": "related",
            "label": "Select Collection"
          }
        ]
      }
    ]
  }
{% endschema %}
