{% assign template_type = section.settings.template_type %}
{% assign fluid_layout = section.settings.fluid_layout %}
{% assign items_per_page = section.settings.items_per_page %}
{% assign sidebar_enabled = section.settings.enable_sidebar %}
{% assign sidebar_is_sticky = section.settings.sidebar_is_sticky %}
{% assign blog_title = blog.title %}

{% if current_tags %}
  {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
{% endif %}

{% include 'breadcrumbs' %}

<div data-section-id="{{ section.id }}">
  {% include "template-blog-grid" %}
</div>


{% schema %}
  {
    "name": "Blog Template",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enable_sidebar",
        "label": "Enable Sidebar?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sidebar_is_sticky",
        "label": "Sticky Sidebar?",
        "default": false
      },
      {
        "type": "range",
        "id": "items_per_page",
        "label": "Articles Per Page",
        "min": 1,
        "max": 50,
        "step": 1,
        "default": 12
      },
      {
        "type": "paragraph",
        "content": "Use the section below to customize the sidebar content."
      }
    ],
    "blocks": [
      {
        "type": "socials",
        "name": "Socials",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_socials",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "socials_title",
            "label": "Title",
            "default": "Connect with Us"
          },
          {
            "type": "paragraph",
            "content": "Select Networks"
          },
          {
            "type": "checkbox",
            "id": "social_icon_facebook",
            "label": "Facebook",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_twitter",
            "label": "Twitter",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_googleplus",
            "label": "Google+",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "social_icon_instagram",
            "label": "Instagram",
            "default": true
          }
        ]
      },
      {
        "type": "news-letter",
        "name": "Newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_newsletter",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "bg_newsletter",
            "label": "Background Image"
          },
          {
            "type": "text",
            "id": "news_title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "news_desc",
            "label": "heading"
          }
        ]
      },
      {
        "type": "recent-articles",
        "name": "Recent Articles",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_recent_articles",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "recent_articles_title",
            "label": "Title",
            "default": "Recent Articles"
          },
          {
            "type": "range",
            "id": "total_recent_articles",
            "label": "Articles Limit",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 5
          }
        ]
      },
      {
        "type": "tags",
        "name": "Tags",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_tags",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "tags_title",
            "label": "Title",
            "default": "Tags"
          },
          {
            "type": "text",
            "id": "limit_tag",
            "label": "Tag Limit",
            "default": "25"
          }
        ]
      },
      {
        "type": "featured-articles",
        "name": "Featured articles",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_articles",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "article",
            "id": "artcleSelect",
            "label": "Select Articles"
          }
        ]
      },
      {
        "type": "blog-category",
        "name": "Blog Categories",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_categories",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "category_title",
            "label": "Title",
            "default": "Tags"
          },
          {
            "type": "link_list",
            "id": "blog_linklist",
            "label": "Select Blog List"
          }
        ]
      },
      {
        "type": "related-items",
        "name": "Related Items",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_related_items",
            "label": "Enabled?",
            "default": true
          },
          {
            "type": "text",
            "id": "related_title",
            "label": "Title",
            "default": "Related Items"
          },
          {
            "type": "collection",
            "id": "blog_related_items",
            "label": "Select Blog Collection"
          }
        ]
      }
    ]
  }
{% endschema %}
