{% if section.settings.enable_breadcrumbs %}
  {% include 'breadcrumbs' %}
{% endif %}

<section id="faqs" data-section-id="{{ section.id }}" class="d-block">
  <div class="container">
      <div class="pt-lg-7 pb-lg-10 pt-4 pb-8">
          <h2 class="font-weight-bold text-center mb-md-6 mb-4 text-uppercase">{{ page.title }}</h2>
          <div>
              <div class="row">
                  <div class="col-lg-10 col-12 mx-auto for-faqs">
                    {% if section.settings.enable_customer %}
                      <div class="faq-quetions mb-lg-11 mb-md-8 mb-5">
                          <div class="row">
                              <div class="col-md-4 col-12 mb-4 mb-md-0">
                                  <div class="faq-que bg-gray-300 w-100 text-center">
                                      <h3 class="font-weight-bold py-lg-6 py-4 heading-text text-uppercase px-ex-lg-5 px-md-2 px-3">{{ section.settings.titleCustomer }}</h3>
                                  </div>
                              </div>
                              <div class="col-md-8 col-12">
                                  <div class="faq-ans ml-lg-5">
                                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">                                   
                                        {% for block in section.blocks %}      
                                          {% if block.type == 'faq-coupon-code' %}     
                                            <div class="panel panel-default border-bottom py-4">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h3 data-target-button role="button" class="panel-title d-flex align-items-center justify-content-between text-uppercase cursor-pointer mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{ forloop.index }}" aria-expanded="true" aria-controls="collapseOne{{ forloop.index }}">
                                                        <i class="more-less fas fa-plus order-2 px-2"></i>
                                                       {{ block.settings.questions }}
                                                    </h3>
                                                </div>
                                                <div id="collapseOne{{ forloop.index }}" class="panel-collapse collapse mt-3" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        {{ block.settings.answers }}
                                                    </div>
                                                </div>
                                            </div> 
                                           {% endif %}    
                                        {% endfor %}                                                       
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    {% endif %}
                    {% if section.settings.enable_pricing %}
                      <div class="faq-quetions mb-lg-11 mb-md-8 mb-5">
                          <div class="row">
                              <div class="col-md-4 col-12 mb-4 mb-md-0">
                                  <div class="faq-que bg-gray-300 w-100 text-center">
                                      <h3 class="font-weight-bold py-lg-6 py-4 heading-text text-uppercase px-ex-lg-5 px-md-2 px-3">{{ section.settings.titlePricing }}</h3>
                                  </div>
                              </div>
                              <div class="col-md-8 col-12">
                                  <div class="faq-ans ml-lg-5">
                                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">    
                                        {% for block in section.blocks %}      
                                          {% if block.type == 'faq-pricing-billing' %}                         
                                            <div class="panel panel-default border-bottom py-4">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h3 role="button" data-target-button class="panel-title d-flex align-items-center justify-content-between text-uppercase cursor-pointer mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo{{ forloop.index }}" aria-expanded="true" aria-controls="collapseTwo{{ forloop.index }}">
                                                        <i class="more-less fas fa-plus order-2 px-2"></i>
                                                        {{ block.settings.questions }}
                                                    </h3>
                                                </div>
                                                <div id="collapseTwo{{ forloop.index }}" class="panel-collapse collapse mt-3" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        {{ block.settings.answers }}
                                                    </div>
                                                </div>
                                            </div>
                                          {% endif %}    
                                        {% endfor %}                             
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    {% endif %}
                    {% if section.settings.enable_order %}
                      <div class="faq-quetions mb-lg-11 mb-md-8 mb-5">
                          <div class="row">
                              <div class="col-md-4 col-12 mb-4 mb-md-0">
                                  <div class="faq-que bg-gray-300 w-100 text-center">
                                      <h3 class="font-weight-bold py-lg-6 py-4 heading-text text-uppercase px-ex-lg-5 px-md-2 px-3">{{ section.settings.titleOrder }}</h3>
                                  </div>
                              </div>
                              <div class="col-md-8 col-12">
                                  <div class="faq-ans ml-lg-5">
                                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">                                   
                                      {% for block in section.blocks %}      
                                        {% if block.type == 'faq-order-status' %}   
                                          <div class="panel panel-default border-bottom py-4">
                                              <div class="panel-heading" role="tab" id="headingOne">
                                                  <h3 role="button" data-target-button class="panel-title d-flex align-items-center justify-content-between text-uppercase cursor-pointer mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapseThree{{ forloop.index }}" aria-expanded="true" aria-controls="collapseThree{{ forloop.index }}">
                                                      <i class="more-less fas fa-plus order-2 px-2"></i>
                                                      {{ block.settings.questions }}
                                                  </h3>
                                              </div>
                                              <div id="collapseThree{{ forloop.index }}" class="panel-collapse collapse mt-3" role="tabpanel" aria-labelledby="headingOne">
                                                  <div class="panel-body">
                                                      {{ block.settings.answers }}
                                                  </div>
                                              </div>
                                          </div>
                                        {% endif %}  
                                      {% endfor %}                            
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    {% endif %}
                    {% if section.settings.enable_account %}
                      <div class="faq-quetions mb-lg-11 mb-md-8 mb-5">
                          <div class="row">
                              <div class="col-md-4 col-12 mb-4 mb-md-0">
                                  <div class="faq-que bg-gray-300 w-100 text-center">
                                      <h3 class="font-weight-bold py-lg-6 py-4 heading-text text-uppercase px-ex-lg-5 px-md-2 px-3">{{ section.settings.titleAccount }}</h3>
                                  </div>
                              </div>
                              <div class="col-md-8 col-12">
                                  <div class="faq-ans ml-lg-5">
                                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">  
                                        {% for block in section.blocks %}      
                                          {% if block.type == 'faq-my-account' %}                                      
                                          <div class="panel panel-default border-bottom py-4">
                                              <div class="panel-heading" role="tab" id="headingOne">
                                                  <h3 role="button" data-target-button class="panel-title d-flex align-items-center justify-content-between text-uppercase cursor-pointer mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapseFour{{ forloop.index }}" aria-expanded="true" aria-controls="collapseFour{{ forloop.index }}">
                                                      <i class="more-less fas fa-plus order-2 px-2"></i>
                                                      {{ block.settings.questions }}
                                                  </h3>
                                              </div>
                                              <div id="collapseFour{{ forloop.index }}" class="panel-collapse collapse mt-3" role="tabpanel" aria-labelledby="headingOne">
                                                  <div class="panel-body">
                                                      {{ block.settings.answers }}
                                                  </div>
                                              </div>
                                          </div> 
                                          {% endif %}   
                                        {% endfor %}                               
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    {% endif %}
                    {% if section.settings.enable_additional %}
                      <div class="faq-quetions mb-lg-11 mb-md-8 mb-5">
                          <div class="row">
                              <div class="col-md-4 col-12 mb-4 mb-md-0">
                                  <div class="faq-que bg-gray-300 w-100 text-center">
                                      <h3 class="font-weight-bold py-lg-6 py-4 heading-text text-uppercase px-ex-lg-5 px-md-2 px-3">{{ section.settings.titleAdditional }}</h3>
                                  </div>
                              </div>
                              <div class="col-md-8 col-12">
                                  <div class="faq-ans ml-lg-5">
                                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">   
                                        {% for block in section.blocks %}      
                                          {% if block.type == 'faq-additional-support' %}                                     
                                            <div class="panel panel-default border-bottom py-4">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h3 role="button" data-target-button class="panel-title d-flex align-items-center justify-content-between text-uppercase cursor-pointer mb-0" data-toggle="collapse" data-parent="#accordion" href="#collapseFive{{ forloop.index }}" aria-expanded="true" aria-controls="collapseFive{{ forloop.index }}">
                                                        <i class="more-less fas fa-plus order-2 px-2"></i>
                                                        {{ block.settings.questions }}
                                                    </h3>
                                                </div>
                                                <div id="collapseFive{{ forloop.index }}" class="panel-collapse collapse mt-3" role="tabpanel" aria-labelledby="headingOne">
                                                    <div class="panel-body">
                                                        {{ block.settings.answers }}
                                                    </div>
                                                </div>
                                            </div>  
                                          {% endif %}   
                                        {% endfor %}                            
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

{% schema %}
  {
    "name": "FAQs Template",
    "settings": [
      {
        "type": "header",
        "content": "FAQs Breadcrumbs"
      },
      {
        "type": "checkbox",
        "id": "enable_breadcrumbs",
        "label": "Enable Breadcrumbs?",
        "default": true
      },
      {
        "type": "header",
        "content": "FAQs Coupon Codes"
      },
      {
        "type": "checkbox",
        "id": "enable_customer",
        "label": "Enable FAQs Coupon Codes?",
        "default": true
      },
      {
        "type": "text",
        "id": "titleCustomer",
        "label": "Coupon Codes Title"
      },
      {
        "type": "header",
        "content": "FAQs Pricing & Billing"
      },
      {
        "type": "checkbox",
        "id": "enable_pricing",
        "label": "Enable FAQs Pricing & Billing?",
        "default": true
      },
      {
        "type": "text",
        "id": "titlePricing",
        "label": "Pricing & Billing Title"
      },
      {
        "type": "header",
        "content": "FAQs Order Status"
      },
      {
        "type": "checkbox",
        "id": "enable_order",
        "label": "Enable FAQs Order Status?",
        "default": true
      },
      {
        "type": "text",
        "id": "titleOrder",
        "label": "Order Status Title"
      },
      {
        "type": "header",
        "content": "FAQs My Account"
      },
      {
        "type": "checkbox",
        "id": "enable_account",
        "label": "Enable FAQs My Account?",
        "default": true
      },
      {
        "type": "text",
        "id": "titleAccount",
        "label": "My Account Title"
      },
      {
        "type": "header",
        "content": "FAQs Additional Support"
      },
      {
        "type": "checkbox",
        "id": "enable_additional",
        "label": "Enable FAQs Additional Support?",
        "default": true
      },
      {
        "type": "text",
        "id": "titleAdditional",
        "label": "Additional Support Title"
      }
    ],
    "blocks": [
      {
        "type": "faq-coupon-code",
        "name": "FAQs Coupon Codes",
        "settings": [
          {
            "type": "text",
            "id": "questions",
            "label": "Questions"
          },
          {
            "type": "textarea",
            "id": "answers",
            "label": "Answers"
          }
        ]
      },
      {
        "type": "faq-pricing-billing",
        "name": "FAQs Pricing & Billing",
        "settings": [
          {
            "type": "text",
            "id": "questions",
            "label": "Questions"
          },
          {
            "type": "textarea",
            "id": "answers",
            "label": "Answers"
          }
        ]
      },
      {
        "type": "faq-order-status",
        "name": "FAQs Order Status",
        "settings": [
          {
            "type": "text",
            "id": "questions",
            "label": "Questions"
          },
          {
            "type": "textarea",
            "id": "answers",
            "label": "Answers"
          }
        ]
      },
      {
        "type": "faq-my-account",
        "name": "FAQs My Account",
        "settings": [
          {
            "type": "text",
            "id": "questions",
            "label": "Questions"
          },
          {
            "type": "textarea",
            "id": "answers",
            "label": "Answers"
          }
        ]
      },
      {
        "type": "faq-additional-support",
        "name": "FAQs Additional Support",
        "settings": [
          {
            "type": "text",
            "id": "questions",
            "label": "Questions"
          },
          {
            "type": "textarea",
            "id": "answers",
            "label": "Answers"
          }
        ]
      }
    ]
  }
{% endschema %}
