<style>
  .shopify-preview-bar {
    display: none;
  }
  html, body{
    height: 100%;
    overflow-y: auto;
    min-height: 500px;
    text-align: center;
    color: {{ section.settings.txt_color }};
  }
  body{
    background-color: {{ section.settings.body_bg_color }};
  }
  {% if section.settings.bg_image %}
  body{
    background-image: url({{ section.settings.bg_image | img_url: '1920x' }});
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  {% endif %}
  .overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .content-wrapper{
    position: relative;
    z-index: 2;
  }
  #shopify-section-template-password{
    display: flex;
    height: 100%;
    overflow: hidden;
  }
  .social-sharing a{
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 35px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 1.8em;
  }
  .btn{
    cursor: pointer;
  }
  .alert ul{
    margin: 0;
  }
</style>


<div data-section-id="{{ section.id }}" class="container-fluid content-wrapper d-flex flex-column">

  <div class="row text-center text-lg-right">
    <div class="col">
      <a href="#" data-toggle="modal" data-target="[data-modal-login]" class="btn btn-outline mt-3" style="color: {{ section.settings.txt_color }}; border-color: {{ section.settings.txt_color }}">
        <i class="icon ion-md-unlock mr-1"></i> {{ 'general.password_page.password_link' | t }}
      </a>
    </div>
  </div>

  <div class="row mt-md-5 h-100">
    <div class="col d-flex flex-column">

      <div class="inner my-auto">
        <div class="row">
          <div class="col">
            <h1 class="h3">
            {% if section.settings.logo_img != blank %}
              <img class="logo" src="{{ section.settings.logo_img | img_url: 'large' }}" class="img-fluid" style="max-width: {{ section.settings.logo_max_width }}px" alt="{{ shop.name }}" itemprop="logo">
            {% else %}
              <span>{{ shop.name }}</span>
            {% endif %}
            </h1>
          </div>
        </div>

        {% unless section.settings.title == blank %}
          <div class="row">
            <div class="col">
              <h2 class="display-4">{{ section.settings.title }}</h2>
            </div>
          </div>
        {% endunless %}

        {% comment %}
          Signup form
        {% endcomment %}

        {% if section.settings.enable_newsletter %}
          <div class="row mt-md-5">
            <div class="col text-center">

              <div class="d-inline-block mx-auto">
                {% form 'customer' %}

                  {% if form.posted_successfully? %}

                    <div class="alert border-1 text-left" style="border-color: {{ section.settings.txt_color }}">{{ 'general.password_page.signup_form_success' | t }}</div>

                  {% else %}

                    {% unless section.settings.newsletter_form_heading == blank %}
                      <p class="lead">{{ section.settings.newsletter_form_heading }}</p>
                    {% endunless %}

                    {% if form.errors %}
                      <div class="alert border-1 text-left" style="border-color: {{ section.settings.txt_color }}">
                        {{ form.errors | default_errors }}
                      </div>
                    {% endif %}

                    <input type="hidden" name="contact[tags]" value="prospect, password page">

                    <div class="input-group">
                      <input type="email" name="contact[email]" id="email" class="form-control" placeholder="{{ section.settings.newsletter_placeholder }}" required>
                      <div class="input-group-append">
                        <input type="submit" class="btn" value="{{ section.settings.newsletter_button_text }}" style="background-color: {{ section.settings.button_bg_color}}; color: {{ section.settings.button_txt_color}}">
                      </div>
                    </div>

                    {% if section.settings.footer_notes != '' %}
                      <span class="small d-block mt-3 font-italic">{{ section.settings.footer_notes }}</span>
                    {% endif %}

                  {% endif %}

                {% endform %}
              </div>

            </div>
          </div>
        {% endif %}
      </div><!-- end .inner -->

      {% if section.settings.show_share_buttons %}
        <div class="row mt-auto">
          <div class="col">
            <h6>{{ section.settings.social_message }}</h6>
            <ul class="social-sharing list-inline">
                <li class="list-inline-item">
                    <a href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" target="_blank" rel="noopener" style="color: {{ section.settings.txt_color }}; border-color: {{ section.settings.txt_color }};">
                      <i class="icon ion-logo-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                  <a href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" target="_blank" rel="noopener" style="color: {{ section.settings.txt_color }}; border-color: {{ section.settings.txt_color }};">
                    <i class="icon ion-logo-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" target="_blank" rel="noopener" style="color: {{ section.settings.txt_color }}; border-color: {{ section.settings.txt_color }};">
                    <i class="icon ion-logo-pinterest"></i>
                  </a>
                </li>
            </ul>
          </div>
        </div>
      {% endif %}

    </div>
  </div>
</div>

{% if section.settings.enable_overlay %}
  <div class="overlay" style="background-color: {{ section.settings.overlay_bg_color }}!important; opacity: {{section.settings.overlay_opacity}}!important; {% unless section.settings.overlay_pattern_img == 'none' %}background-image: url({{ section.settings.overlay_pattern_img | append: '.png' | asset_url }}){% endunless %} "></div>
{% endif %}

<div data-modal-login class="modal fade text-gray-900" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-dark">
        <h5 class="modal-title">{{ 'general.password_page.login_form_heading' | t }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="icon ion-md-close"></i></span>
        </button>
      </div>
      <div class="modal-body text-dark py-4">
        {% form 'storefront_password' %}
          {% if form.errors %}
            <div class="alert alert-warning text-left">
              {{ form.errors | default_errors }}
            </div>
          {% endif %}
          <div class="input-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
            <div class="input-group-append">
              <input type="submit" class="btn" value="{{ 'general.password_page.login_form_submit' | t }}" style="background-color: {{ section.settings.button_bg_color}}; color: {{ section.settings.button_txt_color}}">
            </div>
          </div>
        {% endform %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'general.close' | t }}</button>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Password Template",
    "settings": [
      {
        "type": "header",
        "content": "Styling"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "color",
        "id": "body_bg_color",
        "label": "Page Background Color",
        "default": "#222222"
      },
      {
        "type": "color",
        "id": "txt_color",
        "label": "Text Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "link_color",
        "label": "Links Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "button_bg_color",
        "label": "Button Color",
        "default": "#445BB8"
      },
      {
        "type": "color",
        "id": "button_txt_color",
        "label": "Button Text Color",
        "default": "#fff"
      },
      {
        "type": "header",
        "content": "Overlay"
      },
      {
        "type": "checkbox",
        "id": "enable_overlay",
        "label": "Enabled?",
        "default": true
      },
      {
        "type": "color",
        "id": "overlay_bg_color",
        "label": "Overlay Background Color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Overlay Opacity",
        "min": 0.1,
        "max": 1,
        "step": 0.1,
        "default": 0.6
      },
      {
        "type": "select",
        "id": "overlay_pattern_img",
        "label": "Overlay Pattern Image",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "overlay-pattern-1",
            "label": "Pattern 1"
          },
          {
            "value": "overlay-pattern-2",
            "label": "Pattern 2"
          },
          {
            "value": "overlay-pattern-3",
            "label": "Pattern 3"
          },
          {
            "value": "overlay-pattern-4",
            "label": "Pattern 4"
          },
          {
            "value": "overlay-pattern-5",
            "label": "Pattern 5"
          },
          {
            "value": "overlay-pattern-6",
            "label": "Pattern 6"
          },
          {
            "value": "overlay-pattern-7",
            "label": "Pattern 7"
          }
        ],
        "default": "none"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "logo_img",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 5,
        "max": 300,
        "step": 5,
        "unit": "px",
        "label": "Logo width",
        "default": 180
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "enable_newsletter",
        "label": "Enabled?",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Be the first to know when we launch.",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Submit"
      },
      {
        "type": "richtext",
        "id": "footer_notes",
        "label": "Footer Notes",
        "default": "<p>No SPAM! We not share your email to any 3rd part companies!</p>"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ]
  }
{% endschema %}
