<!doctype html>
<html lang="{{ shop.locale }}">
<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paymentfont/1.2.5/css/paymentfont.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.1.2/css/ionicons.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/1055/0178/files/flexslider.css?3458756134293329930">
  
  {% include 'SEOManager' %}
  {% if template == '404' %}<meta http-equiv="refresh" content="0;URL={{ shop.url }}" />{% endif %}
  <!-- Helpers ================================================== -->
  {%- if template contains 'article' and blog.metafields.blogfeeder.use_canonical == 'yes' %}{% assign canonical_url = article.metafields.blogfeeder.canonical %}{% endif -%}
  {% include 'social-meta-tags' %}
  <meta charset="utf-8">
  {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% endcomment %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon_image != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon_image | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} - {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}
    {% if current_page != 1 %} - {{ 'general.meta.page' | t: page: current_page }}{% endif %}
    {% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}
  {% endcapture %}

  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% else %}
    <meta name="description" content="{{ seo_title }}">
  {% endif %}


  {% include 'style-tags', layout: 'theme' %}
  {% include 'social-meta-tags' %}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdn.shopify.com/s/files/1/0858/7748/t/48/assets/cookie.min.js?8803076927329001837" type="text/javascript"></script>
  <!-- <script src="https://cdn.shopify.com/s/files/1/1055/0178/files/flexslider.js?16182358302670740304" type="text/javascript"></script> -->
  {% comment %} <script sync type="text/javascript" src="https://s3.amazonaws.com/lastsecondcoupon/js/eventpromotionbar.js?shop=hypnotik.myshopify.com"></script> {% endcomment %}



  

  <!-- Global site tag (gtag.js) - Google AdWords: 1070922107 -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=AW-1070922107"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
   gtag('config', 'AW-1070922107');
</script>
  {% if settings.enable_accelerated_checkouts and template == 'cart' %}
    <div class="hide" style="display: none;">
      <div class="external_payment">
        {% if additional_checkout_buttons %}
          {{ content_for_additional_checkout_buttons }}
        {% endif %}
      </div>
    </div>
  {% endif %}
  <style>
    .additional-checkout-button.additional-checkout-button--paypal{
      display:block !important;
    }
  </style>

  {{ content_for_header }}

  


</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  {% unless template contains 'index' %}
    
  {% endunless %}

  <div id="sitePreloader" data-site-preloader></div>
  <div id="app" :class="{'loading': isLoading}">
    <div class="overlay site-overlay" :class="{'show': isOverlayVisible}" data-site-overlay></div>
    <vue-snotify></vue-snotify>

    <!-- PROMO BAR -->
    {% include 'promo-bar' %}

    {% section 'header' %}
    <div id="ctb_placeholder"></div>
    {% if template == 'index' %}
      {% section "index-header-slider" %}
    {% endif %}

    <!-- PROMOTIONS -->
    {% section 'promotions' %}

    {{ content_for_layout }}
    
    {% section 'footer' %}
    {% section 'mobile-navigation' %}
    {% section 'search-layer' %}
    {% section 'newsletter-popup' %}
    {% include 'cart-drawer' %}
    {% if settings.enable_quickshop %}
      {% include 'modal-quickshop' %}
    {% endif %}
    {% if settings.enable_wishlist %}
      {% include 'modal-wishlist' %}
    {% endif %}
  </div>

  {% if template.directory == 'customers' %}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" ></script>
  	<script src="{{ "customer_area.js"  | shopify_asset_url }}" ></script>
  {% endif %}

  {% if template == 'cart' %}
    {{ '/services/javascripts/countries.js' | script_tag }}
  {% endif %}

  <script>
    window.theme = {
      cart: {{ cart | json }},
      moneyFormat: {{ shop.money_format | json }},
      colorSwatchesEnabled: {{ settings.enable_color_swatches }},
      sizeSwatchesEnabled: {{ settings.enable_size_swatches }},
      productExcludeTag: {{ settings.product_exclude_tag_text | json }},
      loginHelper: {
        customerTagText: {{ settings.customer_tag_text | json }},
        customerTagMessage: {{ settings.customer_tag_message | json }}
      }
    };
  </script>

  {% include 'esc-json' %}
  {% include 'gts' %}
  {% include 'script-tags', layout: 'theme' %}
  {% include 'swatches-colorlist' %}
  {% include 'structured-data' %}
   <!-- Yotpo -->
  <script type="text/javascript">
    setTimeout(function(){ 
    (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/9sypPqhSkcjuYKjxqU4VF6rt3PDoiVRMJPDj8rV9/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
    }, 1500);
  </script>
  

  {% if settings.enable_recharge %}
    {% include 'app-recharge' %}
  {% endif %}
  
  <!-- google dynamic remarketing tag for theme.liquid -->
    {% if template contains 'product' %}
    <script type="text/javascript">
      var json_product = {{ product | json }};
    </script>
    <script>
      var ecomm_prodid=[];
      for(var i=0;i<json_product.variants.length;i++)
        ecomm_prodid.push(json_product.variants[i].sku);
    </script>
    <script type="text/javascript">
      var google_tag_params = {
        ecomm_prodid: ecomm_prodid,
        ecomm_pagetype: 'product',
        ecomm_totalvalue: parseFloat('{{ product.price | money_without_currency | remove: ","}}')
      };
    </script>
    {% elsif template contains 'collection' %}
    <script type="text/javascript">
      var google_tag_params = {
        ecomm_pagetype: 'category'
      };
    </script>
    {% elsif template contains 'cart' %}
    <script type="text/javascript">
      var id = new Array();
      {% for item in cart.items %}
      id.push('{{item.variant.sku}}');
       {% endfor %}

       var google_tag_params = {
         ecomm_prodid: id,
         ecomm_pagetype: 'cart',
         ecomm_totalvalue: parseFloat('{{ cart.total_price | money_without_currency | remove: ","}}')
       };
    </script>
    {% elsif template contains 'search' %}
    <script type="text/javascript">
      var google_tag_params = {
        ecomm_pagetype: 'searchresults'
      };
    </script>
    {% elsif template contains 'index' %}
    <script type="text/javascript">
      var google_tag_params = {
        ecomm_pagetype: 'home'
      };
    </script>
    {% else %}
    <script type="text/javascript">
      var google_tag_params = {
        ecomm_pagetype: 'other'
      };
    </script>
    {% endif %}

  <!-- END Google Dynamic Remarketing For Theme.Liquid -->  
  
  <script>
    gtag('event', 'page_view', {'send_to': 'AW-1070922107',
                                'ecomm_prodid':window.google_tag_params.ecomm_prodid,
                                'ecomm_pagetype': window.google_tag_params.ecomm_pagetype,
                                'ecomm_totalvalue':window.google_tag_params.ecomm_totalvalue
                               });
  </script>
 

 {% include 'smile-initializer' %}

  
  
  
<!-- begin olark code -->
<script type="text/javascript" defer>
;(function(o,l,a,r,k,y){if(o.olark)return;
r="script";y=l.createElement(r);r=l.getElementsByTagName(r)[0];
y.async=1;y.src="//"+a;r.parentNode.insertBefore(y,r);
y=o.olark=function(){k.s.push(arguments);k.t.push(+new Date)};
y.extend=function(i,j){y("extend",i,j)};
y.identify=function(i){y("identify",k.i=i)};
y.configure=function(i,j){y("configure",i,j);k.c[i]=j};
k=y._={s:[],t:[+new Date],c:{},l:a};
})(window,document,"static.olark.com/jsclient/loader.js");
/* Add configuration calls below this comment */
olark.identify('1981-214-10-7435');</script> 
<!-- end olark code -->
{% include 'banana-stand-footer' %}
<!-- EXCLUDE UNTIL RATINGS <script src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script> -->


<!-- This line added automatically by JSON-LD for SEO. -->{% include 'jsonld-for-seo' %}

{% include 'special-offers' %}
<!-- Delete the Beeketing script below after uninstalling Happy Messenger app to remove it from your theme. For more info, read here: https://bit.ly/hmesscode or contact us at hi@beeketing.com. --><!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END -->
<!-- This line added automatically by JSON-LD for SEO. -->

  <!--- Defer Script 1 --->
<!--   
<script defer type="text/javascript">
function script(url) {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = url;
    var x = document.getElementsByTagName('head')[0];
    x.appendChild(s);
}
</script>
  
<script>
script('https://shopify.privy.com/widget.js?shop=hypnotik.myshopify.com');
script('https://static.olark.com/jsclient-bucket2/application2.js?v=1551205048567');
script('https://js.smile.io/v1/smile-ui.js');
script('https://js.smile.io/v1/smile-shopify.js?shop=hypnotik.myshopify.com');
script('https://static.olark.com/jsclient/jquery.js');
script('https://sdk.beeketing.com/js/beeketing.js?shop=hypnotik.myshopify.com');
script('https://sdk.beeketing.com/js/beeketing.js?20190315');
script('https://staticw2.yotpo.com/9sypPqhSkcjuYKjxqU4VF6rt3PDoiVRMJPDj8rV9/widget.js');
script('https://app.backinstock.org/widget/7486_1533111185.js?v=5&shop=hypnotik.myshopify.com');  
</script>  -->
  
</body>
</html>
